{% extends 'base.html.twig' %}

{% block headline %}
    {{ 'public.title.verification.initiate'|trans({}, 'text') }}
{% endblock %}

{% block title %}
    {{ 'public.title.verification.initiate'|trans({}, 'text') }}
{% endblock %}

{% block content %}
    <section class="credit-apply space">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="apply-form">
                        <p class="text-center">
                            {{ 'verification.initiate.explanation'|trans({}, 'text') }}
                        </p>
                        <redirect-timer redirect-url="{{ application.kycUrl }}" :seconds="30"></redirect-timer>
                        <div class="text-center mt-3 mb-0">
                            <a href="{{ application.kycUrl }}" class="btn btn-link text-danger pb-0">
                            {{ 'button.redirect_now'|trans({}, 'form') }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
