{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.create_module'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2>{{ 'headline.create_module'|trans({}, 'text') }}</h2>
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.content) }}
                {{ form_row(form.generalSettings) }}

                <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                <a href="{{ path('admin.modules.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
