{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.modules'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">
                {{ 'headline.modules'|trans({}, 'text') }}
                <a href="{{ path('admin.modules.create') }}" class="btn btn-info btn-xs"><i
                            class="fa fa-plus-circle"></i> Add</a>
            </h2>

            <form class="form-inline justify-content-between" method="get">
                <label class="sr-only" for="name">{{ 'label.name'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="name" name="name"
                       placeholder="{{ 'placeholder.name'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('name') }}">

                <a href="{{ path('admin.modules.index') }}" class="btn btn-secondary mb-2 mr-2"><i
                            class="fa fa-remove"></i> {{ 'button.clear'|trans({}, 'form') }}</a>
                <button type="submit" class="btn btn-primary mb-2"><i
                            class="fa fa-filter"></i> {{ 'button.filter'|trans({}, 'form') }}</button>
            </form>

            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>{{ 'column.name'|trans({}, 'table') }}</th>
                    <th>{{ 'column.type'|trans({}, 'table') }}</th>
                    <th>{{ 'column.actions'|trans({}, 'table') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for module in modules %}
                    {# @var module \App\Entity\Module #}
                    <tr>
                        <td>{{ module.name }}</td>
                        <td>{{ module.type|trans({}, 'text') }}</td>
                        <td>
                            {% if module.type == 'user_defined' %}
                                <div class="dropdown">
                                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                       id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        {{ 'button.select'|trans({}, 'table') }}
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item"
                                           href="{{ path('admin.modules.update', {'id': module.id}) }}"><i
                                                    class="fa fa-pencil-square-o"></i> {{ 'button.edit'|trans({}, 'table') }}
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{{ 'no_modules_found'|trans({}, 'table') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation">
                {{ knp_pagination_render(modules) }}
            </div>
        </div>
    </div>
{% endblock %}
