{% extends 'base.html.twig' %}

{% block title %}{{ 'public.title.partners_and_discounts'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block headline %}
    {{ 'public.headline.partners_and_discounts'|trans({}, 'text') }}
{% endblock %}

{% block content %}
    <section class="partners-discounts space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="filter">
                        <div class="row justify-content-end">
                            <div class="col-auto">
                                <form>
                                    <label for="name">{{ 'label.filter'|trans({}, 'form') }}</label>
                                    <input type="text" class="form-control" id="name" name="name"
                                           placeholder="{{ 'placehold.partner'|trans({}, 'form') }}"
                                           value="{{ app.request.query.get('name') }}" data-controller="query" data-query-parameter="name">
                                    <button class="btn btn-primary" type="submit" id="button-addon"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                {% for partner in partners %}
                    <div class="col-xl-4 col-md-6">
                        <div class="partner">
                            <div class="discount">
                                {{ partner.discount }}
                            </div>
                            <img src="{% if partner.image %}{{ partner.image.filePath|imagine_filter('index_thumbnail') }}{% else %}{{ asset('build/images/icredit-default-img.jpg') }}{% endif %}"
                                 class="img-fluid">
                            <div class="desc">
                                <h5>{{ partner.name }}</h5>
                                <a href="#" class="btn btn-outline-danger" data-toggle="modal" data-target="#partner_{{ partner.id }}"> {{ 'learn_more'|trans({}, 'text') }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% for partner in partners %}
                <modal title="{{ partner.name }}" identifier="partner_{{ partner.id }}" size="lg"
                       :vertically-centered="true" :has-footer=false>
                    <p class="ck-content">{{ partner.description|raw }}</p>
                </modal>
            {% endfor %}
        </div>
    </section>
{% endblock %}
