{% extends 'base.html.twig' %}

{% block title %}Profile | Symfony Starter{% endblock %}

{% block content %}
    <section class="profile space">
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <h2>Profile</h2>

                    {{ form_start(form) }}

                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}

                    <button class="btn btn-primary">Save</button>
                    <a href="{{ path('static_pages.home_page') }}" class="btn btn-secondary">Cancel</a>

                    {{ form_row(form.captcha) }}
                    {{ form_errors(form) }}

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!--Google Recaptcha Script-->
    <script src="https://www.google.com/recaptcha/api.js?render={{ get_setting('google_recaptcha_api_key') }}"></script>
{% endblock %}