{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.offices'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">
                {{ 'headline.offices'|trans({}, 'text') }}
                <a href="{{ path('admin.offices.create') }}" class="btn btn-info btn-xs"><i class="fa fa-plus-circle"></i> {{ 'button.add'|trans({}, 'form') }}</a>
            </h2>

            <form class="form-inline justify-content-between" method="get">
                <label class="sr-only" for="name">{{ 'label.name'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="name" name="name" placeholder="{{ 'placeholder.name'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('name') }}">

                <label class="sr-only" for="city">{{ 'label.city'|trans({}, 'form') }}</label>
                <select name="city" id="city" class="custom-select flex-grow-1 mb-2 mr-sm-2">
                    <option value="any">{{ 'option.any_city'|trans({}, 'form') }}</option>
                    {% for city in cities %}
                        <option value="{{ city.id }}" {% if app.request.query.get('city') == city.id %}selected{% endif %}>{{ city.name }}</option>
                    {% endfor %}
                </select>

                <a href="{{ path('admin.offices.index') }}" class="btn btn-secondary mb-2 mr-2"><i
                            class="fa fa-remove"></i> {{ 'button.clear'|trans({}, 'form') }}</a>
                <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-filter"></i> {{ 'button.filter'|trans({}, 'form') }}</button>
            </form>

            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>{{ 'column.name'|trans({}, 'table') }}</th>
                    <th>{{ 'column.address'|trans({}, 'table') }}</th>
                    <th>{{ 'column.city'|trans({}, 'table') }}</th>
                    <th>{{ 'column.actions'|trans({}, 'table') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for office in offices %}
                    {# @var office \App\Entity\Office #}
                    <tr>
                        <td>{{ office.name }}</td>
                        <td>{{ office.address|limit_chars(30) }}</td>
                        <td>{{ office.city.name }}</td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                   id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    {{ 'button.select'|trans({}, 'table') }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="{{ path('admin.offices.update', {'id': office.id}) }}"><i class="fa fa-pencil-square-o"></i> {{ 'button.edit'|trans({}, 'table') }}</a>
                                    <delete-link icon-class="fa fa-trash-o"
                                                 target-url="{{ path('admin.offices.delete', {id: office.id}) }}"
                                                 redirect-url="{{ path('admin.offices.index') }}"
                                                 confirmation-message="{{ 'confirmation_message.delete.office'|trans({},'messages') }}">
                                        {{ 'button.delete'|trans({}, 'table') }}</delete-link>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{{ 'no_offices_found'|trans({}, 'table') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation">
                {{ knp_pagination_render(offices) }}
            </div>
        </div>
    </div>
{% endblock %}
