{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.update_office'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2>{{ 'headline.update_office'|trans({}, 'text') }}</h2>
                <tabs>
                    <tab name="{{ 'tab.content'|trans({}, 'text') }}" :selected="true">
                        <tabs>
                            {% for form in contentForms %}
                                <tab name="{{ form.vars.name }}" {% if loop.first %}:selected="true" {% endif %}
                                     parent="{{ 'tab.content'|trans({}, 'text') }}">
                                    {{ form_start(form) }}
                                    {{ form_row(form.name) }}
                                    {{ form_row(form.address) }}
                                    {{ form_row(form.workingTime) }}
                                    <hr>
                                    {{ form_row(form.city) }}
                                    {{ form_row(form.telephone) }}
                                    {{ form_row(form.latitude) }}
                                    {{ form_row(form.longitude) }}

                                    <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                                    <a href="{{ path('admin.offices.index') }}"
                                       class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                                    {{ form_end(form) }}
                                </tab>
                            {% endfor %}
                        </tabs>
                    </tab>
                </tabs>
            </div>
        </div>
    </div>
{% endblock %}