{% extends 'base.html.twig' %}

{% block title %}{{ 'site_map.title'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block headline %}
    {{ 'site_map.title'|trans({}, 'text') }}
{% endblock %}

{% block content %}
    <section class="space">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="column-count: 2;">
                    {% for item in collection %}
                        {# @var item \App\SiteMap\SiteMapItem #}
                        <p>
                            <i class="fa fa-external-link"></i>
                            <a href="{{ item.path }}">
                                {{ item.name }}
                            </a>
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
