<div class="col-10 offset-1 d-none d-md-block">
    <div class="online-application-steps d-flex justify-content-between align-items-baseline position-relative">
        <div class="d-inline-block step line line-start">
            <div class="{{ get_css_class_for_step(1, step, application|default(null)) }}">
                {% if application is defined %}
                    <a href="{{ path('online_application.credit_details', {'slug': credit.slug, 'application': application.hash}) }}">1</a>
                {% else %}
                    1
                {% endif %}
            </div>
            {% if step == 1 %}
                <div class="step-title font-weight-bold">{{ 'online_application.credit_application_details'|trans({}, 'text') }}</div>
            {% endif %}
        </div>
        <div class="d-inline-block step line">
            <div class="{{ get_css_class_for_step(2, step, application|default(null)) }}">
                {% if application is defined and application.creditDetails != null %}
                    <a class="text-decoration-none" href="{{ path('online_application.personal_info', {'hash': application.hash}) }}">2</a>
                {% else %}
                    2
                {% endif %}
            </div>
            {% if step == 2 %}
                <div class="step-title font-weight-bold">{{ 'online_application.personal_information'|trans({}, 'text') }}</div>
            {% endif %}
        </div>
        <div class="d-inline-block step line">
            <div class="{{ get_css_class_for_step(3, step, application|default(null)) }}">
                {% if application is defined and application.personalInfo != null and application.personalInfo.id != null %}
                    <a class="text-decoration-none" href="{{ path('online_application.address', {'hash': application.hash}) }}">3</a>
                {% else %}
                    3
                {% endif %}
            </div>
            {% if step == 3 %}
                <div class="step-title font-weight-bold">{{ 'online_application.address'|trans({}, 'text') }}</div>
            {% endif %}
        </div>
        <div class="d-inline-block step line">
            <div class="{{ get_css_class_for_step(4, step, application|default(null)) }}">
                {% if application is defined and application.address != null %}
                    <a class="text-decoration-none" href="{{ path('online_application.contact_person', {'hash': application.hash}) }}">4</a>
                {% else %}
                    4
                {% endif %}
            </div>
            {% if step == 4 %}
                <div class="step-title font-weight-bold">{{ 'online_application.contact_person_information'|trans({}, 'text') }}</div>
            {% endif %}
        </div>
        <div class="d-inline-block step line">
            <div class="{{ get_css_class_for_step(5, step, application|default(null)) }}">
                {% if application is defined and application.contactPerson != null %}
                    <a class="text-decoration-none" href="{{ path('online_application.additional_info', {'hash': application.hash}) }}">5</a>
                {% else %}
                    5
                {% endif %}
            </div>
            {% if step == 5 %}
                <div class="step-title font-weight-bold">{{ 'online_application.additional_information'|trans({}, 'text') }}</div>
            {% endif %}
        </div>
        <div class="d-inline-block step line line-end">
            <div class="{{ get_css_class_for_step(6, step, application|default(null)) }}">
                {% if application is defined and application.additionalInfo != null and application.additionalInfo.id != null %}
                    <a class="text-decoration-none" href="{{ path('online_application.confirmation', {'hash': application.hash}) }}">6</a>
                {% else %}
                    6
                {% endif %}
            </div>
            {% if step == 6 %}
                <div class="step-title font-weight-bold">{{ 'online_application.confirmation'|trans({}, 'text') }}</div>
            {% endif %}
        </div>
    </div>
</div>
