{% if isConfirmation is not defined %}
    {% set isConfirmation = false %}
{% endif %}

<div class="form-row d-none d-md-flex">
    {% set creditData = credit_defaults() %}
    <div class="col-md-4 mb-2 mb-md-0">
        <a href="{{ backUrl }}" class="btn btn-secondary btn-block">
            {{ 'button.back'|trans({}, 'form') }}
        </a>
        <a href="{{ path('credits.apply_now') }}" class="btn btn-block btn-outline-secondary mt-2 d-none d-md-inline-block">
            {{ 'button.quick_application'|trans({}, 'form') }}
        </a>
    </div>

    <div class="col-md-4"></div>

    <div class="col-md-4">
        {% set hasFinaliseButton = application.readyToFinalise and app.request.query.has('summary') %}

        <input type="submit"
               class="btn btn-block {% if hasFinaliseButton %}btn-secondary{% else %}btn-danger{% endif %} d-inline my-0"
               value="{% if isConfirmation %}{{ 'button.send'|trans({}, 'form') }}{% else %}{{ 'button.next'|trans({}, 'form') }}{% endif %}"
               name="nextStep">

        {% if hasFinaliseButton %}
            <input type="submit" class="btn btn-danger btn-block d-inline mt mt-2 my-0 float-right" value="{{ 'button.update_and_finalise'|trans({}, 'form') }}" name="updateAndFinalise">
        {% endif %}

        <a href="{{ path('credits.apply_now') }}" class="btn btn-block btn-outline-secondary mt-2 d-inline-block d-md-none">
            {{ 'button.quick_application'|trans({}, 'form') }}
        </a>
    </div>
</div>

<div class="form-row d-md-none">
    {% set creditData = credit_defaults() %}
    {% set hasFinaliseButton = application.readyToFinalise and app.request.query.has('summary') %}

    <div class="col-12">
        {% if hasFinaliseButton %}
            <input type="submit" class="btn btn-danger btn-block" value="{{ 'button.update_and_finalise'|trans({}, 'form') }}" name="updateAndFinalise">
        {% endif %}
        <input type="submit"
               class="btn btn-block {% if hasFinaliseButton %}btn-secondary{% else %}btn-danger{% endif %}"
               value="{% if isConfirmation %}{{ 'button.send'|trans({}, 'form') }}{% else %}{{ 'button.next'|trans({}, 'form') }}{% endif %}"
               name="nextStep">
        <a href="{{ backUrl }}" class="btn btn-secondary btn-block">
            {{ 'button.back'|trans({}, 'form') }}
        </a>
        <a href="{{ path('credits.apply_now') }}" class="btn btn-block btn-outline-secondary">
            {{ 'button.quick_application'|trans({}, 'form') }}
        </a>
    </div>
</div>