{% macro print_form_field(field) %}
    <div class="col-md-4">
        {{ form_row(field) }}
    </div>
{% endmacro %}

{% macro print_form_uploaded_document_field(field, uploadedDocument) %}
    <div class="col-md-4">
        <div class="form-group">
            <div>
                {{ form_label(field) }}
                {{ form_help(field) }}
            </div>
            {% if uploadedDocument is not null %}
                <small class="mb-2">
                    {{ 'uploaded_files.previously_uploaded'|trans({}, 'text') }}:
                    <a class="text-danger" href="{{ uploaded_file_asset(uploadedDocument) }}" target="_blank">{{ uploadedDocument.originalName }}</a>
                </small>
            {% endif %}
            {{ form_widget(field) }}
        </div>
    </div>
{% endmacro %}

{% macro print_required_fields_hint() %}
    <div class="form-group row">
        <div class="col-md-12">
            <div class="hint mb-2">
                <i class="fa fa-asterisk fa-required"></i>
                {{ 'hint.field_is_required'|trans({}, 'form') }}
            </div>
        </div>
    </div>
{% endmacro %}