<div class="row">
    <div class="col-md-12">
        <div class="bg-white mb-3 py-2 text-danger text-center font-weight-bold">
            {{ 'online_application.need_help_text'|trans({}, 'text') }}
            <a href="tel:{{ 'online_application.need_help_telephone_number'|trans({}, 'text') }}" class="text-danger">
                {{ 'online_application.need_help_telephone_number'|trans({}, 'text') }}
            </a>
        </div>
    </div>
</div>
