{% extends 'base.html.twig' %}

{% import "online_application/_macros.html.twig" as macros %}

{% block SEO %}
    {% include 'seo_partial.html.twig' with {seo: credit} %}
{% endblock %}

{% block headline %}
    {{ 'public.title.online_application'|trans({}, 'text') }}
{% endblock %}

{% block subHeadline %}
    {{ credit.title|default }}
{% endblock %}

{% block content %}
    <section class="credit-apply pt-3 pb-5">
        <div class="container">
            <div class="row">
                {% include 'online_application/_current_step.html.twig' with {step: 5} %}
            </div>
            {% include 'online_application/_need_help.html.twig' %}
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <div class="apply-form p-2">
                        {% form_theme form 'form/online_application_form_theme.html.twig' %}
                        {{ form_start(form, {attr: {class: 'py-3 px-2 p-xl-3', 'data-controller': 'online-application-form'}}) }}

                        <h3 class="heading text-center mb-2">
                            {{ 'online_application.work_details'|trans({}, 'text') }}
                        </h3>

                        <div class="form-row form-group-flex">
                            {{ macros.print_form_field(form.workDetails.companyName) }}
                            {{ macros.print_form_field(form.workDetails.companyPosition) }}

                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form_label(form.workDetails.companyTelephone) }}
                                    {{ form_help(form.workDetails.companyTelephone) }}
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">+380</span>
                                        </div>
                                        {{ form_widget(form.workDetails.companyTelephone) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row form-group-flex">
                            {{ macros.print_form_field(form.workDetails.employmentType) }}
                        </div>

                        <hr class="my-4">

                        <h3 class="heading text-center mb-2">
                            {{ 'online_application.additional_information'|trans({}, 'text') }}
                        </h3>

                        <div class="form-row form-group-flex">
                            {{ macros.print_form_field(form.additionalInfo.monthlyIncome) }}
                            {{ macros.print_form_field(form.additionalInfo.otherIncome) }}
                            {{ macros.print_form_field(form.additionalInfo.purposeOfCredit) }}
                        </div>

                        <div class="form-row form-group-flex">
                            {{ macros.print_form_field(form.additionalInfo.householdSize) }}
                            {{ macros.print_form_field(form.additionalInfo.familyStatus) }}
                            {{ macros.print_form_field(form.additionalInfo.foundOutAboutTheCompanyFrom) }}
                        </div>

                        <div class="form-row pt-3">
                            <div class="col-md-4">
                                {{ form_row(form.additionalInfo.iAmPep) }}
                                {{ form_row(form.additionalInfo.iAmMilitaryPerson) }}
                            </div>
                        </div>

                        <hr class="mb-3 mt-4">

                        {{ macros.print_required_fields_hint() }}

                        {% include 'online_application/_form_buttons.html.twig' with {application: application, backUrl: path('online_application.contact_person', {'slug': credit.slug, hash: application.hash})} %}

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


