{% extends 'base.html.twig' %}

{% import "online_application/_macros.html.twig" as macros %}

{% block SEO %}
    {% include 'seo_partial.html.twig' with {seo: credit} %}
{% endblock %}

{% block headline %}
    {{ 'public.title.online_application'|trans({}, 'text') }}
{% endblock %}

{% block subHeadline %}
    {{ credit.title|default }}
{% endblock %}

{% block content %}
    <section class="credit-apply pt-3 pb-5">
        <div class="container">
            <div class="row">
                {% include 'online_application/_current_step.html.twig' with {step: 3} %}
            </div>
            {% include 'online_application/_need_help.html.twig' %}
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <div class="apply-form p-2">
                        {% form_theme form 'form/online_application_form_theme.html.twig' %}
                        {{ form_start(form, {attr: {class: 'py-3 px-2 p-xl-3', 'data-controller': 'online-application-form'}}) }}

                        <h3 class="heading text-center mb-2">
                            {{ 'online_application.permanent_address'|trans({}, 'text') }}
                        </h3>

                        <div class="form-row form-group-flex">
                            {{ macros.print_form_field(form.permanentAddressArea) }}
                            {{ macros.print_form_field(form.permanentAddressMunicipality) }}
                            {{ macros.print_form_field(form.permanentAddressCity) }}
                        </div>

                        <div class="form-row form-group-flex">
                            {{ macros.print_form_field(form.permanentAddressPostCode) }}
                            {{ macros.print_form_field(form.permanentAddressStreet) }}
                            {{ macros.print_form_field(form.permanentAddressBlockNumber) }}
                        </div>

                        <div class="form-row form-group-flex">
                            {{ macros.print_form_field(form.permanentAddressApartment) }}
                        </div>

                        <hr class="my-4">

                        <h3 class="heading text-center mb-2">
                            {{ 'online_application.current_address'|trans({}, 'text') }}
                        </h3>

                        <div class="form-row form-group-flex">
                            {{ form_row(form.currentAddressSameAsPermanentAddress) }}
                        </div>
                        <div class="d-none" data-controller="current-address-section"
                             data-is-same="{{ form.vars.data.currentAddressSameAsPermanentAddress == true ? '1' : '0' }}">
                            <div class="form-row form-group-flex">
                                {{ macros.print_form_field(form.currentAddressArea) }}
                                {{ macros.print_form_field(form.currentAddressMunicipality) }}
                                {{ macros.print_form_field(form.currentAddressCity) }}
                            </div>

                            <div class="form-row form-group-flex">
                                {{ macros.print_form_field(form.currentAddressPostCode) }}
                                {{ macros.print_form_field(form.currentAddressStreet) }}
                                {{ macros.print_form_field(form.currentAddressBlockNumber) }}
                            </div>

                            <div class="form-row form-group-flex">
                                {{ macros.print_form_field(form.currentAddressApartment) }}
                            </div>
                        </div>

                        <hr class="mb-3 mt-4">

                        {{ macros.print_required_fields_hint() }}

                        {% include 'online_application/_form_buttons.html.twig' with {application: application, backUrl: path('online_application.personal_info', {'slug': credit.slug, hash: application.hash})} %}

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


