{% extends 'base.html.twig' %}

{% macro print_field(label, value) %}
    {% if value is not empty and value  %}
        <small>{{ label }}: {{ value }}</small><br>
    {% endif %}
{% endmacro %}

{% block SEO %}
    {% include 'seo_partial.html.twig' with {seo: credit} %}
{% endblock %}

{% block headline %}
    {{ 'public.title.online_application'|trans({}, 'text') }}
{% endblock %}

{% block subHeadline %}
    {{ credit.title|default }}
{% endblock %}

{% block content %}
    <section class="credit-apply pt-3 pb-5">
        <div class="container">
            <div class="row">
                {% include 'online_application/_current_step.html.twig' with {step: 6} %}
            </div>
            {% include 'online_application/_need_help.html.twig' %}
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <div class="apply-form p-2">
                        {{ form_start(form, {attr: {class: 'py-3 px-2 p-xl-3'}}) }}

                        <h3 class="heading text-center mb-2">
                            {{ 'online_application.confirm_and_finalise_application'|trans({}, 'text') }}
                        </h3>

                        <h6 class="mt-4">{{ 'online_application.credit_application_details'|trans({}, 'text') }}</h6>
                        <small>{{ 'label.credit'|trans({}, 'form_long') }}: {{ application.creditDetails.product }}</small><br>
                        <small>{{ 'label.amount'|trans({}, 'form_long') }}: {{ application.creditDetails.amount|currency_symbol }}</small><br>
                        <small>{{ 'label.payment'|trans({}, 'form_long') }}: {{ application.creditDetails.instalmentAmount|currency_symbol }}</small><br>
                        <small>{{ 'label.period'|trans({}, 'form_long') }}: {{ application.creditDetails.period }}</small><br>
                        <small>{{ 'label.how_should_money_be_received'|trans({}, 'form_long') }}: {{ application.creditDetails.howShouldMoneyBeReceived|nomenclature_item }}</small><br>
                        {{ _self.print_field('label.iban'|trans({}, 'form_long'), application.creditDetails.iban) }}
                        {{ _self.print_field('label.bank_card_expiration_date'|trans({}, 'form_long'), application.creditDetails.bankCardExpirationDate) }}

                        <small>
                            <a class="text-danger" href="{{ path('online_application.credit_details', {'slug': credit.slug, application: application.hash, summary: 1}) }}">{{ 'button.change'|trans({}, 'form') }}</a>
                        </small>

                        <hr class="my-4">

                        <h6 class="mt-4">{{ 'online_application.personal_information'|trans({}, 'text') }}</h6>
                        <small>{{ 'label.first_name'|trans({}, 'form_long') }}: {{ application.personalInfo.firstName }}</small><br>
                        <small>{{ 'label.middle_name'|trans({}, 'form_long') }}: {{ application.personalInfo.middleName }}</small><br>
                        <small>{{ 'label.last_name'|trans({}, 'form_long') }}: {{ application.personalInfo.lastName }}</small><br>
                        <small>{{ 'label.mobile_telephone'|trans({}, 'form_long') }}: {{ application.personalInfo.mobileTelephone|add_country_code }}</small><br>
                        <small>{{ 'label.email'|trans({}, 'form_long') }}: {{ application.personalInfo.email }}</small><br>
                        <small>{{ 'label.personal_identification_number'|trans({}, 'form_long') }}: {{ application.personalInfo.personalIdentificationNumber }}</small><br>
                        <small>{{ 'label.id_card_number'|trans({}, 'form_long') }}: {{ application.personalInfo.idCardNumber }}</small><br>
                        <small>{{ 'label.id_card_issued_at'|trans({}, 'form_long') }}: {{ application.personalInfo.idCardIssuedAt|formatted_date }}</small><br>
                        <small>{{ 'label.id_card_issued_by'|trans({}, 'form_long') }}: {{ application.personalInfo.idCardIssuedBy }}</small><br>

                        <small>
                            <a class="text-danger" href="{{ path('online_application.personal_info', {hash: application.hash, summary: 1}) }}">{{ 'button.change'|trans({}, 'form') }}</a>
                        </small>

                        <hr class="my-4">

                        <h6 class="mt-4">{{ 'online_application.documents'|trans({}, 'text') }}</h6>
                        {% set uploadedDocuments = application.uploadedDocuments %}

                        {% if uploadedDocuments.individualTaxNumber is not null %}
                            <small>
                                {{ 'label.individual_tax_number'|trans({}, 'form_long') }}:
                                <a class="text-danger" href="{{ uploaded_file_asset(uploadedDocuments.individualTaxNumber) }}" target="_blank">{{ uploadedDocuments.individualTaxNumber.originalName }}</a>
                            </small>
                            <br>
                        {% endif %}

                        {% if uploadedDocuments.selfie is not null %}
                            <small>
                                {{ 'label.selfie'|trans({}, 'form_long') }}:
                                <a class="text-danger" href="{{ uploaded_file_asset(uploadedDocuments.selfie) }}" target="_blank">{{ uploadedDocuments.selfie.originalName }}</a>
                            </small>
                            <br>
                        {% endif %}

                        {% if uploadedDocuments.oldStylePassportFirstPage is not null %}
                            <small>
                                {{ 'label.old_style_passport_first_page'|trans({}, 'form_long') }}:
                                <a class="text-danger" href="{{ uploaded_file_asset(uploadedDocuments.oldStylePassportFirstPage) }}" target="_blank">{{ uploadedDocuments.oldStylePassportFirstPage.originalName }}</a>
                            </small>
                            <br>
                        {% endif %}
                        {% if uploadedDocuments.oldStylePassportSecondPage is not null %}
                            <small>
                                {{ 'label.old_style_passport_second_page'|trans({}, 'form_long') }}:
                                <a class="text-danger" href="{{ uploaded_file_asset(uploadedDocuments.oldStylePassportSecondPage) }}" target="_blank">{{ uploadedDocuments.oldStylePassportSecondPage.originalName }}</a>
                            </small>
                            <br>
                        {% endif %}
                        {% if uploadedDocuments.oldStylePassportPhotoAt25 is not null %}
                            <small>
                                {{ 'label.old_style_passport_photo_at_25'|trans({}, 'form_long') }}:
                                <a class="text-danger" href="{{ uploaded_file_asset(uploadedDocuments.oldStylePassportPhotoAt25) }}" target="_blank">{{ uploadedDocuments.oldStylePassportPhotoAt25.originalName }}</a>
                            </small>
                            <br>
                        {% endif %}
                        {% if uploadedDocuments.oldStylePassportPastedPhotoAt25 is not null %}
                            <small>
                                {{ 'label.old_style_passport_pasted_photo_at_25'|trans({}, 'form_long') }}:
                                <a class="text-danger" href="{{ uploaded_file_asset(uploadedDocuments.oldStylePassportPastedPhotoAt25) }}" target="_blank">{{ uploadedDocuments.oldStylePassportPastedPhotoAt25.originalName }}</a>
                            </small>
                            <br>
                        {% endif %}
                        {% if uploadedDocuments.oldStylePassportPhotoAt45 is not null %}
                            <small>
                                {{ 'label.old_style_passport_photo_at_45_uploaded'|trans({}, 'form_long') }}:
                                <a class="text-danger" href="{{ uploaded_file_asset(uploadedDocuments.oldStylePassportPhotoAt45) }}" target="_blank">{{ uploadedDocuments.oldStylePassportPhotoAt45.originalName }}</a>
                            </small>
                            <br>
                        {% endif %}
                        {% if uploadedDocuments.oldStylePassportPastedPhotoAt45 is not null %}
                            <small>
                                {{ 'label.old_style_passport_pasted_photo_at_45'|trans({}, 'form_long') }}:
                                <a class="text-danger" href="{{ uploaded_file_asset(uploadedDocuments.oldStylePassportPastedPhotoAt45) }}" target="_blank">{{ uploadedDocuments.oldStylePassportPastedPhotoAt45.originalName }}</a>
                            </small>
                            <br>
                        {% endif %}
                        {% if uploadedDocuments.oldStylePassportProofOfResidence is not null %}
                            <small>
                                {{ 'label.old_style_passport_first_page'|trans({}, 'form_long') }}:
                                <a class="text-danger" href="{{ uploaded_file_asset(uploadedDocuments.oldStylePassportProofOfResidence) }}" target="_blank">{{ uploadedDocuments.oldStylePassportProofOfResidence.originalName }}</a>
                            </small>
                            <br>
                        {% endif %}
                        {% if uploadedDocuments.oldStylePassportSelfieWithPassport is not null %}
                            <small>
                                {{ 'label.old_style_passport_selfie_with_passport'|trans({}, 'form_long') }}:
                                <a class="text-danger" href="{{ uploaded_file_asset(uploadedDocuments.oldStylePassportSelfieWithPassport) }}" target="_blank">{{ uploadedDocuments.oldStylePassportSelfieWithPassport.originalName }}</a>
                            </small>
                            <br>
                        {% endif %}
                        {% if uploadedDocuments.newStylePassportPhotoPage is not null %}
                            <small>
                                {{ 'label.new_style_passport_photo_page'|trans({}, 'form_long') }}:
                                <a class="text-danger" href="{{ uploaded_file_asset(uploadedDocuments.newStylePassportPhotoPage) }}" target="_blank">{{ uploadedDocuments.newStylePassportPhotoPage.originalName }}</a>
                            </small>
                            <br>
                        {% endif %}
                        {% if uploadedDocuments.newStylePassportValidityPage is not null %}
                            <small>
                                {{ 'label.new_style_passport_validity_page'|trans({}, 'form_long') }}:
                                <a class="text-danger" href="{{ uploaded_file_asset(uploadedDocuments.newStylePassportValidityPage) }}" target="_blank">{{ uploadedDocuments.newStylePassportValidityPage.originalName }}</a>
                            </small>
                            <br>
                        {% endif %}
                        {% if uploadedDocuments.newStylePassportRegistrationAppendix is not null %}
                            <small>
                                {{ 'label.new_style_passport_registration_appendix'|trans({}, 'form_long') }}:
                                <a class="text-danger" href="{{ uploaded_file_asset(uploadedDocuments.newStylePassportRegistrationAppendix) }}" target="_blank">{{ uploadedDocuments.newStylePassportRegistrationAppendix.originalName }}</a>
                            </small>
                            <br>
                        {% endif %}
                        {% if uploadedDocuments.newStylePassportSelfieWithIdCard is not null %}
                            <small>
                                {{ 'label.new_style_passport_selfie_with_id_card'|trans({}, 'form_long') }}:
                                <a class="text-danger" href="{{ uploaded_file_asset(uploadedDocuments.newStylePassportSelfieWithIdCard) }}" target="_blank">{{ uploadedDocuments.newStylePassportSelfieWithIdCard.originalName }}</a>
                            </small>
                            <br>
                        {% endif %}

                        {% if uploadedDocuments.oldStylePensionCertificateFirstSpread is not null %}
                            <small>
                                {{ 'label.old_style_pension_certificate_first_spread'|trans({}, 'form_long') }}:
                                <a class="text-danger" href="{{ uploaded_file_asset(uploadedDocuments.oldStylePensionCertificateFirstSpread) }}" target="_blank">{{ uploadedDocuments.oldStylePensionCertificateFirstSpread.originalName }}</a>
                            </small>
                            <br>
                        {% endif %}
                        {% if uploadedDocuments.oldStylePensionCertificateValidityRecord is not null %}
                            <small>
                                {{ 'label.old_style_pension_certificate_validity_record'|trans({}, 'form_long') }}:
                                <a class="text-danger" href="{{ uploaded_file_asset(uploadedDocuments.oldStylePensionCertificateValidityRecord) }}" target="_blank">{{ uploadedDocuments.oldStylePensionCertificateValidityRecord.originalName }}</a>
                            </small>
                            <br>
                        {% endif %}
                        {% if uploadedDocuments.newStylePensionCertificatePhotoAndValiditySpread is not null %}
                            <small>
                                {{ 'label.new_style_pension_certificate_photo_and_validity_spread'|trans({}, 'form_long') }}:
                                <a class="text-danger" href="{{ uploaded_file_asset(uploadedDocuments.newStylePensionCertificatePhotoAndValiditySpread) }}" target="_blank">{{ uploadedDocuments.newStylePensionCertificatePhotoAndValiditySpread.originalName }}</a>
                            </small>
                            <br>
                        {% endif %}

                        <small>
                            <a class="text-danger" href="{{ path('online_application.personal_info', {hash: application.hash, summary: 1}) }}">{{ 'button.change'|trans({}, 'form') }}</a>
                        </small>

                        <hr class="my-4">

                        <h6 class="mt-4">{{ 'online_application.permanent_address'|trans({}, 'text') }}</h6>
                        <small>{{ 'label.permanent_address_area'|trans({}, 'form_long') }}: {{ application.address.permanentAddressArea }}</small><br>
                        <small>{{ 'label.permanent_address_municipality'|trans({}, 'form_long') }}: {{ application.address.permanentAddressMunicipality }}</small><br>
                        <small>{{ 'label.permanent_address_city'|trans({}, 'form_long') }}: {{ application.address.permanentAddressCity }}</small><br>
                        {{ _self.print_field('label.permanent_address_post_code'|trans({}, 'form_long'), application.address.permanentAddressPostCode) }}
                        <small>{{ 'label.permanent_address_street'|trans({}, 'form_long') }}: {{ application.address.permanentAddressStreet }}</small><br>
                        <small>{{ 'label.permanent_address_block_number'|trans({}, 'form_long') }}: {{ application.address.permanentAddressBlockNumber }}</small><br>
                        <small>{{ 'label.permanent_address_apartment'|trans({}, 'form_long') }}: {{ application.address.permanentAddressApartment }}</small><br>

                        <small>
                            <a class="text-danger" href="{{ path('online_application.address', {hash: application.hash, summary: 1}) }}">{{ 'button.change'|trans({}, 'form') }}</a>
                        </small>

                        <hr class="my-4">

                        <h6 class="mt-4">{{ 'online_application.current_address'|trans({}, 'text') }}</h6>
                        <small>{{ 'label.current_address_area'|trans({}, 'form_long') }}: {{ application.address.currentAddressArea }}</small><br>
                        <small>{{ 'label.current_address_municipality'|trans({}, 'form_long') }}: {{ application.address.currentAddressMunicipality }}</small><br>
                        <small>{{ 'label.current_address_city'|trans({}, 'form_long') }}: {{ application.address.currentAddressCity }}</small><br>
                        {{ _self.print_field('label.current_address_post_code'|trans({}, 'form_long'), application.address.currentAddressPostCode) }}
                        <small>{{ 'label.current_address_street'|trans({}, 'form_long') }}: {{ application.address.currentAddressStreet }}</small><br>
                        <small>{{ 'label.current_address_block_number'|trans({}, 'form_long') }}: {{ application.address.currentAddressBlockNumber }}</small><br>
                        <small>{{ 'label.current_address_apartment'|trans({}, 'form_long') }}: {{ application.address.currentAddressApartment }}</small><br>

                        <small>
                            <a class="text-danger" href="{{ path('online_application.address', {hash: application.hash, summary: 1}) }}">{{ 'button.change'|trans({}, 'form') }}</a>
                        </small>

                        <hr class="my-4">

                        <h6 class="mt-4">{{ 'online_application.work_details'|trans({}, 'text') }}</h6>
                        <small>{{ 'label.company_name'|trans({}, 'form_long') }}: {{ application.workDetails.companyName }}</small><br>
                        <small>{{ 'label.company_position'|trans({}, 'form_long') }}: {{ application.workDetails.companyPosition }}</small><br>
                        <small>{{ 'label.company_telephone'|trans({}, 'form_long') }}: {{ application.workDetails.companyTelephone|add_country_code }}</small><br>
                        <small>{{ 'label.employment_type'|trans({}, 'form_long') }}: {{ application.workDetails.employmentType|nomenclature_item }}</small><br>

                        <small>
                            <a class="text-danger" href="{{ path('online_application.additional_info', {hash: application.hash, summary: 1}) }}">{{ 'button.change'|trans({}, 'form') }}</a>
                        </small>

                        <hr class="my-4">

                        <h6 class="mt-4">{{ 'online_application.contact_person_information'|trans({}, 'text') }}</h6>
                        <small>{{ 'label.first_name'|trans({}, 'form_long') }}: {{ application.contactPerson.contactPersonFirstName }}</small><br>
                        <small>{{ 'label.middle_name'|trans({}, 'form_long') }}: {{ application.contactPerson.contactPersonMiddleName }}</small><br>
                        <small>{{ 'label.last_name'|trans({}, 'form_long') }}: {{ application.contactPerson.contactPersonLastName }}</small><br>
                        <small>{{ 'label.contact_person_date_of_birth'|trans({}, 'form_long') }}: {{ application.contactPerson.contactPersonDateOfBirth|formatted_date }}</small><br>
                        <small>{{ 'label.mobile_telephone'|trans({}, 'form_long') }}: {{ application.contactPerson.contactPersonMobileTelephone|add_country_code }}</small><br>
                        <small>{{ 'label.contact_person_relationship'|trans({}, 'form_long') }}: {{ application.contactPerson.contactPersonRelationship|nomenclature_item }}</small><br>

                        <small>
                            <a class="text-danger" href="{{ path('online_application.contact_person', {hash: application.hash, summary: 1}) }}">{{ 'button.change'|trans({}, 'form') }}</a>
                        </small>

                        <hr class="my-4">

                        <h6 class="mt-4">{{ 'online_application.additional_information'|trans({}, 'text') }}</h6>
                        <small>{{ 'label.monthly_income'|trans({}, 'form_long') }}: {{ application.additionalInfo.monthlyIncome|currency_symbol }}</small><br>
                        <small>{{ 'label.other_income'|trans({}, 'form_long') }}: {{ application.additionalInfo.otherIncome|currency_symbol }}</small><br>
                        <small>{{ 'label.purpose_of_credit'|trans({}, 'form_long') }}: {{ application.additionalInfo.purposeOfCredit|nomenclature_item }}</small><br>
                        <small>{{ 'label.household_size'|trans({}, 'form_long') }}: {{ application.additionalInfo.householdSize|nomenclature_item }}</small><br>
                        <small>{{ 'label.family_status'|trans({}, 'form_long') }}: {{ application.additionalInfo.familyStatus|nomenclature_item }}</small><br>
                        <small>{{ 'label.found_out_about_the_company_from'|trans({}, 'form_long') }}: {{ application.additionalInfo.foundOutAboutTheCompanyFrom|nomenclature_item }}</small><br>
                        <small>{{ 'label.i_am_pep'|trans({}, 'form_long') }}: {{ application.additionalInfo.iAmPep|boolean_to_string }}</small><br>
                        <small>{{ 'label.i_am_military_person'|trans({}, 'form_long') }}: {{ application.additionalInfo.iAmMilitaryPerson|boolean_to_string }}</small><br>

                        <small>
                            <a class="text-danger" href="{{ path('online_application.additional_info', {hash: application.hash, summary: 1}) }}">{{ 'button.change'|trans({}, 'form') }}</a>
                        </small>

                        <hr class="my-4">

                        {% include 'online_application/_form_buttons.html.twig' with {application: application, backUrl: path('online_application.additional_info', {'slug': credit.slug, hash: application.hash}), isConfirmation: true} %}

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


