{% extends 'base.html.twig' %}

{% import "online_application/_macros.html.twig" as macros %}

{% block SEO %}
    {% include 'seo_partial.html.twig' with {seo: credit} %}
{% endblock %}

{% block headline %}
    {{ 'public.title.online_application'|trans({}, 'text') }}
{% endblock %}

{% block subHeadline %}
    {{ credit.title|default }}
{% endblock %}

{% block content %}
    <section class="credit-apply pt-3 pb-5">
        <div class="container">
            <div class="row">
                {% include 'online_application/_current_step.html.twig' with {step: 1} %}
            </div>
            {% include 'online_application/_need_help.html.twig' %}
            <div class="row">
                <div class="col-md-12 my-2 d-md-none">
                    <a href="#scroll_target" class="text-dark font-weight-bolder text-uppercase"
                       style="text-decoration: none; font-size: 1.5em;">
                        {{ 'go_to_form'|trans({}, 'text') }}
                        <i class="fa fa-arrow-down"></i>
                    </a>
                </div>
                <div class="col-md-6 col-xl-4 calc p-0">
                    <credit-calculator credit="{{ credit.slug }}" credit-amount="{{ amount }}"
                                       credit-payment="{{ payment }}" :standalone="true"></credit-calculator>
                    <div id="scroll_target" class="d-md-none position-relative" style="top: -100px"></div>
                </div>
                <div class="col-md-6 col-xl-8">
                    <div class="apply-form px-3">
                        <h3 class="heading text-center mb-2">
                            {{ 'online_application.credit_application_details'|trans({}, 'text') }}
                        </h3>

                        <p class="m-0">{{ 'credit_details.credit'|trans({}, 'text') }}:</p>
                        <p class="text-danger" data-controller="credit-parameters-element" data-property-name="product">
                            {{ credit.title }}
                        </p>

                        <p class="m-0">{{ 'credit_details.credit_requirements'|trans({}, 'text') }}:</p>
                        <div class="ck-content" data-controller="credit-parameters-element" data-property-name="requirements">
                            {{ credit.requirements|raw }}
                        </div>

                        <hr class="my-1">

                        {% form_theme form 'form/online_application_form_theme.html.twig' %}
                        {{ form_start(form, {attr: {class: 'py-1 px-2', 'data-controller': 'online-application-form'}}) }}

                        {% if true %}
                            {{ form_row(form.howShouldMoneyBeReceived) }}

                            {% if form.selectedPaymentInstrument is defined %}
                                <div
                                        class="d-none"
                                        data-controller="iban"
                                        data-property-name="receiveCreditMethod"
                                >
                                    {{ form_row(form.selectedPaymentInstrument) }}
                                </div>
                            {% endif %}

                            <hr class="mb-3 mt-4">

                            {{ macros.print_required_fields_hint() }}
                        {% endif %}

                        {{ form_row(form.amount) }}
                        {{ form_row(form.product) }}
                        {{ form_row(form.period) }}
                        {{ form_row(form.instalmentAmount) }}
                        {{ form_row(form.creditPeriodId) }}
                        {{ form_row(form.creditProductId) }}

                        <div class="form-row">
                            <div class="col-md-4 order-2 order-md-0">
                                <a href="{{ path('credits.apply_now') }}" class="btn btn-block btn-outline-secondary" data-controller="short-application-parameters">
                                    {{ 'button.quick_application'|trans({}, 'form') }}
                                </a>
                            </div>
                            <div class="col-md-4 order-1"></div>
                            <div class="col-md-4 order-0 order-md-2" data-controller="online-application-main" class="d-none">
                                {% set hasFinaliseButton = application.readyToFinalise and app.request.query.has('summary') %}
                                <input type="submit" class="btn {% if hasFinaliseButton %}btn-secondary{% else %}btn-danger{% endif %} btn-block mb-2 mt-md-0" value="{{ 'button.next'|trans({}, 'form') }}"
                                       name="nextStep">

                                {% if hasFinaliseButton %}
                                    <input type="submit" class="btn btn-danger btn-block d-inline mb-2 my-0 float-right"
                                           value="{{ 'button.update_and_finalise'|trans({}, 'form') }}"
                                           name="updateAndFinalise">
                                {% endif %}
                            </div>
                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
