{% extends 'base.html.twig' %}

{% import "online_application/_macros.html.twig" as macros %}

{% block SEO %}
    {% include 'seo_partial.html.twig' with {seo: credit} %}
{% endblock %}

{% block headline %}
    {{ 'public.title.online_application'|trans({}, 'text') }}
{% endblock %}

{% block subHeadline %}
    {{ credit.title|default }}
{% endblock %}

{% block content %}
    <section class="credit-apply pt-3 pb-5">
        <div class="container">
            <div class="row">
                {% include 'online_application/_current_step.html.twig' with {step: 2} %}
            </div>
            {% include 'online_application/_need_help.html.twig' %}
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <div class="apply-form p-2">
                        {% form_theme form 'form/online_application_form_theme.html.twig' %}
                        {{ form_start(form, {attr: {class: 'py-3 px-2 p-xl-3', 'data-controller': 'online-application-form'}}) }}

                        <h3 class="heading text-center mb-2">
                            {{ 'online_application.personal_information'|trans({}, 'text') }}
                        </h3>

                        <div class="form-row form-group-flex">
                            {{ macros.print_form_field(form.personalInfo.idCardNumber) }}
                            {{ macros.print_form_field(form.personalInfo.idCardIssuedAt) }}
                            {{ macros.print_form_field(form.personalInfo.idCardIssuedBy) }}
                        </div>

                        <hr class="my-4">

                        <h3 class="heading text-center mb-2">
                            {{ 'online_application.documents'|trans({}, 'text') }}
                        </h3>

                        <div class="form-row form-group-flex">
                            {{ macros.print_form_uploaded_document_field(form.uploadedDocuments.individualTaxNumberUploaded, uploadedDocuments.individualTaxNumber) }}
                            {{ macros.print_form_uploaded_document_field(form.uploadedDocuments.selfieUploaded, uploadedDocuments.selfie) }}
                        </div>

                        <div class="form-row form-group-flex">
                            {{ macros.print_form_field(form.uploadedDocuments.passportType) }}
                        </div>

                        <div data-controller="passport-type" class="d-none" data-property-name="passportType"
                             data-property-value="old_style">
                            <div class="form-row form-group-flex">
                                {{ macros.print_form_uploaded_document_field(form.uploadedDocuments.oldStylePassportFirstPageUploaded, uploadedDocuments.oldStylePassportFirstPage) }}
                                {{ macros.print_form_uploaded_document_field(form.uploadedDocuments.oldStylePassportSecondPageUploaded, uploadedDocuments.oldStylePassportSecondPage) }}
                                {{ macros.print_form_uploaded_document_field(form.uploadedDocuments.oldStylePassportProofOfResidenceUploaded, uploadedDocuments.oldStylePassportProofOfResidence) }}
                            </div>

                            <div class="form-row form-group-flex">
                                {% if uploadedDocuments.age >= 25 %}
                                    {{ macros.print_form_uploaded_document_field(form.uploadedDocuments.oldStylePassportPhotoAt25Uploaded, uploadedDocuments.oldStylePassportPhotoAt25) }}
                                    {{ macros.print_form_uploaded_document_field(form.uploadedDocuments.oldStylePassportPastedPhotoAt25Uploaded, uploadedDocuments.oldStylePassportPastedPhotoAt25) }}
                                {% endif %}
                                {{ macros.print_form_uploaded_document_field(form.uploadedDocuments.oldStylePassportSelfieWithPassportUploaded, uploadedDocuments.oldStylePassportSelfieWithPassport) }}
                            </div>

                            <div class="form-row form-group-flex">
                                {% if uploadedDocuments.age >= 45 %}
                                    {{ macros.print_form_uploaded_document_field(form.uploadedDocuments.oldStylePassportPhotoAt45Uploaded, uploadedDocuments.oldStylePassportPhotoAt45) }}
                                    {{ macros.print_form_uploaded_document_field(form.uploadedDocuments.oldStylePassportPastedPhotoAt45Uploaded, uploadedDocuments.oldStylePassportPastedPhotoAt45) }}
                                {% endif %}
                            </div>
                        </div>

                        <div data-controller="passport-type" class="d-none" data-property-name="passportType" data-property-value="new_style">
                            <div class="form-row form-group-flex">
                                {{ macros.print_form_uploaded_document_field(form.uploadedDocuments.newStylePassportPhotoPageUploaded, uploadedDocuments.newStylePassportPhotoPage) }}
                                {{ macros.print_form_uploaded_document_field(form.uploadedDocuments.newStylePassportValidityPageUploaded, uploadedDocuments.newStylePassportValidityPage) }}
                                {{ macros.print_form_uploaded_document_field(form.uploadedDocuments.newStylePassportRegistrationAppendixUploaded, uploadedDocuments.newStylePassportRegistrationAppendix) }}
                            </div>

                            <div class="form-row form-group-flex">
                                {{ macros.print_form_uploaded_document_field(form.uploadedDocuments.newStylePassportSelfieWithIdCardUploaded, uploadedDocuments.newStylePassportSelfieWithIdCard) }}
                            </div>
                        </div>

                        <div class="form-row form-group-flex">
                            {{ macros.print_form_field(form.uploadedDocuments.pensionCertificateType) }}
                        </div>

                        <div class="d-none" data-controller="passport-type" data-property-name="pensionCertificateType" data-property-value="old_style">
                            <div class="form-row form-group-flex">
                                {{ macros.print_form_uploaded_document_field(form.uploadedDocuments.oldStylePensionCertificateFirstSpreadUploaded, uploadedDocuments.oldStylePensionCertificateFirstSpread) }}
                                {{ macros.print_form_uploaded_document_field(form.uploadedDocuments.oldStylePensionCertificateValidityRecordUploaded, uploadedDocuments.oldStylePensionCertificateValidityRecord) }}
                            </div>
                        </div>

                        <div class="d-none" data-controller="passport-type" data-property-name="pensionCertificateType" data-property-value="new_style">
                            <div class="form-row form-group-flex">
                                {{ macros.print_form_uploaded_document_field(form.uploadedDocuments.newStylePensionCertificatePhotoAndValiditySpreadUploaded, uploadedDocuments.newStylePensionCertificatePhotoAndValiditySpread) }}
                            </div>
                        </div>

                        <hr class="mb-3 mt-4">

                        {{ macros.print_required_fields_hint() }}

                        {% include 'online_application/_form_buttons.html.twig' with {application: application, backUrl: path('online_application.credit_details', {'slug': credit.slug, hash: application.hash})} %}

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

