{% extends 'base.html.twig' %}

{% import "online_application/_macros.html.twig" as macros %}

{% block SEO %}
    {% include 'seo_partial.html.twig' with {seo: credit} %}
{% endblock %}

{% block headline %}
    {{ 'public.title.online_application'|trans({}, 'text') }}
{% endblock %}

{% block subHeadline %}
    {{ credit.title|default }}
{% endblock %}

{% block content %}
    <section class="credit-apply pt-3 pb-5">
        <div class="container">
            <div class="row">
                {% include 'online_application/_current_step.html.twig' with {step: 3} %}
            </div>
            {% include 'online_application/_need_help.html.twig' %}
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <div class="apply-form p-2">
                        {{ form_start(form, {attr: {class: 'py-3 px-2 p-xl-3', 'data-controller': 'online-application-form'}}) }}

                        {{ form_errors(form) }}

                        <h3 class="heading text-center mb-2">
                            {{ 'online_application.documents'|trans({}, 'text') }}
                        </h3>

                        <div class="form-row">
                            {{ macros.print_form_field(form.individualTaxNumber) }}
                        </div>

                        <div class="form-row">
                            {{ macros.print_form_field(form.passportType) }}
                        </div>

                        <div data-controller="passport-type" class="d-none" data-property-name="passportType"
                             data-property-value="old_style">
                            <div class="form-row">
                                {{ macros.print_form_uploaded_document_field(form.oldStylePassportFirstPageUploaded, uploadedDocuments.oldStylePassportFirstPage) }}
                                {{ macros.print_form_uploaded_document_field(form.oldStylePassportSecondPageUploaded, uploadedDocuments.oldStylePassportSecondPage) }}
                                {{ macros.print_form_uploaded_document_field(form.oldStylePassportProofOfResidenceUploaded, uploadedDocuments.oldStylePassportProofOfResidence) }}
                            </div>

                            <div class="form-row">
                                {{ macros.print_form_uploaded_document_field(form.oldStylePassportPhotoAt25Uploaded, uploadedDocuments.oldStylePassportPhotoAt25) }}
                                {{ macros.print_form_uploaded_document_field(form.oldStylePassportPastedPhotoAt25Uploaded, uploadedDocuments.oldStylePassportPastedPhotoAt25) }}
                                {{ macros.print_form_uploaded_document_field(form.oldStylePassportSelfieWithPassportUploaded, uploadedDocuments.oldStylePassportSelfieWithPassport) }}
                            </div>

                            <div class="form-row">
                                {{ macros.print_form_uploaded_document_field(form.oldStylePassportPhotoAt45Uploaded, uploadedDocuments.oldStylePassportPhotoAt45) }}
                                {{ macros.print_form_uploaded_document_field(form.oldStylePassportPastedPhotoAt45Uploaded, uploadedDocuments.oldStylePassportPastedPhotoAt45) }}

                            </div>
                        </div>

                        <div data-controller="passport-type" class="d-none" data-property-name="passportType" data-property-value="new_style">
                            <div class="form-row">
                                {{ macros.print_form_uploaded_document_field(form.newStylePassportPhotoPageUploaded, uploadedDocuments.newStylePassportPhotoPage) }}
                                {{ macros.print_form_uploaded_document_field(form.newStylePassportValidityPageUploaded, uploadedDocuments.newStylePassportValidityPage) }}
                                {{ macros.print_form_uploaded_document_field(form.newStylePassportRegistrationAppendixUploaded, uploadedDocuments.newStylePassportRegistrationAppendix) }}
                            </div>

                            <div class="form-row">
                                {{ macros.print_form_uploaded_document_field(form.newStylePassportSelfieWithIdCardUploaded, uploadedDocuments.newStylePassportSelfieWithIdCard) }}
                            </div>
                        </div>

                        <div class="form-row">
                            {{ macros.print_form_field(form.pensionCertificateType) }}
                        </div>

                        <div class="d-none" data-controller="passport-type" data-property-name="pensionCertificateType" data-property-value="old_style">
                            <div class="form-row">
                                {{ macros.print_form_uploaded_document_field(form.oldStylePensionCertificateFirstSpreadUploaded, uploadedDocuments.oldStylePensionCertificateFirstSpread) }}
                                {{ macros.print_form_uploaded_document_field(form.oldStylePensionCertificateValidityRecordUploaded, uploadedDocuments.oldStylePensionCertificateValidityRecord) }}
                            </div>
                        </div>

                        <div class="d-none" data-controller="passport-type" data-property-name="pensionCertificateType" data-property-value="new_style">
                            <div class="form-row">
                                {{ macros.print_form_uploaded_document_field(form.newStylePensionCertificatePhotoAndValiditySpreadUploaded, uploadedDocuments.newStylePensionCertificatePhotoAndValiditySpread) }}
                            </div>
                        </div>

                        <hr class="mb-3 mt-4">

                        {{ form_widget(form.captcha) }}

                        {{ macros.print_required_fields_hint() }}

                        <div class="form-row">
                            <div class="col-md-4">
                                <a href="{{ path('online_application.personal_info', {'hash': application.hash}) }}" class="btn btn-secondary btn-block">{{ 'button.back'|trans({}, 'form') }}</a>
                                {% set creditData = credit_defaults() %}
                                <a href="{{ path('credits.apply_now') }}" class="btn btn-block btn-outline-secondary mt-2 d-inline-block">{{ 'button.quick_application'|trans({}, 'form') }}</a>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                {% set hasFinaliseButton = application.readyToFinalise and app.request.query.has('summary') %}
                                <input type="submit" class="btn {% if hasFinaliseButton %}btn-secondary{% else %}btn-danger{% endif %} btn-block d-inline my-0" value="{{ 'button.next'|trans({}, 'form') }}" name="nextStep">
                                {% if hasFinaliseButton %}
                                    <input type="submit" class="btn btn-danger btn-block d-inline-block mt-2 my-0 float-right" value="{{ 'button.update_and_finalise'|trans({}, 'form') }}" name="updateAndFinalise">
                                {% endif %}
                            </div>
                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!--Google Recaptcha Script-->
    <script src="https://www.google.com/recaptcha/api.js?render={{ get_setting('google_recaptcha_api_key') }}"></script>
{% endblock %}
