{% extends 'base.html.twig' %}

{% block customSeoTags %}
    <meta name="title" content="【Хто ми】iCredit - iCredit "/>
    <meta name="description" content="Понад 800 співробітників та майже 600 кредитних консультантів ⚫ Понад 300 000 позик 【iCredit】 Дізнайтеся більше на сайті ➤ або за номером ☎0800601810">
    <meta name="keywords" content="місія, цінності, цілі, співробітники, клієнти, комунікація, якість, послуга, партнер, айкредит, iCredit, фінанси, кредит, фінансова послуга">

    <meta property="og:title" content="【Хто ми】iCredit - iCredit "/>
    <meta property="og:description" content="Понад 800 співробітників та майже 600 кредитних консультантів ⚫ Понад 300 000 позик 【iCredit】 Дізнайтеся більше на сайті ➤ або за номером ☎0800601810">
{% endblock %}

{% block title %}
    【Хто ми】iCredit | {{ 'page_title.symfony_starter'|trans({}, 'text') }}
{% endblock %}

{% block headline %}
    {{ 'static_pages.title.about_us'|trans({}, 'text') }}
{% endblock %}

{% block content %}
    {{ render_named_module('Content [About Us: Who are we]') }}

    {{ render_named_module('Content [About Us: Mission and vision]') }}

    {% if hasDepartments %}
        <section class="departments space">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% if mainDepartment|default %}
                            <h2 class="heading text-center">{{ 'static_pages.title.about_us.deparments'|trans({}, 'text') }}</h2>

                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="department">
                                        <figure style="min-height: 170px; overflow: hidden; text-align: center;">
                                            <img src="{% if mainDepartment.image %}{{ mainDepartment.image.filePath|imagine_filter('index_thumbnail') }}{% else %}{{ asset('build/images/icredit-default-img.jpg') }}{% endif %}"
                                                 class="img-fluid w-100" alt="{{ mainDepartment.name }}">
                                        </figure>

                                        <div class="content">
                                            <h5 class="title">{{ mainDepartment.name }}</h5>
                                            <p class="desc">{{ mainDepartment.director }}</p>

                                            <a href="#" class="btn btn-danger" data-toggle="modal"
                                               data-target="#department_{{ mainDepartment.id }}">
                                                {{ 'learn_more'|trans({}, 'text') }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            {% for department in departments %}
                                <div class="col-xl-4 col-md-6">
                                    <div class="department">
                                        <figure style="min-height: 170px; overflow: hidden; text-align: center;">
                                            <img class="img-fluid w-100" src="{% if department.image %}{{ department.image.filePath|imagine_filter('index_thumbnail') }}{% else %}{{ asset('build/images/icredit-default-img.jpg') }}{% endif %}" class="img-fluid" alt="{{ department.name }}">
                                        </figure>
                                        <div class="content">
                                            <h5 class="title">{{ department.name }}</h5>
                                            <p class="desc">{{ department.director }}</p>
                                            <a href="#" class="btn btn-danger" data-toggle="modal"
                                               data-target="#department_{{ department.id }}">
                                                {{ 'learn_more'|trans({}, 'text') }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        {% if mainDepartment|default %}
                            <modal title="{{ mainDepartment.name }}" identifier="department_{{ mainDepartment.id }}" size="lg"
                                   :vertically-centered="true" :has-footer=false>
                                <p class="text-muted">{{ mainDepartment.director }}</p>
                                <p class="ck-content">{{ mainDepartment.description|raw }}</p>
                            </modal>
                        {% endif %}

                        {% for department in departments %}
                            <modal title="{{ department.name }}" identifier="department_{{ department.id }}" size="lg"
                                   :vertically-centered="true" :has-footer=false>
                                <p class="text-muted">{{ department.director }}</p>
                                <p class="ck-content">{{ department.description|raw }}</p>
                            </modal>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
