{% extends 'base.html.twig' %}

{% block title %}{{ 'public.title.bring_friend'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block headline %}
    {{ 'public.headline.bring_friend'|trans({}, 'text') }}
{% endblock %}

{% block content %}
    {{ render_named_module('Content [Bring a friend]') }}
{% endblock %}
