{% extends 'base.html.twig' %}

{% block customSeoTags %}
    <meta name="title" content="【Споживчі кредити】 Калькулятор • Онлайн - iCredit"/>
    <meta name="description" content="Недорогі споживчі кредити ✪ Калькулятор ⚫ Швидко ⚫ Прозоро 【iCredit】 Подати заявку в інтернеті ➤ або за номером ☎0800601810">
    <meta name="keywords" content="кредит, позика, займ, гроші, калькулятор, онлайн, заявка онлайн, споживчі, iCredit, подати заявку, швидкий кредит, прозорі умови">

    <meta property="og:title" content="【Споживчі кредити】 Калькулятор • Онлайн - iCredit"/>
    <meta property="og:description" content="Недорогі споживчі кредити ✪ Калькулятор ⚫ Швидко ⚫ Прозоро 【iCredit】 Подати заявку в інтернеті ➤ або за номером ☎0800601810">
{% endblock %}

{% block title %}
    【Споживчі кредити】 Калькулятор • Онлайн | {{ 'page_title.symfony_starter'|trans({}, 'text') }}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
    {{ render_named_module('Credit Calculator') }}

    <section class="bring-friend-loyalty space" style="background: url({{ asset('build/images/homepage-bring-friend-loyalty-background.jpg') }}); background-size: cover; background-position: center center; background-repeat: no-repeat;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-4 mb-md-0">
                    <div class="block h-100 d-flex justify-content-between flex-column">
                        <h3 class="heading text-center">{{ 'homepage.apply_online'|trans({},'text') }}</h3>
                        <div class="icon" style="max-width: 60px;">
                            <img src="{{ asset('build/images/apply.png') }}" class="img-fluid" />
                        </div>
                        <div class="desc d-flex align-items-center justify-content-center">
                            {{ 'homepage.apply_online.description'|trans({},'text') }}
                        </div>
                        {% set data = credit_defaults('icredit') %}
                        <div class="text-center">
                            <a href="{{ path('online_application.credit_details', {'slug': 'icredit', amount: data.amount, payment: data.payment, period: data.periods}) }}"
                               class="btn btn-outline-danger"> {{ 'button.apply_online'|trans({},'form') }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="block h-100 d-flex flex-column justify-content-between">
                        <h3 class="heading text-center">{{ 'homepage.pay_online'|trans({},'text') }}</h3>
                        <div class="icon">
                            <img src="{{ asset('build/images/icons/coins.png') }}">
                        </div>
                        <div class="desc d-flex align-items-center justify-content-center">
                            {{ 'homepage.pay_online.description'|trans({},'text') }}
                        </div>
                        <div class="text-center">
                            <a href="https://easypay.ua/catalog/bank/pogashenie-kredita/icredit" class="btn btn-outline-danger" target="_blank">{{ 'button.pay'|trans({},'form') }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <modal identifier="tbd" size="sm" :vertically-centered="true" title="{{ 'info'|trans({}, 'text') }}" :has-footer="false">
        <div class="d-flex justify-content-center align-items-center p-3">
            <p>
                {{ 'comming_soon'|trans({}, 'text') }}
            </p>
        </div>
    </modal>

    <section class="credit-action space">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-md-0 mb-sm-5">
                    <div class="apply-credit">
                        <h3 class="heading">{{ 'homepage.how_to_take_credit.headline'|trans({},'text') }}</h3>
                        <div class="step">
                            <div class="row align-items-center">
                                <div class="col-2">
                                    <div class="step-num">1</div>
                                </div>
                                <div class="col-10">
                                    <div class="row align-items-center">
                                        <div class="col-3 col-md-3 col-xl-2">
                                            <div class="step-icon">
                                                <img src="{{ asset('build/images/icons/list.d00d8f52.png') }}">
                                            </div>
                                        </div>
                                        <div class="col-9 col-md-9 col-xl-10">
                                            <div class="step-desc">
                                                {{ 'homepage.how_to_take_credit.apply'|trans({},'text') }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="step">
                            <div class="row align-items-center">
                                <div class="col-2">
                                    <div class="step-num">2</div>
                                </div>
                                <div class="col-10">
                                    <div class="row align-items-center">
                                        <div class="col-3 col-md-3 col-xl-2">
                                            <div class="step-icon">
                                                <img src="{{ asset('build/images/icons/bulb.f2357d24.png') }}">
                                            </div>
                                        </div>
                                        <div class="col-9 col-md-9 col-xl-10">
                                            <div class="step-desc">
                                                {{ 'homepage.how_to_take_credit.wait_approval'|trans({},'text') }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="step">
                            <div class="row align-items-center">
                                <div class="col-2">
                                    <div class="step-num">3</div>
                                </div>
                                <div class="col-10">
                                    <div class="row align-items-center">
                                        <div class="col-3 col-md-3 col-xl-2">
                                            <div class="step-icon">
                                                <img src="{{ asset('build/images/icons/letter.88858b42.png') }}">
                                            </div>
                                        </div>
                                        <div class="col-9 col-md-9 col-xl-10">
                                            <div class="step-desc">
                                                {{ 'homepage.how_to_take_credit.reveice_money'|trans({},'text') }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a href="{{ path('faqs.index') }}" class="btn btn-outline-danger"> {{ 'learn_more'|trans({},'text') }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="repay-credit">
                        <h3 class="heading">{{ 'homepage.how_to_repay_a_credit.headline'|trans({},'text') }}</h3>
                        <div class="step">
                            <div class="row align-items-center">
                                <div class="col-2">
                                    <div class="step-num">1</div>
                                </div>
                                <div class="col-10">
                                    <div class="row align-items-center">
                                        <div class="col-3 col-md-3 col-xl-2">
                                            <div class="step-icon">
                                                <img src="{{ asset('build/images/icons/coins.21c3134b.png') }}">
                                            </div>
                                        </div>
                                        <div class="col-9 col-md-9 col-xl-10">
                                            <div class="step-desc">
                                                {{ 'homepage.how_to_repay_a_credit.method_office'|trans({},'text') }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="step">
                            <div class="row align-items-center">
                                <div class="col-2">
                                    <div class="step-num">2</div>
                                </div>
                                <div class="col-10">
                                    <div class="row align-items-center">
                                        <div class="col-3 col-md-3 col-xl-2">
                                            <div class="step-icon">
                                                <img src="{{ asset('build/images/icons/cards.0eb354bc.png') }}">
                                            </div>
                                        </div>
                                        <div class="col-9 col-md-9 col-xl-10">
                                            <div class="step-desc">
                                                {{ 'homepage.how_to_repay_a_credit.method_bank_transfer'|trans({},'text') }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="step">
                            <div class="row align-items-center">
                                <div class="col-2">
                                    <div class="step-num">3</div>
                                </div>
                                <div class="col-10">
                                    <div class="row align-items-center">
                                        <div class="col-3 col-md-3 col-xl-2">
                                            <div class="step-icon">
                                                <img src="{{ asset('build/images/icons/handshake.59893050.png') }}">
                                            </div>
                                        </div>
                                        <div class="col-9 col-md-9 col-xl-10">
                                            <div class="step-desc">
                                                {{ 'homepage.how_to_repay_a_credit.method_partner'|trans({},'text') }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a href="{{ path('faqs.index') }}" class="btn btn-outline-danger"> {{ 'learn_more'|trans({},'text') }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{ render_named_module('Latest promotions slider') }}

    <section class="types-credits space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="heading text-center">{{ 'homepage.types_of_credit'|trans({}, 'text') }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <slider :slides-to-scroll="1">
                        {% for credit in credits %}
                            <div class="h-100 d-flex flex-column justify-content-between py-2">
                                <div style="height: initial;">
                                    <h5 class="title">{{ credit.title }}</h5>
                                    <div class="icon">
                                        <img src="{{ asset('build/images/icons/cash-icon.1f947d7c.png') }}">
                                    </div>
                                    <div class="max-amount">
                                        {{ 'homepage.credits.max_amount'|trans({'%amount%': credit.maxAmount|number_format(0, '.', ' ')}, 'text') }}
                                    </div>
                                </div>
                                <div>
                                    <div class="col ck-content" style="font-size: 1.2rem; color: #5b6770;">
                                        {{ credit.requirements|raw }}
                                    </div>
                                </div>
                                <div>
                                    {% if credit.allowOnlineApplication %}
                                        <a class="btn btn-danger"
                                           href="{{ path('credits.credit_apply', {'slug': credit.slug}) }}"
                                        >
                                            {{ 'homepage.credits.apply_button'|trans({}, 'text') }}
                                        </a>
                                    {% endif %}
                                    <a class="btn btn-outline-danger"
                                       href="{{ path('credits.show', {'slug': credit.slug}) }}">{{ 'homepage.credits.learn_more_button'|trans({}, 'text') }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </slider>
                </div>
            </div>
        </div>
    </section>
            
    {{ render_named_module('Why you should trust us') }}

    <section class="bring-friend-loyalty space" style="background: url({{ asset('build/images/homepage-bring-friend-loyalty-background.ba68d602.jpg') }}); background-size: cover; background-position: center center; background-repeat: no-repeat;">
        <div class="container">
            <div class="row justify-content-center">
                {# there is no Bring a friend program in Ukraine for the time being #}
                {% if false %}
                    <div class="col-md-6">
                        <div class="block">
                            <h3 class="haeding text-center">{{ 'homepage.bring_a_friend.headline'|trans({},'text') }}</h3>
                            <div class="icon">
                                <img src="{{ asset('build/images/icons/coins.21c3134b.png') }}" class="img-fluid" />
                            </div>
                            <div class="desc d-flex align-items-center justify-content-center">
                                {{ 'homepage.bring_a_friend.content'|trans({},'text') }}
                            </div>
                            <div class="text-center">
                                <a href="{{ path('static_pages.bring_friends') }}"
                                   class="btn btn-outline-danger"> {{ 'learn_more'|trans({},'text') }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="col-md-6">
                    <div class="block">
                        <h3 class="haeding text-center">{{ 'homepage.loyalty_program.headline'|trans({},'text') }}</h3>
                        <div class="icon">
                            <img src="{{ asset('build/images/icons/handshake.59893050.png') }}">
                        </div>
                        <div class="desc d-flex align-items-center justify-content-center">
                            {{ 'homepage.loyalty_program.content'|trans({},'text') }}
                        </div>
                        <div class="text-center">
                            <a href="{{ path('loyalty_program.index') }}"
                               class="btn btn-outline-danger"> {{ 'learn_more'|trans({},'text') }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ render_named_module('Become credit consultant') }}
    {{ render_named_module('Office map', {showMapInitially: 'false'}) }}
{% endblock %}
