{% extends 'base.html.twig' %}


{% block content %}
    <section class="login space">
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <div class="login-panel">
                        <h2 class="heading text-center">Login</h2>

                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <form method="post">
                            <div class="form-group">
                                <label class="required" for="email">Email</label>
                                <input type="text" class="form-control" id="email" name="email" value="{{ last_username }}"/>
                            </div>

                            <div class="form-group">
                                <label class="required" for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password"/>
                            </div>

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            {#
                                If you want to control the URL the user
                                is redirected to on success (more details below)
                                <input type="hidden" name="_target_path" value="/account" />
                            #}

                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-address-book"></i>
                                Login
                            </button>

                            <a href="{{ path('static_pages.home_page') }}" class="btn btn-secondary">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
