{% extends 'base.html.twig' %}

{% block headline %}
    {{ 'public.title.confirm_email'|trans({}, 'text') }}
{% endblock %}

{% block title %}
    {{ 'public.title.confirm_email'|trans({}, 'text') }}
{% endblock %}

{% block content %}
    <section class="credit-apply space">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="apply-form">
                        {% if success == true %}
                            <p>
                                {{ 'confirm_email.success_text'|trans({}, 'text') }}
                            </p>
                        {% else %}
                            <p>
                                {{ 'confirm_email.failure_text'|trans({}, 'text') }}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
