{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.files'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>
                {{ 'headline.files'|trans({}, 'text') }}
                <file-upload-button upload-url="{{ path('admin.files.create') }}"
                                    redirect-url="{{ path('admin.files.index') }}"
                                    button-text="{{ 'button.upload_document'|trans({}, 'text') }}"></file-upload-button>
                <file-upload-button upload-url="{{ path('admin.files.image.create') }}"
                                    redirect-url="{{ path('admin.files.index') }}"
                                    button-text="{{ 'button.upload_image'|trans({}, 'text') }}"></file-upload-button>
            </h2>

            <form class="form-inline justify-content-between" method="get">
                <label class="sr-only" for="name">{{ 'label.name'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="name" name="name"
                       placeholder="{{ 'placeholder.name'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('name') }}">

                <a href="{{ path('admin.files.index') }}" class="btn btn-secondary mb-2 mr-2"><i
                            class="fa fa-remove"></i> {{ 'button.clear'|trans({}, 'form') }}</a>
                <button type="submit" class="btn btn-primary mb-2"><i
                            class="fa fa-filter"></i> {{ 'button.filter'|trans({}, 'form') }}</button>
            </form>
        </div>

        <div class="col-md-12">
            <div class="row">
                {% for file in files %}
                    <div class="col-md-3 mb-3">
                        <div class="card h-100">
                            {% if file|class_name == 'Image' %}
                                <figure style="height: 170px; overflow: hidden; text-align: center;">
                                    <img class="img-fluid w-100"
                                         src="{{ file.filePath|imagine_filter('index_thumbnail') }}">
                                </figure>
                            {% else %}
                                <figure style="height: 170px; overflow: hidden; text-align: center;">
                                    <img class="img-fluid w-100"
                                         src="{{ asset('build/images/icredit-default-img.jpg') }}">
                                </figure>
                            {% endif %}

                            <div class="card-body d-flex flex-column justify-content-between">
                                <p class="card-text text-muted">
                                    {{ file.fullName }}
                                </p>

                                <div class="dropdown">
                                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                       id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        {{ 'button.select'|trans({}, 'table') }}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#" data-controller="clipboard">
                                            <input type="text" style="display: none;" data-target="clipboard.source"
                                                   value="{{ uploaded_file_asset(file) }}">
                                            <span data-action="click->clipboard#copy" title="{{ 'copy_to_clipboard'|trans({}, 'text') }}" data-toggle="tooltip" data-placement="top">
                                                <i class="fa fa-copy"></i>
                                                {{ 'copy_to_clipboard'|trans({}, 'text') }}
                                            </span>
                                        </a>
                                        <a class="dropdown-item" href="{{ path('admin.files.download', {'id': file.id}) }}">
                                            <i class="fa fa-download"></i>
                                            {{ 'button.download'|trans({}, 'table') }}
                                        </a>
                                        <delete-link icon-class="fa fa-trash-o" target-url="{{ path('admin.files.delete', {id: file.id}) }}" redirect-url="{{ path('admin.files.index') }}">{{ 'button.delete'|trans({}, 'table') }}</delete-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% else %}
                    <div class="col-md-12 text-muted h6 mt-3">
                        {{ 'no_files_found'|trans({}, 'table') }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-12">
            <div class="navigation">
                {{ knp_pagination_render(files) }}
            </div>
        </div>
    </div>
{% endblock %}
