{% extends 'base.html.twig' %}

{% block customSeoTags %}
    <meta name="title" content="【Дисконтні картки】 • Бонуси • Партнери - iCredit"/>
    <meta name="description" content="Вигідні умови ➤ при придбанні продуктів та послуг ☛ у партнерів програми. Для отримання додаткової інформації ➤ сайт або ☎0800601810">
    <meta name="keywords" content="правила, програма, партнер, бонус, деталі, приз, нагорода, каталог подарунків, винагорода, iCredit">

    <meta property="og:title" content="【Дисконтні картки】 • Бонуси • Партнери - iCredit"/>
    <meta property="og:description" content="Вигідні умови ➤ при придбанні продуктів та послуг ☛ у партнерів програми. Для отримання додаткової інформації ➤ сайт або ☎0800601810">
{% endblock %}

{% block title %}
    【Дисконтні картки】 • Бонуси • Партнери | {{ 'page_title.symfony_starter'|trans({}, 'text') }}
{% endblock %}

{% block headline %}
    {{ 'public.headline.i_bonus'|trans({}, 'text') }}
{% endblock %}

{% block content %}
    {{ render_named_module('Content [Easy bonus]') }}
{% endblock %}
