{% extends 'base.html.twig' %}

{% block title %}{{ 'public.title.vip_client'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block pageSelector %}
    {% include 'loyalty_program/page_selector.html.twig' %}
{% endblock %}

{% block headline %}
    {{ 'public.headline.vip_client'|trans({}, 'text') }}
{% endblock %}

{% block content %}
    {{ render_named_module('Content [How to become vip client]') }}
{% endblock %}
