{% extends 'base.html.twig' %}

{% block title %}Register | Symfony Starter{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2>Register</h2>
                {% form_theme form 'form/online_application_form_theme.html.twig' %}
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword) }}

                <button class="btn btn-primary">Register</button>
                <a href="{{ path('static_pages.home_page') }}" class="btn btn-secondary">Cancel</a>

                {{ form_row(registrationForm.captcha) }}
                {{ form_errors(registrationForm) }}

                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!--Google Recaptcha Script-->
    <script src="https://www.google.com/recaptcha/api.js?render={{ get_setting('google_recaptcha_api_key') }}"></script>
{% endblock %}