<div>
    <div class="text-left text-muted mb-1 pl-3 form-group">
        <div class="form-check">
            {% if question.type == 'single_answer' %}
                <input class="form-check-input" type="radio" name="{{ question.text }}[answer][{{ question.id }}]" value="{{ answer.text }}">
                <label class="form-check-label">
                    {{ answer.text }}
                </label>
                {% if answer.hasComment %}
                    <div class="form-group mt-2">
                        <textarea class="form-control" name="{{ question.text }}[comment][{{ question.id }}]" cols="30" rows="5" placeholder="{{ answer.commentHelpText }}"></textarea>
                    </div>
                {% endif %}
            {% else %}
                <input class="form-check-input" type="checkbox" name="{{ question.text }}[answer][{{ answer.id }}]" value="{{ answer.text }}">
                <label class="form-check-label" for="">
                    {{ answer.text }}
                </label>
                {% if answer.hasComment %}
                    <div class="form-group mt-2">
                        <textarea class="form-control" name="{{ question.text }}[comment][{{ answer.id }}]" cols="30" rows="5" placeholder="{{ answer.commentHelpText }}"></textarea>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>