{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.poll'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}
{% endblock %}

{% block headline %}
    {{ 'headline.poll'|trans({}, 'text') }}: {{ poll.title }}
{% endblock %}

{% block content %}

    <div class="container mb-3">
        <div class="row">
            <div class="col-md-12">
                <div>
                    {% for error in errors %}
                        <div class="alert alert-danger">{{ error.message }}</div>
                    {% endfor %}
                </div>
                <form action="{{ path('poll.complete', {'id': poll.id}) }}" method="post" name="poll" data-controller="poll" data-poll-poll-id="{{ poll.id }}">
                    <div class="bg-light p-2 mb-3">
                        <div class="form-group">
                            <label for="fullName">
                                <i class="fa fa-asterisk fa-required"></i>
                                {{ 'label.full_name'|trans({}, 'form') }}
                            </label>
                            <input type="text" name="fullName" id="fullName" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="email">
                                <i class="fa fa-asterisk fa-required"></i>
                                {{ 'label.email'|trans({}, 'form') }}
                            </label>
                            <input type="text" name="email" id="email" class="form-control" required>
                        </div>
                    </div>
                    {% for question in poll.questions %}
                        <div class="mb-4 bg-light p-2">
                            <div class="text-left mb-2 h5">
                                {{ loop.index }}. {{ question.text }}
                            </div>
                            {% for answer in question.answers %}
                                {% include 'poll/_answer.html.twig' with {question: question} %}
                            {% endfor %}</div>
                    {% endfor %}
                    
                    <div>
                        <button type="submit" class="btn btn-primary" data-action="poll#submit">{{ 'button.complete_poll'|trans({}, 'form') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
