{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.online_credit_applications'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">
                {{ 'headline.online_credit_applications'|trans({}, 'text') }}
                <a href="{{ path('admin.online_credit_applications.export_csv', app.request.query.all) }}" class="btn btn-info btn-xs {% if count > 10000 %}disabled{% endif %}">{{ 'button.csv_export'|trans({}, 'table') }}</a>
            </h2>
            <p class="mb-5">
                {% if count > 10000 %}
                    <span class="badge badge-warning text-muted font-weight-normal">
                        {{ 'admin.credit_applications_export.limit_dataset_message'|trans({}, 'text') }}
                    </span>
                {% endif %}
            </p>
            <h5 class="mb-3">
                {{ 'headline.online_credit_applications.count'|trans({}, 'text') }}: {{ creditApplications.getTotalItemCount }}
            </h5>

            <form class="form-inline justify-content-between" method="get">
                <label class="sr-only" for="name">{{ 'label.name'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="name" name="name" placeholder="{{ 'placeholder.name'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('name') }}">
                <label class="sr-only" for="telephone">{{ 'label.telephone'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="telephone" name="telephone" placeholder="{{ 'placeholder.telephone'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('telephone') }}">
                <label class="sr-only" for="start_date">{{ 'label.start_date'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="start_date" name="start_date"
                       value="{{ app.request.query.get('start_date') }}"
                       placeholder="{{ 'placeholder.filter.start_date'|trans({}, 'form') }}"
                       autocomplete="off"
                       data-provide = 'datepicker' data-date-autoclose = true data-date-format = 'dd/mm/yyyy'
                >
                <label class="sr-only" for="end_date">{{ 'label.end_date'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="end_date" name="end_date"
                       value="{{ app.request.query.get('end_date') }}"
                       placeholder="{{ 'placeholder.filter.end_date'|trans({}, 'form') }}"
                       autocomplete="off"
                       data-provide = 'datepicker' data-date-autoclose = true data-date-format = 'dd/mm/yyyy'
                >
                <label class="sr-only" for="erp_status">{{ 'column.sent_to_erp'|trans({}, 'table') }}</label>
                <select class="form-control mb-2 mr-2" id="erp_status" name="erp_status">
                    <option value=""
                        {% if app.request.query.get('erp_status') == "" %}selected{% endif %}>
                        {{ 'column.sent_to_erp'|trans({}, 'table') }}
                    </option>
                    <option value="0"
                        {% if app.request.query.get('erp_status') == "0" %}selected{% endif %}>
                        {{ 'value.false'|trans({}, 'text') }}
                    </option>
                    <option value="1"
                        {% if app.request.query.get('erp_status') == "1" %}selected{% endif %}>
                        {{ 'value.true'|trans({}, 'text') }}
                    </option>
                </select>

                <a href="{{ path('admin.online_credit_applications.index') }}" class="btn btn-secondary mb-2 mr-2"><i
                            class="fa fa-remove"></i> {{ 'button.clear'|trans({}, 'form') }}</a>
                <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-filter"></i> {{ 'button.filter'|trans({}, 'form') }}</button>
            </form>

            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>{{ 'column.name'|trans({}, 'table') }}</th>
                    <th>{{ 'column.mobileTelephone'|trans({}, 'table') }}</th>
                    <th>{{ 'column.amount'|trans({}, 'table') }}</th>
                    <th>{{ 'column.product'|trans({}, 'table') }}</th>
                    <th>{{ 'column.application_date'|trans({}, 'table') }}</th>
                    <th>{{ 'column.sent_to_erp'|trans({}, 'table') }}</th>
                    <th>{{ 'column.actions'|trans({}, 'table') }}</th>

                </tr>
                </thead>
                <tbody>
                {% for creditApplication in creditApplications %}
                    {# @var creditApplication \App\Entity\OnlineApplication\OnlineApplication #}
                    <tr>
                        <td>{{ creditApplication.personalInfo.fullName }}</td>
                        <td>{{ creditApplication.personalInfo.mobileTelephoneWithLeadingZero }}</td>
                        <td>{{ creditApplication.creditDetails.amount|number_format }} {{ 'currency'|trans({}, 'text') }}</td>
                        <td>{{ creditApplication.creditDetails.product }}</td>
                        <td>{{ creditApplication.completedAtOrUpdatedAt|formatted_date_time }}</td>
                        <td>
                            {% if creditApplication.isSentToErp %}
                                <span class="badge badge-success">{{ 'sent_to_erp.success'|trans({}, 'text') }}</span>
                            {% else %}
                                <span class="badge badge-danger">{{ 'sent_to_erp.failed'|trans({}, 'text') }}</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('admin.online_credit_applications.show', {'id': creditApplication.id}) }}" class="btn btn-link p-1">
                                {{ 'button.details'|trans({}, 'form') }}
                            </a>

                            {% if creditApplication.isSentToErp == false %}
                                <post-link redirect-url="{{ path('admin.online_credit_applications.index') }}" target-url="{{ path('admin.online_credit_applications.resend', {id: creditApplication.id}) }}" link-class="btn btn-link p-1">
                                    {{ 'button.resend'|trans({}, 'form') }}
                                </post-link>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">{{ 'no_credit_applications_found'|trans({}, 'table') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation">
                {{ knp_pagination_render(creditApplications) }}
            </div>
        </div>
    </div>
{% endblock %}
