{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.online_credit_applications'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">
                {{ 'headline.online_credit_applications.details'|trans({}, 'text') }}
            </h2>
            <h5>
                {{ 'online_credit_applications.sent_to_erp'|trans({}, 'text') }}:
                {% if application.isSentToErp %}
                    <span class="badge badge-success">{{ 'sent_to_erp.success'|trans({}, 'text') }}</span>
                {% else %}
                    <span class="badge badge-danger">{{ 'sent_to_erp.failed'|trans({}, 'text') }}</span>
                {% endif %}
            </h5>
            {% if httpRequest is not null %}
                <p class="text-small mb-3">
                    {{ 'online_credit_applications.auto_attempts_to_send'|trans({}, 'text') }}:
                    {{ httpRequest.attempts }}.
                    {{ 'online_credit_applications.last_attempted_on'|trans({}, 'text') }}:
                    {{ httpRequest.lastAttemptedOn|formatted_date_time }}.
                    {{ 'online_credit_applications.remaining_auto_attempts'|trans({}, 'text') }}:
                    {{ httpRequest.remainingAttempts }}
                </p>
            {% endif %}
        </div>
    </div>

    <div class="row pb-5">
        <div class="col-md-12">
            <tabs>
                <tab name="{{ 'tab.data'|trans({}, 'text') }}" selected="true" class="mt-3">
                    <div style="column-count: 2;">
                        {% for key, value in application.arrayData %}
                            {% if value is not iterable %}
                                <span class="font-weight-bold">
                            {{ key|trans({}, 'long_application') }}
                        </span>
                                =>
                                {{ value|conditional_date_time|trans({}, 'form_long')|default('null') }}
                                <br>
                            {% endif %}
                        {% endfor %}
                    </div>
                </tab>

                <tab name="{{ 'tab.files'|trans({}, 'text') }}" class="mt-3">
                    {% set uploadedDocuments = application.uploadedDocuments %}

                    {% if uploadedDocuments.individualTaxNumber is not null %}
                        {% include 'admin/online_credit_applications/uploaded_document_trait.html.twig' with {
                            uploadedDocument: uploadedDocuments.individualTaxNumber,
                            label: 'label.individual_tax_number'|trans({}, 'form_long'),
                            uploadedDocumentType: constant("App\\Service\\MobileApi\\UploadFile::FILE_TYPE_INDIVIDUAL_TAX_NUMBER")
                        } %}
                    {% endif %}

                    {% if uploadedDocuments.selfie is not null %}
                        {% include 'admin/online_credit_applications/uploaded_document_trait.html.twig' with {
                            uploadedDocument: uploadedDocuments.selfie,
                            label: 'label.selfie'|trans({}, 'form_long'),
                            uploadedDocumentType: constant("App\\Service\\MobileApi\\UploadFile::FILE_TYPE_SELFIE")
                        } %}
                    {% endif %}

                    {% if uploadedDocuments.oldStylePassportFirstPage is not null %}
                        {% include 'admin/online_credit_applications/uploaded_document_trait.html.twig' with {
                            uploadedDocument: uploadedDocuments.oldStylePassportFirstPage,
                            label: 'label.old_style_passport_first_page'|trans({}, 'form_long'),
                            uploadedDocumentType: constant("App\\Service\\MobileApi\\UploadFile::FILE_TYPE_PASSPORT_FIRST_PAGE")
                        } %}
                    {% endif %}

                    {% if uploadedDocuments.oldStylePassportSecondPage is not null %}
                        {% include 'admin/online_credit_applications/uploaded_document_trait.html.twig' with {
                            uploadedDocument: uploadedDocuments.oldStylePassportSecondPage,
                            label: 'label.old_style_passport_second_page'|trans({}, 'form_long'),
                            uploadedDocumentType: constant("App\\Service\\MobileApi\\UploadFile::FILE_TYPE_PASSPORT_SECOND_PAGE")
                        } %}
                    {% endif %}

                    {% if uploadedDocuments.oldStylePassportPhotoAt25 is not null %}
                        {% include 'admin/online_credit_applications/uploaded_document_trait.html.twig' with {
                            uploadedDocument: uploadedDocuments.oldStylePassportPhotoAt25,
                            label: 'label.old_style_passport_photo_at_25'|trans({}, 'form_long'),
                            uploadedDocumentType: constant("App\\Service\\MobileApi\\UploadFile::FILE_TYPE_PASSPORT_PHOTO_AT_25")
                        } %}
                    {% endif %}

                    {% if uploadedDocuments.oldStylePassportPastedPhotoAt25 is not null %}
                        {% include 'admin/online_credit_applications/uploaded_document_trait.html.twig' with {
                            uploadedDocument: uploadedDocuments.oldStylePassportPastedPhotoAt25,
                            label: 'label.old_style_passport_pasted_photo_at_25'|trans({}, 'form_long'),
                            uploadedDocumentType: constant("App\\Service\\MobileApi\\UploadFile::FILE_TYPE_PASSPORT_PASTED_PHOTO_AT_25")
                        } %}
                    {% endif %}

                    {% if uploadedDocuments.oldStylePassportPhotoAt45 is not null %}
                        {% include 'admin/online_credit_applications/uploaded_document_trait.html.twig' with {
                            uploadedDocument: uploadedDocuments.oldStylePassportPhotoAt45,
                            label: 'label.old_style_passport_photo_at_45_uploaded'|trans({}, 'form_long'),
                            uploadedDocumentType: constant("App\\Service\\MobileApi\\UploadFile::FILE_TYPE_PASSPORT_PHOTO_AT_45")
                        } %}
                    {% endif %}

                    {% if uploadedDocuments.oldStylePassportPastedPhotoAt45 is not null %}
                        {% include 'admin/online_credit_applications/uploaded_document_trait.html.twig' with {
                            uploadedDocument: uploadedDocuments.oldStylePassportPastedPhotoAt45,
                            label: 'label.old_style_passport_pasted_photo_at_45'|trans({}, 'form_long'),
                            uploadedDocumentType: constant("App\\Service\\MobileApi\\UploadFile::FILE_TYPE_PASSPORT_PASTED_PHOTO_AT_45")
                        } %}
                    {% endif %}

                    {% if uploadedDocuments.oldStylePassportProofOfResidence is not null %}
                        {% include 'admin/online_credit_applications/uploaded_document_trait.html.twig' with {
                            uploadedDocument: uploadedDocuments.oldStylePassportProofOfResidence,
                            label: 'label.old_style_passport_proof_of_residence'|trans({}, 'form_long'),
                            uploadedDocumentType: constant("App\\Service\\MobileApi\\UploadFile::FILE_TYPE_PASSPORT_PROOF_OF_RESIDENCE")
                        } %}
                    {% endif %}

                    {% if uploadedDocuments.oldStylePassportSelfieWithPassport is not null %}
                        {% include 'admin/online_credit_applications/uploaded_document_trait.html.twig' with {
                            uploadedDocument: uploadedDocuments.oldStylePassportSelfieWithPassport,
                            label: 'label.old_style_passport_selfie_with_passport'|trans({}, 'form_long'),
                            uploadedDocumentType: constant("App\\Service\\MobileApi\\UploadFile::FILE_TYPE_PASSPORT_SELFIE_WITH_PASSPORT")
                        } %}
                    {% endif %}

                    {% if uploadedDocuments.newStylePassportPhotoPage is not null %}
                        {% include 'admin/online_credit_applications/uploaded_document_trait.html.twig' with {
                            uploadedDocument: uploadedDocuments.newStylePassportPhotoPage,
                            label: 'label.new_style_passport_photo_page'|trans({}, 'form_long'),
                            uploadedDocumentType: constant("App\\Service\\MobileApi\\UploadFile::FILE_TYPE_ID_CARD_PHOTO")
                        } %}
                    {% endif %}

                    {% if uploadedDocuments.newStylePassportValidityPage is not null %}
                        {% include 'admin/online_credit_applications/uploaded_document_trait.html.twig' with {
                            uploadedDocument: uploadedDocuments.newStylePassportValidityPage,
                            label: 'label.new_style_passport_validity_page'|trans({}, 'form_long'),
                            uploadedDocumentType: constant("App\\Service\\MobileApi\\UploadFile::FILE_TYPE_ID_CARD_VALIDITY")
                        } %}
                    {% endif %}

                    {% if uploadedDocuments.newStylePassportRegistrationAppendix is not null %}
                        {% include 'admin/online_credit_applications/uploaded_document_trait.html.twig' with {
                            uploadedDocument: uploadedDocuments.newStylePassportRegistrationAppendix,
                            label: 'label.new_style_passport_registration_appendix'|trans({}, 'form_long'),
                            uploadedDocumentType: constant("App\\Service\\MobileApi\\UploadFile::FILE_TYPE_ID_CARD_REGISTRATION_APPENDIX")
                        } %}
                    {% endif %}

                    {% if uploadedDocuments.newStylePassportSelfieWithIdCard is not null %}
                        {% include 'admin/online_credit_applications/uploaded_document_trait.html.twig' with {
                            uploadedDocument: uploadedDocuments.newStylePassportSelfieWithIdCard,
                            label: 'label.new_style_passport_selfie_with_id_card'|trans({}, 'form_long'),
                            uploadedDocumentType: constant("App\\Service\\MobileApi\\UploadFile::FILE_TYPE_ID_CARD_SELFIE")
                        } %}
                    {% endif %}

                    {% if uploadedDocuments.oldStylePensionCertificateFirstSpread is not null %}
                        {% include 'admin/online_credit_applications/uploaded_document_trait.html.twig' with {
                            uploadedDocument: uploadedDocuments.oldStylePensionCertificateFirstSpread,
                            label: 'label.old_style_pension_certificate_first_spread'|trans({}, 'form_long'),
                            uploadedDocumentType: constant("App\\Service\\MobileApi\\UploadFile::FILE_TYPE_PENSION_CERTIFICATE_FIRST_SPREAD")
                        } %}
                    {% endif %}

                    {% if uploadedDocuments.oldStylePensionCertificateValidityRecord is not null %}
                        {% include 'admin/online_credit_applications/uploaded_document_trait.html.twig' with {
                            uploadedDocument: uploadedDocuments.oldStylePensionCertificateValidityRecord,
                            label: 'label.old_style_pension_certificate_validity_record'|trans({}, 'form_long'),
                            uploadedDocumentType: constant("App\\Service\\MobileApi\\UploadFile::FILE_TYPE_PENSION_CERTIFICATE_VALIDITY_RECORD")
                        } %}
                    {% endif %}

                    {% if uploadedDocuments.newStylePensionCertificatePhotoAndValiditySpread is not null %}
                        {% include 'admin/online_credit_applications/uploaded_document_trait.html.twig' with {
                            uploadedDocument: uploadedDocuments.newStylePensionCertificatePhotoAndValiditySpread,
                            label: 'label.new_style_pension_certificate_photo_and_validity_spread'|trans({}, 'form_long'),
                            uploadedDocumentType: constant("App\\Service\\MobileApi\\UploadFile::FILE_TYPE_PENSION_CERTIFICATE_PHOTO_AND_VALIDITY_SPREAD")
                        } %}
                    {% endif %}
                </tab>

                <tab name="{{ 'tab.api_data'|trans({}, 'text') }}" class="mt-3">
                    <div class="mb-3">
                        <form action="{{ path('admin.online_credit_applications.download_request_data', {'hash': application.hash}) }}" method="post">
                            <button type="submit" class="btn btn-danger">{{ 'button.download'|trans({}, 'form') }}</button>
                        </form>
                    </div>
                    <pre>{{ application.jsonData }}</pre>
                </tab>

                <tab name="{{ 'tab.api_response'|trans({}, 'text') }}" class="mt-3">
                    <pre>{{ application.apiResponse }}</pre>
                </tab>
            </tabs>
        </div>
    </div>
{% endblock %}
