{% if uploadedDocument is not null %}
    <div>
        {{ label }}:
        <a class="text-danger" href="{{ uploaded_file_asset(uploadedDocument) }}"
           target="_blank">{{ uploadedDocument.originalName }}</a>

        <div class="d-inline-block ml-2">
            {{ 'online_credit_applications.sent_to_erp'|trans({}, 'text') }}:
            {% if uploadedDocument.isSentToErp %}
                <span class="badge badge-success">{{ 'sent_to_erp.success'|trans({}, 'text') }}</span>
            {% else %}
                <span class="badge badge-danger">{{ 'sent_to_erp.failed'|trans({}, 'text') }}</span>
            {% endif %}
        </div>

        {% if application.isSentToErp == true and uploadedDocument.isSentToErp == false %}
            <div class="d-inline-block ml-2">
                <form action="{{ path('admin.online_credit_application_files.resend', {id: uploadedDocument.id, hash: application.hash, type: uploadedDocumentType}) }}"
                      method="post">
                    <button type="submit" class="btn btn-link p-1">{{ 'button.resend'|trans({}, 'form') }}</button>
                </form>
            </div>
        {% endif %}
    </div>
    <br>
{% endif %}