<div class="col-md-4 order-last {% if data.position == 'right' %}order-md-4{% else %}order-md-2{% endif %}">
    <div class="credit-application-form secondary-form" data-controller="credit-application-form"
         data-credit-application-form-submit-url="{{ path('credits.application_form', {landing: landingId}) }}"
         data-credit-application-form-redirect-url="{{ data.redirectUrl }}"
         style="background-color: {{ data.backgroundColorForm }}"
    >
        {% include 'credit/_application_form.html.twig' %}
    </div>
</div>