{% set widthClass = data.width == 'full' ? 'container-fluid' : 'container' %}

<section id="module_item_{{ id }}" class="module-item"
         {% if data.backgroundImage is not null or data.backgroundImageMobile is not null %} data-controller="background"{% else %} style="background: {{ data.backgroundColor }};"{% endif %}
        {% if data.backgroundImage is not null %}data-background-image="{{ data.backgroundImage }}"{% endif %}
        {% if data.backgroundImageMobile is not null %}data-background-image-mobile="{{ data.backgroundImageMobile }}"{% endif %}
>

    <div class="{{ widthClass }}">
        {% block moduleContent %}
        {% endblock %}
    </div>

</section>