{% extends 'modules/views/_module_item_container.html.twig' %}

{% block moduleContent %}
    <div class="row" id="become_credit_consultant_{{ id }}">
        <div class="col-md-12">
            <div class="become-credit-consultant space">
                <h3 class="heading text-center">{{ data.headline }}</h3>
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <img src="{% if data.image|default %}{{ data.image }}{% else %}{{ asset('build/images/home-become-consultant.jpg') }}{% endif %}"
                             class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <div class="ck-content">{{ data.content|raw }}</div>
                        <a href="{{ path('career.become_credit_consultant') }}"
                           class="btn btn-outline-danger">{{ data.buttonText }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}