{% extends 'modules/views/_module_item_container.html.twig' %}

{% block moduleContent %}
    <div class="content-module row {% if data.mobileOnly == true %}mobile-only{% endif %}" id="content_{{ id }}">
        <div class="col-md-12 ">
            <div class="ck-content" style="background-color: {{ data.contentBackgroundColor }}">
                {{ data.content|default|raw }}
            </div>
        </div>
    </div>
{% endblock %}