{% extends 'modules/views/_module_item_container.html.twig' %}

{% block moduleContent %}
    <script type="application/javascript" src="https://www.google.com/recaptcha/api.js?render={{ get_setting('google_recaptcha_api_key') }}"></script>

    <div class="credit-application-form-module row" id="credit_application_form_{{ id }}">
        <div class="col-md-12 my-auto">
            <div class="space">
                <div class="row">
                    {% include 'modules/views/_credit_application_form_form.html.twig' %}
                    {% include 'modules/views/_credit_application_form_text.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}