{% extends 'modules/views/_module_item_container.html.twig' %}

{% block moduleContent %}
    <div class="row" id="expandable_content_{{ id }}">
        <div class="col-md-12">
            <div class="expandable-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="bg-white expandable" data-controller="expandable" data-expandable-title="{{ data.title }}">
                            <h5 class="d-flex justify-content-between align-content-center arrow" data-action="click->expandable#toggleContent">
                                <span class="align-self-center">{{ data.title }}</span>
                                <i class="fa fa-angle-right fa-2x text-danger" data-target="expandable.arrow"></i>
                            </h5>
                            <div class="not-visible ck-content" data-target="expandable.content">{{ data.content|raw }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}