<footer>
    <div class="container">
        <div class="row" id="footer_{{ id }}">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-6 col-md-4">
                        <h5 class="footer-heading">{{ 'about_icredit'|trans({}, 'footer') }}</h5>
                        <ul class="footer-nav">
                            {% for link in data.firstColumn|filter(item => item.text is not empty) %}
                                <li>
                                    <a href="{{ link.url }}" target="{{ link.target }}">{{ link.text }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-6 col-md-4">
                        <h5 class="footer-heading">{{ 'credits'|trans({}, 'footer') }}</h5>
                        <ul class="footer-nav">
                            {% for link in data.secondColumn|filter(item => item.text is not empty) %}
                                <li>
                                    <a href="{{ link.url }}" target="{{ link.target }}">{{ link.text }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-6 col-md-4">
                        <h5 class="footer-heading">{{ 'careers'|trans({}, 'footer') }}</h5>
                        <ul class="footer-nav">
                            {% for link in data.thirdColumn|filter(item => item.text is not empty) %}
                                <li>
                                    <a href="{{ link.url }}" target="{{ link.target }}">{{ link.text }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-6 col-md-4 d-block d-md-none">
                        <h5 class="footer-heading">{{ 'follow_us'|trans({}, 'footer') }}</h5>
                        <div class="socials">
                            <ul>
                                <li>
                                    <a href="{{ get_setting('facebook_link') }}" target="_blank">
                                        <img src="{{ asset('build/images/icons/facebook-icon.svg') }}"
                                             alt="iCredit Facebook"></a>
                                </li>
                            </ul>
                        </div>
                        <h5 class="footer-heading">{{ 'contact_us'|trans({}, 'footer') }}</h5>
                        <div class="phone">
                            <img src="{{ asset('build/images/icons/phone.svg') }}" alt="iCredit Phone">
                            <a href="tel:0 800 601 810" style="font-size: 1rem;">0 800 601 810</a>
                        </div>
                    </div>
                    <div class="col-12 d-block d-md-none">
                        <div class="footer-newsletter">
                            <h5 class="footer-heading">{{ 'subscribe_for_our_bulletin'|trans({}, 'footer') }}</h5>
                            <div class="newsletter-form" data-controller="bulletin"
                                 data-bulletin-subscribe-url="{{ path('bulletin_subscription.subscribe') }}">
                                <input type="text" class="form-control" name="email"
                                       placeholder="{{ 'enter_your_email'|trans({}, 'form') }}" data-target="bulletin.email">
                                <button type="submit"
                                        data-action="bulletin#subscribe">{{ 'button.subscribe'|trans({}, 'form') }}</button>
                            </div>
                            <p class="newsletter-terms">{{ 'subscription_consent_text'|trans({}, 'footer') }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-none d-md-block">
                <h5 class="footer-heading">{{ 'contact_us'|trans({}, 'footer') }}</h5>
                <div class="phone">
                    <img src="{{ asset('build/images/icons/phone.svg') }}" alt="iCredit Phone">
                    <a href="tel:0 800 601 810">0 800 601 810</a>
                </div>
                <div class="footer-newsletter">
                    <h5 class="footer-heading">{{ 'subscribe_for_our_bulletin'|trans({}, 'footer') }}</h5>
                    <div class="newsletter-form" data-controller="bulletin"
                         data-bulletin-subscribe-url="{{ path('bulletin_subscription.subscribe') }}">
                        <input type="text" class="form-control" name="email"
                               placeholder="{{ 'enter_your_email'|trans({}, 'form') }}" data-target="bulletin.email">
                        <button type="submit" 
                                data-action="bulletin#subscribe">{{ 'button.subscribe'|trans({}, 'form') }}</button>
                    </div>
                    <p class="newsletter-terms">{{ 'subscription_consent_text'|trans({}, 'footer') }}</p>
                </div>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-7 order-2 order-md-1">
                <div class="other-lang-websites">
                    <ul>
                        <li><img class="footer-global" src="{{ asset('build/images/icons/globus.svg') }}" alt="EasyCredit Global"><span class="d-inline-block d-sm-none">{{ 'international_subsidiaries'|trans({}, 'footer') }}</span></li>
                        <li><a href="https://easycredit.bg" target="_blank"><img src="{{ asset('build/images/icons/bulgarian-flag.svg') }}" alt="прапор Болгарі">{{ 'international_subsidiaries.bulgaria'|trans({}, 'footer') }}</a></li>
                        <li><a href="http://www.icredit.ro/" target="_blank"><img src="{{ asset('build/images/icons/romanian-flag.svg') }}" alt="прапор Румунія">{{ 'international_subsidiaries.romania'|trans({}, 'footer') }}</a></li>
                        <li><a href="http://www.icredit.pl/" target="_blank"><img src="{{ asset('build/images/icons/polish-flag.svg') }}" alt="прапор Польща">{{ 'international_subsidiaries.poland'|trans({}, 'footer') }}</a></li>
                        <li><a href="https://mcash.mk/" target="_blank"><img src="{{ asset('build/images/icons/Flag_of_North_Macedonia.svg') }}" alt="прапор північна Македонія">{{ 'international_subsidiaries.macedonia'|trans({}, 'footer') }}</a></li>
                    </ul>
                </div>
                <div class="copyright">
                    &copy {{ date('now')|date('Y') }}
                    {{ 'all_rights_reserved_text'|trans({}, 'footer') }}
                    <a href="{{ path('site_map') }}" class="ml-1 text-white text-uppercase">
                        <i class="fa fa-sitemap"></i>
                        {{ 'site_map.title'|trans({}, 'text') }}
                    </a>
                </div>
            </div>
            <div class="col-md-5 order-1 order-md-2 d-md-block d-none">
                <div class="socials">
                    <span>{{ 'follow_us'|trans({}, 'footer') }}</span>
                    <ul>
                        <li>
                            <a href="{{ get_setting('facebook_link') }}" target="_blank">
                                <img src="{{ asset('build/images/icons/facebook-icon.svg') }}"
                                     alt="iCredit Facebook"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="e15aaf9f-7788-4a45-96ee-cd51ae692650" type="text/javascript" async></script>
</footer>