<footer>
    <div class="container">
        <div class="row" id="footer_landing_page_{{ id }}">
            <div class="col-md-12">
                <div class="ck-content">
                    {{ data.text | raw }}
                </div>
            </div>
        </div>

        <hr/>
        <div class="row d-block d-md-none">
            <div class="col">
                <div class="socials">
                    <span>{{ 'follow_us'|trans({}, 'footer') }}</span>
                    <ul>
                        <li>
                            <a href="{{ get_setting('facebook_link') }}" target="_blank">
                                <img src="{{ asset('build/images/icons/facebook-icon.svg') }}"
                                     alt="iCredit Facebook"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 order-2 order-md-1">
                <div class="other-lang-websites">
                    <ul>
                        <li><img class="footer-global" src="{{ asset('build/images/icons/globus.svg') }}"
                                 alt="EasyCredit Global"><span
                                    class="d-inline-block d-sm-none">{{ 'international_subsidiaries'|trans({}, 'footer') }}</span>
                        </li>
                        <li><a href="https://easycredit.bg" target="_blank"><img
                                        src="{{ asset('build/images/icons/bulgarian-flag.svg') }}"
                                        alt="прапор Болгарі">{{ 'international_subsidiaries.bulgaria'|trans({}, 'footer') }}
                            </a></li>
                        <li><a href="http://www.icredit.ro/" target="_blank"><img
                                        src="{{ asset('build/images/icons/romanian-flag.svg') }}"
                                        alt="прапор Румунія">{{ 'international_subsidiaries.romania'|trans({}, 'footer') }}
                            </a></li>
                        <li><a href="http://www.icredit.pl/" target="_blank"><img
                                        src="{{ asset('build/images/icons/polish-flag.svg') }}"
                                        alt="прапор Польща">{{ 'international_subsidiaries.poland'|trans({}, 'footer') }}
                            </a></li>
                        <li><a href="https://mcash.mk/" target="_blank"><img
                                        src="{{ asset('build/images/icons/Flag_of_North_Macedonia.svg') }}"
                                        alt="прапор північна Македонія">{{ 'international_subsidiaries.macedonia'|trans({}, 'footer') }}
                            </a></li>
                    </ul>
                </div>
                <div class="copyright">
                    &copy {{ date('now')|date('Y') }}
                    {{ 'all_rights_reserved_text'|trans({}, 'footer') }}
                </div>
            </div>
            <div class="col-md-5 order-1 order-md-2 d-md-block d-none">
                <div class="socials">
                    <span>{{ 'follow_us'|trans({}, 'footer') }}</span>
                    <ul>
                        <li>
                            <a href="{{ get_setting('facebook_link') }}" target="_blank">
                                <img src="{{ asset('build/images/icons/facebook-icon.svg') }}"
                                     alt="iCredit Facebook"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>