<header data-controller="header-module">
    <div class="container">
        <div class="row" id="header_{{ id }}">
            <div class="col-3 col-md-3 col-xl-2">
                <a class="logo" href="{{ path('static_pages.home_page') }}">
                    <em>i</em><span>Credit</span>
                </a>
            </div>
            <div class="col-9 d-sm-block d-md-none">
                <div class="mobile-phone">
                    <div class="row no-gutters">
                        <div class="col-10">
                            <div class="row">
                                <div class="col-12">
                                    <a href="tel:0 800 601 810" class="phone-icon py-1">
                                        0 800 601 810
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="nav-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-xl-10">
                <nav>
                    <div class="mobile-search d-sm-block d-md-none">
                        <form action="{{ path('search.index') }}" method="GET">
                            <input class="form-control" type="text" placeholder="{{ 'placeholder.search'|trans({}, 'form') }}" aria-label="Search" name="term">
                            <button type="submit" class="text-muted">
                                <img src="{{ asset('build/images/icons/magnify.svg') }}" alt="iCredit Search">
                                {{ 'button.search'|trans({}, 'form') }}
                            </button>
                        </form>
                    </div>
                    <ul class="menu-up">
                        {% for link in data.topRow|filter(item => item.text is not empty) %}
                            <li class="menu-icon" id="header_top_item_{{ loop.index }}">
                                <a href="{{ link.url }}" target="{{ link.target }}">{{ link.text }}</a>
                            </li>
                        {% endfor %}
                        <li class="d-none d-md-inline-block">
                            <a href="tel:0 800 601 810" class="phone-icon py-1">
                                0 800 601 810
                            </a>
                        </li>
                        {% if app.user %}
                            {% if app.user|class_name == 'Customer' %}
                                <li class="dropdown menu-icon profile-menu d-none d-md-inline-block">
                                    <a class="dropdown-toggle login-icon" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        {{ 'my_profile_menu'|trans({}, 'text') }}
                                        {% if app.user.active == false %}
                                            <i class="fa fa-exclamation-circle text-danger ml-1" data-toggle="tooltip" title="{{ 'customer_account_is_inactive'|trans({}, 'text') }}"></i>
                                        {% endif %}
                                        {% if app.user.isEmailActive == false %}
                                            <span
                                                data-controller="check-email-confirmed"
                                                data-url="{{ path('customer_profile.check_email_is_confirmed') }}"
                                            ></span>
                                        {% endif %}
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
                                        <a class="dropdown-item" href="{{ path('customer_profile.my_credits') }}">{{ 'my_profile'|trans({}, 'text') }}</a>
                                        <a class="dropdown-item" href="{{ path('app.logout') }}">{{ 'link.logout'|trans({}, 'text') }}</a>
                                    </div>
                                </li>
                            {% else %}
                                <li class="dropdown menu-icon profile-menu d-none d-md-inline-block">
                                    <a class="dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">{{ app.user.email }}</a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
                                        <a class="dropdown-item" href="{{ path('profile.update') }}">{{ 'my_profile'|trans({}, 'text') }}</a>
                                        <a class="dropdown-item" href="{{ path('app.logout') }}">{{ 'link.logout'|trans({}, 'text') }}</a>
                                        <a class="dropdown-item" href="{{ path('admin.start') }}">{{ 'administration'|trans({}, 'text') }}</a>
                                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                            <a class="dropdown-item" href="{{ path('static_pages.home_page', {'_switch_user': '_exit'}) }}">
                                                {{ 'exit_impersonation'|trans({}, 'text') }}</a>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endif %}
                        {% else %}
                            <li class="menu-icon d-none d-md-inline-block">
                                <a class="login-icon" href="{{ path('customer_login.login') }}">{{ 'customer_login'|trans({}, 'text') }}</a>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="menu-dawn">
                        {% for link in data.bottomRow |filter(item => item.text is not empty) %}
                            <li class="menu-icon" id="header_bottom_item_{{ loop.index }}">
                                <a href="{{ link.url }}" class="{% if loop.first %}text-danger{% endif %}" target="{{ link.target }}">{{ link.text|upper }}</a>
                            </li>
                        {% endfor %}
                        {% if app.user %}
                            {% if app.user|class_name == 'Customer' %}
                                <li class="dropdown menu-icon profile-menu d-sm-block d-md-none">
                                    <a href="#profile-items" data-toggle="collapse" class="collapsed">
                                        {{ 'my_profile_menu'|trans({}, 'text') }}
                                        {% if app.user.active == false %}
                                            <i class="fa fa-exclamation-circle text-danger ml-1" data-toggle="tooltip" title="{{ 'customer_account_is_inactive'|trans({}, 'text') }}"></i>
                                        {% endif %}
                                    </a>
                                </li>
                                <div id="profile-items" class="collapse">
                                    <li class="profile-menu-icon" id="header_bottom_item_profile">
                                        <a href="{{ path('customer_profile.my_credits') }}" id="header_bottom_item_profile">{{ 'my_profile'|trans({}, 'text') }}</a>
                                    </li>
                                    <li class="profile-menu-icon" id="header_bottom_item_logout">
                                        <a href="{{ path('app.logout') }}" id="header_bottom_item_logout">{{ 'link.logout'|trans({}, 'text') }}</a>
                                    </li>
                                </div>
                            {% else  %}
                                <li class="dropdown menu-icon profile-menu d-sm-block d-md-none">
                                    <a class="dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">{{ app.user.email }}</a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
                                        <a class="dropdown-item" href="{{ path('profile.update') }}">{{ 'my_profile'|trans({}, 'text') }}</a>
                                        <a class="dropdown-item" href="{{ path('app.logout') }}">{{ 'link.logout'|trans({}, 'text') }}</a>
                                        {% if is_granted('ROLE_EDITOR_MARKETING_BG') or is_granted('ROLE_EDITOR_MARKETING_UA') %}
                                            <a class="dropdown-item" href="{{ path('admin.dashboard') }}">{{ 'administration'|trans({}, 'text') }}</a>
                                        {% endif %}

                                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                            <a class="dropdown-item" href="{{ path('static_pages.home_page', {'_switch_user': '_exit'}) }}">
                                                {{ 'exit_impersonation'|trans({}, 'text') }}</a>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endif %}
                        {% else %}
                            <li class="dropdown menu-icon profile-menu d-sm-block d-md-none">
                                <a class="login-icon collapsed" href="{{ path('customer_login.login') }}">{{ 'customer_login'|trans({}, 'text') }}</a>
                            </li>
                        {% endif %}

                        <li class="profile-apply menu-icon d-sm-block d-md-none">
                            <a href="{{ path('credits.credit_apply', {'slug': 'icredit', 'amount': '2000'}) }}">{{ 'apply_now'|trans({}, 'header') }}
                        </li>

                        <li class="btn-search">
                            <a
                                    data-toggle="collapse"
                                    href="#searchForm"
                                    role="button"
                                    aria-expanded="false"
                                    aria-controls="searchForm"
                                    data-action="click->header-module#toggleBackgroundOpacity"
                            >
                                <img src="{{ asset('build/images/icons/magnify.svg') }}" alt="iCredit Search">
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div id="searchForm" class="search-form collapse">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form action="{{ path('search.index') }}" method="GET">
                        <div class="row">
                            <div class="col-md-10">
                                <input class="form-control" type="text" placeholder="{{ 'placeholder.search'|trans({}, 'form') }}" aria-label="Search" name="term">
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="text-muted">
                                    <img src="{{ asset('build/images/icons/magnify.svg') }}" alt="iCredit Search">
                                    {{ 'button.search'|trans({}, 'form') }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>