<header>
    <div class="container">
        <div class="row" id="header_landing_page_{{ id }}">
            <div class="col-3 col-md-3 col-xl-3">
                <a class="logo" href="{{ path('static_pages.home_page') }}">
                    <em>i</em><span>Credit</span>
                </a>
            </div>
            <div class="col-9 d-sm-block d-md-none">
                <div class="landing-page">
                    <div class="mobile-phone">
                        <div class="row no-gutters">
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-12">
                                        <a href="tel:{{ 'phone_number'|trans({}, 'header') }}" class="phone-icon py-1"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="nav-btn">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-9 col-xl-9 d-flex flex-column justify-content-center">
                <nav class="landing-page">
                    <ul class="menu-up">
                        {% for link in data.links|filter(link => link.text is not empty) %}
                            <li>
                                <a href="{{ link.url }}" target="{{ link.target }}">{{ link.text }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul class="menu-dawn">
                        <li class="d-none d-md-inline-block">
                            <a href="tel:0 800 601 810" class="phone-icon py-1">
                                0 800 601 810
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>