{% extends 'modules/views/_module_item_container.html.twig' %}

{% block moduleContent %}
    <div class="row py-5 careers-employer" id="icredit_as_employer_{{ id }}">
        <div class="col-md-6">
            <div class="employer-info">
                <h3>{{ 'public.careers.i_credit_employer.heading'|trans({}, 'text') }}</h3>
                <div class="content">
                    <p>{{ 'public.careers.i_credit_employer.description'|trans({}, 'text') }}</p>
                </div>
                <a href="{{ user_defined_page_path(iCreditAsEmployerPage) }}"
                   class="btn btn-outline-light">{{ 'button.read_more'|trans({}, 'text') }}</a>

                <div class="learn-more">
                    <strong>{{ 'public.careers.i_credit_employer.learn_more.heading'|trans({}, 'text') }}</strong>
                </div>
                <a href="{{ user_defined_page_path(motivationProgramPage) }}"
                   class="btn btn-danger">{{ 'public.careers.i_credit_employer.learn_more.motivation_programs_button'|trans({}, 'text') }}</a>
            </div>
        </div>

        <div class="col-md-6">
            <div class="employer-stats">
                <div class="row">
                    {% for reason in data.reasons %}
                    {% if reason.number is not empty %}
                            <div class="col-6 col-md-6">
                                <span class="stat-label">{{ reason.prefix }}</span>
                                <span class="stat-val">{{ reason.number }}</span>
                                <span class="stat-label{% if loop.revindex != 1 and loop.revindex != 2 %} label-bot{% endif %}">{{ reason.statement }}</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}