{% extends 'modules/views/_module_item_container.html.twig' %}

{% block moduleContent %}
    <div class="row"  id="latest_news_{{ id }}">
        <div class="col-12">
            <div class="news space">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="heading text-center">{{ 'latest_news.headline'|trans({}, 'text') }}</h3>
                    </div>
                </div>
                <div class="row justify-content-between {% if data.width == 'full' %} px-2{% endif %}">
                    {% for newsItem in news %}
                        <div class="col-md-4">
                            <div class="news-item">
                                <a href="{{ path('news.show', {'slug': newsItem.slug}) }}">
                                    <figure style="min-height: 170px; overflow: hidden; text-align: center;">
                                        <img class="img-fluid w-100"
                                             src="{% if newsItem.image %}{{ newsItem.image|relative_image_path|imagine_filter('index_thumbnail') }}{% else %}{{ asset('build/images/icredit-default-img.jpg') }}{% endif %}">
                                    </figure>
                                </a>
                                <a href="{{ path('news.show', {'slug': newsItem.slug}) }}" class="text-decoration-none">
                                    <h5 class="text-truncate-two-lines">{{ newsItem.title|limit_chars(80) }}</h5>
                                </a>
                                <div class="meta">{{ newsItem.createdAt|formatted_date }}</div>
                                <div class="desc text-truncate-three-lines">{{ newsItem.introduction|limit_chars(150) }}</div>
                                <a href="{{ path('news.show', {'slug': newsItem.slug}) }}"
                                   class="btn btn-outline-danger">{{ 'learn_more'|trans({}, 'text') }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}