{% extends 'modules/views/_module_item_container.html.twig' %}

{% block moduleContent %}
    <div class="row" id="latest_promotions_{{ id }}">
        <div class="col-md-12">
            <div class="promotions bgr-none space">

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="heading text-center">{{ 'latest_promotions.headline'|trans({}, 'text') }}</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <slider :slides-to-scroll="3">
                            {% for promotion in promotions %}
                                <div class="promotion-slide">
                                    <figure style="min-height: 170px; overflow: hidden; text-align: center;">
                                        <img class="img-fluid w-100"
                                             src="{% if promotion.image %}{{ promotion.image|relative_image_path|imagine_filter('index_thumbnail') }}{% else %}{{ asset('build/images/icredit-default-img.jpg') }}{% endif %}">
                                    </figure>
                                    <h5 class="text-truncate-two-lines">{{ promotion.title|limit_chars(75) }}</h5>

                                    <a href="{{ path('promotions.show', {'slug': promotion.slug}) }}"
                                       class="btn btn-outline-danger">{{ 'learn_more'|trans({}, 'text') }}</a>
                                </div>
                            {% endfor %}
                        </slider>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}