{% extends 'modules/views/_module_item_container.html.twig' %}

{% block moduleContent %}
    <gmaps v-bind:offices="{{ offices }}"
           v-bind:cities="{{ cities }}"
           address="{{ data.address }}"
           :zoom= {{ data.zoom }}
           type="{{ data.type }}"
           marker1="{{ asset('build/images/markers/m1.png') }}"
           marker2="{{ asset('build/images/markers/m2.png') }}"
           office-icon="{{ asset('build/images/markers/icredit-icon.png') }}"
           id="offices_map_{{ id }}"
           id="offices_map_{{ id }}"
            {% if props['showMapInitially'] is defined %}
                :show-map-initially="{{ props['showMapInitially'] }}"
            {% endif %}
    >
    </gmaps>
{% endblock %}