{% extends 'modules/views/_module_item_container.html.twig' %}

{% block moduleContent %}
    <div class="w-100" id="slider_{{ id }}">
        <slider-module :text-color="'{{ data.textColor }}'" :size="'{{ data.size }}'">
            {% for slide in data.slides|filter(item => item.headline and item.description) %}
                <div class="d-flex flex-column align-items-center justify-content-center carousel-cell">
                    <h2 class="title w-75 text-center">
                        <span>{{ slide.headline }}</span>
                    </h2>
                    <div class="ck-content" style="max-width: 75%">
                        {{ slide.description|raw }}
                    </div>
                </div>
            {% endfor %}
        </slider-module>
    </div>
{% endblock %}