{% extends 'modules/views/_module_item_container.html.twig' %}

{% block moduleContent %}
    <div class="row" id="why_you_should_trust_us_{{ id }}">
        <div class="col-md-12">
            <div class="why-trust-us space">

                <h3 class="heading text-center">
                    {% if data.title is not empty %}
                        {{ data.title }}
                    {% else %}
                        {{ 'title.why_you_should_trust_us'|trans({}, 'text') }}
                    {% endif %}
                </h3>

                <div class="row justify-content-center">
                    {% for reason in data.reasons|filter(item => item.number is not empty) %}
                        <div class="col-12 col-md-6 col-xl-3 single-reason">
                            <div class="reason-title">{{ reason.number }}</div>
                            <div class="reason-desc ck-content">{{ reason.statement|raw }}</div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}