{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.apply_for_job'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}
{% endblock %}

{% block headline %}
    {{ jobOpening.position }}
{% endblock %}

{% block content %}
    <section class="careers-apply space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="heading">{{ 'heading.apply_for_job'|trans({}, 'text') }}</h2>
                </div>

                <div class="col-xl-7 col-md-12 order-2 order-xl-1">
                    <div class="apply-form">
                        {{ form_start(form) }}

                        {{ form_errors(form) }}

                        {{ form_row(form.city) }}
                        {{ form_row(form.fullName) }}
                        {{ form_row(form.telephone) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.cv) }}
                        {{ form_row(form.comment) }}

                        <div class="row">
                            <div class="col-12">
                                <hr />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="hint">
                                    <i class="fa fa-asterisk fa-required"></i>
                                    {{ 'hint.field_is_required'|trans({}, 'form') }}
                                </div>
                            </div>
                        </div>

{#                        <div class="form-check form-group terms d-flex">#}
{#                            <input class="form-check-input" type="checkbox" value="" id="gdprCheckbox" required>#}
{#                            <label class="form-check-label py-0 pl-0" for="gdprCheckbox" style="overflow: unset;">#}
{#                                {{ 'label.i_read_the'|trans({}, 'form') }}#}
{#                                <a href="{{ protection_of_applicant_personal_data_page_path() }}" target="_blank">#}
{#                                    {{ 'gdpr_of_applicant_policy'|trans({}, 'text') }}#}
{#                                </a>#}
{#                            </label>#}
{#                        </div>#}

                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-danger">{{ 'button.send'|trans({}, 'form') }}</button>
                        </div>

                        {{ form_row(form.captcha) }}

                        {{ form_end(form) }}
                    </div>
                </div>

                <div class="col-xl-5 col-md-12 order-1 order-xl-2">
                    <div class="sum">
                        <h3>
                            <span>{{ jobOpening.position }}</span>
                        </h3>

                        <ul>
                            <li>
                                {{ 'apply.department'|trans({}, 'text') }} 
                                <span>{{ jobOpening.department.name }}</span>
                            </li>
                            <li>
                                {{ 'apply.office'|trans({}, 'text') }} 
                                <span>{{ jobOpening.office.name }}</span>
                            </li>
                            <li>
                                {{ 'apply.reference'|trans({}, 'text') }}
                                <span>{{ jobOpening.reference }}</span>
                            </li>
                            <li>
                                {{ 'apply.deadline_for_application'|trans({}, 'text') }} 
                                <span>{{ jobOpening.deadline | formatted_date }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!--Google Recaptcha Script-->
    <script src="https://www.google.com/recaptcha/api.js?render={{ get_setting('google_recaptcha_api_key') }}"></script>
{% endblock %}