{% extends 'base.html.twig' %}

{% block title %}{{ page.name }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block headline %}
    {{ page.name }}
{% endblock %}

{% block content %}
    {% for item in page.moduleItems %}
        {{ render_module(item) }}
    {% endfor %}
{% endblock %}