{% extends 'base.html.twig' %}

{% block customSeoTags %}
    <meta name="title" content="【Вакансії в iCredit】 Онлайн - iCredit"/>
    <meta name="description" content="Вакансії ✪ в iCredit 【iCredit】 Подати запит онлайн  ➤ або за номером ☎0800601810 ➤ Чітка та прозора система розвитку.">
    <meta name="keywords" content="робота, зайнятість, вакансія, кар'єра, додатковий заробіток, кредитний консультант, директор філії, менеджер, спеціаліст, офіційна робота, команда">

    <meta property="og:title" content="【Вакансії в iCredit】 Онлайн - iCredit"/>
    <meta property="og:description" content="Вакансії ✪ в iCredit 【iCredit】 Подати запит онлайн  ➤ або за номером ☎0800601810 ➤ Чітка та прозора система розвитку.">
{% endblock %}

{% block title %}
    【Вакансії в iCredit】 Онлайн | {{ 'page_title.symfony_starter'|trans({}, 'text') }}
{% endblock %}

{% block headline %}
    {{ 'public.title.careers'|trans({}, 'text') }}
{% endblock %}

{% block content %}
    <section class="careers-started" style="background-image: url({{ asset('build/images/careers-background.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>{{ 'public.careers.credit_consultant.heading'|trans({}, 'text') }}</h3>
                    <h2>{{ 'public.careers.credit_consultant.title'|trans({}, 'text') }}</h2>
                    <div class="desc">{{ 'public.careers.credit_consultant.description'|trans({}, 'text') }}</div>
                    <a class="btn btn-danger" href="{{ path('career.become_credit_consultant') }}">{{ 'public.careers.credit_consultant.button'|trans({}, 'text') }}</a>
                </div>
            </div>
        </div>
    </section>

    <section class="careers-jobs space">
        <div class="container">
            <div class="row">
                {% if jobOpenings|default %}
                    <div class="col-md-12">
                        <h3 class="heading text-center">{{ 'public.title.job_openings'|trans({}, 'text') }}</h3>
                        <slider>
                            {% for job in jobOpenings %}
                                <div class="job-position">
                                    <a href="{{ path('career.vacancy_details', {jobOpeningId: job['id']}) }}">
                                        <figure style="min-height: 170px; overflow: hidden; text-align: center;">
                                            <img class="w-100" src="{{ asset('build/images/icredit-default-img.jpg') }}">
                                        </figure>
                                    </a>

                                    <div class="content">
                                        <a href="{{ path('career.vacancy_details', {jobOpeningId: job['id']}) }}">
                                            <div class="title text-truncate-two-lines">{{ job['title']|limit_chars(60) }}</div>
                                        </a>
                                        <div class="desc ck-editor text-truncate">{{ job['city'] }}</div>
                                        <a class="btn btn-outline-danger"
                                           href="{{ path('career.vacancy_details', {jobOpeningId: job['id']}) }}">{{ 'job_openings.index.detail_button'|trans({}, 'text') }}</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </slider>
                    </div>
                    <div class="col-md-12 mt-5 text-center">
                        <a class="btn btn-secondary"
                           href="{{ path('career.all') }}">{{ 'job_openings.index.all_job_openings_button'|trans({}, 'text') }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    {#    Section will not be available at launch. Please, do not delete. #}
    {% if false %}
        <section class="careers-internship" style="background-image: url('{{ asset('social-activity-background.jpg') }}');">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h5>{{ 'public.careers.internship_programme.heading'|trans({}, 'text') }}</h5>
                        <a href="{{ path('career.internship_program.index') }}"
                           class="btn btn-danger">{{ 'public.careers.internship_programme.button'|trans({}, 'text') }}</a>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {{ render_named_module('iCredit as Employer') }}
{% endblock %}
