<div class="d-flex align-items-center">
    <label for="page_selector" class="sr-only">Select page</label>
    <select id="page_selector" class="form-control" data-controller="page-selector"
            data-action="page-selector#redirect">
        <option value="{{ path('careers.index') }}"
                {% if app.request.get('_route') == 'careers.index' %}selected{% endif %}
        >
            {{ 'public.title.careers'|trans({}, 'text') }}
        </option>
        <option
                value="{{ path('career.become_credit_consultant') }}"
                {% if app.request.get('_route') == 'career.become_credit_consultant' %}selected{% endif %}
        >
            {{ 'public.title.become_credit_consultant'|trans({}, 'text') }}
        </option>
        <option
                value="{{ path('career.all') }}"
                {% if app.request.get('_route') == 'career.all' %}selected{% endif %}
        >
            {{ 'public.title.job_openings'|trans({}, 'text') }}
        </option>
        <option
                value="{{ path('career.i_credit_as_an_employer.index')}}"
                {% if app.request.get('_route') == 'career.i_credit_as_an_employer.index' %}selected{% endif %}
        >
            {{ 'public.title.iCredit_as_an_employer'|trans({}, 'text') }}
        </option>
        <option
                value="{{ path('career.motivation_program.index')}}"
                {% if app.request.get('_route') == 'career.motivation_program.index' %}selected{% endif %}
        >
            {{ 'public.title.motivation_program'|trans({}, 'text') }}
        </option>
        <option
                value="{{ path('career.apply_for_job')}}"
                {% if app.request.get('_route') == 'career.apply_for_job' %}selected{% endif %}
        >
            {{ 'public.title.apply_for_job'|trans({}, 'text') }}
        </option>
    </select>
</div>