{% extends 'base.html.twig' %}

{% block customSeoTags %}
    <meta name="title" content="【Подати запит на роботу】онлайн - iCredit"/>
    <meta name="description" content="Подати запит на роботу онлайн 【iCredit】 Дізнайся більше на сайті ➤ або за номером ☎0800601810 Обов’язково вкажіть  ➤ Ім'я ⚫ Номер телефону ⚫ Електронну адресу.">
    <meta name="keywords" content="робота, зайнятість, вакансія, кар'єра, додатковий заробіток, кредитний консультант, директор філії, менеджер, спеціаліст, офіційна робота, команда">

    <meta property="og:title" content="【Подати запит на роботу】онлайн - iCredit"/>
    <meta property="og:description" content="Подати запит на роботу онлайн 【iCredit】 Дізнайся більше на сайті ➤ або за номером ☎0800601810 Обов’язково вкажіть  ➤ Ім'я ⚫ Номер телефону ⚫ Електронну адресу.">
{% endblock %}

{% block title %}
    【Подати запит на роботу】онлайн | {{ 'page_title.symfony_starter'|trans({}, 'text') }}
{% endblock %}

{% block headline %}
    {{ 'public.headline.apply_for_job'|trans({}, 'text') }}
{% endblock %}

{% block content %}

    {{ render_named_module('Content [Apply for a job]') }}

    <section class="contacts space" style="border-bottom: 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="contact-form">

                        {{ form_start(form, {'multipart': true}) }}

                        {{ form_errors(form) }}

                        <div class="form-group row">
                            <div class="col-md-5">
                                {{ form_label(form.city) }}
                            </div>
                            <div class="col-md-7">
                                {{ form_widget(form.city) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-5">
                                {{ form_label(form.fullName) }}
                            </div>
                            <div class="col-md-7">
                                {{ form_widget(form.fullName) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-5">
                                {{ form_label(form.telephone) }}
                            </div>
                            <div class="col-md-7">
                                {{ form_widget(form.telephone) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-5">
                                {{ form_label(form.email) }}
                            </div>
                            <div class="col-md-7">
                                {{ form_widget(form.email) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-5">
                                {{ form_label(form.cv) }}
                            </div>
                            <div class="col-md-7">
                                {{ form_widget(form.cv) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-5">
                                {{ form_label(form.comment) }}
                            </div>
                            <div class="col-md-7">
                                {{ form_widget(form.comment) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <hr />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="hint">
                                    <i class="fa fa-asterisk fa-required"></i>
                                    {{ 'hint.field_is_required'|trans({}, 'form') }}
                                </div>
                            </div>
                        </div>

{#                        <div class="form-group row terms">#}
{#                            <div class="col-md-12">#}
{#                                <input type="checkbox" value="" name="gdprCheckbox" id="gdprCheckbox" required>#}
{#                                <label for="gdprCheckbox">#}
{#                                    {{ 'label.i_read_the'|trans({}, 'form') }}#}
{#                                    <a href="{{ protection_of_applicant_personal_data_page_path() }}" target="_blank">#}
{#                                        {{ 'gdpr_of_applicant_policy'|trans({}, 'text') }}#}
{#                                    </a>#}
{#                                </label>#}
{#                            </div>#}
{#                        </div>#}

                        <div class="d-flex justify-content-center">
                            <button type="submit"
                                    class="btn btn-danger">{{ 'button.send'|trans({}, 'form') }}</button>
                        </div>

                        {{ form_row(form.captcha) }}

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!--Google Recaptcha Script-->
    <script src="https://www.google.com/recaptcha/api.js?render={{ get_setting('google_recaptcha_api_key') }}"></script>
{% endblock %}