{% extends 'base.html.twig' %}

{% block headline %}
    {{ 'title.forgot_password'|trans({}, 'text') }}
{% endblock %}

{% block content %}
    <section class="login space">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="login-panel">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        {{ form_row(form.email) }}

                        <button type="submit" class="btn btn-danger">
                            {{ 'button.send_recovery_email'|trans({}, 'form') }}
                        </button>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!--Google Recaptcha Script-->
    <script src="https://www.google.com/recaptcha/api.js?render={{ get_setting('google_recaptcha_api_key') }}"></script>
{% endblock %}