{% extends 'base.html.twig' %}

{% block headline %}
    {{ 'title.login'|trans({}, 'text') }}
{% endblock %}

{% block content %}
    <section class="login space">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="login-panel">
                        <div class="icon text-center">
                            <img alt="Customer Login" src="{{ asset('build/images/icons/login-icon.svg') }}">
                        </div>

                        <h5 class="title text-center  mt-1 mb-3">{{ 'login.heading'|trans({}, 'text') }}</h5>

                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <form method="post" ref="loginForm">
                            <div class="form-group">
                                <label class="required" for="email">{{ 'label.email_or_pin_or_phone'|trans({}, 'form') }}</label>
                                <input type="text" class="form-control" id="email" name="email" value="{{ last_username|default }}" required/>
                            </div>

                            <div class="form-group">
                                <label class="required" for="password">{{ 'label.password'|trans({}, 'form') }}</label>
                                <div class="input-group" data-controller="toggle-password">
                                    <input type="password" class="form-control" id="password" name="password" data-target="toggle-password.passwordElement" required/>
                                    <div class="input-group-append">
                                    <span class="password-icon input-group-text">
                                        <i class="fa fa-eye" style="cursor: pointer;" data-target="toggle-password.buttonElement" data-action="click->toggle-password#toggle"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row my-1">
                                <div class="col-12">
                                    <a class="pull-right text-danger text-small" href="{{ path('customer_login.forgot_password') }}">{{ 'login.forgot_password'|trans({}, 'text') }}</a>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-danger">
                                    <i class="fa fa-address-book"></i>
                                    {{ 'button.login'|trans({}, 'form') }}
                                </button>

                                <hr>

                                <a href="{{ path('customer_registration.registration') }}" class="btn btn-secondary my-0">{{ 'button.register'|trans({}, 'form') }}</a>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        </form>

                        <div class="col-12">
                            <p class="text-center text-small mt-3 mb-0">{{ 'login.hint'|trans({}, 'text') }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
