{% extends 'base.html.twig' %}

{% block headline %}
    {{ 'title.login'|trans({}, 'text') }}
{% endblock %}

{% block content %}
    <section class="login space">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="login-panel">
                        <div class="icon text-center">
                            <img alt="Customer Login" src="{{ asset('build/images/icons/login-icon.svg') }}">
                        </div>

                        <h5 class="title text-center  mt-1 mb-3">{{ 'customer_login.step_two_heading'|trans({}, 'text') }}</h5>

                        <p class="text-muted text-small mb-4">
                            {{ 'customer_login.step_two.hint'|trans({}, 'text') }}
                        </p>

                        {% if invalidPassword == true %}
                            <div class="alert alert-danger">{{ 'customer_login.invalid_one_time_password'|trans({}, 'validators') }}</div>
                        {% endif %}

                        <form method="post" ref="loginForm">
                            <div class="form-group">
                                <label class="required" for="password">{{ 'label.password'|trans({}, 'form') }}</label>
                                <input type="text" class="form-control" id="password" name="password" data-target="toggle-password.passwordElement"/>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-danger">
                                    <i class="fa fa-address-book"></i>
                                    {{ 'button.login'|trans({}, 'form') }}
                                </button>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        </form>

                        <div class="col-12">
                            <p class="text-center text-small mt-4 mb-0">{{ 'login.hint'|trans({}, 'text') }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
