{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.messages'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">
                {{ 'headline.messages'|trans({}, 'text') }}
                <a href="{{ path('admin.messages.create') }}" class="btn btn-info btn-xs"><i
                            class="fa fa-plus-circle"></i> Add</a>
            </h2>

            <form class="form-inline justify-content-between" method="get">
                <label class="sr-only" for="subject">{{ 'label.subject'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="subject" name="subject"
                       placeholder="{{ 'placeholder.subject'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('subject') }}">

                <label class="sr-only" for="content">{{ 'label.content'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="content" name="content"
                       placeholder="{{ 'placeholder.content'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('content') }}">

                <label class="sr-only" for="email">{{ 'label.created_by'|trans({}, 'form') }}</label>
                <input type="text" class="form-control flex-grow-1 mb-2 mr-sm-2" id="created_by" name="created_by" placeholder="{{ 'placeholder.created_by'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('created_by') }}">

                <label class="sr-only" for="visible">{{ 'label.visible'|trans({}, 'form') }}</label>
                <select name="visible" id="visible" class="custom-select flex-grow-1 mb-2 mr-sm-2">
                    <option value="any">{{ 'option.any_status'|trans({}, 'form') }}</option>
                    <option value="1" {% if app.request.query.get('visible') == '1' %}selected{% endif %}>{{ 'option.visible'|trans({}, 'form') }}</option>
                    <option value="0" {% if app.request.query.get('visible') == '0' %}selected{% endif %}>{{ 'option.hidden'|trans({}, 'form') }}</option>
                </select>

                <a href="{{ path('admin.messages.index') }}" class="btn btn-secondary mb-2 mr-2"><i
                            class="fa fa-remove"></i> {{ 'button.clear'|trans({}, 'form') }}</a>
                <button type="submit" class="btn btn-primary mb-2"><i
                            class="fa fa-filter"></i> {{ 'button.filter'|trans({}, 'form') }}</button>
            </form>


            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th class="w-25">{{ 'column.subject'|trans({}, 'table') }}</th>
                    <th class="w-25">{{ 'column.message'|trans({}, 'table') }}</th>
                    <th>{{ 'column.visible'|trans({}, 'table') }}</th>
                    <th>{{ 'column.created_at'|trans({}, 'table') }}</th>
                    <th>{{ 'column.message_to'|trans({}, 'table') }}</th>
                    <th>{{ 'column.actions'|trans({}, 'table') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for message in messages %}
                    {# @var message \App\Entity\Message #}
                    <tr>
                        <td>{{ message.subject|limit_chars(150) }}</td>
                        <td>{{ message.content|limit_chars(150) }}</td>
                        <td>
                            {% if message.visible %}
                                <span class="badge badge-success">{{ 'option.visible'|trans({}, 'table') }}</span>
                            {% else %}
                                <span class="badge badge-warning">{{ 'option.hidden'|trans({}, 'table') }}</span>
                            {% endif %}
                        </td>
                        <td>{{ message.createdAt|formatted_date }}</td>
                        <td>
                            {% if message.toAllCustomers %}
                                {{ 'message_to.all_users'|trans({}, 'table') }}
                            {% else %}
                                {{ 'message_to.selected_users'|trans({}, 'table') }}
                            {% endif %}
                        </td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                   id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    {{ 'button.select'|trans({}, 'table') }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="{{ path('admin.messages.update', {'id': message.id}) }}"><i
                                                class="fa fa-pencil-square-o"></i> {{ 'button.edit'|trans({}, 'table') }}
                                    </a>
                                    <delete-link icon-class="fa fa-trash-o"
                                                 target-url="{{ path('admin.messages.delete', {id: message.id}) }}"
                                                 redirect-url="{{ path('admin.messages.index') }}"
                                                 confirmation-message="{{ 'confirmation_message.delete.messages'|trans({},'messages') }}">
                                        {{ 'button.delete'|trans({}, 'table') }}</delete-link>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan=6">{{ 'no_messages_found'|trans({}, 'table') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
