{% extends 'customer_profile/profile_base.html.twig' %}

{% block title %}{{ 'title.customer_profile.change_password'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block headline %}
    {{ 'headline.customer_profile.change_password'|trans({}, 'text') }}
{% endblock %}

{% block section %}
    <div class="col-xs-12 col-sm-8 col-md-7 no-gutter-xs profile-content">
        <div class="container pb-4">
            <h2 class="heading mb-4">
                {{ 'headline.customer_profile.change_password'|trans({}, 'text') }}
            </h2>

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-8 mb-3">
                    {{ form_row(form.oldPassword) }}
                    {{ form_row(form.newPassword.first) }}
                    {{ form_row(form.newPassword.second) }}
                </div>
            </div>

            <button class="btn btn-danger">{{ 'button.save'|trans({}, 'form') }}</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}