{% extends 'customer_profile/profile_base.html.twig' %}

{% block title %}{{ 'title.customer_profile.messages'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block headline %}
    {{ 'headline.customer_profile.messages'|trans({}, 'text') }}
{% endblock %}

{% block section %}
    <div class="col-xs-12 col-sm-8 col-md-7 no-gutter-xs profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="heading mb-4">
                        {{ 'headline.customer_profile.messages'|trans({}, 'text') }}
                    </h2>
                </div>
            </div>

            <div class="row">
                {# @var Message App\\DataTransferObject\\MessageProxy #}
                {% for message in messages %}
                    <div class="col-md-12 expandable-message">
                        <div class="row">
                            <div class="col-md-12">
                                <div
                                        class="bg-white expandable mb-3"
                                        data-controller="message"
                                        data-url="{{ path('customer_message.mark_as_read', {id: message.message.id}) }}"
                                >
                                    <h6 class="d-flex justify-content-between align-content-center arrow mb-0"
                                        data-action="click->message#toggleContent">
                                        <span
                                                class="align-self-center
                                            {% if message.read == false %}text-danger{% endif %}"
                                                data-target="message.title"
                                        >
                                            {{ message.message.subject }}
                                        </span>
                                        <i class="fa fa-angle-right fa-2x text-danger"
                                           data-target="message.arrow"></i>
                                    </h6>
                                    <small class="text-muted">{{ message.message.createdAt|formatted_date_time }}</small>
                                    <div class="not-visible mt-2"
                                         data-target="message.content">{{ message.message.content }}</div>
                                </div>

                                <hr>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-12 mt-3">
                        {{ 'customer_profile.no_messages_found'|trans({}, 'text') }}
                    </div>
                {% endfor %}

            </div>

            <div class="navigation">
                {{ knp_pagination_render(messages) }}
            </div>
        </div>
    </div>
{% endblock %}