{% extends 'customer_profile/profile_base.html.twig' %}

{% block title %}{{ 'title.customer_profile.my_credits'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block headline %}
    {{ 'headline.customer_profile.my_credits'|trans({}, 'text') }}
{% endblock %}

{% block section %}
    <div class="col-xs-12 col-sm-8 col-md-9 no-gutter-xs">
            <div class="section profile-content p-3">
                <h2 class="heading mb-2">
                    {{ 'customer_profile.my_credits.credit_applications'|trans({}, 'text') }}
                </h2>
                <h6 class="d-md-none">
                    <i class="fa fa-hand-pointer-o"></i>
                    <i class="fa fa-long-arrow-left"></i>
                    {{ 'my_credits.swipe_left_to_see_full_table'|trans({}, 'text') }}
                </h6>
                <table class="table mb-0 text-left table-fixed-width">
                    <thead>
                    <tr class="h6">
                        <th class="column-1"></th>
                        <th class="column-2">{{ 'column.application_date'|trans({}, 'table') }}</th>
                        <th class="column-3">{{ 'column.amount'|trans({}, 'table') }}</th>
                        <th class="column-4">{{ 'column.status'|trans({}, 'table') }}</th>
                        <th class="column-5"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for application in creditApplications %}
                        <tr class="h6 font-weight-lighter">
                            <td>
                                {% if application.needsCorrection or application.waitingForReview %}
                                    <span
                                            class="d-flex justify-content-center align-items-center text-danger font-weight-bold"
                                            style="cursor: pointer;"
                                            data-controller="toggle-file-upload-section"
                                            data-credit-id="{{ application.creditId }}"
                                            data-is-visible="true"
                                            data-action="click->toggle-file-upload-section#toggle"
                                    >
                                        <i class="fa fa-angle-right fa-2x d-inline mr-1" data-target="toggle-file-upload-section.arrow"></i>
                                    </span>
                                {% endif %}
                            </td>
                            <td>{{ application.applicationDate|formatted_date }}</td>
                            <td>{{ application.amount|number_format(2)|currency_symbol }}</td>
                            <td>
                                {{ (application.status|active_credit_status)|trans({}, 'text') }}
                            </td>
                            <td style="width: 20%;">
                                {% if application.pendingSigningInitialDocs %}
                                    <a href="{{ path('confirm_credit.confirm', {'erpId': application.creditId}) }}" class="btn btn-outline-danger w-100">
                                        {{ 'button.confirm_application'|trans({}, 'form') }}
                                    </a>
                                {% endif %}

                                {% if application.pendingSigningInitialDocsOnApproval %}
                                    <a href="{{ path('confirm_credit.confirm_on_approval', {'erpId': application.creditId}) }}" class="btn btn-outline-danger w-100">
                                        {{ 'button.confirm_application'|trans({}, 'form') }}
                                    </a>
                                {% endif %}

                                {% if application.pendingOfferConfirmation %}
                                    <a href="{{ path('credit_documents.accept_offer', {'erpId': application.creditId}) }}" class="btn btn-outline-danger w-100">
                                        {{ 'button.accept_offer'|trans({}, 'form') }}
                                    </a>
                                {% endif %}

                                {% if application.pendingSigningRegularDocs %}
                                    <a href="{{ path('credit_documents.sign_regular_documents', {'erpId': application.creditId}) }}" class="btn btn-outline-danger w-100">
                                        {{ 'button.sign_credit_documents'|trans({}, 'form') }}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>

                        {% if application.needsCorrection %}
                            <tr
                                class="d-none"
                                data-controller="show-hide-file-upload-section"
                                data-credit-id="{{ application.creditId }}"
                            >
                                <td colspan="5" class="text-center text-muted p-0">
                                    <table class="table repayment-plan text-left mb-0">
                                        <thead>
                                        <tr class="h6">
                                            <th class="column-1"></th>
                                            <th class="column-2">{{ 'column.file_type'|trans({}, 'table') }}</th>
                                            <th class="column-3">{{ 'column.file_status'|trans({}, 'table') }}</th>
                                            <th class="column-4"></th>
                                            <th class="column-5">{{ 'column.action'|trans({}, 'table') }}</th>
                                        </tr>
                                        </thead>
                                        <tbody class="table-active">
                                        {% for fileStatus in application.applicationFileStatuses|filter( item => item.rejected) %}
                                            <tr class="h6 font-weight-lighter">
                                                <td></td>
                                                <td>{{ fileStatus.fileType|credit_application_file_type|trans({}, 'text') }}</td>
                                                <td>{{ fileStatus.status|credit_application_file_status|trans({}, 'text') }}</td>
                                                <td></td>
                                                <td>
                                                    <file-upload-button
                                                            button-text="{{ 'button.re_upload'|trans({}, 'form') }}"
                                                            upload-url="{{ path('admin.online_credit_application_files.replace', {erpId: application.creditId, type: fileStatus.fileType}) }}"
                                                            :full-width="true"
                                                            redirect-url="{{ path('customer_profile.my_credits') }}"
                                                    >
                                                    </file-upload-button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        {% endif %}

                        {% if application.showCreditDocuments %}
                            <tr
                                    class="d-none"
                                    data-controller="show-hide-file-upload-section"
                                    data-credit-id="{{ application.creditId }}"
                            >
                                <td colspan="5" class="text-center text-muted p-0">
                                    {{ render(controller(
                                        'App\\Controller\\CreditDocumentsController::documentsForCredit',
                                        { 'erpId': application.creditId }
                                    )) }}
                                </td>
                            </tr>
                        {% endif %}
                    {% else %}
                        <tr>
                            <td colspan="4" class="pl-0">{{ 'customer_profile.my_credits.no_credit_applications'|trans({}, 'text') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="section mt-5 profile-content p-3">
                <h2 class="heading mb-2">
                    {{ 'customer_profile.my_credits.active_credits'|trans({}, 'text') }}
                </h2>
                <h6 class="d-md-none">
                    <i class="fa fa-hand-pointer-o"></i>
                    <i class="fa fa-long-arrow-left"></i>
                    {{ 'my_credits.swipe_left_to_see_full_table'|trans({}, 'text') }}
                </h6>
                <table class="table mb-0 table-fixed-width">
                    <thead>
                    <tr class="h6">
                        <th class="column-1"></th>
                        <th class="column-2">{{ 'column.contract_code'|trans({}, 'table') }}</th>
                        <th class="column-3">{{ 'column.amount'|trans({}, 'table') }}</th>
                        <th class="column-4">{{ 'column.payment'|trans({}, 'table') }}</th>
                        <th class="column-5">{{ 'column.action'|trans({}, 'table') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for activeCredit in activeCredits %}
                        <tr class="h6 font-weight-lighter" style="cursor:pointer;" data-controller="toggle-repayment-plan" data-action="click->toggle-repayment-plan#toggle" data-is-visible="false" data-contract="{{ activeCredit.contractCode }}">
                            <td>
                                <i class="fa fa-angle-right fa-2x" style="width:0!important;" data-target="toggle-repayment-plan.arrow"></i>
                            </td>
                            <td>{{ activeCredit.contractCode }}</td>
                            <td>{{ activeCredit.amount|number_format(2)|currency_symbol }}</td>
                            <td>{{ activeCredit.payment|number_format(2)|currency_symbol }}</td>
                            <td>
                                <button class="btn btn-outline-danger w-100" data-toggle="modal" data-target="#payment_amount_modal_{{ activeCredit.contractCode }}">{{ 'button.pay'|trans({}, 'form') }}</button>
                            </td>
                        </tr>

                        <tr data-controller="show-hide-repayment-plan" data-contract="{{ activeCredit.contractCode }}" class="d-none">
                            <td colspan="5" class="text-center text-muted">
                                <p class="h6">{{ 'repayment_plan'|trans({}, 'table') }}</p>
                                <p>
                                    {{ 'repayment_plan.employee'|trans({}, 'table') }}:
                                    {{ activeCredit.employee|default('n.a.') }}
                                    {% if activeCredit.employeeTelephone %},
                                        {{ 'repayment_plan.employee_telephone'|trans({}, 'table') }}:
                                        {{ activeCredit.employeeTelephone|default('n.a.') }}
                                    {% endif %}
                                </p>
                                <table class="table table-striped repayment-plan text-left">
                                    <thead>
                                    <tr class="h6">
                                        <th>{{ 'column.number'|trans({}, 'table') }}</th>
                                        <th>{{ 'column.deadline'|trans({}, 'table') }}</th>
                                        <th>{{ 'column.payment'|trans({}, 'table') }}</th>
                                        <th>{{ 'column.paid'|trans({}, 'table') }}</th>
                                        <th>{{ 'column.status'|trans({}, 'table') }}</th>
                                        <th>{{ 'column.days_delay'|trans({}, 'table') }}</th>
                                    </tr>
                                    </thead>
                                    <tbody class="h6 font-weight-lighter">
                                    {% for item in activeCredit.paymentPlan.items %}
                                        <tr>
                                            <td>{{ item.index }}</td>
                                            <td>{{ item.deadline|formatted_date }}</td>
                                            <td>{{ item.payment|number_format(2)|currency_symbol }}</td>
                                            <td>{{ item.paid|number_format(2)|currency_symbol }}</td>
                                            <td>{{ ('paymentplanitemstatus.'~item.status)|trans({}, 'text') }}</td>
                                            <td>{{ item.daysDelay }}</td>
                                        </tr>
                                    {% endfor %}
                                    {% if activeCredit.fines > 0 %}
                                        <tr class="border-bottom">
                                            <td colspan="6" class="text-center font-weight-bold">
                                                {{ 'active_credit.accumulated_fines'|trans({}, 'text') }}:
                                                <span class="text-danger">{{ activeCredit.fines|number_format(2)|currency_symbol }}</span>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr data-controller="show-hide-repayment-plan" data-contract="{{ activeCredit.contractCode }}" class="d-none" is="credit-repayment" :contract="{{ activeCredit.contractCode }}"></tr>
                        <tr data-controller="show-hide-repayment-plan" data-contract="{{ activeCredit.contractCode }}" class="d-none" is="credit-refinance" :contract="{{ activeCredit.contractCode }}"></tr>

                        {% if activeCredit.isOnlineChannel %}
                            <tr
                                    class="d-none"
                                    data-controller="show-hide-repayment-plan"
                                    data-contract="{{ activeCredit.contractCode }}"
                            >
                                <td colspan="5" class="text-center text-muted p-0">
                                    {{ render(controller(
                                        'App\\Controller\\CreditDocumentsController::documentsForCredit',
                                        { 'erpId': activeCredit.creditId }
                                    )) }}
                                </td>
                            </tr>
                        {% endif %}
                    {% else %}
                        <tr>
                            <td colspan="5" class="pl-0">{{ 'customer_profile.my_credits.there_are_no_active_credits'|trans({}, 'text') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% for activeCredit in activeCredits %}
                    <modal title="{{ 'credit_payment.enter_payment_amount'|trans({}, 'text') }}" :has-footer="false" :vertically-centered="true" identifier="payment_amount_modal_{{ activeCredit.contractCode }}">
                        <credit-repayment-amount-form contract="{{ activeCredit.contractCode }}" :initial-amount="{{ activeCredit.payment }}"></credit-repayment-amount-form>
                    </modal>
                {% endfor %}
            </div>

            <div class="section mt-5 profile-content p-3">
                <h2 class="heading mb-2">
                    {{ 'customer_profile.my_credits.last_completed_credit'|trans({}, 'text') }}
                </h2>
                <h6 class="d-md-none">
                    <i class="fa fa-hand-pointer-o"></i>
                    <i class="fa fa-long-arrow-left"></i>
                    {{ 'my_credits.swipe_left_to_see_full_table'|trans({}, 'text') }}
                </h6>
                <table class="table mb-0">
                    <thead>
                    <tr class="h6">
                        <th class="column-1"></th>
                        <th class="column-2">{{ 'column.contract_code'|trans({}, 'table') }}</th>
                        <th class="column-3">{{ 'column.amount'|trans({}, 'table') }}</th>
                        <th class="column-4">{{ 'column.status'|trans({}, 'table') }}</th>
                        <th class="column-5">{{ 'column.completed_date'|trans({}, 'table') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if lastCompletedCredit != null %}
                        <tr
                            class="h6 font-weight-lighter"
                            data-controller="toggle-repayment-plan"
                            data-action="click->toggle-repayment-plan#toggle"
                            data-is-visible="false"
                            data-contract="{{ lastCompletedCredit.contractCode }}"
                        >
                            <td>
                                <i class="fa fa-angle-right fa-2x" style="width:0!important;" data-target="toggle-repayment-plan.arrow"></i>
                            </td>
                            <td>{{ lastCompletedCredit.contractCode }}</td>
                            <td>{{ lastCompletedCredit.amount|number_format(2)|currency_symbol }}</td>
                            <td>{{ 'last_completed_credit.status_completed'|trans({}, 'text') }}</td>
                            <td>{{ lastCompletedCredit.dateCompleted|formatted_date }}</td>
                        </tr>
                        <tr
                                class="d-none"
                                data-controller="show-hide-repayment-plan"
                                data-contract="{{ lastCompletedCredit.contractCode }}"
                        >
                            <td colspan="5" class="text-center text-muted p-0">
                                {{ render(controller(
                                    'App\\Controller\\CreditDocumentsController::documentsForCredit',
                                    { 'erpId': lastCompletedCredit.creditId }
                                )) }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5" class="pl-0">{{ 'customer_profile.my_credits.no_last_completed_credit'|trans({}, 'text') }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>

        <div class="section mt-5 profile-content p-3">
            <h2 class="heading mb-2">
                {{ 'customer_profile.my_credits.bonus_points'|trans({}, 'text') }}

                <span class="text-danger pull-right">
                    <span class="text-uppercase">
                        {{ bonusPoints }}
                    </span>
                    <span class="font-weight-normal text-small">
                        {{ 'customer_profile.my_credits.bonus_points.points'|trans({}, 'text') }}
                    </span>

                </span>
            </h2>

            <table class="table mb-0">
                <tbody class="h6 font-weight-lighter">
                <tr>
                    <td class="pl-0">
                        {{ 'customer_profile.my_credits.see_how_to_use_bonus_points'|trans({}, 'text') }}
                        <a href="{{ path('loyalty_program.i_bonus') }}" class="text-danger">
                            {{ 'customer_profile.my_credits.bonus_points.here'|trans({}, 'text') }}.
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}