{% extends 'customer_profile/profile_base.html.twig' %}

{% block title %}{{ 'title.profile.personal_info'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block headline %}
    {{ 'headline.profile.personal_info'|trans({}, 'text') }}
{% endblock %}


{% block section %}
    <div class="col-xs-12 col-sm-8 col-md-9 no-gutter-xs profile-content">
        <div class="container pb-4">
            <h2 class="heading mb-4">
                {{ 'headline.profile.personal_info'|trans({}, 'text') }}
            </h2>
            {% form_theme form 'form/online_application_form_theme.html.twig' %}
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-12 mb-3">
                    <div class="form-row form-group-flex">
                        <div class="col-md-6">
                            {{ form_row(form.firstName) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.middleName) }}
                        </div>
                    </div>

                    <div class="form-row form-group-flex">
                        <div class="col-md-6">
                            {{ form_row(form.lastName) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.personalIdentificationNumber) }}
                        </div>
                    </div>

                    <div class="form-row form-group-flex">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.email) }}
                                {% if customer.isEmailActive == true %}
                                    <small class="text-danger d-block mt-n2 mb-1">
                                        <i class="fa fa-check"></i>
                                        {{ 'customer_profile.email_is_confirmed'|trans({}, 'text') }}
                                    </small>
                                {% else %}
                                    <small class="text-danger d-block mt-n2 mb-1">
                                        <i class="fa fa-times"></i>
                                        {{ 'customer_profile.email_is_not_confirmed'|trans({}, 'text') }}
                                        <span class="mx-1">|</span>
                                        <post-link redirect-url="{{ path('customer_profile.personal_info') }}" target-url="{{ path('customer_profile.resend_verification_mail') }}" link-class="text-danger text-decoration-underline">
                                            {{ 'button.resend_verification_email'|trans({}, 'form') }}
                                        </post-link>
                                    </small>
                                {% endif %}
                                {{ form_widget(form.email) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.telephone) }}
                                {% if customer.isPhoneActive == true %}
                                    <small class="text-danger d-block mt-n2 mb-1">
                                        <i class="fa fa-check"></i>
                                        {{ 'customer_profile.telephone_is_confirmed'|trans({}, 'text') }}
                                    </small>
                                {% else %}
                                    <small class="text-danger d-block mt-n2 mb-2 mb-1">
                                        <i class="fa fa-times"></i>
                                        {{ 'customer_profile.telephone_is_not_confirmed'|trans({}, 'text') }}
                                    </small>
                                {% endif %}
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">+380</span>
                                    </div>
                                    {{ form_widget(form.telephone) }}
                                </div>
                            </div>

                        </div>
                    </div>

                    {% if form.smsCode is defined and form.smsCode is not null %}
                        <div class="form-row form-group-flex">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.smsCode) }}
                                    <small class="text-danger d-block mt-n2 mb-1">
                                        <post-link redirect-url="{{ path('customer_profile.personal_info') }}"
                                                   target-url="{{ path('customer_profile.resend_verification_sms') }}"
                                                   link-class="text-danger text-decoration-underline">
                                            {{ 'button.resend_verification_code'|trans({}, 'form') }}
                                        </post-link>
                                    </small>
                                    {{ form_widget(form.smsCode) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <button class="btn btn-danger">{{ 'button.save'|trans({}, 'form') }}</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}