{% extends 'base.html.twig' %}

{% block title %}{{ 'title.customer_profile'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block headline %}
    {{ 'headline.customer_profile'|trans({}, 'text') }}
{% endblock %}
{% block content %}
    <section class="profile">
        <div class="container space">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 mb-3 mb-md-0">
                    <div class="profile-menu-wrapper px-3">
                        <div class="inline-block user-profile"><img
                                    src="{{ asset('build/images/icons/user_profile.png') }}"
                                    alt="Icon Profile"></div>
                        <div class="inline-block hello-user mt-3">
                            <div>{{ 'customer_profile.sidemenu.greeting'|trans({}, 'text') }},</div>
                            <div class="name">
                                {{ app.user.firstAndLastName }}
                            </div>
                        </div>
                        <ul class="profile-menu">
                            <li {% if app.request.get('_route') == 'customer_profile.my_credits' %} class="active" {% endif %}>
                                <a href="{{ path('customer_profile.my_credits') }}">{{ 'customer_profile.sidebar.my_credits'|trans({}, 'text') }}</a>
                            </li>
                            <li {% if app.request.get('_route') == 'customer_profile.messages' %} class="active" {% endif %}>
                                <a href="{{ path('customer_profile.messages') }}">
                                    {{ 'customer_profile.sidebar.messages'|trans({}, 'text') }}
                                    {% if unread_messages_count(app.user) > 0 %}
                                        <span
                                                class="badge badge-danger"
                                                data-controller="message-unread-count"
                                        >
                                            {{ unread_messages_count(app.user) }}
                                        </span>
                                    {% endif %}
                                </a>
                            </li>
                            <li {% if app.request.get('_route') == 'customer_profile.personal_info' %} class="active" {% endif %}>
                                <a href="{{ path('customer_profile.personal_info') }}">
                                    {{ 'customer_profile.sidebar.personal_info'|trans({}, 'text') }}
                                    {% if app.user.active == false %}
                                        <i class="fa fa-exclamation-circle text-danger" data-toggle="tooltip" title="{{ 'customer_account_is_inactive'|trans({}, 'text') }}"></i>
                                    {% endif %}
                                </a>
                            </li>
                            <li {% if app.request.get('_route') == 'customer_profile.change_password' %} class="active" {% endif %}>
                                <a href="{{ path('customer_profile.change_password') }}">{{ 'customer_profile.sidebar.change_password'|trans({}, 'text') }}</a>
                            </li>
                        </ul>
                        <div>
                            {% set creditData = credit_defaults() %}
                            <a href="{{ path('credits.credit_apply', {'slug': creditData.credit.slug}) }}" class="btn btn-danger btn-block my-2 px-0">{{ 'button.apply'|trans({}, 'form') }}</a>
                        </div>
                    </div>
                </div>
                {% block section %}{% endblock %}
            </div>
        </div>
    </section>
{% endblock %}