{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.departments'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">
                {{ 'headline.departments'|trans({}, 'text') }}
                <a href="{{ path('admin.departments.create') }}" class="btn btn-info btn-xs"><i class="fa fa-plus-circle"></i> Add</a>
            </h2>

            <form class="form-inline justify-content-between" method="get">
                <label class="sr-only" for="name">{{ 'label.name'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="name" name="name" placeholder="{{ 'placeholder.name'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('name') }}">

                <label class="sr-only" for="director">{{ 'label.director'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="director" name="director" placeholder="{{ 'placeholder.director'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('director') }}">

                <label class="sr-only" for="description">{{ 'label.description'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="description" name="description" placeholder="{{ 'placeholder.description'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('description') }}">

                <label class="sr-only" for="visible">{{ 'label.visible'|trans({}, 'form') }}</label>
                <select name="visible" id="visible" class="custom-select flex-grow-1 mb-2 mr-sm-2">
                    <option value="any">{{ 'option.any_status'|trans({}, 'form') }}</option>
                    <option value="1" {% if app.request.query.get('visible') == '1' %}selected{% endif %}>{{ 'option.visible'|trans({}, 'form') }}</option>
                    <option value="0" {% if app.request.query.get('visible') == '0' %}selected{% endif %}>{{ 'option.hidden'|trans({}, 'form') }}</option>
                </select>

                <a href="{{ path('admin.departments.index') }}" class="btn btn-secondary mb-2 mr-2"><i
                            class="fa fa-remove"></i> {{ 'button.clear'|trans({}, 'form') }}</a>
                <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-filter"></i> {{ 'button.filter'|trans({}, 'form') }}</button>
            </form>

            <form method="post" action="{{ path('admin.departments.order') }}">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>{{ 'column.name'|trans({}, 'table') }}</th>
                        <th>{{ 'column.director'|trans({}, 'table') }}</th>
                        <th>{{ 'column.description'|trans({}, 'table') }}</th>
                        <th>{{ 'column.visible'|trans({}, 'table') }}</th>
                        <th>{{ 'column.actions'|trans({}, 'table') }}</th>
                    </tr>
                    </thead>
                    <tbody data-controller="sortable">
                    {% for department in departments %}
                        {# @var department \App\Entity\Department #}
                        <tr>
                            <td>{{ department.name }}<input type="hidden" name="sortedDepartments[]" value="{{ department.id }}">
                            </td>
                            <td>{{ department.director }}</td>
                            <td>{{ department.description|limit_chars(100) }}</td>
                            <td>
                                {% if department.visible %}
                                    <span class="badge badge-success">{{ 'option.visible' | trans({}, 'table') }}</span>
                                {% else %}
                                    <span class="badge badge-warning">{{ 'option.hidden' | trans({}, 'table') }}</span>
                                {% endif %}
                            </td>
                            <td>
                                <div class="dropdown">
                                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                       id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        {{ 'button.select'|trans({}, 'table') }}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="{{ path('admin.departments.update', {'id': department.id}) }}"><i
                                                    class="fa fa-pencil-square-o"></i> {{ 'button.edit'|trans({}, 'table') }}
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">{{ 'no_departments_found'|trans({}, 'table') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary mt-2" {% if app.request.query.count > 0 %} disabled {% endif %}><i class="fa fa-sort-amount-desc"></i> {{ 'button.save_order'|trans({}, 'form') }}</button>
            </form>
        </div>
    </div>
{% endblock %}
