{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.update_department'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2>{{ 'headline.update_department'|trans({}, 'text') }}</h2>
                <tabs>
                    <tab name="{{ 'tab.content'|trans({}, 'text') }}" :selected="true">
                        <tabs>
                            {% for form in contentForms %}
                                <tab name="{{ form.vars.name }}" {% if loop.first %}:selected="true" {% endif %}
                                     parent="{{ 'tab.content'|trans({}, 'text') }}">
                                    {{ form_start(form) }}
                                    {{ form_row(form.name) }}
                                    {{ form_row(form.director) }}
                                    {{ form_row(form.description) }}
                                    <hr>
                                    {{ form_row(form.visible) }}

                                    <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                                    <a href="{{ path('admin.gifts.index') }}"
                                       class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                                    {{ form_end(form) }}
                                </tab>
                            {% endfor %}
                        </tabs>
                    </tab>
                    <tab name="{{ 'tab.cover_image'|trans({}, 'text') }}">
                        <div class="mt-3">
                            <file-upload-button
                                    upload-url="{{ path('admin.departments.upload_cover_image', {id: contentForms.ua.vars.data.id}) }}"
                                    redirect-url="{{ path('admin.departments.update', {id: contentForms.ua.vars.data.id}) }}"></file-upload-button>
                        </div>
                        {% if contentForms.ua.vars.data.image is not null %}
                            <img class="mt-3" src="{{ contentForms.ua.vars.data.image.filePath|imagine_filter('carousel') }}" alt="{{ contentForms.ua.vars.data.image.originalName }}" class="img-thumbnail">
                        {% else %}
                            <p>{{ 'no_cover_image_has_been_uploaded'|trans({}, 'text') }}</p>
                        {% endif %}
                    </tab>
                </tabs>
            </div>
        </div>
    </div>
{% endblock %}
