{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.position) }}
        {{ form_row(form.backgroundColorForm) }}
        {{ form_row(form.redirectUrl) }}
        {{ form_row(form.text) }}
    </div>

    <div class="col-md-6">
        {{ form_row(form.generalSettings) }}
    </div>

    <div class="col-md-12">
        <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
        <a href="{{ cancelUrl }}"
           class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
    </div>
</div>
{{ form_end(form) }}