{{ form_start(form) }}

{{ form_row(form.title) }}
{{ form_row(form.content) }}
{{ form_row(form.generalSettings) }}

<button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
<a href="{{ cancelUrl }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
{{ form_end(form) }}