{{ form_start(form) }}

<h5>{{ 'about_links'|trans({}, 'text') }}</h5>
<div class="mb-5" data-controller="sort-links">
    {% for link in form.firstColumn %}
        <div class="card mb-2">
            <div class="card-body bg-light">
                <div class="row">
                    <div class="col">
                        {{ form_widget(link.children.text) }}
                    </div>
                    <div class="col">
                        {{ form_widget(link.children.url) }}
                    </div>
                    <div class="col">
                        {{ form_widget(link.children.target) }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<h5>{{ 'credit_links'|trans({}, 'text') }}</h5>
<div class="mb-5" data-controller="sort-links">
    {% for link in form.secondColumn %}
        <div class="card mb-2">
            <div class="card-body bg-light">
                <div class="row">
                    <div class="col">
                        {{ form_widget(link.children.text) }}
                    </div>
                    <div class="col">
                        {{ form_widget(link.children.url) }}
                    </div>
                    <div class="col">
                        {{ form_widget(link.children.target) }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<h5>{{ 'job_opening_links'|trans({}, 'text') }}</h5>
<div class="mb-5" data-controller="sort-links">
    {% for link in form.thirdColumn %}
        <div class="card mb-2">
            <div class="card-body bg-light">
                <div class="row">
                    <div class="col">
                        {{ form_widget(link.children.text) }}
                    </div>
                    <div class="col">
                        {{ form_widget(link.children.url) }}
                    </div>
                    <div class="col">
                        {{ form_widget(link.children.target) }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
{{ form_end(form) }}