{{ form_start(form) }}
{{ form_row(form.text) }}

<button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
<a href="{{ cancelUrl }}"
   class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
{{ form_end(form) }}