{{ form_start(form) }}

<h5>{{ 'header_landing_page.links'|trans({}, 'text') }}</h5>
<div data-controller="sort-links">
    {% for link in form.links %}
        <div class="card mb-2">
            <div class="card-body bg-light">
                <div class="row">
                    <div class="col">
                        {{ form_widget(link.children.text) }}
                    </div>
                    <div class="col">
                        {{ form_widget(link.children.url) }}
                    </div>
                    <div class="col">
                        {{ form_widget(link.children.target) }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
<a href="{{ cancelUrl }}"
   class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
{{ form_end(form) }}