{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        {% for reason in form.reasons %}
            <div class="card mb-2">
                <div class="card-body bg-light">
                    {{ form_row(reason.prefix) }}
                    {{ form_row(reason.number) }}
                    {{ form_row(reason.statement) }}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="col-md-6">
        {{ form_row(form.generalSettings) }}
    </div>

    <div class="col-md-12">
        <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
        <a href="{{ cancelUrl }}"
           class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
    </div>
</div>
{{ form_end(form) }}