{% extends 'base.html.twig' %}

{% block title %}
    {{ 'public.title.vacancy_details'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}
{% endblock %}

{% block headline %}
    {{ 'public.title.vacancy_details'|trans({}, 'text') }}
{% endblock %}

{% block content %}
    <section class="jobs space">
        <div class="container">
            <div class="row">
                <div class="col-md-12 job-opening">
                    <div class="go-back">
                        <a href="{{ path('career.all') }}"><i class="fa fa-reply"
                                                              aria-hidden="true"></i>{{ 'job_opening.back_to_job_openings'|trans({}, 'text')|upper }}
                        </a>
                    </div>
                    <div class="job">
                        <div class="row">
                            <div class="col-xl-4 col-md-4">
                                <h3 class="title">{{ jobOpening['title'] | upper }}</h3>
                            </div>
                            <div class="col-xl-8 col-md-8 details-list">
                                <ul class="row details">
                                    <li class="col-xl-3"><span>{{ 'job_opening.city'|trans({}, 'text')|upper }}</span> {{ jobOpening['city'] }}</li>
                                    <li class="col-xl-3"><span>{{ 'job_opening.deadline'|trans({}, 'text')|upper }}</span> {{ jobOpening['deadline']|formatted_date }}</li>
                                    {% if jobOpening['salary'] is not empty and jobOpening['salary'] is not same as(0) %}
                                        <li class="col-xl-3"><span>{{ 'job_opening.salary'|trans({}, 'text')|upper }}</span> {{ jobOpening['salary'] }} {{ jobOpening['currency']|default('n/a') }}</li>
                                    {% endif %}
                                    {% if jobOpening['languages'] is not empty %}
                                        <li class="col-xl-3"><span>{{ 'job_opening.languages'|trans({}, 'text')|upper }}</span> {{ jobOpening['languages'] }}</li>
                                    {% endif %}
                                </ul>
                                <ul class="row details">
                                    {% if jobOpening['contactPerson'] is not empty %}
                                        <li class="col-xl-3"><span>{{ 'job_opening.contact_person'|trans({}, 'text')|upper }}</span> {{ jobOpening['contactPerson'] }}</li>
                                    {% endif %}
                                    {% if jobOpening['contactEmail'] is not empty %}
                                        <li class="col-xl-3"><span>{{ 'job_opening.contact_email'|trans({}, 'text')|upper }}</span> {{ jobOpening['contactEmail'] }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-md-12">
                                <div class="content">
                                    {{ jobOpening['description']|raw }}
                                </div>
                            </div>

                            <div class="col-md-12">
                                <a class="btn btn-danger job-btn-apply d-inline"
                                   href="{{ applicationUrl }}" target="_blank">{{ 'button.apply'|trans({}, 'form') }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

