{% extends 'base.html.twig' %}

{% block customSeoTags %}
    <meta name="title" content="Вакансії - iCredit"/>
    <meta name="description" content="Станьте частиною команди iCredit, переглянувши «запропоновані вакансії» на сайті або за номером ☎ 0800601810">
    <meta name="keywords" content="робота, зайнятість, вакансія, кар'єра, додатковий заробіток, кредитний консультант, директор філії, менеджер, спеціаліст, офіційна робота, команда">

    <meta property="og:title" content="Вакансії - iCredit"/>
    <meta property="og:description" content="Станьте частиною команди iCredit, переглянувши «запропоновані вакансії» на сайті або за номером ☎ 0800601810">
{% endblock %}

{% block title %}
    Вакансії | {{ 'page_title.symfony_starter'|trans({}, 'text') }}
{% endblock %}

{% block headline %}
    {{ 'public.title.job_openings'|trans({}, 'text') }}
{% endblock %}

{% block content %}
    <section class="jobs-intro space d-none d-md-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="job">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <img src="{{ asset('build/images/featured-job.jpg') }}" alt="" class="img-fluid" />
                            </div>
                            <div class="col-md-8">
                                <h5 class="title">{{ 'public.careers.credit_consultant.heading'|trans({}, 'text') | upper }}</h5>
                                <div>{{ 'public.careers.credit_consultant.title'|trans({}, 'text') }}</div>
                                <div class="desc">{{ 'public.careers.credit_consultant.description'|trans({}, 'text') }}</div>
                                <a href="{{ path('career.become_credit_consultant') }}"
                                   class="btn btn-danger">{{ 'public.careers.credit_consultant.button'|trans({}, 'text') }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="jobs space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="filter">
                        <div class="row justify-content-end">
                            <div class="col-auto">
                                <form class="form-inline d-flex justify-content-start">
                                    <label class="" for="city">{{ 'label.city'|trans({}, 'form') }}</label>
                                    <select name="city" id="city" class="custom-select" data-controller="query" data-query-parameter="city">
                                        <option value="" {% if app.request.query.get('city') == '' %}selected{% endif %}>{{ 'option.any_city'|trans({}, 'form') }}</option>
                                        {% for city in cities %}
                                            <option value="{{ city['id'] }}" {% if app.request.query.get('city') == city['id'] %}selected{% endif %}>{{ city[app.request.locale] }}</option>
                                        {% endfor %}
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for jobOpening in jobOpenings %}
                    {% include 'careers/job_opening/job_opening_details.html.twig' %}
                {% else %}
                    <div class="col-md-12">
                        {{ 'no_job_openings_found'|trans({}, 'text') }}
                    </div>
                {% endfor %}
            </div>

            {{ knp_pagination_render(jobOpenings) }}
        </div>
    </section>
{% endblock %}

