<div class="col-md-12 job-opening">

    <div class="job">
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <h3 class="title">{{ jobOpening['title'] | upper }}</h3>
            </div>
            <div class="col-xl-6 col-md-8">
                <ul class="row details">
                    <li class="col-md"><span>{{ 'job_opening.city'|trans({}, 'text') }}</span> {{ jobOpening['city'] }}</li>
                    <li class="col-md"><span>{{ 'job_opening.deadline'|trans({}, 'text') }}</span> {{ jobOpening['deadline']|formatted_date }}</li>
                </ul>
            </div>
            <div class="col-xl-2 col-md-12">
                <a href="{{ path('career.vacancy_details', {jobOpeningId: jobOpening['id']}) }}" class="btn btn-dark btn-sm btn-block job-btn-action" data-action="click->job-opening#toggleInfo">
                    {{ 'learn_more'|trans({},'text') }}
                </a>
            </div>
        </div>
    </div>
</div>