{% if item.module is not empty %}
    {% if item.module.visible == true %}
        {% if item.type == 'user_defined' %}
            {% set widthClass = item.module.width == 'full' ? 'container-fluid' : 'container' %}
            <section id="module_item_{{ item.id }}"
                    {% if item.module.backgroundImage is not null or item.module.backgroundImageMobile is not null %} data-controller="background"{% else %} style="background: {{ item.module.backgroundColor }};"{% endif %}
                    {% if item.module.backgroundImage is not null %}data-background-image="{{ item.module.backgroundImage }}"{% endif %}
                    {% if item.module.backgroundImageMobile is not null %}data-background-image-mobile="{{ item.module.backgroundImageMobile }}"{% endif %}
            >

                <div class="{{ widthClass }}">
                    <div class="ck-content py-3 px-3">
                        {{ render_module(item)|raw }}
                    </div>
                </div>

            </section>
        {% else %}
            {{ render_module(item) }}
        {% endif %}
    {% endif %}
{% endif %}