{% extends 'base.html.twig' %}

{% block title %}
    {{ page.metaTitle|default(page.name ~ ' | ' ~ 'page_title.symfony_starter'|trans({}, 'text')) }}
{% endblock %}

{% block SEO %}
    {% include 'seo_partial.html.twig' with {seo: page} %}
{% endblock %}

{% block headline %}
    {{ page.name }}
{% endblock %}

{% block content %}
    {% for item in page.moduleItems %}
        {% include 'user_defined_page/module_item.html.twig' %}
    {% endfor %}
{% endblock %}