{% extends 'landing_page_base.html.twig' %}

{% block title %}
    {{ page.metaTitle|default(page.name ~ ' | ' ~ 'page_title.symfony_starter'|trans({}, 'text')) }}
{% endblock %}

{% block SEO %}
    {% include 'seo_partial.html.twig' with {seo: page} %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block header %}
    {{ render_module(page.header) }}
{% endblock %}

{% block content %}
    {% for item in moduleItems %}
        {% include 'user_defined_page/module_item.html.twig' %}
    {% endfor %}
{% endblock %}

{% block footer %}
    {{ render_module(page.footer) }}
{% endblock %}