{% extends 'base.html.twig' %}

{% block title %}
    {{ 'customer_registration.title'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}
{% endblock %}

{% block headline %}
    {{ 'customer_registration.title'|trans({}, 'text') }}
{% endblock %}

{% block content %}
    <section class="contacts space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="contact-form">
                        {% form_theme form 'form/online_application_form_theme.html.twig' %}
                        {{ form_start(form) }}

                        <div class="heading mb-1">
                            {{ 'customer_registration.headline'|trans({}, 'text') }}
                        </div>
                        
                        <div class="mb-3">
                            <small>
                                {{ 'customer_registration.already_have_an_account'|trans({}, 'text') }}
                                {{ 'customer_registration.please_login'|trans({}, 'text') }}
                                <a href="{{ path('customer_login.login') }}" class="text-danger">
                                    {{ 'customer_registration.here'|trans({}, 'text') }}
                                </a>
                            </small>
                        </div>

                        {{ form_errors(form) }}

                        <div class="form-row form-group-flex">
                            <div class="col-md-4">
                                {{ form_row(form.firstName) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.middleName) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.lastName) }}
                            </div>
                        </div>

                        <div class="form-row form-group-flex">
                            <div class="col-md-4">
                                {{ form_row(form.personalIdentificationNumber) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.email) }}
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form_label(form.telephone) }}
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">+380</span>
                                        </div>
                                        {{ form_widget(form.telephone) }}
                                    </div>
                                    {{ form_help(form.telephone) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-row form-group-flex">
                            <div class="col-md-4">
                                {{ form_row(form.plainPassword.first) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.plainPassword.second) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <hr />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="hint">
                                    <i class="fa fa-asterisk fa-required"></i>
                                    {{ 'hint.field_is_required'|trans({}, 'form') }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group row terms custom-checkbox custom-control">
                            <div class="col-md-12">
                                <input class="custom-control-input" type="checkbox" value="yes"
                                       id="agreedToProcessingOfPersonalData" name="agreedToProcessingOfPersonalData"
                                       required>
                                <label class="custom-control-label font-weight-bold"
                                       for="agreedToProcessingOfPersonalData">
                                    {{ 'label.consent'|trans({}, 'form_long')|raw }}
                                    <i class="fa fa-asterisk fa-required"></i>
                                </label>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-4">
                                <a href="{{ path('credits.apply_now') }}"
                                   class="btn btn-secondary btn-block">
                                    {{ 'button.quick_application'|trans({}, 'form') }}
                                </a>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <button type="submit"
                                        class="btn btn-danger btn-block">{{ 'button.register'|trans({}, 'form') }}</button>
                            </div>
                        </div>

                        {{ form_row(form.captcha) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!--Google Recaptcha Script-->
    <script src="https://www.google.com/recaptcha/api.js?render={{ get_setting('google_recaptcha_api_key') }}"></script>
{% endblock %}
