{% extends 'base.html.twig' %}

{% block title %}
    {{ 'customer_registration.verify_telephone'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}
{% endblock %}

{% block headline %}
    {{ 'customer_registration.verify_telephone'|trans({}, 'text') }}
{% endblock %}

{% block content %}
    <section class="contacts space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="contact-form">
                        <div class="heading mb-1">
                            {{ 'customer_registration.verify_telephone.headline'|trans({}, 'text') }}
                        </div>
                        <div class="text-center mb-4">
                            {{ 'customer_registration.verify_telephone_text'|trans({}, 'text') }}
                        </div>

                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <p class="mb-0">
                                    1. {{ 'label.telephone'|trans({}, 'form') }}:
                                    {% if app.user.isPhoneActive == true %}
                                        <span class="text-success">{{ 'customer_profile.telephone_status_confirmed'|trans({}, 'text') }}</span>
                                    {% else %}
                                        <span class="text-danger">
                                            {{ 'customer_profile.telephone_status_not_confirmed'|trans({}, 'text') }}
                                        </span>
                                        <span class="mx-1 text-danger">|</span>
                                        <post-link redirect-url="{{ path('customer_registration.verification') }}"
                                                   target-url="{{ path('customer_profile.resend_verification_sms') }}"
                                                   link-class="text-danger text-decoration-underline">
                                            {{ 'button.resend_verification_code'|trans({}, 'form') }}
                                        </post-link>
                                    {% endif %}
                                </p>
                                {% if app.user.isPhoneActive == false %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ form_start(form, {attr: {class: 'px-0'}}) }}

                                            {{ form_errors(form) }}

                                            <div class="row form-group-flex">
                                                <div class="col-md-9">
                                                    {{ form_row(form.code) }}
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-danger d-inline m-0">{{ 'button.verify'|trans({}, 'form') }}</button>
                                                    </div>
                                                </div>
                                            </div>

                                            {{ form_row(form.captcha) }}
                                            {{ form_end(form) }}
                                        </div>
                                    </div>

                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <p class="mt-4 mb-4">
                                    2. {{ 'label.email'|trans({}, 'form') }}:
                                    {% if app.user.isEmailActive == true %}
                                        <span class="text-success">{{ 'customer_profile.email_status_confirmed'|trans({}, 'text') }}</span>
                                    {% else %}
                                        <span class="text-danger">{{ 'customer_profile.email_status_not_confirmed'|trans({}, 'text') }}</span>
                                        <span class="mx-1 text-danger">|</span>
                                        <post-link redirect-url="{{ path('customer_registration.verification') }}"
                                                   target-url="{{ path('customer_profile.resend_verification_mail') }}"
                                                   link-class="text-danger text-decoration-underline">
                                            {{ 'button.resend_verification_email'|trans({}, 'form') }}
                                        </post-link>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="{{ path('credits.apply_now') }}"
                                   class="btn btn-secondary btn-block">{{ 'button.quick_application'|trans({}, 'form') }}</a>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <a href="{{ path('customer_registration.proceed_to_application') }}" class="btn btn-danger btn-block mt-2 mt-md-0">{{ 'button.proceed'|trans({}, 'form') }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!--Google Recaptcha Script-->
    <script src="https://www.google.com/recaptcha/api.js?render={{ get_setting('google_recaptcha_api_key') }}"></script>
{% endblock %}