{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.change_password'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div>
        <div class="row">
            <div class="col-md-12">
                <h2>{{ 'headline.change_password'|trans({}, 'text') }}: {{ user.fullName }}</h2>
                {{ form_start(form) }}
                {{ form_row(form.plain_password) }}

                <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                <a href="{{ path('admin.users.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
