{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.manage_roles'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2>{{ 'headline.create_user'|trans({}, 'text') }}</h2>

                {{ form_start(form) }}
                {{ form_row(form.profile) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password) }}
                {{ form_row(form.active) }}

                <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                <a href="{{ path('admin.users.index') }}"
                   class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
