{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.users'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}   {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">
                {{ 'headline.users'|trans({}, 'text') }}
                <a href="{{ path('admin.users.create') }}" class="btn btn-info btn-xs"><i class="fa fa-plus-circle"></i> Add</a>
            </h2>
            <form class="form-inline d-flex justify-content-between" method="get">
                <label class="sr-only" for="name">{{ 'label.name'|trans({}, 'form') }}</label>
                <input type="text" class="form-control flex-grow-1 mb-2 mr-sm-2" id="name" name="name" placeholder="{{ 'placeholder.name'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('name') }}">

                <label class="sr-only" for="email">{{ 'label.email'|trans({}, 'form') }}</label>
                <input type="text" class="form-control flex-grow-1 mb-2 mr-sm-2" id="name" name="email" placeholder="{{ 'placeholder.email'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('email') }}">

                <label class="sr-only" for="status">{{ 'label.status'|trans({}, 'form') }}</label>
                <select name="status" id="status" class="custom-select flex-grow-1 mb-2 mr-sm-2">
                    <option value="any">{{ 'option.any_status'|trans({}, 'form') }}</option>
                    <option value="1" {% if app.request.query.get('status') == '1' %}selected{% endif %}>{{ 'option.active'|trans({}, 'form') }}</option>
                    <option value="0" {% if app.request.query.get('status') == '0' %}selected{% endif %}>{{ 'option.inactive'|trans({}, 'form') }}</option>
                </select>

                <label class="sr-only" for="role">{{ 'label.role'|trans({}, 'form') }}</label>
                <select name="role" id="role" class="custom-select flex-grow-1 mb-2 mr-sm-2">
                    <option value="">{{ 'option.any_role'|trans({}, 'form') }}</option>
                    {% for key, value in roles %}
                        <option value="{{ key }}"
                                {% if app.request.query.get('role') == key %}selected{% endif %}>{{ value|trans({}, 'form') }}</option>
                    {% endfor %}
                </select>

                <a href="{{ path('admin.users.index') }}" class="btn btn-secondary mb-2 mr-2"><i
                            class="fa fa-remove"></i> {{ 'button.clear'|trans({}, 'form') }}</a>
                <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-filter"></i> {{ 'button.filter'|trans({}, 'form') }}</button>
            </form>

            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>{{ 'column.name'|trans({}, 'table') }}</th>
                    <th>{{ 'column.email'|trans({}, 'table') }}</th>
                    <th>{{ 'column.registration_date'|trans({}, 'table') }}</th>
                    <th>{{ 'column.roles'|trans({}, 'table') }}</th>
                    <th>{{ 'column.status'|trans({}, 'table') }}</th>
                    <th>{{ 'column.actions'|trans({}, 'table') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    {# @var user \App\Entity\User #}
                    <tr>
                        <td>{{ user.profile is not null ? user.profile.fullName : 'n/a' }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.createdAt|date }}</td>
                        <td>
                            {% for role in user.roles %}
                                <span class="badge badge-info">{{ role }}</span>
                            {% endfor %}
                        </td>
                        <td>
                            {% if user.active %}
                                <span class="badge badge-success">{{ 'status.active'|trans({}, 'table') }}</span>
                            {% else %}
                                <span class="badge badge-warning">{{ 'status.inactive'|trans({}, 'table') }}</span>
                            {% endif %}
                        </td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                   id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    {{ 'button.select'|trans({}, 'table') }}
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="{{ path('admin.users.profile', {'id': user.id}) }}"><i class="fa fa-user-circle-o"></i> {{ 'button.profile'|trans({}, 'table') }}</a>
                                    <a class="dropdown-item" href="{{ path('admin.users.manage_roles', {'id': user.id}) }}"><i class="fa fa-user-secret"></i> {{ 'button.manage_roles'|trans({}, 'table') }}</a>
                                    <a class="dropdown-item" href="{{ path('admin.users.manage_groups', {'id': user.id}) }}"><i class="fa fa-legal"></i> {{ 'button.manage_permission_groups'|trans({}, 'table') }}</a>
                                    {% if user.active %}
                                        <form action="{{ path('admin.users.toggle_status', {'id': user.id}) }}" method="post">
                                            <button type="submit" class="dropdown-item"><i class="fa fa-toggle-off"></i> {{ 'button.deactivate'|trans({}, 'table') }}</button>
                                        </form>
                                    {% else %}
                                        <form action="{{ path('admin.users.toggle_status', {'id': user.id}) }}" method="post">
                                            <button type="submit" class="dropdown-item"><i class="fa fa-toggle-on"></i> {{ 'button.activate'|trans({}, 'table') }}</button>
                                        </form>
                                    {% endif %}
                                    <a class="dropdown-item" href="{{ path('static_pages.home_page', {_switch_user: user.email}) }}"><i class="fa fa-user-plus"></i> {{ 'button.login_as_users'|trans({}, 'table') }}</a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a class="dropdown-item" href="{{ path('admin.users.change_password', {'id': user.id}) }}"><i class="fa fa-key"></i> {{ 'button.change_password'|trans({}, 'table') }}</a>
                                        {% if app.user != user %}
                                            <delete-link icon-class="fa fa-trash-o"
                                                         target-url="{{ path('admin.users.delete', {id: user.id}) }}"
                                                         redirect-url="{{ path('admin.users.index') }}"
                                                         confirmation-message="{{ 'confirmation_message.delete.user'|trans({},'messages') }}">
                                                {{ 'button.delete'|trans({}, 'table') }}</delete-link>
                                        {% endif %}

                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{{ 'no_users_found'|trans({}, 'table') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation">
                {{ knp_pagination_render(users) }}
            </div>
        </div>
    </div>
{% endblock %}
