{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.manage_roles'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div>
        <div class="row">
            <div class="col-md-12">
                <h2>{{ 'headline.manage_roles'|trans({}, 'text') }}: {{ user.fullName }}</h2>
                <form class="mt-2 p-2" method="post">
                    {% for key, value in roles %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{ key }}" id="{{ key }}" name="roles[]" {% if user.hasRole(key) %}checked{% endif %}>
                            <label class="form-check-label" for="{{ key }}">{{ value|trans({}, 'form') }}</label>
                        </div>
                    {% endfor %}

                    <div class="mt-4">
                        <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                        <a href="{{ path('admin.users.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
