<p style="margin-bottom: 0cm"><span lang="uk-UA"><span style="font-size: 10pt;"><span style="font-family: Verdana;">Фінансова
грамотність є необхідною умовою для
підвищення добробуту народу. Спеціально
для наших клієнтів ми розробили фінансовий
словник, який допоможе розібратися в
тонкощах фінансування і кредитування.<br/><br/></span></span><span style="font-size: 10pt;"><span
        style="font-family: Verdana;"><span lang="uk-UA"><b>Агент</b></span><span lang="uk-UA">
- представник установи, що виконує ділові
доручення, комерційний посередник.<br/><br/></span><span lang="uk-UA"><b>Активи
підприємства</b></span><span lang="uk-UA"> - власність
підприємства, яка відображається в
активі балансу. Розрізняють три види
активів: (1) поточні активи, що складаються
з грошового капіталу і засобів, які
можуть бути швидко трансформовані в
готівку; (2) основний капітал з тривалим
терміном служби, який використовується
підприємством при виробництві товарів
та послуг; (3) інші активи, які включають
нематеріальні активи, що не мають
натурально-речової форми, але цінні для
підприємства, капіталовкладення в інші
компанії, довгострокові цінні папери,
витрати майбутніх періодів і різні інші
активи.<br/><br/></span><span lang="uk-UA"><b>Акція</b></span><span lang="uk-UA">
- цінний папір, що випускається акціонерним
товариством, дає право його власнику,
члену акціонерного товариства, брати
участь в його управлінні і отримувати
дивіденди з прибутку. Розрізняють акції:
іменні, звичайні, на пред'явника,
привілейовані, акції підприємства і
акції трудового колективу.<br/><br/></span><span lang="uk-UA"><b>Амортизаційні
кошти</b></span><span lang="uk-UA"> - фінансові кошти,
що виділяються спеціальним призначенням
для збереження і відновлення основних
фондів підприємства.<br/><br/></span><span lang="uk-UA"><b>Ануїтет</b></span><span lang="uk-UA">
- вид періодичної сплати фіксованої або
варійованої суми, яка витікає з контрактних
зобов'язань.<br/><br/></span><span lang="uk-UA"><b>Аннуітант
</b></span><span lang="uk-UA">- фізична особа, якій
виплачується ануїтет (рента).<br/><br/></span><span lang="uk-UA"><b>Аудиторський
контроль</b></span><span lang="uk-UA"> - незалежний
позавідомчий фінансовий контроль, що
проводиться аудиторською фірмою, що
має ліцензію на здійснення аудиторської
діяльності. Основне завдання - встановлення
достовірності, повноти і реальності
бухгалтерської та фінансової звітності
і дотримання фінансового законодавства.<br/><br/></span><span lang="uk-UA"><b>Баланс
</b></span><span lang="uk-UA">- основний комплексний
документ бухгалтерського обліку, що
містить інформацію про склад і вартісну
оцінку засобів підприємства (активів)
і джерела їх покриття (пасив).<br/><br/></span><span lang="uk-UA"><b>Балансовий
прибуток</b></span><span lang="uk-UA"> - загальна
сума прибутку підприємства за всіма
видами діяльності, відображена в
балансі.<br/><br/></span><span lang="uk-UA"><b>Банк</b></span><span lang="uk-UA">
- фінансова організація, яка:<br/>- Зосереджує
тимчасово вільні грошові кошти (вклади);<br/>-
Надає їх у тимчасове користування у
вигляді кредитів (позик);<br/>- Є посередником
у взаємних платежах і розрахунках між
підприємствами, установами та окремими
особами.<br/><br/></span><span lang="uk-UA"><b>Банківський
кредит</b></span><span lang="uk-UA"> - кредит, що
видається у вигляді грошових позик
господарським суб'єктам і іншим
позичальникам.<br/><br/></span><span lang="uk-UA"><b>Безготівковий
грошовий обіг</b></span><span lang="uk-UA"> - частина
грошового обороту, в якому рух грошей
здійснюється у вигляді перерахувань
по рахунках в кредитних установах і
заліків взаємних вимог.<br/><br/></span><span lang="uk-UA"><b>Бездоганний
платник</b></span><span lang="uk-UA"> - клієнт, який
платить погашення без прострочень.<br/><br/></span><span lang="uk-UA"><b>Бенефіціар</b></span><span lang="uk-UA">
- особа, якій призначений грошовий
платіж, одержувач грошей.<br/><br/></span><span lang="uk-UA"><b>Біржовий
курс</b></span><span lang="uk-UA"> - продажна ціна
цінного паперу на фондовій біржі.<br/><br/></span><span lang="uk-UA"><b>Бюджет</b></span><span lang="uk-UA">
- форма утворення і витрачання фонду
грошових коштів, призначених для
фінансового забезпечення завдань і
функцій держави та місцевого
самоврядування.<br/><br/></span><span lang="uk-UA"><b>Бюджетна
заявка</b></span><span lang="uk-UA"> - документ, що
готується одержувачем бюджетних коштів
і подається на затвердження розпоряднику
бюджетних коштів.<br/><br/></span><span lang="uk-UA"><b>Валова
виручка</b></span><span lang="uk-UA"> - повна сума
грошових надходжень від реалізації
товарної продукції, робіт, послуг і
матеріальних цінностей.<br/><br/></span><span lang="uk-UA"><b>Валовий
прибуток</b></span><span lang="uk-UA"> - частина
валового доходу підприємства, яка
залишається у нього після вирахування
всіх обов'язкових витрат.<br/><br/></span><span lang="uk-UA"><b>Валовий
внутрішній продукт (ВВП)</b></span><span lang="uk-UA">
- узагальнюючий макроекономічний
показник, що відображає сумарну ринкову
вартість кінцевих продуктів і послуг,
вироблених на території країни, незалежно
від національної приналежності
функціонуючих в її народному господарстві
юридичних і фізичних осіб за певний
період часу. ВВП - модифікація іншого
макроекономічного показника - валового
національного продукту (ВНП), від якого
відрізняється на величину сальдо
розрахунків із зарубіжними країнами.<br/><br/></span><span lang="uk-UA"><b>Валовий
дохід</b></span><span lang="uk-UA"> - різниця між
виручкою підприємства від реалізації
продукції і матеріальними витратами
на виробництво. Включає заробітну плату
і прибуток або заробітну плату і чистий
дохід. Іншими словами, валовий дохід
відрізняється від чистого доходу на
величину заробітної плати.<br/><br/></span><span lang="uk-UA"><b>Позабюджетні
спеціальні фонди</b></span><span lang="uk-UA"> -
грошові фонди, які мають строго цільове
призначення. Їх мета полягає в розширенні
соціальних послуг населенню, стимулювання
розвитку відсталих галузей інфраструктури,
забезпечення додатковими ресурсами
пріоритетних галузей економіки.
Найважливіші соціальні фонди: Пенсійний
фонд, Фонд соціального страхування,
фонди обов'язкового медичного
страхування.<br/><br/></span><span lang="uk-UA"><b>Позабюджетні
кошти</b></span><span lang="uk-UA"> - доходи, одержувані
бюджетними організаціями крім асигнувань,
що виділяються з бюджету.<br/><br/></span><span lang="uk-UA"><b>Виплати</b></span><span lang="uk-UA">
- видача грошових коштів фізичним особам
за зобов'язаннями держави, бюджетних,
позабюджетних та інших організацій.<br/><br/></span><span lang="uk-UA"><b>Гарантійне
зобов'язання (доручення) </b></span><span lang="uk-UA">-
форма забезпечення банківської
позички.<br/><br/></span><span lang="uk-UA"><b>Державний
кредит</b></span><span lang="uk-UA"> - грошові
відносини, що виникають у держави з
юридичними і фізичними особами в зв'язку
з мобілізацією тимчасово вільних
грошових коштів у розпорядження органів
державної влади та їх використанням на
фінансування державних витрат. Основні
форми державного кредиту - позики і
казначейські позики.<br/><br/></span><span lang="uk-UA"><b>Дебітор</b></span><span lang="uk-UA">
- суб'єкт господарських відносин, який
має заборгованість перед іншими
суб'єктами.<br/><br/></span><span lang="uk-UA"><b>Дебіторська
заборгованість</b></span><span lang="uk-UA"> - рахунки
для отримання суми, належної підприємству
від покупців за товари і послуги, продані
в кредит. У балансі підприємства
записуються як поточні активи.<br/><br/></span><span lang="uk-UA"><b>Діючі
зобов'язання</b></span><span lang="uk-UA"> - витратні
зобов'язання, що підлягають виконанню
в плановому періоді в обсязі, встановленому
відповідно до чинних нормативно-правових
актів, договорів та угод.<br/><br/></span><span lang="uk-UA"><b>Грошова
система</b></span><span lang="uk-UA"> - система, що
включає в себе грошову одиницю, порядок
емісії готівки, організацію та регулювання
грошового обігу.<br/>Грошовий обіг - рух
грошей при виконанні ними своїх функцій
у готівковій та безготівковій формі.<br/><br/></span><span lang="uk-UA"><b>Гроші</b></span><span lang="uk-UA">
- особливий товар, що стихійно виділився
з товарного світу і виконує роль
загального еквівалента. Їх сутність
виражається у функціях міри вартості,
засобу обігу, засобу накопичення і
заощадження, коштів платежу, світових
грошей.<br/><br/></span><span lang="uk-UA"><b>Додана
вартість</b></span><span lang="uk-UA"> - приріст
вартості, що створюється на певному
підприємстві в процесі виробництва
продукції, виконання робіт, надання
послуг.<br/><br/></span><span lang="uk-UA"><b>Документальна
ревізія</b></span><span lang="uk-UA"> - система
обов'язкових контрольних дій за
документальною і фактичною перевіркою
законності, доцільності скоєних у
періоді господарських та фінансових
операцій.<br/><br/></span><span lang="uk-UA"><b>Довгострокові
фінансові вкладення</b></span><span lang="uk-UA"> -
розраховані на тривалий період часу
фінансові вкладення в статутні капітали
підприємств і комерційних організацій,
довгострокові позики.<br/><br/></span><span lang="uk-UA"><b>Заборгованість
за відсотками</b></span><span lang="uk-UA"> - сума
відсотків, нарахована на розмір
заборгованості за основним боргом і ще
не оплачена на певну дату.<br/><br/></span><span lang="uk-UA"><b>Позика
</b></span><span lang="uk-UA">- в цивільному праві -
договір про надання або отримання грошей
в борг на певних умовах.<br/><br/></span><span lang="uk-UA"><b>Позичальник
</b></span><span lang="uk-UA">- одержувач кредиту,
позики, що приймає на себе зобов'язання,
що гарантує повернення отриманих коштів,
оплату наданого кредиту.<br/><br/></span><span lang="uk-UA"><b>Заставний
кредит </b></span><span lang="uk-UA">- іпотечний
кредит, в якому в якості застави виступають
орендні договори або іпотечні сертифікати
- цінні папери, що котируються на біржах
і випущені на підставі іпотечних
договорів.<br/><br/></span><span lang="uk-UA"><b>Закрита
заставна</b></span><span lang="uk-UA"> - заставна,
під яку не може бути випущено ніяких
додаткових боргових зобов'язань.<br/><br/></span><span lang="uk-UA"><b>Закриття
кредиту</b></span><span lang="uk-UA"> - припинення
видачі кредиту, закриття кредитної
лінії.<br/><br/></span><span lang="uk-UA"><b>Витрати</b></span><span lang="uk-UA">
- сукупність виробничих виплат у
готівковій та безготівковій формі в
зв'язку з виробництвом продукції,
наданням послуг, виконанням робіт і їх
реалізацією.<br/><br/></span><span lang="uk-UA"><b>Залік</b></span><span lang="uk-UA">
- погашення взаємних зобов'язань двох
або кількох юридичних і фізичних
осіб.<br/><br/></span><span lang="uk-UA"><b>Захищені статті
видатків</b></span><span lang="uk-UA"> - витратні
статті бюджету, фінансування яких
здійснюється в повному обсязі.<br/><br/></span><span lang="uk-UA"><b>Заявлена
​​річна процентна ставка</b></span><span lang="uk-UA">
- процентна ставка в річному обчисленні,
використовувана для розрахунку процентних
платежів за позикою.<br/><br/></span><span lang="uk-UA"><b>Надлишок
кредиту</b></span><span lang="uk-UA"> - ситуація на
ринку кредитів, що характеризується
перевищенням кредитних пропозицій над
попитом на них.<br/><br/></span><span lang="uk-UA"><b>Інновація</b></span><span lang="uk-UA">
- нововведення, комплексний процес
створення, поширення і використання
нововведень (нового практичного засобу)
для задоволення людських потреб, що
змінюються під впливом розвитку
суспільства.<br/><br/></span><span lang="uk-UA"><b>Інфляція</b></span><span lang="uk-UA">
- кризовий стан грошової системи,
обумовлене диспропорціональністю
розвитку суспільного виробництва, що
виявляється перш за все в загальному і
нерівномірному зростанні цін на товари
і послуги, що веде до перерозподілу
національного доходу на користь певних
соціальних груп. Розрізняють повзучу,
галопуючу і гіперінфляцію.<br/><br/></span><span lang="uk-UA"><b>Інфраструктура</b></span><span lang="uk-UA">
- комплекс галузей господарства, які
обслуговують промислове (або будь-яке
інше) виробництво, а також населення.
Включає транспорт, зв'язок, торгівлю,
матеріально-технічне забезпечення,
науку, освіту, охорону здоров'я.<br/><br/></span><span lang="uk-UA"><b>Іпотека</b></span><span lang="uk-UA">
- застава нерухомого майна з метою
отримання позики, кредиту.<br/><br/></span><span lang="uk-UA"><b>Касові
виконання бюджету</b></span><span lang="uk-UA"> -
організація та здійснення прийому,
зберігання і видачі бюджетних
коштів.<br/><br/></span><span lang="uk-UA"><b>Касовий
розрив</b></span><span lang="uk-UA"> - тимчасовий
недолік бюджетних коштів, необхідних
для фінансування чергових витрат.<br/><br/></span><span lang="uk-UA"><b>Комерційний
кредит</b></span><span lang="uk-UA"> - товарна форма
кредиту, що виникає при відстрочці
платежу; боргове зобов'язання, оформлене
векселем.<br/><br/></span><span lang="uk-UA"><b>Конкурентоспроможність</b></span><span lang="uk-UA">
- здатність здійснювати свою діяльність
в умовах ринкових відносин і отримувати
при цьому прибуток, достатній для
науково-технічного вдосконалення
виробництва, стимулювання працівників
і підтримки продукції на високому
якісному рівні.<br/><br/></span><span lang="uk-UA"><b>Конкуренція</b></span><span lang="uk-UA">
- елемент ринкового механізму, пов'язаний
з формуванням господарських пропорцій
на основі суперництва підприємств,
фірм, за кращі і вигідніші умови
застосування капіталу, реалізації
продукції і послуг.<br/><br/></span><span lang="uk-UA"><b>Короткострокові
зобов'язання</b></span><span lang="uk-UA"> - зобов'язання,
термін погашення яких настає протягом
короткого проміжку, зазвичай в межах
одного року.<br/><br/></span><span lang="uk-UA"><b>Короткострокові
фінансові вкладення</b></span><span lang="uk-UA"> -
фінансові вкладення, розраховані на
короткий період, високоліквідні цінні
папери, в тому числі короткострокові
казначейські зобов'язання держави,
облігації, акції, тимчасова фінансова
допомога іншим підприємствам, депозитні
сертифікати, отримані короткострокові
векселі.<br/><br/></span><span lang="uk-UA"><b>Короткостроковий
кредит</b></span><span lang="uk-UA"> - кредит, що
видається на термін до одного року,
призначений для формування оборотних
коштів підприємств і фірм.<br/></span><br/></span></span></span>
</p><p lang="uk-UA" style="margin-bottom: 0cm"><span style="font-family: Verdana;"><span style="font-size: 10pt;"><br/>
</span></span></p><p style="margin-bottom: 0cm"><span style="font-family: Verdana;"><span style="font-size: 10pt;"><span
        lang="uk-UA"><br/></span><span lang="uk-UA"><b>Кредит</b></span><span lang="uk-UA">
- відношення між кредитором і позичальником,
при якому кредитор передає позичальникові
гроші або речі, а позичальник зобов'язується
в певний термін повернути таку ж суму
грошей або рівну кількість речей того
ж роду і якості.<br/></span><span lang="uk-UA"><b>Кредит</b></span><span lang="uk-UA">
- сума грошей, передана в борг.<br/><br/></span><span lang="uk-UA"><b>Виданий
під товарні запаси</b></span><span lang="uk-UA"> -
гарантований короткостроковий кредит
на покупку товарних запасів. Розрізняють
три види забезпечення такого кредиту:<br/>-
Повне право на утримання товарних
запасів;<br/>- Розписка в отриманні майна
в довірче управління;<br/>- Фінансування
зберігання товарів, що служать
забезпеченням кредиту, в приміщенні
позичальника під контролем осіб,
уповноважених банком.<br/><br/></span><span lang="uk-UA"><b>Кредитний
консультант</b></span><span lang="uk-UA"> - агент, що
представляє інтереси компанії і видає
від її імені кредити.<br/><br/></span><span lang="uk-UA"><b>Кредитування</b></span><span lang="uk-UA">
- одна з форм фінансового забезпечення
відтворювальних витрат, при якій витрати
суб'єкта господарювання покриваються
за рахунок банківських позик, наданих
на засадах платності, терміновості і
поворотності.<br/><br/></span><span lang="uk-UA"><b>Кредиторська
заборгованість</b></span><span lang="uk-UA"> -
заборгованість, яка виникає при
розрахунках з постачальниками; тимчасове
використання в грошовому обороті
підприємства коштів кредитора.<br/><br/></span><span lang="uk-UA"><b>Кредитний
споживчий союз </b></span><span lang="uk-UA">- відкрите
добровільне пайове товариство, що
об'єднує матеріальні кошти фізичних
осіб для взаємного кредитування пайовиків
і носить некомерційний характер.<br/><br/></span><span lang="uk-UA"><b>Криза
платоспроможності</b></span><span lang="uk-UA"> -
взаємні неплатежі підприємств, викликані
дефіцитом готівкової або безготівкової
грошової маси.<br/><br/></span><span lang="uk-UA"><b>Ліквідність</b></span><span lang="uk-UA">
- здатність перетворення майна в
готівку.<br/><br/></span><span lang="uk-UA"><b>Ліміт
кредитування</b></span><span lang="uk-UA"> - гранична
сума видачі кредиту або залишків
заборгованості в плановому
періоді.<br/><br/></span><span lang="uk-UA"><b>Готівково-грошовий
обіг</b></span><span lang="uk-UA"> - рух готівки в
сфері обігу і виконання нею двох функцій:
засобу обігу і засобу платежу.<br/><br/></span><span lang="uk-UA"><b>Податок
</b></span><span lang="uk-UA">- обов'язковий внесок
платника податків до бюджету і позабюджетні
фонди у визначених законом розмірах та
у встановлені терміни. Висловлює грошові
відносини, що складаються у держави з
юридичними і фізичними особами в зв'язку
з перерозподілом національного доходу
і мобілізацією фінансових ресурсів у
бюджетні та позабюджетні фонди держави.
див:<br/><br/></span><span lang="uk-UA"><b>Забезпеченість
кредиту</b></span><span lang="uk-UA"> - види і форми
гарантованих зобов'язань позичальника
перед кредитором (банком) по відшкодуванню
суми позикових коштів (кредиту) у випадках
їх можливого неповернення
позичальником.<br/><br/></span><span lang="uk-UA"><b>Оборотність</b></span><span lang="uk-UA">
- показник, що характеризує використання
оборотних коштів, швидкість або тривалість
обороту на підприємстві.<br/><br/></span><span lang="uk-UA"><b>Оборотна
касова готівка</b></span><span lang="uk-UA"> - вид
обов'язкових бюджетних резервів,
призначених для безперебійного
фінансування видатків бюджету при
виникненні тимчасових касових
розривів.<br/><br/></span><span lang="uk-UA"><b>Оборотні
кошти</b></span><span lang="uk-UA"> - такі активи, як
сировина, матеріали, паливо, тара,
незавершене виробництво, витрати
майбутніх періодів та ін .; фонди обігу
- товари (на складі і у відвантаженні) і
грошові кошти (в касі підприємства, на
його розрахунковому рахунку та інших
рахунках, у розрахунках).<br/><br/></span><span lang="uk-UA"><b>Оборотний
капітал</b></span><span lang="uk-UA"> - частка капіталу
підприємства, вкладена в поточні активи,
фактично всі оборотні кошти. Чистий
оборотний капітал являє собою різницю
між поточними активами і поточними
(короткостроковими) зобов'язаннями.<br/><br/></span><span lang="uk-UA"><b>Обслуговування
боргу</b></span><span lang="uk-UA"> - виплата відсотків
і погашення основної суми боргів за
певний звітний період.<br/><br/></span><span lang="uk-UA"><b>Оплата
праці </b></span><span lang="uk-UA">- форма грошової
або натуральної винагороди
працівників.<br/><br/></span><span lang="uk-UA"><b>Виправдовувальні
документи</b></span><span lang="uk-UA"> - документи,
що підтверджують факт здійснення
господарських операцій.<br/><br/></span><span lang="uk-UA"><b>Організація</b></span><span lang="uk-UA">
- юридична особа, яка має у власності,
господарському віданні або оперативному
управлінні відокремлене майно і
відповідає за своїми зобов'язаннями
цим майном, має самостійний баланс або
кошторис.<br/><br/></span><span lang="uk-UA"><b>Залишкова
вартість</b></span><span lang="uk-UA"> - різниця між
первісною вартістю основних засобів і
сумою зносу; сума, яку підприємство
розраховує отримати від продажу активів
(основного капіталу) в кінці корисного
терміну їх служби.<br/><br/></span><span lang="uk-UA"><b>Оцінка
фінансового стану</b></span><span lang="uk-UA"> -
спосіб, що дозволяє розкрити фінансове
благополуччя і динаміку розвитку
організації.<br/><br/></span><span lang="uk-UA"><b>Черговість
платежів</b></span><span lang="uk-UA"> - встановлена
​​послідовність списання коштів з
рахунку підприємства при наявності
декількох строкових та прострочених
платежів і недостатності коштів для їх
повного погашення.<br/><br/></span><span lang="uk-UA"><b>Пенсія</b></span><span lang="uk-UA">
- гарантована щомісячна виплата грошових
сум для матеріального забезпечення
громадян у зв'язку зі старістю,
інвалідністю, вислугою років та смертю
годувальника.<br/><br/></span><span lang="uk-UA"><b>Платіжний
оборот</b></span><span lang="uk-UA"> - сукупність
всіх грошових платежів в економіці
країни.<br/><br/></span><span lang="uk-UA"><b>Підзвітні
особи</b></span><span lang="uk-UA"> - працівники
організації, отримали авансом готівкові
гроші на майбутні витрати.<br/><br/></span><span lang="uk-UA"><b>Погашення</b></span><span lang="uk-UA">
- виплати по кредиту.<br/><br/></span><span lang="uk-UA"><b>Посібник</b></span><span lang="uk-UA">
- регулярна або одноразова грошова
виплата, що надається громадянам країни
в зв'язку з тимчасовою непрацездатністю,
вагітністю та пологами, при народженні
дитини, по догляду за дитиною та
ін.<br/><br/></span><span lang="uk-UA"><b>Підприємництво</b></span><span lang="uk-UA">
- діяльність, пов'язана з виробництвом
і реалізацією продукції, виконанням
робіт, наданням послуг. Носить регулярний
характер, орієнтована на одержання
прибутку.<br/><br/></span><span lang="uk-UA"><b>Підприємство</b></span><span lang="uk-UA">
- є юридичною особою самостійний
господарський суб'єкт, створений для
виробництва продукції, виконання робіт
і надання послуг з метою задоволення
суспільних потреб і отримання
прибутку.<br/><br/></span><span lang="uk-UA"><b>Преференція</b></span><span lang="uk-UA">
- пільга чи надання особливого податкового
режиму для групи господарюючих суб'єктів,
що дозволяють їм протягом зазначеного
часу не нести частину податкових
зобов'язань.<br/><br/></span><span lang="uk-UA"><b>Прибуток</b></span><span lang="uk-UA">
- кінцевий фінансовий результат діяльності
підприємства; визначається як різниця
між виручкою і витратами.<br/><br/></span><span lang="uk-UA"><b>Прийняті
зобов'язання</b></span><span lang="uk-UA"> - плановане
збільшення обсягу чинних зобов'язань
в плановому періоді.<br/><br/></span><span lang="uk-UA"><b>Прогнозування</b></span><span lang="uk-UA">
- науково обгрунтоване передбачення
ймовірного розвитку подій або явищ на
основі статистичних, соціальних,
економічних та інших досліджень.<br/><br/></span><span lang="uk-UA"><b>Прострочена
заборгованість</b></span><span lang="uk-UA"> —
заборгованість, що не погашена в
термін.<br/><br/></span><span lang="uk-UA"><b>Процентна
ставка </b></span><span lang="uk-UA">- відносна
величина процентних платежів на позиковий
капітал за певний період.</span>
</span></span></p><p style="margin-bottom: 0cm"><span style="font-family: Verdana;"><span style="font-size: 10pt;"><br/>
</span></span></p><p style="margin-bottom: 0cm"><span style="font-family: Verdana;"><span style="font-size: 10pt;"><span
        lang="uk-UA"><b>Профіцит
бюджету</b></span><span lang="uk-UA"> - перевищення
доходів бюджету над його видатками.
Див. Дефіцит бюджету.<br/><br/></span><span lang="uk-UA"><b>Розпорядник
бюджетних коштів</b></span><span lang="uk-UA"> -
керівник органу державної влади, органу
місцевого самоврядування, який має
право розподіляти бюджетні кошти по
підвідомчих одержувачам бюджетних
коштів, а також використовувати бюджетні
кошти за їх цільовим призначенням
відповідно до кошторису доходів і
видатків на утримання свого апарату
управління.<br/><br/></span><span lang="uk-UA"><b>Витратні
зобов'язання</b></span><span lang="uk-UA"> - обумовлені
законом, іншим нормативно-правовим
актом, договором або угодою обов'язку
України, суб'єкта Держави, муніципального
утворення надати фізичним і юридичним
особам, органам державної влади (органів
місцевого самоврядування) кошти
відповідного бюджету (державного
позабюджетного фонду, територіального
державного позабюджетного фонду).<br/><br/></span><span lang="uk-UA"><b>Витрати</b></span><span lang="uk-UA">
- витрати організації, що призводять до
зменшення її коштів або збільшення її
зобов'язань.<br/><br/></span><span lang="uk-UA"><b>Витрати
бюджету</b></span><span lang="uk-UA"> - економічні
відносини, пов'язані з розподілом фонду
грошових коштів держави і його
використанням за галузевим, відомчим,
цільовим і територіальним призначенням.
Чи включаються витрати на фінансування
народного господарства, соціально-культурних
заходів (освіта, охорона здоров'я,
соціальне забезпечення), оборону країни,
утримання органів управління і
правоохоронних органів, витрати по
державному внутрішньому боргу, витрати
на надання фінансової підтримки
територіям та ін.<br/><br/></span><span lang="uk-UA"><b>Розрахункові
документи</b></span><span lang="uk-UA"> - оформлені
в письмовому вигляді доручення,
розпорядження щодо перерахування
грошових коштів у безготівковому порядку
на оплату товарів, робіт і
послуг.<br/><br/></span><span lang="uk-UA"><b>Рентабельність</b></span><span lang="uk-UA">
- один з основних вартісних показників
ефективності виробництва. Характеризує
рівень віддачі витрат, вкладених в
процес виробництва, і реалізації
продукції, робіт і послуг.<br/><br/></span><span lang="uk-UA"><b>Рефінансування
</b></span><span lang="uk-UA">- погашення старої
заборгованості шляхом прийняття нових
зобов'язань.<br/><br/></span><span lang="uk-UA"><b>Розпис
бюджету </b></span><span lang="uk-UA">- основний
оперативний план розподілу доходів-витрат
по підрозділах бюджетної класифікації,
в якому проставляються терміни надходження
- податків та інших платежів і витрачання
бюджетних коштів протягом
року.<br/><br/></span><span lang="uk-UA"><b>Самооподаткування</b></span><span lang="uk-UA">
- форма добровільної участі громадян в
заходах місцевого характеру по
соціально-культурному будівництву та
благоустрою.<br/><br/></span><span lang="uk-UA"><b>Страхування</b></span><span lang="uk-UA">
- сукупність заходів, спрямованих па
запобігання ризикам, створення резервних
фондів матеріальних і фінансових
ресурсів та ін.<br/><br/></span><span lang="uk-UA"><b>Самофінансування</b></span><span lang="uk-UA">
- один з методів фінансового забезпечення
відтворювальних витрат, заснований па
використанні суб'єктами господарювання
власних фінансових ресурсів. При
недостатності власних коштів підприємства
використовують фінансові ресурси,
залучені на основі випуску цінних
паперів.<br/><br/></span><span lang="uk-UA"><b>Збалансованість
бюджету</b></span><span lang="uk-UA"> - принцип
формування і виконання бюджету, що
складається в кількості відповідно
бюджетних доходів джерел їх
фінансування.<br/><br/></span><span lang="uk-UA"><b>Ощадний
банк</b></span><span lang="uk-UA"> - кредитно-фінансова
установа, призначена для акумуляції
заощаджень населення і коштів підприємств
та їх ефективного розміщення для
отримання прибутку.<br/><br/></span><span lang="uk-UA"><b>Кошторис</b></span><span lang="uk-UA">
- фінансовий документ, що містить
інформацію про освіту і витрачання
грошових коштів відповідно до їх
цільового призначення.<br/><br/></span><span lang="uk-UA"><b>Кошторис
витрат і доходів</b></span><span lang="uk-UA"> -
фінансовий план установи (організації),
що здійснює некомерційну діяльність.<br/><br/></span><span lang="uk-UA"><b>Власність</b></span><span lang="uk-UA">
- правовідносини, що виникають з приводу
володіння, користування і розпорядження
майном.<br/></span><span lang="uk-UA"><b><br/>Соціальне
забезпечення</b></span><span lang="uk-UA"> - система
розподільних відносин, в процесі яких
за рахунок частини національного доходу
утворюються і використовуються громадські
фонди грошових коштів для матеріального
забезпечення громадян в старості, по
інвалідності, у зв'язку з втратою
годувальника та в інших випадках,
встановлених законом.<br/><br/></span><span lang="uk-UA"><b>Поточна
процентна ставка</b></span><span lang="uk-UA"> -
процентна ставка, що встановлюється за
позикою в разі її негайного
надання.<br/><br/></span><span lang="uk-UA"><b>Утримання</b></span><span lang="uk-UA">
- сума перестрахування, яка розраховується
згідно з договором ексцедента
збитку.<br/>Відстрочка повернення боржникові
переданого в заставу майна в разі
невиконання боржником зобов'язань в
строк.<br/><br/></span><span lang="uk-UA"><b>Посилення
кредиту</b></span><span lang="uk-UA"> - купівля
фінансової гарантії великої страхової
компанії з метою залучення капіталу.<br/><br/></span><span lang="uk-UA"><b>Умовна
процентна ставка</b></span><span lang="uk-UA"> -
зобов'язання, що не дає право кредитору
на фіксований відсоток. При цьому боржник
визнає плаваючий відсоток в залежності
від результатів економічної діяльності
своєї фірми.<br/><br/></span><span lang="uk-UA"><b>Філія
кредитної організації </b></span><span lang="uk-UA">-
відокремлений підрозділ, що розташований
поза місцем знаходження кредитної
організації і здійснює від її імені всі
або частину банківських операцій,
передбачених ліцензією, виданою цієї
кредитної організації.<br/><br/></span><span lang="uk-UA"><b>Фінансово-кредитна
організація</b></span><span lang="uk-UA"> - державна
чи приватна, комерційна організація,
уповноважена здійснювати фінансові
операції з кредитування, депонування
вкладів, ведення розрахункових рахунків,
купівлі і продажу валюти і цінних
паперів, надання фінансових послуг та
ін. Розрізняють такі фінансово-кредитні
організації: банки, фінансові компанії,
інвестиційні фонди, ощадні каси, пенсійні
фонди, взаємні фонди, страхові
компанії.<br/>Функції кредиту - перерозподіл
грошових коштів між підприємствами,
галузями і районами, а також ефективне
використання тимчасово вільних коштів;<br/>-
Заміщення дійсних грошей кредитними
грошима (банкнотами) і кредитними
операціями (безготівковими
розрахунками).<br/><br/></span><span lang="uk-UA"><b>Цільова
позика</b></span><span lang="uk-UA"> - державна позика,
кошти від розміщення якої призначені
для досягнення конкретних господарських
цілей, вирішення соціально-економічних
завдань, обумовлених, зазначених при
випуску позики.<br/><br/></span><span lang="uk-UA"><b>Цільовий
кредит</b></span><span lang="uk-UA"> - кредит, надання
якого обумовлене не тільки умовою
своєчасного повернення позики і виплати
відсотків по ній, а й додатковими умовами,
що висуваються кредитором.<br/><br/></span><span lang="uk-UA"><b>Ціна
кредиту</b></span><span lang="uk-UA"> - сума, яку
позичальник сплачує за користування
кредитом.<br/>Основна частина вартості
кредиту - частина вартості, яка виплачується
безпосередньо кредитору.<br/>Додаткова
частина вартості кредиту - частина
вартості, яка надходить третім особам.
В ціну товару, що можуть також включатися
приховані елементи вартості кредиту,
компенсуючі для кредиторів зменшення
номінального розміру процентної
ставки.<br/>Вартість кредиту складається
з:<br/>- Процентної ставки;<br/>- Комісії за
зобов'язання: 0.1-0.3% річних виплачується
банку-кредитору за зобов'язання
зарезервувати і надати позичальнику
необхідні кредити протягом встановленого
терміну;<br/>- Комісії за управління:
0.1-0.3% виплачується банку-менеджеру, який
проводить організаційну роботу при
кредитуванні декількома банками;<br/>-
Страхової премії;<br/>- Різних зборів.<br/><br/></span><span lang="uk-UA"><b>Часткове
погашення кредиту</b></span><span lang="uk-UA"> - в
казначейському рефінансуванні - сума,
на яку номінальна вартість цінних
паперів, що підлягають погашенню,
перевищує номінальну вартість проданих
цінних паперів.<br/><br/></span><span lang="uk-UA"><b>Чиста
вигода рефінансування</b></span><span lang="uk-UA">
- чиста поточна вартість заощаджень від
рефінансування.<br/><br/></span><span lang="uk-UA"><b>Ефективна
процентна ставка</b></span></span></span><span lang="uk-UA"><span style="font-size: 10pt;"><span
        style="font-family: Verdana;"> -
ставка по кредитах, що включає витрати
на обслуговування кредиту: банківські
комісії тощо<br/>Річна ставка складних
відсотків, яка використовується в якості
виміру прибутковості фінансової
операції.</span></span>
</span></p><p><span style="font-family: Verdana;">




</span></p><p style="margin-bottom: 0cm"><br/>
</p>
<a target="_blank" href="http://manyweb.ru/">
    <img src="http://manyweb.ru/manyweb_ru.gif" alt="Наш сайт в каталоге manyweb.ru" height="31" width="88" border="0"/></a>
<a href="http://glavboard.ru"><img src="http://links.glavboard.ru/glavboardlink.gif" alt="GlavBoard.ru" height="31"
                                   width="88" border="0"/></a>
<a target="_blank" href="http://495ru.ru/"><img src="http://links.495ru.ru/495link.gif" border="0" height="31"
                                                width="88" alt="доска объявлений"/></a>