<p class="MsoBodyText"><b><span style="font-size: 10pt;"><span style="font-family: Verdana;">7 порад для вибору
швидких кредитів</span></span><o:p></o:p></b></p><p class="MsoBodyText"><span style="font-size: 10pt;"><span style="font-family: Verdana;"><b>Корисні поради з
отримання швидкого кредиту від i</b><b><span lang="EN-US">Credit</span></b><b><span lang="RU">.</span></b></span></span></p><p class="MsoBodyText"><span style="font-size: 10pt;"><span style="font-family: Verdana;">Швидкі кредити —
маленькі суми, що видаються компаніями, основна діяльність яких — видача
дрібних кредитів на короткі періоди.</span></span></p><p class="MsoBodyText"><span style="font-size: 10pt;"><span style="font-family: Verdana;">Процедура отримання
кредиту дуже проста: тільки при наявності паспорту та коду; погашення
відбувається однаковими щотижневими внесками. Швидкі кредити використовуються
найчастіше на покриття невідкладних витрат.</span></span></p><p class="MsoBodyText"><span style="font-size: 10pt;"><span style="font-family: Verdana;">Представляємо Вам
декілька корисних порад, котрих необхідно дотримуватися при отриманні швидких
кредитів.</span></span></p><p class="MsoBodyText" style="margin-left:36.0pt;text-indent:-18.0pt;mso-list:
l0 level1 lfo1;tab-stops:list 36.0pt"><!--[if !supportLists]--><span style="font-size: 10pt;"><span style="font-family: Verdana;">1.<span style="font-variant-numeric: normal; font-stretch: normal; line-height: normal;">&nbsp;&nbsp;</span></span></span><span style="font-size: 10pt;"><span style="font-family: Verdana;"><b>Уважно
вибирайте компанію, в якій збираєтеся брати кредит!</b></span></span></p><p class="MsoBodyText"><span style="font-size: 10pt;"><span style="font-family: Verdana;">Порадьтеся з близкими
та друзями, котрі брали швидкі кредити. Пошукайте в інтернеті активні компанії
- інформація про них повинна бути проста, доступна й прозора.</span></span></p><p class="MsoBodyText"><span style="font-size: 10pt;"><span style="font-family: Verdana;">Після того, як Ви
зупините свій вибір на декількох компаніях, обов”язково перевірте, чи є у даних
компаній свідоцтво, яке дає право на видачу кредитних засобів.</span></span></p><p class="MsoBodyText" style="margin-left:36.0pt;text-indent:-18.0pt;mso-list:
l1 level1 lfo2;tab-stops:list 36.0pt"><!--[if !supportLists]--><span style="font-size: 10pt;"><span style="font-family: Verdana;">2.<span style="font-variant-numeric: normal; font-stretch: normal; line-height: normal;">&nbsp;&nbsp;</span></span></span><span style="font-size: 10pt;"><span style="font-family: Verdana;"><b>Порівняйте
пропозиції декількох компаній до прийняття Вами остаточного рішення!</b></span></span></p><p class="MsoBodyText"><span style="font-size: 10pt;"><span style="font-family: Verdana;">Поросіть пропозиції на
одну суму та період кредиту. Найважливіші елементи в ньому:</span></span></p><ul><li class="MsoBodyText" style="margin-left: 36pt; text-indent: -18pt;"><span style="font-size: 10pt;"><span style="font-family: Verdana;"><span style="font-variant-numeric: normal; font-stretch: normal; line-height: normal;">&nbsp; &nbsp; &nbsp;</span></span></span><span style="font-size: 10pt;"><span style="font-family: Verdana;">розмір та
кількість погашальних внесків;</span></span></li><li class="MsoBodyText" style="margin-left: 36pt; text-indent: -18pt;"><span style="font-size: 10pt;"><span style="font-family: Verdana;"><span style="font-variant-numeric: normal; font-stretch: normal; line-height: normal;">&nbsp; &nbsp; &nbsp;</span></span></span><span style="font-size: 10pt;"><span style="font-family: Verdana;">загальна сума
повернення - сума всіх внесків за період. Наскільки менше загальна сума
повернення, настільки вигідніший кредит, що пропонується.</span></span></li><li class="MsoBodyText" style="margin-left: 36pt; text-indent: -18pt;"><span style="font-size: 10pt;"><span style="font-family: Verdana;"><span style="font-variant-numeric: normal; font-stretch: normal; line-height: normal;">&nbsp; &nbsp; &nbsp;</span></span></span><span style="font-size: 10pt;"><span style="font-family: Verdana;">вартість
одного кредиту включає відсоток, комісії за 1 рік. За допомогою цього показника
Ви можете порівняти вартість різних кредитів. Наскільки нижче відсоток,
настільки вигідніше буде кредит.</span></span></li></ul><p class="MsoBodyText" style="margin-left:36.0pt;text-indent:-18.0pt;mso-list:
l3 level1 lfo4;tab-stops:list 36.0pt"><!--[if !supportLists]--><span style="font-size: 10pt;"><span style="font-family: Verdana;">3.<span style="font-variant-numeric: normal; font-stretch: normal; line-height: normal;">&nbsp;&nbsp;&nbsp;</span></span></span><span style="font-size: 10pt;"><span style="font-family: Verdana;"><b>Обміркуйте
і вирішіть, внесок якого розміру зможете собі дозволити!</b></span></span></p><p class="MsoBodyText"><span style="font-size: 10pt;"><span style="font-family: Verdana;">Простіш за все оцінити
чи зможете Ви спокійно сплачувати внески по кредиту, зробивши наступні
розрахунки:</span></span></p><p class="MsoBodyText"><span style="font-size: 10pt;"><span style="font-family: Verdana;">Доходи, що отримуєте -
Витрати, що робите = Залишкова сума.</span></span></p><p class="MsoBodyText"><span style="font-size: 10pt;"><span style="font-family: Verdana;">Якщо внески менше
залишкової суми, то у Вас не виникне проблем з погашенням кредиту.</span></span></p><p class="MsoBodyText"><span style="font-size: 10pt;"><span style="font-family: Verdana;"><i>Приклад:<o:p></o:p></i></span></span></p><p class="MsoBodyText"><span style="font-size: 10pt;"><span style="font-family: Verdana;"><i>Ви отримуєте 5000
грн. зарплатні на місяць,<o:p></o:p></i></span></span></p><p class="MsoBodyText"><span style="font-size: 10pt;"><span style="font-family: Verdana;"><i>У Вас є витрати на
продукти харчування, рахунки, транспорт та інше, котрі дорівнюють 3000 грн.,
сума, що Вам залишається — 2000 грн., і внесок менший за 2000 грн. не утруднить
Вас.</i></span></span></p><p class="MsoBodyText"><span style="font-size: 10pt;"><span style="font-family: Verdana;">Для Вашої зручності Ви
зможете знайти докладний приклад розрахунку місячного бюджету нижче.</span></span></p><p class="MsoBodyText" style="margin-left:36.0pt;text-indent:-18.0pt;mso-list:
l4 level1 lfo5;tab-stops:list 36.0pt"><!--[if !supportLists]--><span style="font-size: 10pt;"><span style="font-family: Verdana;">4.<span style="font-variant-numeric: normal; font-stretch: normal; line-height: normal;">&nbsp;&nbsp;</span></span></span><span style="font-size: 10pt;"><span style="font-family: Verdana;"><b>Запитуйте
всі документи, які Вам має надати кредитор!</b></span></span></p><p class="MsoBodyText"><span style="font-size: 10pt;"><span style="font-family: Verdana;">Документи, що Вам мають
надати, наступні:</span></span></p><ul><li class="MsoBodyText" style="margin-left: 36pt; text-indent: -18pt;"><span style="font-size: 10pt;"><span style="font-family: Verdana;"><span style="font-variant-numeric: normal; font-stretch: normal; line-height: normal;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></span></span><!--[endif]--><span style="font-size: 10pt;"><span style="font-family: Verdana;">копія
свідоцтва на надання фінансових послуг;</span></span></li><li class="MsoBodyText" style="margin-left: 36pt; text-indent: -18pt;"><span style="font-size: 10pt;"><span style="font-family: Verdana;"><span style="font-variant-numeric: normal; font-stretch: normal; line-height: normal;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></span></span><!--[endif]--><span style="font-size: 10pt;"><span style="font-family: Verdana;">кредитний
договір;</span></span></li><li class="MsoBodyText" style="margin-left: 36pt; text-indent: -18pt;"><span style="font-size: 10pt;"><span style="font-family: Verdana;"><span style="font-variant-numeric: normal; font-stretch: normal; line-height: normal;">&nbsp; &nbsp; &nbsp; &nbsp; </span></span></span><span style="font-size: 10pt;"><span style="font-family: Verdana;">графік
погашення.</span></span></li></ul><p class="MsoBodyText" style="margin-left:36.0pt;text-indent:-18.0pt;mso-list:
l6 level1 lfo7;tab-stops:list 36.0pt"><!--[if !supportLists]--><span style="font-size: 10pt;"><span style="font-family: Verdana;">5.<span style="font-variant-numeric: normal; font-stretch: normal; line-height: normal;">&nbsp;&nbsp;&nbsp;</span></span></span><span style="font-size: 10pt;"><span style="font-family: Verdana;"><b>Уважно
ознайомтеся зі всіма документами, що надають Вам до підписання!</b></span></span></p><p class="MsoBodyText"><span style="font-size: 10pt;"><span style="font-family: Verdana;">Уважно всі документи до
їх підписання! Це обов”язково.</span></span></p><p class="MsoBodyText" style="margin-left:36.0pt;text-indent:-18.0pt;mso-list:
l7 level1 lfo8;tab-stops:list 36.0pt"><!--[if !supportLists]--><span style="font-size: 10pt;"><span style="font-family: Verdana;">6.<span style="font-variant-numeric: normal; font-stretch: normal; line-height: normal;">&nbsp; </span></span></span><span style="font-size: 10pt;"><span style="font-family: Verdana;"><b>Не
затримуйте внески по своїм кредитам! Обговорюйте зі своїм кредитором усі
питання!</b></span></span></p><p class="MsoBodyText"><span style="font-size: 10pt;"><span style="font-family: Verdana;">Коли Ви вчасно вносите
сплати, Ви таким чином будуєте довірчі відносини для подальшого співробітництва
та підвищуєте можливість отримання кредиту на більшу суму. Сплачуючи свої
внески вчасно, Ви залишаєте свою кредитну історію чистою. Кредитори бачать Вашу
кредитну історію на протязі 5 років в спеціальних базах даних.</span></span></p><p class="MsoBodyText"><span style="font-size: 10pt;"><span style="font-family: Verdana;">Якщо в Вас виникли
труднощі з погашенням внесків, перше, що Ви повинні зробити, - це
зателефонувати своєму кредитору та пояснити ситуацію і разом з ним знайти
рішення відстрочки кредиту.</span></span></p><p class="MsoBodyText" style="margin-left:36.0pt;text-indent:-18.0pt;mso-list:
l8 level1 lfo9;tab-stops:list 36.0pt"><!--[if !supportLists]--><span style="font-size: 10pt;"><span style="font-family: Verdana;">7.<span style="font-variant-numeric: normal; font-stretch: normal; line-height: normal;">&nbsp;&nbsp;</span></span></span><span style="font-size: 10pt;"><span style="font-family: Verdana;"><b>Зверніться
до відповідних органів, якщо вважаєте, що Ваші права, як позичальника,
порушені.</b></span></span></p><p class="MsoBodyText"><span style="font-size: 10pt;"><span style="font-family: Verdana;">Зверніться в комісію з
захисту прав споживочів, якщо побоюєтеся, що Ваші права були порушені. Комісія
з захисту прав споживачів може посприяти досудовому вирішенню спору, що виник.
Незалежно від того, по кожному окремому випадку Ви можете звернутися
безпосередньо до суду.</span></span></p><p><span style="font-size: 10pt;"><span style="font-family: Verdana;">

</span></span></p><p class="MsoBodyText"><span style="font-size: 10pt;"><span style="font-family: Verdana;"><i>Приблизний бюджет на
місяць:&nbsp;</i></span></span></p><span style="font-size: 10pt;"><span style="font-family: Verdana;">
</span></span><p style="margin-bottom: 0cm; text-decoration: none" lang="ru-RU"><span style="font-size: 10pt; font-family: Verdana;"><br/></span>
</p><span style="font-size: 10pt; font-family: Verdana;">
</span><span style="font-family: Verdana;">
	</span><table border="1" cellpadding="4" cellspacing="0" width="328" style="width:328px!important" class="BlankTable">
    <colgroup/><col width="246"/></colgroup><colgroup/><col width="64"/>
    </colgroup><tbody><tr>
    <td colspan="2" valign="top" width="318">
        <p style="text-decoration: none" align="center" lang="ru-RU"><span style="font-size: 10pt; font-family: Verdana;"><strong>Дохід:</strong></span></p>
    </td>
</tr>
<tr valign="top">
    <td width="246">
        <p style="text-decoration: none" lang="ru-RU"><span style="font-size: 10pt; font-family: Verdana;">Зарплата</span></p>
    </td>
    <td width="64">
        <p lang="ru-RU"><span style="font-size: 10pt; font-family: Verdana;"><br/></span>
        </p>
    </td>
</tr>
<tr valign="top">
    <td width="246">
        <p style="text-decoration: none" lang="ru-RU"><span style="font-family: Verdana;"><span style="font-size: 13.3333px;">Інші надходження</span></span></p>
    </td>
    <td width="64">
        <p lang="ru-RU"><span style="font-size: 10pt; font-family: Verdana;"><br/></span>
        </p>
    </td>
</tr>
<tr valign="top">
    <td width="246">
        <p align="right" lang="ru-RU"><em><strong><span style="font-size: 10pt; font-family: Verdana;">ВСЬОГО:</span></strong></em></p>
    </td>
    <td width="64">
        <p lang="ru-RU"><span style="font-size: 10pt; font-family: Verdana;"><br/></span>
        </p>
    </td>
</tr>
<tr>
    <td colspan="2" valign="top" width="318">
        <p style="text-decoration: none" align="center" lang="ru-RU"><span style="font-size: 10pt; font-family: Verdana;"><strong>Витрати:</strong></span></p>
    </td>
</tr>
<tr valign="top">
    <td width="246">
        <p style="text-decoration: none; text-align: left;" lang="ru-RU"><span style="font-size: 10pt; font-family: Verdana;">Оплата комунальних послуг</span></p>
    </td>
    <td width="64">
        <p lang="ru-RU"><span style="font-size: 10pt; font-family: Verdana;"><br/></span>
        </p>
    </td>
</tr>
<tr valign="top">
    <td width="246">
        <p style="text-decoration: none" lang="ru-RU"><span style="font-size: 10pt; font-family: Verdana;">Телефон,
			телебачення, інтернет</span></p>
    </td>
    <td width="64">
        <p lang="ru-RU"><span style="font-size: 10pt; font-family: Verdana;"><br/></span>
        </p>
    </td>
</tr>
<tr valign="top">
    <td width="246">
        <p style="text-decoration: none" lang="ru-RU"><span style="font-size: 10pt; font-family: Verdana;">Продукти харчування</span></p>
    </td>
    <td width="64">
        <p lang="ru-RU"><span style="font-size: 10pt; font-family: Verdana;"><br/></span>
        </p>
    </td>
</tr>
<tr valign="top">
    <td width="246">
        <p style="text-decoration: none" lang="ru-RU"><span style="font-size: 10pt; font-family: Verdana;">Транспорт</span></p>
    </td>
    <td width="64">
        <p lang="ru-RU"><span style="font-size: 10pt; font-family: Verdana;"><br/></span>
        </p>
    </td>
</tr>
<tr valign="top">
    <td width="246">
        <p style="text-decoration: none" lang="ru-RU"><span style="font-size: 10pt; font-family: Verdana;">Витрати на дітей</span></p>
    </td>
    <td width="64">
        <p lang="ru-RU"><span style="font-size: 10pt; font-family: Verdana;"><br/></span>
        </p>
    </td>
</tr>
<tr valign="top">
    <td width="246">
        <p style="text-decoration: none" lang="ru-RU"><span style="font-size: 10pt; font-family: Verdana;">Ремонт і підтримка житла</span></p>
    </td>
    <td width="64">
        <p lang="ru-RU"><span style="font-size: 10pt; font-family: Verdana;"><br/></span>
        </p>
    </td>
</tr>
<tr valign="top">
    <td width="246">
        <p style="text-decoration: none" lang="ru-RU"><span style="font-size: 10pt; font-family: Verdana;">Інші витрати</span></p>
    </td>
    <td width="64">
        <p lang="ru-RU"><span style="font-size: 10pt; font-family: Verdana;"><br/></span>
        </p>
    </td>
</tr>
<tr valign="top">
    <td width="246">
        <p style="text-decoration: none" align="right" lang="ru-RU"><em><strong><span style="font-size: 10pt; font-family: Verdana;">ВСЬОГО:</span></strong></em></p>
    </td>
    <td width="64">
        <p lang="ru-RU"><span style="font-size: 10pt; font-family: Verdana;"><br/></span>
        </p>
    </td>
</tr>
<tr valign="top">
    <td width="246">
        <p style="text-decoration: none; text-align: center;" lang="ru-RU"><em><strong><span style="font-size: 10pt; font-family: Verdana;">Залишок суми</span></strong></em></p><p style="text-decoration: none; text-align: center;" lang="ru-RU"><em><strong><span style="font-size: 10pt; font-family: Verdana;">(дохід - витрати)</span></strong></em></p>
    </td>
    <td width="64">
        <p lang="ru-RU"><span style="font-size: 10pt; font-family: Verdana;"><br/></span>
        </p>
    </td>
</tr>
</tbody></table><span style="font-size: 10pt; font-family: Verdana;">
</span><p style="margin-bottom: 0cm; text-decoration: none" lang="ru-RU"><span style="font-size: 10pt; font-family: Verdana;"><br/></span>
</p><span style="font-size: 10pt; font-family: Verdana;">
</span><p><span style="font-size: 10pt; font-family: Verdana;">&nbsp;</span></p><p><span style="font-size: 10pt; font-family: Verdana;">&nbsp;</span></p>
