<p class="MsoNormal"><strong><span style="font-size: 10pt;"><span style="font-family: Verdana;">iBonus - спеціальна програма для лояльних клієнтів &nbsp;iCredit.</span></span></strong>
</p><p class="MsoNormal"><span style="font-size: 10pt;"><span style="font-family: Verdana;">Ми віримо, що наші клієнти особливі і крім швидких кредитів
і грошей в борг заслуговують особистого доброго ставлення, подарунків і
приємних несподіванок.</span></span></p><p class="MsoNormal"><span style="font-size: 10pt;"><span
        style="font-family: Verdana;">Якщо Ви клієнт iCredit, то Ви автоматично стаєте учасником
програми лояльності iBonus.</span></span></p><p class="MsoNormal"><span style="font-size: 10pt;"><span
        style="font-family: Verdana;">Як отримати бонусні бали?</span></span></p><p class="MsoNormal"><span
        style="font-size: 10pt;"><span style="font-family: Verdana;">Всі клієнти, які успішно закрили більше одного кредиту,
автоматично стають учасниками програми iBonus і починають отримувати бонусні
бали.</span></span></p><p class="MsoNormal"><span style="font-size: 10pt;"><span style="font-family: Verdana;">Кількість балів дорівнює розміру кредиту, помноженому на
його номер.</span></span></p><p class="MsoNormal"><em><span style="font-size: 10pt;"><span
        style="font-family: Verdana;">Наприклад: п'ятий кредит на 1000 грн = 5 x 1000 = 5000
балів.</span></span></em></p><p class="MsoNormal"><em><span style="font-size: 10pt;"><span
        style="font-family: Verdana;">1 грн. = 100 балів.</span></span></em></p><p class="MsoNormal"><em><span
        style="font-size: 10pt;"><span style="font-family: Verdana;">Сума балів залежить від прострочення по кредиту. До 3 днів
прострочення сума балів дорівнює 100%. Від 4 до 5 днів прострочення - 50%. Від
6 до 10 днів - 20%.</span></span></em></p><p class="MsoNormal"><em><span style="font-size: 10pt;"><span
        style="font-family: Verdana;">Наприклад: 1000 грн х 5 кредитів х 0,5 кредит з
простроченням = 2500 балів.</span></span></em></p><p class="MsoNormal"><strong><span style="font-size: 10pt;"><span
        style="font-family: Verdana;">Що дають Вам бонусні бали?</span></span></strong></p><p class="MsoNormal"><span
        style="font-size: 10pt;"><span style="font-family: Verdana;">З отриманням кожного наступного кредиту<span
        lang="RU">,</span> при заповненні заявки<span lang="RU">,</span> Ви можете вказати, що хочете скористатися
своїми балами в даний момент або віддаєте перевагу їх зберегти. Ви можете
використовувати свої бали для:</span></span></p>
<ul>
    <li class="MsoListParagraphCxSpFirst" style="text-indent: -18pt;"><span style="font-size: 10pt;"><span
            style="font-family: Verdana;"><span
            style="font-variant-numeric: normal; font-stretch: normal; line-height: normal;">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><!--[endif]--><span style="font-size: 10pt;"><span style="font-family: Verdana;">знижки на наступний кредит у вигляді платежу за
кредитом,</span></span></li>
    <li class="MsoListParagraphCxSpLast" style="text-indent: -18pt;"><span style="font-size: 10pt;"><span
            style="font-family: Verdana;"><span
            style="font-variant-numeric: normal; font-stretch: normal; line-height: normal;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></span></span>
        <!--[endif]--><span style="font-size: 10pt;"><span
                style="font-family: Verdana;">отримання подарунка.</span></span></li>
</ul><p><span style="font-size: 10pt;"><span style="font-family: Verdana;">

</span></span></p><p class="MsoNormal"><span style="font-size: 10pt;"><span style="font-family: Verdana;">Більш детальну інформацію відносно своїх &nbsp;бонусних балів&nbsp;
та програми&nbsp; iBonus Ви можете
отримати:</span></span></p>
<ul>
    <li><span style="font-family: Verdana; font-size: 10pt;">за
телефоном гарячої<strong style="color: #ff0000;"> </strong>лінії&nbsp;<strong
                style="color: #ff0000;">0 800 601 810</strong></span><span
            style="font-variant-numeric: normal; font-stretch: normal; line-height: normal; font-family: &quot;Times New Roman&quot;; font-size: 7pt;">&nbsp;<span
            style="font-size: 10pt;"><span style="font-family: Verdana;">&nbsp;</span></span></span><span
            style="font-size: 10pt;"><span style="font-family: Verdana;"><span style="text-indent: -18pt;">(безкоштовно зі стаціонарних телефонів на
території України)</span></span></span></li>
    <li><span style="font-size: 10pt;"><span style="font-family: Verdana;"><span style="text-indent: -18pt;"><span
            style="font-variant-numeric: normal; font-stretch: normal; line-height: normal;">&nbsp;&nbsp;</span><span
            style="text-indent: -18pt; font-family: Arial, Helvetica, sans-serif; font-size: 10pt;"><span
            style="font-family: Verdana;">у свого Кредитного Консультанта.</span></span><br/></span></span></span><span
            style="font-family: Verdana;"><span style="font-size: 10pt;">

<span style="line-height: 115%;">Обирайте&nbsp; собі
подарунок в iCredit з&nbsp;</span></span></span><a href="/catalog" style="font-family: Verdana; font-size: 10pt;">каталога
        iBonus!</a></li>
</ul>
