<p class="MsoNormal"><b><span style="font-family: Verdana;"><span style="font-size: 10pt;">Наші співробітники<br/></span></span>
    <span style="font-size: 10pt;"><span style="font-family: Verdana;"><br/>
Людський капітал є найціннішим ресурсом компанії. Більше 1000 співробітників
вибрали нашу компанію для своєї подальшої кар'єри.<br/></span></span>
    <span style="font-size: 10pt;"><span style="font-family: Verdana;"><br/>
Ми завжди шукаємо активних, мотивованих і успішних людей, які вносять свій
внесок, розширюючи горизонти нашого бізнесу.<br/></span></span>
    <span style="font-size: 10pt;"><span style="font-family: Verdana;"><br/>
КРЕДИТНИЙ КОНСУЛЬТАНТ<br/></span></span>
    <span style="font-size: 10pt;"><span style="font-family: Verdana;"><br/>
Які переваги роботи Кредитним Консультантом?</span></span></b></p><ul><li><span style="font-size: 10pt;"><span style="font-family: Verdana;">оплата за
результат роботи;</span></span></li><li><span style="font-size: 10pt;"><span style="font-family: Verdana;">можливість
самостійно планувати робочий графік, що дає достатньо часу для сім'ї;</span></span></li><li><span style="font-size: 10pt;"><span style="font-family: Verdana;">отримання
фінансової незалежності, допомагаючи людям, котрі потребують грошей;</span></span></li><li><span style="font-size: 10pt;"><span style="font-family: Verdana;">можете
розвивати власний бізнес без фінансових ризиків та інвестицій;</span></span></li><li><span style="font-size: 10pt;"><span style="font-family: Verdana;">професійне
навчання і можливість кар'єрного росту в компанії.</span></span></li></ul><p class="MsoNormal" style="margin-left:36.0pt;text-indent:-18.0pt;mso-list:l0 level1 lfo1;
tab-stops:list 36.0pt"><span style="font-size: 10pt;"><span style="font-family: Verdana;">
</span></span><!--[if !supportLineBreakNewLine]--><span style="font-size: 10pt;"><span style="font-family: Verdana;"><br/>
</span></span><!--[endif]--></p><p class="MsoNormal"><span style="font-size: 10pt;"><span style="font-family: Verdana;"><b>Що потрібно, щоб стати Кредитним консультантом?</b><br/>
<br/>
Для того щоб стати Кредитним консультантом достатньо бути комунікабельним,
амбітним і позитивним. Немає обмежень за статтю, віком, освітою і досвідом.<br/>
</span></span><!--[if !supportLineBreakNewLine]--><span style="font-size: 10pt;"><span style="font-family: Verdana;"><br/>
</span></span><!--[endif]--></p><p class="MsoNormal"><span style="font-size: 10pt;"><span style="font-family: Verdana;"><b>Що робить Кредитний консультант?</b></span></span><span style="font-family: Verdana; font-size: 10pt;">&nbsp;</span></p><ul><li class="MsoNormal"><span style="font-family: Verdana; font-size: 10pt; text-indent: -18pt;">активно
пропонує послуги компанії потенційним та існуючим клієнтам;</span></li><li class="MsoNormal"><span style="font-family: Verdana; font-size: 10pt; text-indent: -18pt;">виконує
прямі продажі фінансових продуктів компанії;</span></li><li class="MsoNormal"><span style="font-family: Verdana; font-size: 10pt; text-indent: -18pt;">забезпечує
дотримання договірних відносин між компанією і клієнтом.</span></li></ul><p class="MsoNormal"><span style="font-size: 10pt;"><span style="font-family: Verdana;">&nbsp;<br/><b>МЕНЕДЖЕР КОМАНДИ</b><br/>
<br/>
<b>Які переваги роботи менеджера команди</b></span></span></p><ul><li class="MsoNormal"><span style="font-size: 10pt;"><span style="font-family: Verdana;"></span></span><span style="font-family: Verdana; font-size: 10pt; text-indent: -18pt;">можливість
накопичувати досвід управління і формувати команду у великій міжнародній
компанії;</span></li><li class="MsoNormal"><span style="font-family: Verdana; font-size: 10pt; text-indent: -18pt;">можливість
для професійного підвищення кваліфікації;</span></li><li class="MsoNormal"><span style="font-family: Verdana; font-size: 10pt; text-indent: -18pt;">можливість
для професійного підвищення кваліфікації;</span></li><li class="MsoNormal"><span style="font-family: Verdana; font-size: 10pt; text-indent: -18pt;">участь в
мотиваційних програмах компанії, розвиток власних навичок, кар'єрний ріст</span></li><li class="MsoNormal"><span style="font-family: Verdana; font-size: 10pt; text-indent: -18pt;">робота на
трудовому договорі;</span></li><li class="MsoNormal"><span style="font-family: Verdana; font-size: 10pt; text-indent: -18pt;">соціальний
пакет.</span></li></ul><p class="MsoNormal"><span style="font-size: 10pt;"><span style="font-family: Verdana;">
<b>Що потрібно, щоб стати менеджером команди?</b></span></span></p><ul><li class="MsoNormal"><span style="text-indent: -18pt; font-size: 10pt;"><span style="font-family: Verdana;">досвід роботи
кредитним консультантом в iCredit протягом 6 місяців</span></span></li><li class="MsoNormal"><span style="text-indent: -18pt; font-size: 10pt;"></span><span style="font-family: Verdana; font-size: 10pt; text-indent: -18pt;">досвід роботи
в прямих продажах буде перевагою</span></li><li class="MsoNormal"><span style="font-family: Verdana; font-size: 10pt; text-indent: -18pt;">вміння
працювати в команді і давати зворотний зв'язок</span></li><li class="MsoNormal"><span style="text-indent: -18pt; font-size: 10pt;"><span style="font-family: Verdana;">мотивація,
відданість і прагнення до досконалості.</span></span></li></ul><p class="MsoNormal"><span style="font-size: 10pt;"><span style="font-family: Verdana;"><b>Ваші обов'язки як менеджера команди:</b></span></span></p><ul><li><span style="font-size: 10pt;"><span style="font-family: Verdana;">розширення
ніші на ринку кредитування, пошук альтернативних каналів просування та реклами
кредитних продуктів компанії;</span></span></li><li><span style="font-size: 10pt;"><span style="font-family: Verdana;">підбір,
навчання і підготовка команди кредитних консультантів;</span></span></li><li><span style="font-size: 10pt;"><span style="font-family: Verdana;">розподіл
завдань, допомога і контроль за виконанням завдань кредитних консультантів.</span></span></li></ul><p class="MsoNormal"><span style="font-size: 10pt;"><span style="font-family: Verdana;">Наші менеджери орієнтовані на розвиток і досягнення високих результатів.<br/>
<br/><b>Компанія може бути зацікавлена ​​у фахівцях з таких областей:</b><br/>
</span></span></p><div><span style="font-size: 10pt;"><span style="font-family: Verdana;">
Фінанси і бухгалтерія</span></span></div><div><span style="font-size: 10pt;"><span style="font-family: Verdana;">
</span></span></div><div><span style="font-size: 10pt;"><span style="font-family: Verdana;">
Інформаційні технології</span></span></div><div><span style="font-size: 10pt;"><span style="font-family: Verdana;">
</span></span></div><div><span style="font-size: 10pt;"><span style="font-family: Verdana;">
Продажі</span></span></div><div><span style="font-size: 10pt;"><span style="font-family: Verdana;">
</span></span></div><div><span style="font-size: 10pt;"><span style="font-family: Verdana;">
Трудові ресурси</span></span></div><div><span style="font-size: 10pt;"><span style="font-family: Verdana;">
</span></span></div><div><span style="font-size: 10pt;"><span style="font-family: Verdana;">
Маркетинг</span></span></div><div><span style="font-size: 10pt;"><span style="font-family: Verdana;">
</span></span></div><div><span style="font-size: 10pt;"><span style="font-family: Verdana;">
Юриспруденція</span></span></div><div><span style="font-size: 10pt;"><span style="font-family: Verdana;">
</span></span></div><div><span style="font-size: 10pt;"><span style="font-family: Verdana;">
Методологія та аналіз </span></span></div><p><span style="font-size: 10pt;"><span style="font-family: Verdana;">

</span></span></p><p class="MsoNormal"><o:p><span style="font-size: 10pt;"><span style="font-family: Verdana;">&nbsp;</span></span></o:p></p>