{% extends 'base.html.twig' %}

{% block customSeoTags %}
    <meta name="title" content="Найчастіші запитання - iCredit"/>
    <meta name="description" content="Дивіться найпоширеніші запитання про політику iCredit та відповіді на них ➡ Подайте заявку на кредит на сайті або за номером ☎0800601810">
    <meta name="keywords" content="FAQ, політика, запитання, відповідь, найчастіші запитання, горяча лінія, питання, інформація, iCredit">

    <meta property="og:title" content="Найчастіші запитання - iCredit"/>
    <meta property="og:description" content="Дивіться найпоширеніші запитання про політику iCredit та відповіді на них ➡ Подайте заявку на кредит на сайті або за номером ☎0800601810">
{% endblock %}

{% block title %}
    Найчастіші запитання | {{ 'page_title.symfony_starter'|trans({}, 'text') }}
{% endblock %}

{% block headline %}
    {{ 'public.headline.faq'|trans({}, 'text') }}
{% endblock %}

{% block content %}
    <section class="faq space">
        <div class="container">
            <div class="row">
                {% for faq in faqs %}
                    <div class="col-md-12">
                        <div class="bg-white mb-2" data-controller="faq" {% if openQuestion is not null and openQuestion == faq.id %}data-faq-open="true"{% endif %}>
                            <h5 class="d-flex justify-content-between align-content-center arrow" data-action="click->faq#toggleAnswer">
                                <span class="align-self-center">{{ loop.index }}. {{ faq.question }}</span>
                                <i class="fa fa-angle-right arrow" data-target="faq.arrow"></i>
                            </h5>
                            <div class="ck-content not-visible faq-answer" data-target="faq.answer">{{ faq.answer|raw }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="contacts">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="contact-form mb-5">
                        <h3 class="heading text-center mb-5">{{ 'faq.contact_us.headline'|trans({}, 'text') }}</h3>

                        {{ form_start(form) }}
                        <div class="form-group row">
                            <div class="col-md-5">
                                {{ form_label(form.about) }}
                            </div>
                            <div class="col-md-7">
                                {{ form_widget(form.about) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-5">
                                {{ form_label(form.firstName) }}
                            </div>
                            <div class="col-md-7">
                                {{ form_widget(form.firstName) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-5">
                                {{ form_label(form.lastName) }}
                            </div>
                            <div class="col-md-7">
                                {{ form_widget(form.lastName) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-5">
                                {{ form_label(form.email) }}
                            </div>
                            <div class="col-md-7">
                                {{ form_widget(form.email) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-5">
                                {{ form_label(form.telephone) }}
                            </div>
                            <div class="col-md-7">
                                {{ form_widget(form.telephone) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-5">
                                {{ form_label(form.address) }}
                            </div>
                            <div class="col-md-7">
                                {{ form_widget(form.address) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-5">
                                {{ form_label(form.feedbackStrategy) }}
                            </div>
                            <div class="col-md-7">
                                {{ form_widget(form.feedbackStrategy) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-5">
                                {{ form_label(form.comment) }}
                            </div>
                            <div class="col-md-7">
                                {{ form_widget(form.comment) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <hr />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="hint">
                                    <i class="fa fa-asterisk fa-required"></i>
                                    {{ 'hint.field_is_required'|trans({}, 'form') }}
                                </div>
                            </div>
                        </div>

{#                        <div class="form-check form-group terms d-flex">#}
{#                            <input class="form-check-input" type="checkbox" value="" id="gdprCheckbox" required>#}
{#                            <label class="form-check-label pt-0" for="gdprCheckbox">#}
{#                                {{ 'label.gdpr_policy_checkbox'|trans({}, 'text') }}#}
{#                            </label>#}
{#                        </div>#}

                        <div class="form-group">
                            <button type="submit" class="btn btn-danger">{{ 'button.send'|trans({}, 'form') }}</button>
                        </div>

                        {{ form_row(form.captcha) }}
                        {{ form_errors(form) }}

                        {{ form_end(form) }}

                        <div class="row">
                            <div class="col-12">
                                <hr />
                            </div>
                        </div>

                        <div class="contact-info">
                            <div class="row">
                                <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12 single">
                                    <div class="icon"><img src="{{ asset('build/images/icons/letter-2.png') }}" alt="Contact Icon"></div>
                                    <div class="title">{{ 'info.correspondence_address.title'|trans({}, 'text') }}</div>
                                    <div class="desc">
                                        {{ 'info.correspondence_address.description'|trans({}, 'text')|raw }}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12 single">
                                    <div class="icon"><img src="{{ asset('build/images/icons/letter-2.png') }}" alt="Contact Icon"></div>
                                    <div class="title">{{ 'info.company_info.title'|trans({}, 'text') }}</div>
                                    <div class="desc">
                                        {{ 'info.company_info.description'|trans({}, 'text')|raw }}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12 single">
                                    <div class="icon"><img src="{{ asset('build/images/icons/phone-2.png') }}" alt="Phone Icon"></div>
                                    <div class="title">{{ 'info.telephone.title'|trans({}, 'text') }}</div>
                                    <div class="desc">
                                        {{ 'info.telephone.description'|trans({}, 'text')|raw }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!--Google Recaptcha Script-->
    <script src="https://www.google.com/recaptcha/api.js?render={{ get_setting('google_recaptcha_api_key') }}"></script>
{% endblock %}