{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.ui_translations'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>
                {{ 'headline.ui_translations'|trans({}, 'text') }}
            </h2>
            <form action="{{ path('admin.translations.clear_cache') }}" class="d-inline-block" method="post">
                <button type="submit" class="btn btn-secondary">{{ 'button.clear_cache'|trans({}, 'form') }}</button>
            </form>
            <form action="{{ path('admin.translations.upload_to_remote') }}" class="d-inline-block" method="post">
                <button type="submit" class="btn btn-info">
                    <i class="fa fa-upload"></i>
                    {{ 'button.upload_to_remote'|trans({}, 'form') }}
                </button>
            </form>
            <form action="{{ path('admin.translations.download_from_remote') }}" class="d-inline-block" method="post">
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-download"></i>
                    {{ 'button.download_from_remote'|trans({}, 'form') }}
                </button>
            </form>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <translations-list
                    auth-token="{{ siriusTranslationsAuthToken }}"
                    base-url="{{ siriusTranslationsUrl }}"
            >
            </translations-list>
        </div>
    </div>
{% endblock %}
