{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.news'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">
                {{ 'headline.news'|trans({}, 'text') }}
                <a href="{{ path('admin.news.create') }}" class="btn btn-info btn-xs"><i class="fa fa-plus-circle"></i> Add</a>
            </h2>

            <form class="form-inline justify-content-between" method="get">
                <label class="sr-only" for="title">{{ 'label.title'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="title" name="title" placeholder="{{ 'placeholder.title'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('title') }}">

                <label class="sr-only" for="category">{{ 'label.category'|trans({}, 'form') }}</label>
                <select name="category" id="category" class="custom-select flex-grow-1 mb-2 mr-sm-2">
                    <option value="any">{{ 'option.any_category'|trans({}, 'form') }}</option>
                    {% for key,value in categories %}
                        <option value="{{ key }}" {% if key == app.request.query.get('category') %} selected {% endif %}>{{ value|trans({}, 'form') }}</option>
                    {% endfor %}
                </select>

                <a href="{{ path('admin.news.index') }}" class="btn btn-secondary mb-2 mr-2"><i
                            class="fa fa-remove"></i> {{ 'button.clear'|trans({}, 'form') }}</a>
                <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-filter"></i> {{ 'button.filter'|trans({}, 'form') }}</button>
            </form>

            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>{{ 'column.title'|trans({}, 'table') }}</th>
                    <th>{{ 'column.category'|trans({}, 'table') }}</th>
                    <th>{{ 'column.updated_at'|trans({}, 'table') }}</th>
                    <th>{{ knp_pagination_sortable(newsItems, 'column.featured'|trans({}, 'table') , 'news.featured') }}</th>
                    <th>{{ 'column.start_date'|trans({}, 'text') }}</th>
                    <th>{{ 'column.end_date'|trans({}, 'text') }}</th>
                    <th>{{ 'column.actions'|trans({}, 'table') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for news in newsItems %}
                    {# @var page \App\Entity\News #}
                    <tr>
                        <td><a href="{{ path('news.show', {'slug': news.slug}) }}">{{ news.title }}</a></td>
                        <td>{{ ('newscategories.'~news.category)|trans({}, 'form') }}</td>
                        <td>{{ news.updatedAt|formatted_date }}</td>
                        <td>
                            {% if news.featured %}
                                <span class="badge badge-success">{{ 'option.yes' | trans({}, 'table') }}</span>
                            {% else %}
                                <span class="badge badge-warning">{{ 'option.no' | trans({}, 'table') }}</span>
                            {% endif %}
                        </td>
                        <td>{{ news.startDate is not null ? news.startDate|formatted_date : '' }}</td>
                        <td>{{ news.endDate is not null ? news.endDate|formatted_date : '' }}</td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                   id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    {{ 'button.select'|trans({}, 'table') }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="{{ path('admin.news.update', {'id': news.id}) }}"><i class="fa fa-pencil-square-o"></i> {{ 'button.edit'|trans({}, 'table') }}</a>
                                    <a class="dropdown-item" href="{{ path('news.show', {'slug': news.slug}) }}"><i class="fa fa-eye"></i> {{ 'button.preview'|trans({}, 'table') }}</a>
                                    <delete-link icon-class="fa fa-trash-o"
                                                 target-url="{{ path('admin.news.delete', {id: news.id}) }}"
                                                 redirect-url="{{ path('admin.news.index') }}"
                                                 confirmation-message="{{ 'confirmation_message.delete.news'|trans({},'messages') }}">
                                        {{ 'button.delete'|trans({}, 'table') }}
                                    </delete-link>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{{ 'no_news_found'|trans({}, 'table') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation">
                {{ knp_pagination_render(newsItems) }}
            </div>
        </div>
    </div>
{% endblock %}
