{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.update_news_article'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2>{{ 'headline.create_news_article'|trans({}, 'text') }}</h2>
                <tabs>
                    <tab name="{{ 'tab.content'|trans({}, 'text') }}" :selected="true">
                        <tabs>
                            <tab name="ua" :selected="true" parent="{{ 'tab.content'|trans({}, 'text') }}">
                                {{ form_start(contentForms.ua) }}
                                {{ form_row(contentForms.ua.title) }}
                                {{ form_row(contentForms.ua.introduction) }}
                                {{ form_row(contentForms.ua.category) }}
                                {{ form_row(contentForms.ua.slug) }}
                                {{ form_row(contentForms.ua.content) }}
                                {{ form_row(contentForms.ua.featured) }}
                                {{ form_row(contentForms.ua.showImage) }}

                                <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                                <a href="{{ path('admin.news.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                                {{ form_end(contentForms.ua) }}
                            </tab>
                            <tab name="ru" parent="{{ 'tab.content'|trans({}, 'text') }}">
                                {{ form_start(contentForms.ru) }}
                                {{ form_row(contentForms.ru.title) }}
                                {{ form_row(contentForms.ru.introduction) }}
                                {{ form_row(contentForms.ru.category) }}
                                {{ form_row(contentForms.ru.slug) }}
                                {{ form_row(contentForms.ru.content) }}
                                {{ form_row(contentForms.ru.featured) }}
                                {{ form_row(contentForms.ru.showImage) }}

                                <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                                <a href="{{ path('admin.news.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                                {{ form_end(contentForms.ru) }}
                            </tab>
                            <tab name="en" parent="{{ 'tab.content'|trans({}, 'text') }}">
                                {{ form_start(contentForms.en) }}
                                {{ form_row(contentForms.en.title) }}
                                {{ form_row(contentForms.en.introduction) }}
                                {{ form_row(contentForms.en.category) }}
                                {{ form_row(contentForms.en.slug) }}
                                {{ form_row(contentForms.en.content) }}
                                {{ form_row(contentForms.en.featured) }}
                                {{ form_row(contentForms.en.showImage) }}

                                <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                                <a href="{{ path('admin.news.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                                {{ form_end(contentForms.en) }}
                            </tab>
                        </tabs>
                    </tab>
                    {% if contentForms.ua.vars.data.id is not null %}
                        <tab name="{{ 'tab.seo'|trans({}, 'text') }}">
                            {{ form_start(seoForm) }}
                            {{ form_row(seoForm.metaTitle) }}
                            {{ form_row(seoForm.metaDescription) }}
                            {{ form_row(seoForm.metaKeywords) }}
                            {{ form_row(seoForm.ogTitle) }}
                            {{ form_row(seoForm.ogDescription) }}
                            {{ form_row(seoForm.ogImage) }}

                            <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                            <a href="{{ path('admin.news.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                            {{ form_end(seoForm) }}
                        </tab>
                        <tab name="{{ 'tab.visibility'|trans({}, 'text') }}">
                            {{ form_start(visibilityForm) }}
                            {{ form_row(visibilityForm.startDate) }}
                            {{ form_row(visibilityForm.endDate) }}

                            <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                            <a href="{{ path('admin.news.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                            {{ form_end(visibilityForm) }}
                        </tab>
                        <tab name="{{ 'tab.cover_image'|trans({}, 'text') }}">
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_start(coverImageForm) }}
                                    {{ form_row(coverImageForm.image) }}

                                    <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                                    <a href="{{ path('admin.news.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                                    {{ form_end(coverImageForm) }}
                                </div>
                                <div class="col-md-6">
                                    {% if contentForms.ua.vars.data.image is not null %}
                                        <img class="mt-3" src="{{ contentForms.ua.vars.data.image|relative_image_path|imagine_filter('carousel') }}" alt="{{ contentForms.ua.vars.data.image }}" class="img-thumbnail">
                                    {% else %}
                                        <p>{{ 'no_cover_image_has_been_uploaded'|trans({}, 'text') }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </tab>
                    {% endif %}
                </tabs>
            </div>
        </div>
    </div>
{% endblock %}
