{% extends 'mail/mail_base.html.twig' %}

{% block content %}
    <div class="mail-heading">Hello,</div>
    <div class="mail-paragraph">a new credit application has been received. Here are the details.</div>

    <ul>
        <li>Name: <strong>{{ name }}</strong></li>
        <li>Telephone: <strong>{{ telephone }}</strong></li>
        <li>Amount applied for: <strong>{{ amount }}</strong></li>
        <li>Landing page: <strong>{{ landingPage }}</strong></li>
        <li>Partner: <strong>{{ partner }}</strong></li>
        {% if creditTitle is defined %}
            <li>Product: <strong>{{ creditTitle }}</strong></li>
        {% endif %}
    </ul>

    {% if false %}
        <div class="mail-heading">Credit info</div>
        <ul>
            <li>Max amount: <strong>{{ creditMaxAmount }}</strong></li>
            <li>Requirements: <strong>{{ creditRequirements|raw }}</strong></li>
            <li>Payment schedule: <strong>{{ creditPaymentSchedule }}</strong></li>
            <li>Short description: <strong>{{ creditShortDescription|raw }}</strong></li>
            <li>Full description: <strong>{{ creditFullDescription|raw }}</strong></li>
            <li>Parameters description: <strong>{{ creditParametersDescription|raw }}</strong></li>
        </ul>
    {% endif %}

{% endblock %}