{% extends 'mail/mail_base.html.twig' %}

{% block content %}
    <div class="mail-heading">Hello,</div>
    <div class="mail-paragraph">an online credit application failed to save to API. Here are the details.</div>

    <ul>
        <li><span style="font-weight: bold;">Customer</span>: {{ customerName }}</li>
        <li><span style="font-weight: bold;">Email</span>: {{ email }}</li>
        <li><span style="font-weight: bold;">Amount</span>: {{ amount|currency_symbol }}</li>
        <li><span style="font-weight: bold;">Submitted on</span>: {{ submittedOn|formatted_date_time }}</li>
    </ul>

{% endblock %}