{% extends 'mail/mail_base.html.twig' %}

{% block content %}
    <div class="mail-heading">Hello,</div>
    <div class="mail-paragraph">a new entry has been submitted for the poll "{{ pollName }}".</div>
    <div class="mail-paragraph">Here are the answers:</div>

    <ol>
        {% for questionData in data %}
            <li>
                {{ questionData.question }}
                <ul>
                    {% for answerData in questionData.answers %}
                        <li>
                            <strong>{{ answerData.answer }}</strong>
                            {% if answerData.comment is not empty %}
                                <br><i>Comment:</i> {{ answerData.comment }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>

        {% endfor %}
    </ol>

{% endblock %}