{% extends 'mail/mail_base.html.twig' %}

{% block content %}
    <div class="mail-heading">Hello {{ userName }},</div>
    <div class="mail-paragraph">
        We noticed that you have an uncompleted online application for credit with us. If you would like to finish the process, please click on the link below.
    </div>

    <div class="mail-paragraph">
        <a href="{{ applicationUrl }}">Click here to complete the application.</a>
    </div>
{% endblock %}