{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.nomenclatures'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">
                {{ 'headline.nomenclatures'|trans({}, 'text') }}
            </h2>

            <form class="form-inline justify-content-between" method="get">
                <label class="sr-only" for="text">{{ 'label.text'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="text" name="text" placeholder="{{ 'placeholder.text'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('text') }}">

                <label class="sr-only" for="type">{{ 'label.type'|trans({}, 'form') }}</label>
                <select name="type" id="type" class="custom-select flex-grow-1 mb-2 mr-sm-2">
                    <option value="any">{{ 'option.any_type'|trans({}, 'form') }}</option>
                    {% for key,value in nomenclatureTypes %}
                        <option value="{{ key }}" {% if key == app.request.query.get('type') %} selected {% endif %}>{{ value|trans({}, 'form') }}</option>
                    {% endfor %}
                </select>

                <a href="{{ path('admin.nomenclatures.index') }}" class="btn btn-secondary mb-2 mr-2"><i
                            class="fa fa-remove"></i> {{ 'button.clear'|trans({}, 'form') }}</a>
                <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-filter"></i> {{ 'button.filter'|trans({}, 'form') }}</button>
            </form>

            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th style="width: 30%;">{{ 'column.guid'|trans({}, 'table') }}</th>
                    <th>{{ 'column.text'|trans({}, 'table') }}</th>
                    <th>{{ 'column.type'|trans({}, 'table') }}</th>
                    <th>{{ 'column.visible'|trans({}, 'table') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in nomenclatures %}
                    {# @var item \App\Entity\Nomenclature #}
                    <tr>
                        <td>{{ item.guid }}</td>
                        <td>
                            {% for locale in locales %}
                                <span class="mr-1">[{{ locale|upper }}]</span>
                                {{ item|set_locale(locale) }}
                                <inline-value-edit setting-value="{{ item.text|escape }}" url="{{ path('admin.nomenclatures.update_text', {id: item.id, locale: locale}) }}" class="d-inline"></inline-value-edit>
                                <br>
                            {% endfor %}
                        </td>
                        <td>{{ ('nomenclaturetypes.' ~ item.type)|trans({}, 'form') }}</td>
                        <td>
                            <inline-boolean-edit setting-value="{{ item.visible }}" url="{{ path('admin.nomenclatures.update_visible', {id: item.id}) }}"></inline-boolean-edit>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">{{ 'no_nomenclatures_found'|trans({}, 'table') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation">
                {{ knp_pagination_render(nomenclatures) }}
            </div>
        </div>
    </div>
{% endblock %}
