{% extends 'base.html.twig' %}

{% block customSeoTags %}
    <meta name="title" content="【Програми лояльності】iBonus • VIP-клієнти - iCredit"/>
    <meta name="description" content="Програма лояльності iBonus ✪ Подарунки та сюрпризи для лояльних клієнтів ⚫ Бонусні бали 【iCredit】 Дізнайтеся більше на сайті ➤ або за телефоном ☎0800601810">
    <meta name="keywords" content="подарунок, бонус, програма лояльності, бали, iBonus, iCredit, каталог подарунків, постійний клієнт, бонусні бали, знажки, сюрприз">

    <meta property="og:title" content="【Програми лояльності】iBonus • VIP-клієнти - iCredit"/>
    <meta property="og:description" content="Програма лояльності iBonus ✪ Подарунки та сюрпризи для лояльних клієнтів ⚫ Бонусні бали 【iCredit】 Дізнайтеся більше на сайті ➤ або за телефоном ☎0800601810">
{% endblock %}

{% block title %}
    【Програми лояльності】iBonus • VIP-клієнти | {{ 'page_title.symfony_starter'|trans({}, 'text') }}
{% endblock %}

{% block headline %}
    {{ 'public.headline.loyalty_program'|trans({}, 'text') }}
{% endblock %}

{#{% block pageSelector %}#}
{#    {% include 'loyalty_program/page_selector.html.twig' %}#}
{#{% endblock %}#}

{% block content %}
    <section style="background: url({{ asset('build/images/loyalty-program.jpg') }}); background-size: cover; background-position: center; min-height: 30rem;">
        <div class="container text-white">
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex flex-column justify-content-center" style="min-height: 30rem;">
                        <div class="h4">
                            {{ 'public.headline.loyalty_program'|trans({}, 'text') }}
                        </div>
                        <div>
                            <p>
                                {{ 'loyalty_program.intro_paragraph_1'|trans({}, 'text') }}
                            </p>
                            <p>
                                {{ 'loyalty_program.intro_paragraph_2'|trans({}, 'text') }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="loyalty-programs" style="background-color: #f6f6f6;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="loyalty-program light-bgr">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-md-5 order-2 order-xl-1">
                                <div class="desc">
                                    <h5>{{ 'loyalty_program.i_bonus.title'|trans({}, 'text') }}</h5>
                                    <p>{{ 'loyalty_program.i_bonus.description'|trans({}, 'text') }}</p>
                                    <a href="{{ path('loyalty_program.i_bonus') }}"
                                       class="btn btn-outline-danger">{{ 'learn_more'|trans({}, 'text') }}</a>
                                </div>
                            </div>
                            <div class="col-xl-5 col-md-7 order-1 order-xl-2">
                                <img src="{{ asset('build/images/gift.jpg') }}"
                                     class="img-fluid">
                            </div>
                        </div>
                    </div>

                    <div class="loyalty-program dark-bgr">
                        <div class="row align-items-center">
                            <div class="col-xl-5 col-md-7">
                                <img src="{{ asset('build/images/loyalty-program-catalogue.jpg') }}"
                                     class="img-fluid">
                            </div>
                            <div class="col-xl-7 col-md-5">
                                <div class="desc">
                                    <h5>{{ 'loyalty_program.gifts.title'|trans({}, 'text') }}</h5>
                                    <p>{{ 'loyalty_program.gifts.description'|trans({}, 'text') }}</p>
                                    <a href="{{ path('loyalty_program.gifts') }}"
                                       class="btn btn-outline-danger">{{ 'learn_more'|trans({}, 'text') }}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# These sections will not be available at launch of the site #}
                    {% if false %}
                        <div class="loyalty-program light-bgr">
                            <div class="row align-items-center">
                                <div class="col-xl-7 col-md-5 order-2 order-xl-1">
                                    <div class="desc">
                                        <h5>{{ 'loyalty_program.vip_client.title'|trans({}, 'text') }}</h5>
                                        <p>{{ 'loyalty_program.vip_client.description'|trans({}, 'text') }}</p>
                                        <a href="{{ path('loyalty_program.vip_client') }}"
                                           class="btn btn-outline-danger">{{ 'learn_more'|trans({}, 'text') }}</a>
                                    </div>
                                </div>
                                <div class="col-xl-5 col-md-7 order-1 order-xl-2">
                                    <img src="{{ asset('build/images/loyalty-program-how-to-become-vip.jpg') }}"
                                         class="img-fluid">
                                </div>
                            </div>
                        </div>

                        <div class="loyalty-program dark-bgr">
                            <div class="row align-items-center">
                                <div class="col-xl-5 col-md-7">
                                    <img src="{{ asset('build/images/discounts.jpg') }}"
                                         class="img-fluid">
                                </div>
                                <div class="col-xl-7 col-md-5">
                                    <div class="desc">
                                        <h5>{{ 'loyalty_program.partners_and_discounts.title'|trans({}, 'text') }}</h5>
                                        <p>{{ 'loyalty_program.partners_and_discounts.description'|trans({}, 'text') }}</p>
                                        <a href="{{ path('loyalty_program.partners.index') }}"
                                           class="btn btn-outline-danger">{{ 'learn_more'|trans({}, 'text') }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    {% endblock %}

