<div class="d-flex align-items-center">
    <label for="page_selector" class="sr-only">Select page</label>
    <select id="page_selector" class="form-control" data-controller="page-selector"
            data-action="page-selector#redirect">
        <option value="{{ path('loyalty_program.index') }}"
                {% if app.request.get('_route') == 'loyalty_program.index' %}selected{% endif %}
        >
            {{ 'public.title.loyalty_program'|trans({}, 'text') }}
        </option>
{#        <option#}
{#                value="{{ path('loyalty_program.partners.index') }}"#}
{#                {% if app.request.get('_route') == 'loyalty_program.partners.index' %}selected{% endif %}#}
{#        >#}
{#            {{ 'public.title.partners_and_discounts'|trans({}, 'text') }}#}
{#        </option>#}
{#        <option#}
{#                value="{{ path('loyalty_program.gifts') }}"#}
{#                {% if app.request.get('_route') == 'loyalty_program.gifts' %}selected{% endif %}#}
{#        >#}
{#            {{ 'public.title.gifts'|trans({}, 'text') }}#}
{#        </option>#}
        <option
                value="{{ path('loyalty_program.i_bonus') }}"
                {% if app.request.get('_route') == 'loyalty_program.i_bonus' %}selected{% endif %}
        >
            {{ 'public.title.i_bonus'|trans({}, 'text') }}
        </option>
{#        <option#}
{#                value="{{ path('loyalty_program.vip_client') }}"#}
{#                {% if app.request.get('_route') == 'loyalty_program.vip_client' %}selected{% endif %}#}
{#        >#}
{#            {{ 'public.title.vip_client'|trans({}, 'text') }}#}
{#        </option>#}
    </select>
</div>