{% extends 'base.html.twig' %}

{% block customSeoTags %}
    <meta name="title" content="Подарунки за бонусні бали - iCredit"/>
    <meta name="description" content="Використовуйте свої бонусні бали ✔ для однієї з наших привабливих пропозицій! Докладніше див. На ➤ сайті або дзвоніть ☎0800601810">
    <meta name="keywords" content="подарунок, бонус, програма лояльності, бали, iBonus, iCredit, каталог подарунків, постійний клієнт, бонусні бали, знажки, сюрприз">

    <meta property="og:title" content="Подарунки за бонусні бали - iCredit"/>
    <meta property="og:description" content="Використовуйте свої бонусні бали ✔ для однієї з наших привабливих пропозицій! Докладніше див. На ➤ сайті або дзвоніть ☎0800601810">
{% endblock %}

{% block title %}
    Подарунки за бонусні бали | {{ 'page_title.symfony_starter'|trans({}, 'text') }}
{% endblock %}

{% block headline %}
    {{ 'public.headline.gifts'|trans({}, 'text') }}
{% endblock %}

{% block content %}
    <section class="gifts space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="filter">
                        <form>
                            <div class="row justify-content-end">
                                <div class="col-auto">
                                    <label for="limit">{{ 'label.show'|trans({}, 'form') }}</label>
                                    <select name="limit" id="limit" class="custom-select" data-controller="query" data-query-parameter="limit">
                                        <option value="9" {% if app.request.query.get('limit') == 9 %}selected{% endif %}>9</option>
                                        <option value="18" {% if app.request.query.get('limit') == 18 %}selected{% endif %}>18</option>
                                        <option value="36" {% if app.request.query.get('limit') == 36 %}selected{% endif %}>36</option>
                                    </select>
                                </div>

                                <div class="col-auto">
                                    <label for="orderBy">{{ 'label.orderBy'|trans({}, 'form') }}</label>
                                    <select name="orderBy" id="orderBy" class="custom-select" data-controller="query" data-query-parameter="orderBy">
                                        {% for key,value in sortOptions %}
                                            <option value="{{ key }}" {% if app.request.query.get('orderBy') == key %}selected{% endif %}>{{ value|trans({}, 'form') }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                {% for gift in gifts %}
                    <div class="col-xl-4 col-md-6">
                        <div class="gift">
                            {% if gift.new %}
                                <div class="badge">
                                    {{ 'gifts.new'|trans({}, 'text') | upper }}
                                </div>
                            {% endif %}
                            <img src="{% if gift.image %}{{ gift.image.filePath|imagine_filter('index_thumbnail') }}{% else %}{{ asset('build/images/icredit-default-img.jpg') }}{% endif %}"
                                 class="img-fluid">
                            <div class="desc">
                                <h5>{{ gift.name }}</h5>
                                <p>{{ 'gifts.code'|trans({}, 'text') }}: <strong>{{ gift.code }}</strong></p>
                                <p>{{ 'gifts.price'|trans({}, 'text') }}: <strong>{{ gift.price }} {{ 'gifts.points'|trans({}, 'text') }}</strong></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="col-12">
                    {{ knp_pagination_render(gifts) }}
                </div>

            </div>
        </div>
    </section>
{% endblock %}
