{% if status == 'approved' %}
    <span class="badge badge-success">{{ status|trans({}, 'table') }}</span>
{% elseif status == 'rejected' %}
    <span class="badge badge-danger">{{ status|trans({}, 'table') }}</span>
{% elseif status == 'cancelled' %}
    <span class="badge badge-secondary">{{ status|trans({}, 'table') }}</span>
{% else %}
    <span class="badge badge-warning">{{ status|trans({}, 'table') }}</span>
{% endif %}