{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.credit_applications.details'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2>{{ 'headline.credit_applications.details'|trans({}, 'text') }}</h2>

                <tabs>
                    <tab name="{{ 'tab.content'|trans({}, 'text') }}" :selected="true">
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_start(creditApplicationForm) }}
                                {{ form_row(creditApplicationForm.name) }}
                                {{ form_row(creditApplicationForm.telephone) }}
                                {{ form_row(creditApplicationForm.amount) }}
                                {{ form_row(creditApplicationForm.status) }}
                                {#                        {{ form_row(creditApplicationForm.birthdayDate) }}#}

                                <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                                <a href="{{ path('admin.credit_applications.index') }}"
                                   class="btn btn-secondary">{{ 'button.back'|trans({}, 'form') }}</a>
                                {{ form_end(creditApplicationForm) }}
                            </div>
                            {% if false %}
                                <div class="col-md-6">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#status_form_{{ creditApplication.id }}">
                                        <i class="fa fa-check-square-o"></i>
                                        {{ 'button.change_status'|trans({}, 'table') }}
                                    </a>

                                    <modal title="{{ 'headline.credit_applications.status'|trans({}, 'text') }}" identifier="status_form_{{ creditApplication.id }}" :has-footer="false">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <form action="{{ path('admin.credit_applications.status', {'id': creditApplication.id}) }}" method="post">
                                                    <div class="form-group">
                                                        <label for="status">{{ 'label.status'|trans({}, 'form') }}</label>
                                                        <select name="status" id="status" class="form-control">
                                                            {% for key, value in statuses %}
                                                                <option value="{{ key }}" {% if creditApplication.status == key %}selected{% endif %}>{{ value|trans({}, 'form') }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>

                                                    <button type="button" data-dismiss="modal" class="btn btn-secondary">{{ 'button.close'|trans({}, 'form') }}</button>
                                                    <button type="submit" class="btn btn-danger">{{ 'button.save'|trans({}, 'form') }}</button>
                                                </form>
                                            </div>
                                        </div>
                                    </modal>
                                </div>
                            {% endif %}
                        </div>

                    </tab>
                    <tab name="{{ 'tab.credit_details'|trans({}, 'text') }}">
                        {{ form_start(creditForm) }}
                        {{ form_row(creditForm.title) }}
                        {{ form_row(creditForm.shortDescription) }}
                        {{ form_row(creditForm.fullDescription) }}
                        {{ form_row(creditForm.maxAmount) }}
                        {{ form_row(creditForm.paymentSchedule) }}
                        {{ form_row(creditForm.parametersDescription) }}
                        {{ form_row(creditForm.requirements) }}

                        {{ form_end(creditForm) }}
                        <a href="{{ path('admin.credit_applications.index') }}"
                           class="btn btn-secondary">{{ 'button.back'|trans({}, 'form') }}</a>
                    </tab>
                    <tab name="{{ 'tab.credit_changelog'|trans({}, 'text') }}">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                            <tr>
                                <th>{{ 'column.user'|trans({}, 'table') }}</th>
                                <th>{{ 'column.change_date'|trans({}, 'table') }}</th>
                                <th>{{ 'column.changes'|trans({}, 'table') }}</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for changelog in creditApplicationChangelog %}
                                {# @var creditApplication \App\Entity\CreditApplicationChangelog #}
                                <tr>
                                    <td>{{ changelog.user.email }}</td>
                                    <td>{{ changelog.createdAt|formatted_date_time }}</td>
                                    <td>
                                        {% for changeData in changelog.changeData %}
                                            <p>
                                                <span>{{ changeData[0] }}</span>:
                                                <span class="badge badge-secondary">{{ changeData[1] }}</span>
                                                <span>-></span>
                                                <span class="badge badge-success">{{ changeData[2] }}</span>
                                            </p>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">{{ 'no_credit_application_changelog_found'|trans({}, 'table') }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <a href="{{ path('admin.credit_applications.index') }}"
                           class="btn btn-secondary">{{ 'button.back'|trans({}, 'form') }}</a>
                    </tab>

                    <tab name="{{ 'tab.api_data'|trans({}, 'text') }}" class="mt-3" id="api-data">
                        <div class="mb-3">
                            <form action="{{ path('admin.credit_applications.download_request_data', {id: creditApplication.id}) }}" method="post">
                                <button type="submit" class="btn btn-danger">{{ 'button.download'|trans({}, 'form') }}</button>
                            </form>
                        </div>
                        <pre>{{ creditApplication.jsonData }}</pre>
                    </tab>

                    <tab name="{{ 'tab.api_response'|trans({}, 'text') }}" class="mt-3" id="api-response">
                        <pre>{{ creditApplication.apiResponse }}</pre>
                    </tab>

                </tabs>
            </div>
        </div>
    </div>
{% endblock %}
