{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.credit_applications'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>
                {{ 'headline.credit_applications'|trans({}, 'text') }}
                <a href="{{ path('admin.credit_applications.export_xls', app.request.query.all) }}" class="btn btn-info btn-xs {% if count > 10000 %}disabled{% endif %}">{{ 'button.xls_export'|trans({}, 'table') }}</a>
            </h2>
            <p class="mb-5">
                {% if count > 10000 %}
                    <span class="badge badge-warning text-muted font-weight-normal">
                        {{ 'admin.credit_applications_export.limit_dataset_message'|trans({}, 'text') }}
                    </span>
                {% endif %}
            </p>

            <h5 class="mb-3">
                {{ 'headline.credit_applications.count'|trans({}, 'text') }}: {{ creditApplications.getTotalItemCount }}
            </h5>

            <form class="form-inline" method="get">
                <label class="sr-only" for="name">{{ 'label.name'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="name" name="name" placeholder="{{ 'placeholder.name'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('name') }}">
                <label class="sr-only" for="telephone">{{ 'label.telephone'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="telephone" name="telephone" placeholder="{{ 'placeholder.telephone'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('telephone') }}">
                <label class="sr-only" for="start_date">{{ 'label.start_date'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="start_date" name="start_date"
                       value="{{ app.request.query.get('start_date') }}"
                       placeholder="{{ 'placeholder.filter.start_date'|trans({}, 'form') }}"
                       autocomplete="off"
                       data-provide = 'datepicker' data-date-autoclose = true data-date-format = 'dd/mm/yyyy'
                >
                <label class="sr-only" for="end_date">{{ 'label.end_date'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="end_date" name="end_date"
                       value="{{ app.request.query.get('end_date') }}"
                       placeholder="{{ 'placeholder.filter.end_date'|trans({}, 'form') }}"
                       autocomplete="off"
                       data-provide = 'datepicker' data-date-autoclose = true data-date-format = 'dd/mm/yyyy'
                >
                <label class="sr-only" for="source">{{ 'label.source'|trans({}, 'form') }}</label>
                <select name="source" id="source" class="custom-select flex-grow-1 mb-2 mr-sm-2">
                    <option value="any">{{ 'option.any_source'|trans({}, 'form') }}</option>
                    {% for name, value in sources %}
                        <option value="{{ value }}"
                                {% if app.request.query.get('source') == value %}selected{% endif %}>
                            {{ name|trans({}, 'form') }}
                        </option>
                    {% endfor %}
                </select>

                <label class="sr-only" for="erp_status">{{ 'column.sent_to_erp'|trans({}, 'table') }}</label>
                <select class="form-control mb-2 mr-2" id="erp_status" name="erp_status">
                    <option value="any"
                            {% if app.request.query.get('erp_status') == "any" %}selected{% endif %}>
                        {{ 'column.sent_to_erp'|trans({}, 'table') }}
                    </option>
                    <option value="0"
                            {% if app.request.query.get('erp_status') == "0" %}selected{% endif %}>
                        {{ 'value.false'|trans({}, 'text') }}
                    </option>
                    <option value="1"
                            {% if app.request.query.get('erp_status') == "1" %}selected{% endif %}>
                        {{ 'value.true'|trans({}, 'text') }}
                    </option>
                </select>

                <a href="{{ path('admin.credit_applications.index') }}" class="btn btn-secondary mb-2 mr-2"><i
                            class="fa fa-remove"></i> {{ 'button.clear'|trans({}, 'form') }}</a>

                <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-filter"></i> {{ 'button.filter'|trans({}, 'form') }}</button>
            </form>

            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>{{ 'column.name'|trans({}, 'table') }}</th>
                    <th>{{ 'column.telephone'|trans({}, 'table') }}</th>
                    <th>{{ 'column.amount'|trans({}, 'table') }}</th>
                    <th>{{ 'column.source'|trans({}, 'table') }}</th>
                    <th>{{ 'column.status'|trans({}, 'table') }}</th>
                    <th>{{ 'column.application_date'|trans({}, 'table') }}</th>
                    <th>{{ 'column.changed_by'|trans({}, 'table') }}</th>
                    <th>{{ 'column.actions'|trans({}, 'table') }}</th>

                </tr>
                </thead>
                <tbody>
                {% for creditApplication in creditApplications %}
                    {# @var creditApplication \App\Entity\CreditShortApplication #}
                    <tr>
                        <td>{{ creditApplication.name }}</td>
                        <td>{{ creditApplication.telephone }}</td>
                        <td>{{ creditApplication.amount|number_format }} {{ 'currency'|trans({}, 'text') }}</td>
                        <td>
                            {% if creditApplication.affiliate is not empty %}
                                {{ 'creditapplicationsources.affiliate'|trans({}, 'form') }}: {{ creditApplication.affiliate.name }}
                            {% elseif creditApplication.landing is not empty %}
                                {{ 'creditapplicationsources.landing'|trans({}, 'form') }}: {{ creditApplication.landing.name }}
                            {% else %}
                                {{ 'creditapplicationsources.internal'|trans({}, 'form') }}
                            {% endif %}
                        </td>
                        <td>
                            {% include 'admin/credit_applications/_status.html.twig' with {status: creditApplication.status} %}

                            {% if creditApplication.sentToErp %}
                                <span class="badge badge-success">{{ 'sent_to_erp'|trans({}, 'table') }}</span>
                            {% else %}
                                <span class="badge badge-warning">{{ 'not_sent_to_erp'|trans({}, 'table') }}</span>
                            {% endif %}
                        </td>
                        <td>{{ creditApplication.createdAt|formatted_date_time }}</td>
                        <td>{{ creditApplication.lastChangelog.user.email|default('no_changes'|trans({}, 'table')) }}</td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                   id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    {{ 'button.select'|trans({}, 'table') }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="{{ path('admin.credit_applications.details', {'id': creditApplication.id}) }}"><i class="fa fa-pencil-square-o"></i> {{ 'button.details'|trans({}, 'table') }}</a>
                                    {% if creditApplication.sentToErp == false %}
                                        <post-link
                                                redirect-url="{{ path('admin.credit_applications.index') }}"
                                                target-url="{{ path('admin.credit_applications.resend', {id: creditApplication.id}) }}"
                                                link-class="dropdown-item"
                                                icon-class="fa fa-share"
                                        >
                                            {{ 'button.resend'|trans({}, 'form') }}
                                        </post-link>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">{{ 'no_credit_applications_found'|trans({}, 'table') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation">
                {{ knp_pagination_render(creditApplications) }}
            </div>
        </div>
    </div>
{% endblock %}
