{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.affiliates'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">
                {{ 'headline.affiliates'|trans({}, 'text') }}
                <a href="{{ path('admin.affiliates.create') }}" class="btn btn-info btn-xs"><i
                            class="fa fa-plus-circle"></i> Add</a>
            </h2>

            <form class="form-inline justify-content-between" method="get">
                <label class="sr-only" for="name">{{ 'label.name'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="name" name="name"
                       placeholder="{{ 'placeholder.name'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('name') }}">

                <a href="{{ path('admin.affiliates.index') }}" class="btn btn-secondary mb-2 mr-2"><i
                            class="fa fa-remove"></i> {{ 'button.clear'|trans({}, 'form') }}</a>
                <button type="submit" class="btn btn-primary mb-2"><i
                            class="fa fa-filter"></i> {{ 'button.filter'|trans({}, 'form') }}</button>
            </form>

            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>{{ 'column.name'|trans({}, 'table') }}</th>
                    <th>{{ 'column.iframe_test_page'|trans({}, 'table') }}</th>
                    <th>{{ 'column.iframe_link'|trans({}, 'table') }}</th>
                    <th>{{ 'column.actions'|trans({}, 'table') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for affiliate in affiliates %}
                    {# @var affiliate \App\Entity\Affiliate #}
                    <tr>
                        <td>{{ affiliate.name }}</td>
                        <td>
                            <a href="{{ path('iframe_test.index', {id: affiliate.id}) }}">{{ path('iframe_test.index', {id: affiliate.id}) }}</a>
                        </td>
                        <td>
                            <a href="{{ path('credits.application_form', {code: affiliate.code}) }}" target="_blank">{{ absolute_url(path('credits.application_form', {code: affiliate.code})) }}</a>
                            <span data-controller="clipboard">
                                <input type="text" style="display: none;" data-target="clipboard.source" value="{{ absolute_url(path('credits.application_form', {code: affiliate.code})) }}"><button data-action="clipboard#copy" type="button" class="btn btn-outline-primary btn-sm" title="{{ 'copy_to_clipboard'|trans({}, 'text') }}"><span class="fa fa-copy"></span></button>
                            </span>
                        </td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                   id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    {{ 'button.select'|trans({}, 'table') }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item"
                                       href="{{ path('admin.affiliates.update', {'id': affiliate.id}) }}"><i
                                                class="fa fa-pencil-square-o"></i> {{ 'button.edit'|trans({}, 'table') }}
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{{ 'no_affiliates_found'|trans({}, 'table') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
