{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.update_affiliate'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2>{{ 'headline.update_affiliate'|trans({}, 'text') }} [{{ affiliate.name }}]</h2>
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.contactInfo) }}

                <div class="row">
                    <div class="col-md-7">
                        {{ form_row(form.customCSS) }}
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="">Useful CSS selectors</label>
                            <div class="mb-2 bg-light p-1 d-flex justify-content-between">
                                <span>#headline</span>
                                <span data-controller="clipboard">
                                    <input type="text" style="display: none;" data-target="clipboard.source" value="#headline">
                                    <button data-action="clipboard#copy" type="button" class="btn btn-outline-primary btn-sm" title="{{ 'copy_to_clipboard'|trans({}, 'text') }}">
                                        <span class="fa fa-copy"></span>
                                    </button>
                                </span>
                            </div>
                            <div class="mb-2 bg-light p-1 d-flex justify-content-between">
                                <span>#credit_application_name</span>
                                <span data-controller="clipboard">
                                    <input type="text" style="display: none;" data-target="clipboard.source" value="#credit_application_name">
                                    <button data-action="clipboard#copy" type="button" class="btn btn-outline-primary btn-sm" title="{{ 'copy_to_clipboard'|trans({}, 'text') }}">
                                        <span class="fa fa-copy"></span>
                                    </button>
                                </span>
                            </div>
                            <div class="mb-2 bg-light p-1 d-flex justify-content-between">
                                <span>#credit_application_telephone</span>
                                <span data-controller="clipboard">
                                    <input type="text" style="display: none;" data-target="clipboard.source" value="#credit_application_telephone">
                                    <button data-action="clipboard#copy" type="button" class="btn btn-outline-primary btn-sm" title="{{ 'copy_to_clipboard'|trans({}, 'text') }}">
                                        <span class="fa fa-copy"></span>
                                    </button>
                                </span>
                            </div>
                            <div class="mb-2 bg-light p-1 d-flex justify-content-between">
                                <span>#credit_application_gdprCheckbox</span>
                                <span data-controller="clipboard">
                                    <input type="text" style="display: none;" data-target="clipboard.source" value="#credit_application_gdprCheckbox">
                                    <button data-action="clipboard#copy" type="button" class="btn btn-outline-primary btn-sm" title="{{ 'copy_to_clipboard'|trans({}, 'text') }}">
                                        <span class="fa fa-copy"></span>
                                    </button>
                                </span>
                            </div>
                            <div class="mb-2 bg-light p-1 d-flex justify-content-between">
                                <span>#submit-button</span>
                                <span data-controller="clipboard">
                                    <input type="text" style="display: none;" data-target="clipboard.source" value="#submit-button">
                                    <button data-action="clipboard#copy" type="button" class="btn btn-outline-primary btn-sm" title="{{ 'copy_to_clipboard'|trans({}, 'text') }}">
                                        <span class="fa fa-copy"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>


                <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                <a href="{{ path('admin.affiliates.index') }}"
                   class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
