{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.update_poll'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2>{{ 'headline.update_poll'|trans({}, 'text') }}</h2>
                <tabs>
                    <tab name="{{ 'content'|trans({}, 'tabs') }}" :selected="true" class="mt-3">
                        <tabs>
                            <tab name="ua" :selected="true" parent="{{ 'tab.content'|trans({}, 'text') }}">
                                {{ form_start(contentForms.ua) }}
                                {{ form_row(contentForms.ua.title) }}
                                {{ form_row(contentForms.ua.description) }}

                                <button class="btn btn-primary">{{ 'button.save_content'|trans({}, 'form') }}</button>
                                <a href="{{ path('admin.poll.index') }}"
                                   class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                                {{ form_end(contentForms.ua) }}
                            </tab>
                            <tab name="ru" parent="{{ 'tab.content'|trans({}, 'text') }}">
                                {{ form_start(contentForms.ru) }}
                                {{ form_row(contentForms.ru.title) }}
                                {{ form_row(contentForms.ru.description) }}

                                <button class="btn btn-primary">{{ 'button.save_content'|trans({}, 'form') }}</button>
                                <a href="{{ path('admin.poll.index') }}"
                                   class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                                {{ form_end(contentForms.ru) }}
                            </tab>
                            <tab name="en" parent="{{ 'tab.content'|trans({}, 'text') }}">
                                {{ form_start(contentForms.en) }}
                                {{ form_row(contentForms.en.title) }}
                                {{ form_row(contentForms.en.description) }}

                                <button class="btn btn-primary">{{ 'button.save_content'|trans({}, 'form') }}</button>
                                <a href="{{ path('admin.poll.index') }}"
                                   class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                                {{ form_end(contentForms.en) }}
                            </tab>
                        </tabs>
                    </tab>
                    <tab name="{{ 'visibility'|trans({}, 'tabs') }}">
                        {{ form_start(visibilityForm) }}
                        {{ form_row(visibilityForm.startDate) }}
                        {{ form_row(visibilityForm.endDate) }}

                        <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                        <a href="{{ path('admin.poll.index') }}"
                           class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                        {{ form_end(visibilityForm) }}
                    </tab>
                    <tab name="{{ 'questions'|trans({}, 'tabs') }}">
                        <poll poll-id="{{ poll.id }}" locale="{{ app.request.locale }}"></poll>
                    </tab>
                </tabs>
            </div>
        </div>
    </div>
{% endblock %}
