{% extends 'mail/mail_base.html.twig' %}

{% block content %}
    <div class="mail-heading">Hello,</div>
    <div class="mail-paragraph">a new message has been received from the contact form on site. Here are the details.</div>

    <ul>
        <li>In relation with: <strong>{{ inRelationWith }}</li>
        <li>First name: <strong>{{ firstName }}</strong></li>
        <li>Last name: <strong>{{ lastName }}</strong></li>
        <li>Email: <strong>{{ email }}</strong></li>
        <li>Telephone: <strong>{{ telephone }}</strong></li>
        <li>Address: <strong>{{ address }}</strong></li>
        <li>Comment: <strong>{{ comment }}</strong></li>
        <li>Return feedback via: <strong>{{ preferredFeedbackMethod }}</strong></li>
    </ul>

{% endblock %}