{% extends 'mail/mail_base.html.twig' %}

{% block content %}
    <div class="mail-heading">Hello,</div>
    <div class="mail-paragraph">a new job application has been received. Here are the details.</div>

    <ul>
        <li>Position: <strong>{{ position }}</strong></li>
        <li>Department: <strong>{{ department }}</strong></li>
        <li>Reference: <strong>{{ reference }}</strong></li>
        <li>Office: <strong>{{ office }}</strong>
        <li>Applicant: <strong>{{ name }}</strong></li>
        <li>City: <strong>{{ city }}</strong></li>
        <li>Email: <strong>{{ email }}</strong></li>
        <li>Telephone: <strong>{{ telephone }}</strong></li>
        <li>Comment: <strong>{{ comment }}</strong></li>
        <li>CV: <strong>{% if cv %}attached{% else %}n/a{% endif %}</strong></li>
    </ul>

{% endblock %}