{% extends 'mail/mail_base.html.twig' %}

{% block content %}
    <div class="mail-heading">Hello,</div>
    <div class="mail-paragraph">a new online credit application has been received. Here are the details.</div>

    <ul>
        {% for field, value in data %}
            <li>
                <span style="font-weight: bold;">{{ field }}</span>: {{ value|conditional_date_time|trans({}, 'form_long') }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}