{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.pages'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">
                {{ 'headline.pages'|trans({}, 'text') }}
                <a href="{{ path('admin.pages.create') }}" class="btn btn-info btn-xs"><i class="fa fa-plus-circle"></i> Add</a>
            </h2>

            <form class="form-inline justify-content-between" method="get">
                <label class="sr-only" for="name">{{ 'label.name'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="name" name="name" placeholder="{{ 'placeholder.name'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('name') }}">

                <label class="mb-2 mr-sm-2 sr-only" for="type">{{ 'label.type'|trans({}, 'form') }}</label>
                <select name="type" id="type" class="custom-select mb-2 mr-sm-2">
                    <option value="any">{{ 'option.any_type'|trans({}, 'form') }}</option>
                    {% for key,value in pageTypes %}
                        <option value="{{ key }}" {% if app.request.query.get('type') == key %}selected{% endif %}>{{ value|trans({}, 'form') }}</option>
                    {% endfor %}
                </select>

                <a href="{{ path('admin.pages.index') }}" class="btn btn-secondary mb-2 mr-2"><i
                            class="fa fa-remove"></i> {{ 'button.clear'|trans({}, 'form') }}</a>
                <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-filter"></i> {{ 'button.filter'|trans({}, 'form') }}</button>
            </form>

            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>
                        {% if pages.isSorted('page.name') %}
                            {% if pages.direction == 'asc' %}
                                <i class="fa fa-sort-asc"></i>
                            {% elseif pages.direction == 'desc' %}
                                <i class="fa fa-sort-desc"></i>
                            {% endif %}
                        {% endif %}
                        {{ knp_pagination_sortable(pages, 'column.name'|trans({}, 'table'), ['page.name']) }}
                    </th>
                    <th>{{ 'column.type'|trans({}, 'table') }}</th>
                    <th>{{ 'column.path'|trans({}, 'table') }}</th>
                    <th>
                        {% if pages.isSorted('page.startDate') %}
                            {% if pages.direction == 'asc' %}
                                <i class="fa fa-sort-asc"></i>
                            {% elseif pages.direction == 'desc' %}
                                <i class="fa fa-sort-desc"></i>
                            {% endif %}
                        {% endif %}
                        {{ knp_pagination_sortable(pages, 'column.start_date'|trans({}, 'table'), ['page.startDate']) }}
                    </th>
                    <th>
                        {% if pages.isSorted('page.endDate') %}
                            {% if pages.direction == 'asc' %}
                                <i class="fa fa-sort-asc"></i>
                            {% elseif pages.direction == 'desc' %}
                                <i class="fa fa-sort-desc"></i>
                            {% endif %}
                        {% endif %}
                        {{ knp_pagination_sortable(pages, 'column.end_date'|trans({}, 'table'), ['page.endDate']) }}
                    </th>
                    <th>
                        {{ 'column.actions'|trans({}, 'table') }}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for page in pages %}
                    {# @var page \App\Entity\Page #}
                    <tr>
                        <td>{{ page.name }}</td>
                        <td>{{ ('pagetypes.' ~ page.type)|trans({}, 'form') }}</td>
                        <td>
                            <a href="{{ user_defined_page_path(page) }}" target="_blank">
                                {{ page.path }}
                            </a>
                        </td>
                        <td>{{ page.startDate|formatted_date }}</td>
                        <td>{{ page.endDate|formatted_date }}</td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                   id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    {{ 'button.select'|trans({}, 'table') }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="{{ path('admin.pages.update', {'id': page.id}) }}"><i class="fa fa-pencil-square-o"></i> {{ 'button.edit'|trans({}, 'table') }}</a>
                                    <a class="dropdown-item" href="{{ path('admin.pages.manage_content', {'id': page.id}) }}"><i class="fa fa-tasks"></i> {{ 'button.manage_content'|trans({}, 'table') }}</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{{ 'no_pages_found'|trans({}, 'table') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation">
                {{ knp_pagination_render(pages) }}
            </div>
        </div>
    </div>
{% endblock %}
