{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.manage_content'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2 class="mb-3">
                    {{ 'headline.manage_content'|trans({}, 'text') }} <span
                            class="text-muted">[{{ 'page'|trans({}, 'text') }}
                        : <a href="{{ user_defined_page_path(page) }}" target="_blank">{{ page.name }}</a>]</span>
                    <a href="#" class="btn btn-info" data-toggle="modal"
                       data-target="#selectModule"><span
                                class="fa fa-plus"></span> {{ 'button.add_module'|trans({}, 'form') }}</a>
                </h2>
            </div>
        </div>

        <div class="row row-eq-height">
            {% if page.type == 'landing_page' %}
                <div class="col-md-12 mb-3">
                    <div class="list-group-item"
                         style="border: 1px solid lightslategray; padding: 10px 15px; margin-top: -1px; display: flex; justify-content: space-between; align-items: center;">
                        <div class="text-uppercase">
                            {{ page.header.module.name }}
                        </div>
                        <div class="d-flex justify-content-between">

                            <a href="{{ path('page_item.configure', {'id': page.header.id}) }}"
                               class="btn btn-link btn-lg"><span class="fa fa-gear"></span></a>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="col-md-12">
                <form action="{{ path('page_item.save_order', {'id': page.id}) }}" method="post"
                      id="manage-content-form" name="manage-content-form">
                    <div class="list-group" data-selected-processors style="min-height: 50px; height: 100%;"
                         data-controller="sortable">
                        {% for item in pageModules %}
                            <div class="list-group-item"
                                 style="border: 1px solid lightslategray; padding: 10px 15px; margin-top: -1px; display: flex; justify-content: space-between; align-items: center;">
                                <div class="text-uppercase">
                                    <inline-value-edit
                                            url="{{ path('admin.pages.update_module_item_name', {id: item.id}) }}"
                                            setting-value="{{ item.uiName }}"
                                    >
                                    </inline-value-edit>
                                    <input type="hidden" name="selectedModules[]" value="{{ item.id }}">
                                </div>
                                <div class="d-flex justify-content-between">
                                    {% if item.module.type == 'built_in' %}
                                        {% if item.module.data is not null %}
                                            <a href="{{ path('page_item.configure', {'id': item.id}) }}"
                                               class="btn btn-link btn-lg"><span class="fa fa-gear"></span></a>
                                        {% endif %}
                                    {% else %}
                                        <a href="{{ path('admin.modules.update', {'id': item.module.id}) }}"
                                           class="btn btn-link btn-lg"><span class="fa fa-gear"></span></a>
                                    {% endif %}
                                    <button type="submit" form="copy_page_item_{{ item.id }}" class="btn btn-link btn-lg"><span
                                                class="fa fa-copy"></span>
                                    </button>
                                    <delete-module-item module-item-id="{{ item.id }}"></delete-module-item>
                                </div>
                            </div>
                        {% else %}
                            <p>{{ 'page_has_no_modules'|trans({}, 'text') }}</p>
                        {% endfor %}
                    </div>
                </form>

                {% for item in page.moduleItems %}
                    <form action="{{ path('page_item.remove', {'moduleItemId': item.id, 'pageId': page.id}) }}"
                          method="post" id="remove_page_item_{{ item.id }}">
                    </form>
                {% endfor %}

                {% for item in page.moduleItems %}
                    <form action="{{ path('page_item.copy', {'moduleItemId': item.id, 'pageId': page.id}) }}"
                          method="post" id="copy_page_item_{{ item.id }}">
                    </form>
                {% endfor %}
            </div>

            {% if page.type == 'landing_page' %}
                <div class="col-md-12 mt-3">
                    <div class="list-group-item"
                         style="border: 1px solid lightslategray; padding: 10px 15px; margin-top: -1px; display: flex; justify-content: space-between; align-items: center;">
                        <div class="text-uppercase">
                            {{ page.footer.module.name }}
                        </div>
                        <div class="d-flex justify-content-between">

                            <a href="{{ path('page_item.configure', {'id': page.footer.id}) }}"
                               class="btn btn-link btn-lg"><span class="fa fa-gear"></span></a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-md-12" style="margin-top: 1em;">
                <button type="submit" class="btn btn-primary"
                        form="manage-content-form">{{ 'button.save_order'|trans({}, 'form') }}</button>
                <a href="{{ path('admin.pages.index') }}"
                   class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
            </div>
        </div>

        <modal title="{{ 'select_module'|trans({}, 'text') }}" identifier="selectModule" size="lg"
               :vertically-centered="true" primary-button="{{ 'select_module'|trans({}, 'text') }}" :has-footer=false>
            <form action="{{ path('page_item.create', {'id': page.id}) }}" method="post">
                <div class="form-group">
                    <label for="selectedModule" class="sr-only">Select module</label>
                    <select name="selectedModule" id="selectedModule" class="form-control" required>
                        <option value="" selected
                                disabled>{{ 'placeholder.available_modules'|trans({}, 'form') }}</option>
                        {% for module in modules %}
                            <option value="{{ module.id }}">{{ module.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-primary">{{ 'button.add_module'|trans({}, 'form') }}</button>
            </form>
        </modal>
    </div>
{% endblock %}
