{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.update_page'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2>{{ 'headline.update_page'|trans({}, 'text') }}</h2>
                <tabs>
                    <tab name="{{ 'tab.content'|trans({}, 'text') }}" :selected="true">
                        <tabs>
                            <tab name="ua" :selected="true" parent="{{ 'tab.content'|trans({}, 'text') }}">
                                {{ form_start(contentForms.ua) }}
                                {{ form_row(contentForms.ua.name) }}
                                {{ form_row(contentForms.ua.path) }}
                                <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                                <a href="{{ path('admin.pages.index') }}"
                                   class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                                {{ form_end(contentForms.ua) }}
                            </tab>
                            <tab name="ru" parent="{{ 'tab.content'|trans({}, 'text') }}">
                                {{ form_start(contentForms.ru) }}
                                {{ form_row(contentForms.ru.name) }}
                                {{ form_row(contentForms.ru.path) }}

                                <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                                <a href="{{ path('admin.pages.index') }}"
                                   class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                                {{ form_end(contentForms.ru) }}
                            </tab>
                            <tab name="en" parent="{{ 'tab.content'|trans({}, 'text') }}">
                                {{ form_start(contentForms.en) }}
                                {{ form_row(contentForms.en.name) }}
                                {{ form_row(contentForms.en.path) }}

                                <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                                <a href="{{ path('admin.pages.index') }}"
                                   class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                                {{ form_end(contentForms.en) }}
                            </tab>
                        </tabs>
                    </tab>
                    {% if contentForms.ua.vars.data.id is not null %}
                        <tab name="{{ 'tab.seo'|trans({}, 'text') }}">
                            {{ form_start(seoForm) }}
                            {{ form_row(seoForm.metaTitle) }}
                            {{ form_row(seoForm.metaDescription) }}
                            {{ form_row(seoForm.metaKeywords) }}
                            {{ form_row(seoForm.ogTitle) }}
                            {{ form_row(seoForm.ogDescription) }}
                            {{ form_row(seoForm.ogImage) }}

                            <button type="submit" class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                            <a href="{{ path('admin.pages.index') }}"
                               class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                            {{ form_end(seoForm) }}
                        </tab>

                        <tab name="{{ 'tab.visibility'|trans({}, 'text') }}">
                            {{ form_start(visibilityForm) }}
                            {{ form_row(visibilityForm.startDate) }}
                            {{ form_row(visibilityForm.endDate) }}

                            <button type="submit" class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                            <a href="{{ path('admin.pages.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                            {{ form_end(visibilityForm) }}
                        </tab>

                        <tab name="{{ 'tab.site_map'|trans({}, 'text') }}">
                            {{ form_start(siteMapForm) }}
                            {{ form_row(siteMapForm.includeInSiteMap) }}

                            <button type="submit" class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                            <a href="{{ path('admin.pages.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                            {{ form_end(siteMapForm) }}
                        </tab>
                    {% endif %}
                </tabs>
            </div>
        </div>
    </div>
{% endblock %}
