body {
    margin: 0; 
    padding: 0; 
    background-color: #fff;
}

.mail-header {
    padding: 15px 0;
    background-color: #f6f6f6;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 3px solid #cb333b;
}

.mail-header .logo {
    margin: 0;
    border: none;
    display: block;
    height: 25px;
    padding: 0 15px;
}

.mail-heading {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 15px 0;
}

.mail-heading .mail-paragraph {
    margin: 0 0 15px 0;
}


.mail-body {
    padding: 30px 15px;
}

.mail-body ul {
    list-style: none;
    margin: 15px 0;
    padding: 0;
}

.mail-body ul li {
    margin: 0 0 2px 0;
}


.mail-footer {
    padding: 15px 15px;
    background-color: #f9f9f9;
    border-top: 3px solid #5b6770;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #cb333b;
}