.irs-grid-pol {
  top: -14px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.irs-grid-pol.small {
  display: none;
}

.irs--flat .irs-grid-pol {
  background-color: $dark;
}

.irs-grid-text {
  display: none;
}

.irs-max {
  visibility: visible!important;
}

.irs-min {
  visibility: visible!important;
}

.irs--flat .irs-single {
  font-size: 12px!important;
  font-weight: bold;
}