.landing {
    padding: 100px 0 0 0;

    @include media-breakpoint-only(sm) {
        padding: 60px 0 0 0;
    }

    @include media-breakpoint-down(xs) {
        padding: 64px 0 0 0;

        .space {
            padding: 30px 0;
        }
    }

    .credit-application-form-module {
        @include media-breakpoint-up(lg) {
            min-height: 750px;
        }
    }
}

.calculator-text {
    padding: 25px 0;
}

nav.landing-page {

    .menu-up {
        padding-top: 0;
        margin-top: 0;

        @include media-breakpoint-down(xs) {
            text-align: center;
            margin: 5px 0 0 0;
        }

        li {
            display: inline-block;
            padding: 0 15px;
            font-size: 16px;
            text-transform: uppercase;
            position: relative;

            &:last-of-type:before {
                display: none;
            }

            @include media-breakpoint-down(xs) {
                width: 100%;
                display: block;
                margin: 30px 0;
                padding: 0;
                text-align: center;

                a {
                    color: #212529;
                }
            }
        }
    }

    .menu-dawn {
        @include media-breakpoint-down(xs) {
            text-align: center;
            margin: 5px 0 0 0;
        }

        li {

            &:last-of-type:before {
                display: none;
            }

            a {
                &.phone-icon {
                    background-image: url('../images/icons/phone-red.svg');
                    background-position: center left;
                    background-repeat: no-repeat;
                    background-size: 17px auto;
                    padding-left: 20px;
                    color: #cb333b;
                }
            }

            @include media-breakpoint-down(xs) {
                width: 100%;
                display: block;
                margin: 30px 0;
                padding: 0;
                text-align: center;

                a {
                    color: #212529;
                }
            }
        }
    }
}

div.landing-page {
    .mobile-phone {
        font-weight: 500;
        z-index: 105;
        margin-top: 0;

        a {
            padding-left: 20px;
            color: #cb333b;
            font-size: 22px;

            &.phone-icon {
                background-image: url('../images/icons/phone-red.svg');
                background-position: center left;
                background-repeat: no-repeat;
                background-size: 22px auto;
            }
        }

        .nav-btn {
            margin-top: 7px;

            span {
                background-color: $danger;
            }
        }
    }
}

footer {
    .socials.landing-page {
        @include media-breakpoint-down(xs) {
            margin: 20px 0 0;
        }
    }
}