.sticky-right-menu span img {
  height: 26px;
  margin-left: 3px;
}

.sticky-right-menu {
  position: fixed;
  z-index: 10;
  right: -150px;

  span {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    margin-bottom: 1px;
    line-height: 40px;
    font-size: 0;
  }

  .content {
    width: 150px;
    padding-left: 10px;
    color: white;
    font-size: 14px;
    display: inline-block;
  }

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      top: calc(30% + #{40 + ( 42 * ( $i - 1 ) )}px);
    }
  }
}

div[data-location] {
  &:hover {
    right: 0;
    transition: right 1s;
  }
}

div[data-apply-for-credit] {
  &:hover {
    right: 0;
    transition: right 1s;
  }
}