iframe#launcher {
    display: none !important;
}

.sticky-mobile-chat-icon {
    display: none;
    position: fixed;
    z-index: 1010;
    bottom: 20px;
    right: 15px;
    img {
        width: 30px;
        @include border-radius(50%);
        box-shadow: 0px 2px 30px 5px rgba(0, 0, 0, 0.2);
    }
    @include media-breakpoint-down(sm)    {
        display: block;
    }
}
.sticky-chat-icon {
    display: block;
    position: fixed;
    z-index: 1010;
    bottom: 15px;
    right: 15px;
    font-size: 12px;
    text-transform: none;
    box-shadow: 0px 2px 30px 5px rgba(0, 0, 0, 0.3);

    img{
        width: 30px;
        margin-right: 5px;
    }
    @include media-breakpoint-down(sm)    {
        display: none;
    }
}
.white-red-btn {
    @extend .btn;
    padding: 10px 15px;
    background-color: $white;
    color: #cb333b;
    font-size: 12px;
    @include transition(.3s);
    @include border-radius(2px);
    &:hover {
        color: $white;
        background-color: #b9272f;
    }
    &:focus {
        color: #cb333b;
    }
}