{% extends 'mail/mail_base.html.twig' %}

{% block content %}
    <div class="mail-heading">Hello {{ userName }},</div>
    <div class="mail-paragraph">you have successfully registered with our application!</div>

    <div class="mail-heading">Enjoy!</div>

{% endblock %}