{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="space search-result">
                    <div class="row">
                        <div class="col-12">

                            {% for result in results %}
                                <div class="result-item">
                                    <a href="{{ result.url }}"> {{ result.text }}</a>
                                </div>
                            {% else %}
                                <div class="empty-result">
                                    {{ 'public.search.no_results'|trans({}, 'text') }}
                                </div>
                            {% endfor %}

                            <div class="navigation mt-5">
                                {{ knp_pagination_render(results) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
