{% extends 'base.html.twig' %}

{% block headline %}
    {{ 'public.title.pay_online.success'|trans({}, 'text') }}
{% endblock %}

{% block title %}
    {{ 'public.title.pay_online.success'|trans({}, 'text') }}
{% endblock %}

{% block content %}
    <section class="credit-apply space">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="apply-form">
                        <p>
                            {{ 'pay_online.success_text'|trans({}, 'text') }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
