{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.create_faq'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2>{{ 'headline.create_faq'|trans({}, 'text') }}</h2>
                <tabs>
                    <tab name="{{ 'tab.content'|trans({}, 'text') }}" :selected="true">
                        {{ form_start(form) }}
                        {{ form_row(form.question) }}
                        {{ form_row(form.answer) }}

                        <button class="btn btn-primary" name="create">{{ 'button.save'|trans({}, 'form') }}</button>
                        <a href="{{ path('admin.faqs.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                        {{ form_end(form) }}
                    </tab>
                </tabs>
            </div>
        </div>
    </div>
{% endblock %}
