{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.faqs'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">
                {{ 'headline.faqs'|trans({}, 'text') }}
                <a href="{{ path('admin.faqs.create') }}" class="btn btn-info btn-xs"><i class="fa fa-plus-circle"></i> Add</a>
            </h2>

            <form class="form-inline justify-content-between" method="get">
                <label class="sr-only" for="question">{{ 'label.question'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="question" name="question" placeholder="{{ 'placeholder.question'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('question') }}">

                <label class="sr-only" for="answer">{{ 'label.answer'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="answer" name="answer" placeholder="{{ 'placeholder.answer'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('answer') }}">

                <a href="{{ path('admin.faqs.index') }}" class="btn btn-secondary mb-2 mr-2"><i
                            class="fa fa-remove"></i> {{ 'button.clear'|trans({}, 'form') }}</a>
                <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-filter"></i> {{ 'button.filter'|trans({}, 'form') }}</button>
            </form>

            <form method="post" action="{{ path('admin.faqs.order') }}">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>{{ 'column.question'|trans({}, 'table') }}</th>
                        <th>{{ 'column.start_date'|trans({}, 'text') }}</th>
                        <th>{{ 'column.end_date'|trans({}, 'text') }}</th>
                        <th>{{ 'column.actions'|trans({}, 'table') }}</th>
                    </tr>
                    </thead>
                    <tbody data-controller="sortable">
                    {% for faq in faqs %}
                        {# @var faq \App\Entity\Faq #}
                        <tr>
                            <td>{{ faq.question }} <input type="hidden" name="sortedQuestions[]" value="{{ faq.id }}">
                            </td>
                            <td>{{ faq.startDate is not null ? faq.startDate|formatted_date : '' }}</td>
                            <td>{{ faq.endDate is not null ? faq.endDate|formatted_date : '' }}</td>
                            <td>
                                <div class="dropdown">
                                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                       id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        {{ 'button.select'|trans({}, 'table') }}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="{{ path('admin.faqs.update', {'id': faq.id}) }}"><i
                                                    class="fa fa-pencil-square-o"></i> {{ 'button.edit'|trans({}, 'table') }}
                                        </a>
                                        <delete-link icon-class="fa fa-trash-o"
                                                     target-url="{{ path('admin.faqs.delete', {id: faq.id}) }}"
                                                     redirect-url="{{ path('admin.faqs.index') }}"
                                                     confirmation-message="{{ 'confirmation_message.delete.faqs'|trans({},'messages') }}">
                                            {{ 'button.delete'|trans({}, 'table') }}</delete-link>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">{{ 'no_faqs_found'|trans({}, 'table') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary mt-2" {% if filtered %}disabled{% endif %}><i class="fa fa-sort-amount-desc"></i> {{ 'button.save_order'|trans({}, 'form') }}</button>
            </form>
        </div>
    </div>
{% endblock %}
