{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.update_faq'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2>{{ 'headline.update_faq'|trans({}, 'text') }}</h2>
                <tabs>
                    <tab name="{{ 'tab.content'|trans({}, 'text') }}" :selected="true">
                        <tabs>
                            <tab name="ua" :selected="true" parent="{{ 'tab.content'|trans({}, 'text') }}">
                                {{ form_start(contentForms.ua) }}
                                {{ form_row(contentForms.ua.question) }}
                                {{ form_row(contentForms.ua.answer) }}

                                <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                                <a href="{{ path('admin.faqs.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                                {{ form_end(contentForms.ua) }}
                            </tab>
                            <tab name="ru" parent="{{ 'tab.content'|trans({}, 'text') }}">
                                {{ form_start(contentForms.ru) }}
                                {{ form_row(contentForms.ru.question) }}
                                {{ form_row(contentForms.ru.answer) }}

                                <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                                <a href="{{ path('admin.faqs.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                                {{ form_end(contentForms.ru) }}
                            </tab>
                            <tab name="en" parent="{{ 'tab.content'|trans({}, 'text') }}">
                                {{ form_start(contentForms.en) }}
                                {{ form_row(contentForms.en.question) }}
                                {{ form_row(contentForms.en.answer) }}

                                <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                                <a href="{{ path('admin.faqs.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                                {{ form_end(contentForms.en) }}
                            </tab>
                        </tabs>
                    </tab>
                    {% if contentForms.ua.vars.data.id is not null %}
                        <tab name="{{ 'tab.visibility'|trans({}, 'text') }}">
                            {{ form_start(visibilityForm) }}
                            {{ form_row(visibilityForm.startDate) }}
                            {{ form_row(visibilityForm.endDate) }}

                            <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                            <a href="{{ path('admin.faqs.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                            {{ form_end(visibilityForm) }}
                        </tab>
                    {% endif %}
                </tabs>
            </div>
        </div>
    </div>
{% endblock %}
