{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.job_openings'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">
                {{ 'headline.job_openings'|trans({}, 'text') }}
                <a href="{{ path('admin.job_openings.create') }}" class="btn btn-info btn-xs"><i class="fa fa-plus-circle"></i> {{ 'button.add'|trans({}, 'form') }}</a>
            </h2>

            <form class="form-inline justify-content-between" method="get">
                <label class="sr-only" for="position">{{ 'label.position'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="position" name="position" placeholder="{{ 'placeholder.position'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('position') }}">

                <label class="sr-only" for="description">{{ 'label.description'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="description" name="description" placeholder="{{ 'placeholder.description'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('description') }}">

                <label class="sr-only" for="department">{{ 'label.department'|trans({}, 'form') }}</label>
                <select name="department" id="department" class="custom-select flex-grow-1 mb-2 mr-sm-2">
                    <option value="any">{{ 'option.any_department'|trans({}, 'form') }}</option>
                    {% for department in departments %}
                        <option value="{{ department.id }}" {% if app.request.query.get('department') == department.id %}selected{% endif %}>{{ department.name }}</option>
                    {% endfor %}
                </select>

                <label class="sr-only" for="office">{{ 'label.office'|trans({}, 'form') }}</label>
                <select name="office" id="office" class="custom-select flex-grow-1 mb-2 mr-sm-2">
                    <option value="any">{{ 'option.any_office'|trans({}, 'form') }}</option>
                    {% for office in offices %}
                        <option value="{{ office.id }}" {% if app.request.query.get('office') == office.id %}selected{% endif %}>{{ office.name }}</option>
                    {% endfor %}
                </select>

                <label class="sr-only" for="city">{{ 'label.city'|trans({}, 'form') }}</label>
                <select name="city" id="city" class="custom-select flex-grow-1 mb-2 mr-sm-2">
                    <option value="any">{{ 'option.any_city'|trans({}, 'form') }}</option>
                    {% for city in cities %}
                        <option value="{{ city.id }}" {% if app.request.query.get('city') == city.id %}selected{% endif %}>{{ city.name }}</option>
                    {% endfor %}
                </select>

                <a href="{{ path('admin.job_openings.index') }}" class="btn btn-secondary mb-2 mr-2"><i
                            class="fa fa-remove"></i> {{ 'button.clear'|trans({}, 'form') }}</a>
                <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-filter"></i> {{ 'button.filter'|trans({}, 'form') }}</button>
            </form>

            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>{{ 'column.position'|trans({}, 'table') }}</th>
                    <th>{{ 'column.department'|trans({}, 'table') }}</th>
                    <th>{{ 'column.office'|trans({}, 'table') }}</th>
                    <th>{{ 'column.city'|trans({}, 'table') }}</th>
                    <th>{{ 'column.deadline'|trans({}, 'table') }}</th>
                    <th>{{ 'column.actions'|trans({}, 'table') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for jobOpening in jobOpenings %}
                    {# @var jobOpening \App\Entity\JobOpening #}
                    <tr>
                        <td>{{ jobOpening.position }}</td>
                        <td>{{ jobOpening.department.name }}</td>
                        <td>{{ jobOpening.office.name }}</td>
                        <td>{{ jobOpening.city.name }}</td>
                        <td>{{ jobOpening.deadline|formatted_date }}</td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                   id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    {{ 'button.select'|trans({}, 'table') }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="{{ path('admin.job_openings.update', {'id': jobOpening.id}) }}"><i class="fa fa-pencil-square-o"></i> {{ 'button.edit'|trans({}, 'table') }}</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{{ 'no_job_openings_found'|trans({}, 'table') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation">
                {{ knp_pagination_render(jobOpenings) }}
            </div>
        </div>
    </div>
{% endblock %}
