{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.update_job_opening'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2>{{ 'headline.update_job_opening'|trans({}, 'text') }}</h2>
                <tabs>
                    <tab name="{{ 'tab.content'|trans({}, 'text') }}" :selected="true" class="mt-3">
                        {{ form_start(contentForm) }}
                        {{ form_row(contentForm.position) }}
                        {{ form_row(contentForm.slug) }}
                        {{ form_row(contentForm.description) }}
                        {{ form_row(contentForm.reference) }}
                        {{ form_row(contentForm.department) }}
                        {{ form_row(contentForm.office) }}
                        {{ form_row(contentForm.city) }}
                        {{ form_row(contentForm.deadline) }}
                        {{ form_row(contentForm.showImage) }}

                        <button class="btn btn-primary">{{ 'button.save_content'|trans({}, 'form') }}</button>
                        <a href="{{ path('admin.job_openings.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                        {{ form_end(contentForm) }}
                    </tab>
                    {% if contentForm.vars.data.id is not null %}
                        <tab name="{{ 'tab.seo'|trans({}, 'text') }}" class="mt-3">
                            {{ form_start(seoForm) }}
                            {{ form_row(seoForm.metaTitle) }}
                            {{ form_row(seoForm.metaDescription) }}
                            {{ form_row(seoForm.metaKeywords) }}
                            {{ form_row(seoForm.ogTitle) }}
                            {{ form_row(seoForm.ogDescription) }}
                            {{ form_row(seoForm.ogImage) }}

                            <button class="btn btn-primary">{{ 'button.save_seo'|trans({}, 'form') }}</button>
                            <a href="{{ path('admin.job_openings.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                            {{ form_end(seoForm) }}
                        </tab>
                        <tab name="{{ 'tab.visibility'|trans({}, 'text') }}" class="mt-3">
                            {{ form_start(visibilityForm) }}
                            {{ form_row(visibilityForm.startDate) }}
                            {{ form_row(visibilityForm.endDate) }}

                            <button class="btn btn-primary">{{ 'button.save_visibility'|trans({}, 'form') }}</button>
                            <a href="{{ path('admin.job_openings.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                            {{ form_end(visibilityForm) }}
                        </tab>
                        <tab name="{{ 'tab.cover_image'|trans({}, 'text') }}">
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_start(coverImageForm) }}
                                    {{ form_row(coverImageForm.image) }}

                                    <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                                    <a href="{{ path('admin.job_openings.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                                    {{ form_end(coverImageForm) }}
                                </div>
                                <div class="col-md-6">
                                    {% if contentForm.vars.data.image is not null %}
                                        <img class="mt-3" src="{{ contentForm.vars.data.image|relative_image_path|imagine_filter('carousel') }}" alt="{{ contentForm.vars.data.image }}" class="img-thumbnail">
                                    {% else %}
                                        <p>{{ 'no_cover_image_has_been_uploaded'|trans({}, 'text') }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </tab>
                    {% endif %}
                </tabs>
            </div>
        </div>
    </div>
{% endblock %}
