<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>Server image browsing</title>

    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <script type="text/javascript">
        function returnFileUrl(fileName) {
            window.opener.CKEDITOR.tools.callFunction(funcNum, fileName);
            window.close();
        }

    </script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style>

        body {
            margin: 15px;
            background-color: #e8e8e8;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        ul li {
            margin: 0 0 25px 0;
            min-height: 160px !important;
            position: relative;
            overflow: hidden;
        }

        ul li.selected .img-box {
            overflow: hidden;
            position: relative;
        }

        ul li.selected .img-box:before {
            content: "";
            background-color: rgba(255, 255, 255, 0.6);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        ul li.selected .img-box:after {
            content: "\e167";
            font-family: 'Glyphicons Halflings';
            font-size: 34px;
            position: absolute;
            top: 50%;
            left: 50%;
            color: #fff;
            margin-left: -17px;
            margin-top: -24px;
        }

        ul li img {
            display: block;
            width: 100%;
        }

        .pagination {
            margin: 20px auto 0;
            display: table;
        }

    </style>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <ul>
            {% if images is defined and images is not empty %}
                {% for image in images %}
                    <li class="col-md-2 col-sm-3 col-xs-6">
                        <div class="img-box">
                            <img src="{{ image.filePath|imagine_filter('carousel') }}"
                                 ondblclick="returnFileUrl('{{ image.filePath|imagine_filter('carousel') }}')" class="img-responsive" />
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
        <div class="col-md-12">
            {{ knp_pagination_render(images) }}
        </div>
    </div>
</div>

<script type="text/javascript">

    $('ul li').on('click', function () {
        $('ul li').removeClass('selected');
        $(this).addClass('selected');
    });

</script>

</body>
</html>
