{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.promotions'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">
                {{ 'headline.promotions'|trans({}, 'text') }}
                <a href="{{ path('admin.promotions.create') }}" class="btn btn-info btn-xs"><i class="fa fa-plus-circle"></i> Add</a>
            </h2>

            <form class="form-inline justify-content-between" method="get">
                <label class="sr-only" for="title">{{ 'label.title'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="title" name="title" placeholder="{{ 'placeholder.title'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('title') }}">
                <a href="{{ path('admin.promotions.index') }}" class="btn btn-secondary mb-2 mr-2"><i
                            class="fa fa-remove"></i> {{ 'button.clear'|trans({}, 'form') }}</a>
                <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-filter"></i> {{ 'button.filter'|trans({}, 'form') }}</button>
            </form>

            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>{{ 'column.title'|trans({}, 'table') }}</th>
                    <th>{{ knp_pagination_sortable(promotions, 'column.featured'|trans({}, 'table') , 'promotion.featured') }}</th>
                    <th>{{ 'column.start_date'|trans({}, 'text') }}</th>
                    <th>{{ 'column.end_date'|trans({}, 'text') }}</th>
                    <th>{{ 'column.actions'|trans({}, 'table') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for promotion in promotions %}
                    {# @var promotion \App\Entity\Promotion #}
                    <tr>
                        <td>{{ promotion.title }}</td>
                        <td>
                            {% if promotion.featured %}
                                <span class="badge badge-success">{{ 'option.yes' | trans({}, 'table') }}</span>
                            {% else %}
                                <span class="badge badge-warning">{{ 'option.no' | trans({}, 'table') }}</span>
                            {% endif %}
                        </td>
                        <td>{{ promotion.startDate is not null ? promotion.startDate|formatted_date : '' }}</td>
                        <td>{{ promotion.endDate is not null ? promotion.endDate|formatted_date : '' }}</td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                   id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    {{ 'button.select'|trans({}, 'table') }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="{{ path('admin.promotions.update', {'id': promotion.id}) }}"><i class="fa fa-pencil-square-o"></i> {{ 'button.edit'|trans({}, 'table') }}</a>
                                    <delete-link icon-class="fa fa-trash-o"
                                                 target-url="{{ path('admin.promotions.delete', {id: promotion.id}) }}"
                                                 redirect-url="{{ path('admin.promotions.index') }}"
                                                 confirmation-message="{{ 'confirmation_message.delete.promotions'|trans({},'messages') }}">
                                        {{ 'button.delete'|trans({}, 'table') }}</delete-link>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{{ 'no_promotions_found'|trans({}, 'table') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation">
                {{ knp_pagination_render(promotions) }}
            </div>
        </div>
    </div>
{% endblock %}
