{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.create_gift'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2>{{ 'headline.create_gift'|trans({}, 'text') }}</h2>
                <tabs>
                    <tab name="{{ 'tab.content'|trans({}, 'text') }}" :selected="true">
                        {{ form_start(form) }}
                        {{ form_row(form.name) }}
                        {{ form_row(form.code) }}
                        {{ form_row(form.price) }}
                        {{ form_row(form.new) }}

                        <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                        <a href="{{ path('admin.gifts.index') }}"
                           class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                        {{ form_end(form) }}
                    </tab>
                </tabs>
            </div>
        </div>
    </div>
{% endblock %}
