{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.gifts'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">
                {{ 'headline.gifts'|trans({}, 'text') }}
                <a href="{{ path('admin.gifts.create') }}" class="btn btn-info btn-xs"><i class="fa fa-plus-circle"></i> Add</a>
            </h2>

            <form class="form-inline justify-content-between" method="get">
                <label class="sr-only" for="name">{{ 'label.name'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="name" name="name" placeholder="{{ 'placeholder.name'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('name') }}">

                <label class="sr-only" for="code">{{ 'label.code'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="code" name="code" placeholder="{{ 'placeholder.code'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('code') }}">

                <a href="{{ path('admin.gifts.index') }}" class="btn btn-secondary mb-2 mr-2"><i
                            class="fa fa-remove"></i> {{ 'button.clear'|trans({}, 'form') }}</a>
                <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-filter"></i> {{ 'button.filter'|trans({}, 'form') }}</button>
            </form>

            <form method="post" action="{{ path('admin.gifts.order') }}">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>{{ 'column.name'|trans({}, 'table') }}</th>
                        <th>{{ 'column.code'|trans({}, 'table') }}</th>
                        <th>{{ 'column.price'|trans({}, 'table') }}</th>
                        <th>{{ 'column.new'|trans({}, 'table') }}</th>
                        <th>{{ 'column.actions'|trans({}, 'table') }}</th>
                    </tr>
                    </thead>
                    <tbody data-controller="sortable">
                    {% for gift in gifts %}
                        {# @var gift \App\Entity\Gift #}
                        <tr>
                            <td>{{ gift.name }} <input type="hidden" name="sortedGifts[]" value="{{ gift.id }}">
                            </td>
                            <td>{{ gift.code }}</td>
                            <td>{{ gift.price|number_format}}</td>
                            <td>
                                {% if gift.new %}
                                    <span class="badge badge-success">{{ 'option.yes' | trans({}, 'table') }}</span>
                                {% else %}
                                    <span class="badge badge-warning">{{ 'option.no' | trans({}, 'table') }}</span>
                                {% endif %}
                            </td>
                            <td>
                                <div class="dropdown">
                                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                       id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        {{ 'button.select'|trans({}, 'table') }}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="{{ path('admin.gifts.update', {'id': gift.id}) }}"><i
                                                    class="fa fa-pencil-square-o"></i> {{ 'button.edit'|trans({}, 'table') }}
                                        </a>
                                        <delete-link icon-class="fa fa-trash-o"
                                                     target-url="{{ path('admin.gifts.delete', {id: gift.id}) }}"
                                                     redirect-url="{{ path('admin.gifts.index') }}"
                                                     confirmation-message="{{ 'confirmation_message.delete.gifts'|trans({},'messages') }}">
                                            {{ 'button.delete'|trans({}, 'table') }}</delete-link>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">{{ 'no_gifts_found'|trans({}, 'table') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary mt-2" {% if filtered %}disabled{% endif %}><i class="fa fa-sort-amount-desc"></i> {{ 'button.save_order'|trans({}, 'form') }}</button>
            </form>
        </div>
    </div>
{% endblock %}
