{% extends 'base.html.twig' %}

{% block customSeoTags %}
    <meta name="title" content="【Новини для швидких кредитів】 Новини • Інтернет-блог - iCredit"/>
    <meta name="description" content="Дізнайтеся все про ⚫ Позики до зарплати ⚫ Рефінансування ⚫  Відсотки ⚫ Ідеї ⚫ Поради 【iCredit】 Подайте заявку через Інтернет ➤ або за номером ☎0800601810">
    <meta name="keywords" content="новини, інформація, що нового, блог, порада, акція, вижлива інформація, корисна інформація, актуально, iCredit">

    <meta property="og:title" content="【Новини для швидких кредитів】 Новини • Інтернет-блог - iCredit"/>
    <meta property="og:description" content="Дізнайтеся все про ⚫ Позики до зарплати ⚫ Рефінансування ⚫  Відсотки ⚫ Ідеї ⚫ Поради 【iCredit】 Подайте заявку через Інтернет ➤ або за номером ☎0800601810">
{% endblock %}

{% block title %}
    【Новини для швидких кредитів】 Новини • Інтернет-блог | {{ 'page_title.symfony_starter'|trans({}, 'text') }}
{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
{% endblock %}

{% block headline %}
    {{ 'headline.news'|trans({}, 'text') }}
{% endblock %}

{% block content %}
    <section class="news space" style="background-color: #f6f6f6;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="filter">
                        <form>
                            <div class="row justify-content-end">
                                <div class="col-auto">
                                    <label for="limit">{{ 'label.show'|trans({}, 'form') }}</label>
                                    <select name="limit" id="limit" class="custom-select" data-controller="query"
                                            data-query-parameter="limit">
                                        <option value="9"
                                                {% if app.request.query.get('limit') == 9 %}selected{% endif %}>9
                                        </option>
                                        <option value="18"
                                                {% if app.request.query.get('limit') == 18 %}selected{% endif %}>18
                                        </option>
                                        <option value="36"
                                                {% if app.request.query.get('limit') == 36 %}selected{% endif %}>36
                                        </option>
                                    </select>
                                </div>
                                <div class="col-auto">
                                    <label for="category">{{ 'label.filter'|trans({}, 'form') }}</label>
                                    <select name="category" id="category" class="custom-select" data-controller="query"
                                            data-query-parameter="category">
                                        <option value="any">{{ 'option.any_category'|trans({}, 'form') }}</option>
                                        {% for key,value in categories %}
                                            <option value="{{ key }}"
                                                    {% if app.request.query.get('category') == key %}selected{% endif %}>{{ value|trans({}, 'form') }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                {% if featuredNews is not null %}
                    <div class="col-md-12">
                        <div class="promo-news">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="d-block d-sm-none">
                                        <a href="{{ path('news.show', {'slug': featuredNews.slug}) }}"
                                           class="title text-decoration-none">{{ featuredNews.title }}</a>
                                        <div class="meta">{{ featuredNews.createdAt|formatted_date }}</div>
                                    </div>
                                    <a href="{{ path('news.show', {'slug': featuredNews.slug}) }}"><img class="w-100"
                                                                                                        src="{% if featuredNews.image %}{{ featuredNews.image|relative_image_path|imagine_filter('index_thumbnail') }}{% else %}{{ asset('build/images/icredit-default-img.jpg') }}{% endif %}"/></a>
                                </div>
                                <div class="col-md-8">
                                    <div class="d-none d-sm-block">
                                        <a href="{{ path('news.show', {'slug': featuredNews.slug}) }}" class="title text-decoration-none">{{ featuredNews.title }}</a>
                                        <div class="meta">{{ featuredNews.createdAt|formatted_date }}</div>
                                    </div>
                                    <div class="desc">{{ featuredNews.content|limit_chars(300)|raw }}</div>
                                    <a href="{{ path('news.show', {'slug': featuredNews.slug}) }}"
                                       class="btn btn-outline-danger">{{ 'learn_more'|trans({}, 'text') }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% for news in newsItems %}
                    <div class="col-md-4">
                        <div class="news-item">
                            <a href="{{ path('news.show', {'slug': news.slug}) }}">
                                <figure style="min-height: 170px; overflow: hidden; text-align: center;">
                                    <img class="img-fluid w-100"
                                         src="{% if news.image %}{{ news.image|relative_image_path|imagine_filter('index_thumbnail') }}{% else %}{{ asset('build/images/icredit-default-img.jpg') }}{% endif %}">
                                </figure>
                            </a>
                            <a href="{{ path('news.show', {'slug': news.slug}) }}" class="text-decoration-none"><h5 class="text-truncate-two-lines">{{ news.title|limit_chars(80) }}</h5></a>
                            <div class="meta">{{ news.createdAt|formatted_date }}</div>
                            <div class="desc text-truncate-three-lines">{{ news.introduction|limit_chars(150) }}</div>
                            <a href="{{ path('news.show', {'slug': news.slug}) }}"
                               class="btn btn-outline-danger">{{ 'learn_more'|trans({}, 'text') }}</a>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-12">
                        <p class="text-muted">{{ 'no_news_found'|trans({}, 'text') }}</p>
                    </div>
                {% endfor %}
            </div>

            {{ knp_pagination_render(newsItems) }}

        </div>
    </section>
{% endblock %}
