{% extends 'base.html.twig' %}

{% block title %}
    {{ news.title }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}
{% endblock %}

{% block SEO %}
    {% include 'seo_partial.html.twig' with {seo: news} %}
{% endblock %}

{% block headline %}
    {{ news.title }}
{% endblock %}

{% block content %}

    <section class="news-article space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="go-back">
                        <a href="{{ path('news.index') }}"><i class="fa fa-reply"
                                                              aria-hidden="true"></i>{{ 'news.back_to_news'|trans({}, 'text')|upper }}
                        </a>
                    </div>

                    <article>
                        <div class="row">
                            {% if news.showImage %}
                                <div class="col-md-4">
                                    <img src="{% if news.image %}{{ news.image|relative_image_path|imagine_filter('index_thumbnail') }}{% else %}{{ asset('build/images/icredit-default-img.jpg') }}{% endif %}"
                                         class="img-fluid">
                                </div>
                            {% endif %}

                            <div class="{% if news.showImage %}col-md-8{% else %}col-md-12{% endif %}">
                                <h1>{{ news.title }}</h1>
                                <div class="meta">
                                    {{ news.createdAt|formatted_date }}
                                </div>
                                <div class="desc">
                                    <div class="ck-content">
                                        {{ news.content|raw }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <div class="similar-news space">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <h5 class="heading text-center">{{ 'news.more_news.heading'|trans({}, 'text') }}</h5>
                    </div>
                    {% if previousNews|default %}
                        <div class="col-md-6">
                            <div class="similar-article">
                                <span class="definition">{{ 'news.previous'|trans({}, 'text') }}</span>
                                <a href="" class="title">
                                    <span class="text-truncate-two-lines">{{ previousNews.title|limit_chars(120) }}</span>
                                </a>
                                <div class="meta">
                                    {{ previousNews.createdAt|formatted_date }}
                                </div>
                                <div class="desc">
                                    <p class="text-truncate-two-lines">{{ previousNews.introduction|limit_chars(140) }}</p>
                                </div>
                                <a href="{{ path('news.show', {'slug': previousNews.slug}) }}"
                                   class="btn btn-sm btn-outline-danger">{{ 'learn_more'|trans({}, 'text') }}</a>
                            </div>
                        </div>
                    {% endif %}

                    {% if nextNews|default %}
                        <div class="col-md-6">
                            <div class="similar-article">
                                <span class="definition">{{ 'news.next'|trans({}, 'text') }}</span>
                                <a href="" class="title">
                                    <span class="text-truncate-two-lines">{{ nextNews.title|limit_chars(120) }}</span>
                                </a>
                                <div class="meta">
                                    {{ nextNews.createdAt|formatted_date }}
                                </div>
                                <div class="desc">
                                    <p class="text-truncate-two-lines">{{ nextNews.introduction|limit_chars(140) }}</p>
                                </div>
                                <a href="{{ path('news.show', {'slug': nextNews.slug}) }}"
                                   class="btn btn-sm btn-outline-danger">{{ 'learn_more'|trans({}, 'text') }}</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
