{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.entity_translations'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>{{ 'headline.entity_translations'|trans({}, 'text') }}</h2>

            <form class="form-inline justify-content-between" method="get">
                <label class="sr-only" for="classFilter">Class</label>
                <select name="classFilter" id="classFilter" class="custom-select flex-grow-1 mb-2 mr-sm-2">
                    <option value="">{{ 'option.any_class'|trans({}, 'form') }}</option>
                    {% for key, value in classes %}
                        <option value="{{ value }}"
                                {% if app.request.query.get('classFilter') == value %}selected{% endif %}>{{ key }}</option>
                    {% endfor %}
                </select>

                <label class="sr-only" for="foreignKeyFilter">{{ 'label.id'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="foreignKeyFilter" name="foreignKeyFilter" placeholder="{{ 'placeholder.id'|trans({}, 'form') }}" value="{{ app.request.query.get('foreignKeyFilter') }}">


                <label class="sr-only" for="fieldFilter">{{ 'label.field'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="fieldFilter" name="fieldFilter" placeholder="{{ 'placeholder.field'|trans({}, 'form') }}" value="{{ app.request.query.get('fieldFilter') }}">

                <a href="{{ path('admin.entity_translation.index') }}" class="btn btn-secondary mb-2 mr-2"><i class="fa fa-remove"></i> {{ 'button.clear'|trans({}, 'form') }}</a>
                <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-filter"></i> {{ 'button.filter'|trans({}, 'form') }}</button>
            </form>

            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>{{ 'column.record'|trans({}, 'table') }}</th>
                    <th>{{ 'column.actions'|trans({}, 'table') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for translation in translations %}
                    <tr>
                        <td>
                            <span class="badge badge-pill badge-secondary text-white">{{ translation['objectClass'] }}</span>
                            with id=<span class="badge badge-pill badge-secondary text-white">{{ translation['foreignKey'] }}</span>,
                            for field=<span class="badge badge-pill badge-secondary text-white">{{ translation['field'] }}</span>,
                            with content=<span class="badge badge-pill badge-secondary text-white">{{ translation.content|limit_chars(90) }}</span>
                        </td>
                        <td>
                            <a href="{{ path('admin.entity_translation.edit', {'class': translation['objectClass'], 'field': translation['field'], 'foreignKey': translation['foreignKey']}|merge(app.request.query.all)) }}" class="btn btn-secondary btn-sm">{{ 'button.edit'|trans({}, 'table') }}</a>
                        </td>
                    </tr>
                {% else %}
                    <tr><td colspan="5">{{ 'no_translations_were_found'|trans({}, 'table') }}</td></tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation">
                {{ knp_pagination_render(translations) }}
            </div>
        </div>
    </div>
{% endblock %}
