{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.update_entity_translation'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>
                {{ 'headline.update_entity_translation'|trans({}, 'text') }}
            </h2>
            <h5>
                <span class="badge badge-pill badge-secondary text-white">{{ class }}</span>
                {{ 'with_id'|trans({}, 'text') }}=<span class="badge badge-pill badge-secondary text-white">{{ foreignKey }}</span>,
                {{ 'for_field'|trans({}, 'text') }}=<span class="badge badge-pill badge-secondary text-white">{{ field }}</span>
            </h5>
            <p>
                <a href="{{ path('admin.entity_translation.index', {}|merge(app.request.query.all)) }}">{{ 'link.back'|trans({}, 'text') }}</a>
            </p>
        </div>

        <div class="col-md-12">
            <entity-translations-form object-class="{{ class }}" foreign-key={{ foreignKey }} field={{ field }} locales="{{ locales }}"></entity-translations-form>
        </div>
    </div>
{% endblock %}
