{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.bulletins'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">
                {{ 'headline.bulletins'|trans({}, 'text') }}
                <a href="{{ path('admin.bulletins.export_csv', app.request.query.all) }}" class="btn btn-info btn-xs">{{ 'button.csv_export'|trans({}, 'table') }}</a>
            </h2>

            <form class="form-inline justify-content-between" method="get">
                <label class="sr-only" for="email">{{ 'label.email'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="email" name="email"
                       placeholder="{{ 'placeholder.email'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('email') }}">
                <label class="sr-only" for="start_date">{{ 'label.start_date'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="start_date" name="start_date"
                        value="{{ app.request.query.get('start_date') }}"
                        placeholder="{{ 'placeholder.filter.start_date'|trans({}, 'form') }}"
                        autocomplete="off"
                        data-provide = 'datepicker' data-date-autoclose = true data-date-format = 'dd/mm/yyyy'
                >
                <label class="sr-only" for="end_date">{{ 'label.end_date'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="end_date" name="end_date"
                       value="{{ app.request.query.get('end_date') }}"
                       placeholder="{{ 'placeholder.filter.end_date'|trans({}, 'form') }}"
                       autocomplete="off"
                       data-provide = 'datepicker' data-date-autoclose = true data-date-format = 'dd/mm/yyyy'
                >

                <a href="{{ path('admin.bulletins.index') }}" class="btn btn-secondary mb-2 mr-2"><i
                            class="fa fa-remove"></i> {{ 'button.clear'|trans({}, 'form') }}</a>
                <button type="submit" class="btn btn-primary mb-2"><i
                            class="fa fa-filter"></i> {{ 'button.filter'|trans({}, 'form') }}</button>
            </form>

            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>{{ 'column.email'|trans({}, 'table') }}</th>
                    <th>{{ 'column.subscribed_date'|trans({}, 'table') }}</th>
                    <th>{{ 'column.actions'|trans({}, 'table') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for bulletin in bulletins %}
                    {# @var bulletin \App\Entity\BulletinList #}
                    <tr>
                        <td>{{ bulletin.subscriberEmail }}</td>
                        <td>{{ bulletin.createdAt|formatted_date_time }}</td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                   id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    {{ 'button.select'|trans({}, 'table') }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <delete-link icon-class="fa fa-trash-o"
                                                 target-url="{{ path('admin.bulletins.delete', {id: bulletin.id}) }}"
                                                 redirect-url="{{ path('admin.bulletins.index') }}"
                                                 confirmation-message="{{ 'confirmation_message.delete.bulletins'|trans({},'messages') }}">
                                        {{ 'button.delete'|trans({}, 'table') }}</delete-link>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{{ 'no_bulletins_found'|trans({}, 'table') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation mt-5">
                {{ knp_pagination_render(bulletins) }}
            </div>
        </div>
    </div>
{% endblock %}
