{% extends 'base.html.twig' %}

{% block customSeoTags %}
    <meta name="title" content="【Офіси iCredit 】 Контакти • Графік роботи • Телефон - iCredit"/>
    <meta name="description" content="Графік роботи iCredit ⚫ Офіси iCredit ⚫ Дізнайтеся більше на сайті ⚫ Подайте заявку на кредит через сайт або за телефоном ☎0800601810">
    <meta name="keywords" content="графік офіс, філія, контакти, телефон, адреса, компанія, вихідні, часи роботи, горяча лінія, карта, мапа, iCredit">

    <meta property="og:title" content="【Офіси iCredit 】 Контакти • Графік роботи • Телефон - iCredit"/>
    <meta property="og:description" content="Графік роботи iCredit ⚫ Офіси iCredit ⚫ Дізнайтеся більше на сайті ⚫ Подайте заявку на кредит через сайт або за телефоном ☎0800601810">
{% endblock %}

{% block title %}
    Офіси iCredit 】 Контакти • Графік роботи • Телефон | {{ 'page_title.symfony_starter'|trans({}, 'text') }}
{% endblock %}

{% block headline %}
    {{ 'contact.title'|trans({}, 'text') }}
{% endblock %}

{% block content %}
    {{ render_named_module('Office map') }}

    <section class="contacts space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="contact-form" data-controller="scroll-to-invalid-form-control">
                        {{ form_start(form) }}

                        {{ form_errors(form) }}

                        <div class="form-group row">
                            <div class="col-md-5">
                                {{ form_label(form.about) }}
                            </div>
                            <div class="col-md-7">
                                {{ form_widget(form.about) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-5">
                                {{ form_label(form.firstName) }}
                            </div>
                            <div class="col-md-7">
                                {{ form_widget(form.firstName) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-5">
                                {{ form_label(form.lastName) }}
                            </div>
                            <div class="col-md-7">
                                {{ form_widget(form.lastName) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-5">
                                {{ form_label(form.email) }}
                            </div>
                            <div class="col-md-7">
                                {{ form_widget(form.email) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-5">
                                {{ form_label(form.telephone) }}
                            </div>
                            <div class="col-md-7">
                                {{ form_widget(form.telephone) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-5">
                                {{ form_label(form.address) }}
                            </div>
                            <div class="col-md-7">
                                {{ form_widget(form.address) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-5">
                                {{ form_label(form.feedbackStrategy) }}
                            </div>
                            <div class="col-md-7">
                                {{ form_widget(form.feedbackStrategy) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-5">
                                {{ form_label(form.comment) }}
                            </div>
                            <div class="col-md-7">
                                {{ form_widget(form.comment) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <hr />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="hint">
                                    <i class="fa fa-asterisk fa-required"></i>
                                    {{ 'hint.field_is_required'|trans({}, 'form') }}
                                </div>
                            </div>
                        </div>

{#                        <div class="form-check form-group terms d-flex">#}
{#                            <input class="form-check-input" type="checkbox" value="" id="gdprCheckbox" required>#}
{#                            <label class="form-check-label pt-0" for="gdprCheckbox">#}
{#                                {{ 'label.gdpr_policy_checkbox'|trans({}, 'text') }}#}
{#                            </label>#}
{#                        </div>#}

                        <div class="form-group">
                            <button type="submit" class="btn btn-danger">{{ 'button.send'|trans({}, 'form') }}</button>
                        </div>
                        {{ form_row(form.captcha) }}
                        {{ form_end(form) }}

                        <div class="row">
                            <div class="col-12">
                                <hr />
                            </div>
                        </div>

                        <div class="contact-info">
                            <div class="row">
                                <div class="col-xl-4 col-md-4 col-sm-12 col-12 single">
                                    <div class="icon"><img src="{{ asset('build/images/icons/letter-2.png') }}" alt="Contact Icon"></div>
                                    <div class="title">{{ 'info.correspondence_address.title'|trans({}, 'text') }}</div>
                                    <div class="desc">
                                        {{ 'info.correspondence_address.description'|trans({}, 'text')|raw }}
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-4 col-sm-12 col-12 single">
                                    <div class="icon"><img src="{{ asset('build/images/icons/letter-2.png') }}" alt="Contact Icon"></div>
                                    <div class="title">{{ 'info.company_info.title'|trans({}, 'text') }}</div>
                                    <div class="desc">
                                        {{ 'info.company_info.description'|trans({}, 'text')|raw }}
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-4 col-sm-12 col-12 single">
                                    <div class="icon"><img src="{{ asset('build/images/icons/phone-2.png') }}" alt="Phone Icon"></div>
                                    <div class="title">{{ 'info.telephone.title'|trans({}, 'text') }}</div>
                                    <div class="desc">
                                        {{ 'info.telephone.description'|trans({}, 'text')|raw }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ render_named_module('Content [Offices list]') }}
    </section>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!--Google Recaptcha Script-->
    <script src="https://www.google.com/recaptcha/api.js?render={{ get_setting('google_recaptcha_api_key') }}"></script>
{% endblock %}
