<h3 id="headline">
    {{ 'credit_application.form.apply_for_credit'|trans({}, 'text') }}
</h3>

{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form.name) }}
{{ form_row(form.telephone) }}
{{ form_row(form.city) }}
{{ form_row(form.amount) }}
{{ form_row(form.captcha) }}

<div class="form-check form-group terms custom-checkbox custom-control">
    <input class="form-check-input custom-control-input" type="checkbox" value="" id="gdprCheckbox" required>
    <label class="form-check-label custom-control-label pt-0" for="gdprCheckbox">
        {{ 'label.gdpr_policy_checkbox'|trans({}, 'text')|raw }}
    </label>
</div>

<div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary mt-2" id="submit-button"
            data-action="credit-application-form#submitApplication">{{ 'button.apply'|trans({}, 'form') }}</button>
</div>
{{ form_end(form) }}