{% extends 'iframe_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% if customCss is not null %}
        <style>{{ customCss|raw }}</style>
    {% endif %}
{% endblock %}

{% block content %}
    <div>
        <div class="h5 text-center text-uppercase" id="headline">
            {{ 'credit_application.form.success_title'|trans({}, 'text') }}
        </div>
        <div class="text-center text-muted" id="message">
            {{ 'credit_application.form.success_message'|trans({}, 'text') }}
        </div>
        <div class="d-flex justify-content-center align-items-center" id="icon">
            <i class="fa fa-check-circle fa-5x text-success"></i>
        </div>
    </div>
{% endblock %}