{% extends 'iframe_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% if customCss is not null %}
        <style>{{ customCss|raw }}</style>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="bg-white p-5">
        <div class="h5 text-center text-uppercase heading mb-3" id="headline">
            {{ 'credit_application.form.failure_title'|trans({}, 'text') }}
        </div>
        <div class="text-center text-muted text-small mb-5" id="message">
            {{ 'credit_application.form.failure_message'|trans({}, 'text') }}
        </div>
        <div class="d-flex justify-content-center align-items-center" id="icon">
            <i class="fa fa-exclamation-circle fa-5x text-danger"></i>
        </div>
    </div>
{% endblock %}