{% extends 'base.html.twig' %}

{% block SEO %}
    {% include 'seo_partial.html.twig' with {seo: credit} %}
{% endblock %}

{% block headline %}
    {{ 'public.title.apply_for_credit'|trans({}, 'text') }}
{% endblock %}

{% block subHeadline %}
    {{ credit.title|default }}
{% endblock %}

{% block content %}
    <section class="customer-credit-apply  py-3 py-md-5">
        <div class="container credit-apply-wrapper bg-secondary">
            <telephone-application-not-allowed
                    :show="{{ telephoneApplicationIsDenied == true ? 'true' : 'false' }}"
            >
            </telephone-application-not-allowed>
            <div class="row">
                <div class="col-12 order-1 order-md-0">
                    <div class="image">
                        <img src="{{ asset('build/images/icons/apply-new-client-icon.png') }}" alt="credit apply"/>
                    </div>
                </div>
                <div class="col-12 order-0 order-md-1">
                    <div class="headline font-weight-bold">{{ 'public.title.apply_for_credit'|trans({}, 'text') }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 credit-apply-block short-form">
                    <div class="d-flex flex-column justify-content-between h-100">
                        <div class="title font-weight-bold">{{ 'button.apply_by_telephone'|trans({}, 'form') }}</div>

                        <p class="desc">
                            {{ 'tooltip.apply_by_telephone'|trans({}, 'text') }}
                        </p>

                        <div class="text-center">
                            <a href="{{ path('credits.apply_now', {isRefinance: app.request.query.get('isRefinance')}) }}" class="btn btn-danger w-sm-100 w-50 px-1">
                                {{ 'button.apply_by_telephone'|trans({}, 'form') }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-md-none">
                    <hr class="bg-white mt-3 mb-2">
                </div>
                <div class="col-md-6 credit-apply-block">
                    <div class="d-flex flex-column justify-content-between h-100">
                        <div class="title font-weight-bold">{{ 'button.apply_online'|trans({}, 'form') }}</div>

                        <p class="desc">
                            {{ 'tooltip.apply_online'|trans({}, 'text') }}
                        </p>

                        <div class="text-center">
                            <apply-online-button
                                    redirect-url="{{ path('online_application.credit_details', {'slug': credit.slug, 'amount': app.request.query.get('amount'), 'payment': app.request.query.get('payment'), 'period': app.request.query.get('period'), isRefinance: app.request.query.get('isRefinance')}) }}"
                                    check-customer-is-allowed-url="{{ path('api.allow_credit_application.check') }}"
                            >
                            </apply-online-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ render_named_module('Content [Credit application page]') }}
    </section>
{% endblock %}
