{% extends 'iframe_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% if customCss is not null %}
        <style>{{ customCss|raw }}</style>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="credit-application-form secondary-form" data-controller="credit-application-form" data-credit-application-form-submit-url="{{ path('credits.application_form', {code: code}|merge(app.request.query.all)) }}">
        {% include 'credit/_application_form.html.twig' %}
    </div>
{% endblock %}