{% extends 'base.html.twig' %}

{% block customSeoTags %}
    <meta name="title" content="【Швидкі кредити до зарплати】 Онлайн • Споживчий - iCredit"/>
    <meta name="description" content="Швидкі кредити до заробітної плати ⚫ Онлайн ⚫ Щомісячні та щотижневі внески ⚫ Рефінансування ⚫ Подайте заявку за телефоном ☎0800601810 або на сайті【iCredit】">
    <meta name="keywords" content="кредит, позика, займ, гроші, рефінансування, заявка, швидкий кредит, зручний кредит, внесок, заявка, щомісячний внесок, погашення, онлайн заявка, iCredit">

    <meta property="og:title" content="【Швидкі кредити до зарплати】 Онлайн • Споживчий - iCredit"/>
    <meta property="og:description" content="Швидкі кредити до заробітної плати ⚫ Онлайн ⚫ Щомісячні та щотижневі внески ⚫ Рефінансування ⚫ Подайте заявку за телефоном ☎0800601810 або на сайті【iCredit】">
{% endblock %}

{% block title %}
    【Швидкі кредити до зарплати】 Онлайн • Споживчий | {{ 'page_title.symfony_starter'|trans({}, 'text') }}
{% endblock %}

{% block headline %}
    {{ 'headline.credits'|trans({}, 'text') }}
{% endblock %}

{% block content %}

    <div class="credits-intro">
        {{ render_named_module('Slider [Credits page]') }}
    </div>

    <section class="credits space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    {% for credit in credits %}
                        <div class="credit">
                            <div class="row align-items-center">
                                <div class="col-md-5 col-xl-5">
                                    <div class="title">
                                        {{ credit.title }}
                                    </div>
                                    <div class="desc">
                                        <p class="ck-content">{{ credit.shortDescription | raw }}</p>
                                    </div>
                                </div>
                                <div class="col-md-7 col-xl-4">
                                    <div class="conditions">
                                        <div class="row align-items-center">
                                            <div class="col-md-6 px-md-0">
                                                <div class="icon">
                                                    <img src="{{ asset('build/images/icons/money.svg') }}">
                                                </div>
                                                <div class="label">
                                                    {{ 'credits.max_amount'|trans({}, 'text') }}
                                                    <div class="value">
                                                        {{ credit.maxAmount|number_format(0, '.', ' ') }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 px-md-0">
                                                <div class="icon">
                                                    <img src="{{ asset('build/images/icons/calendar.svg') }}">
                                                </div>
                                                <div class="label">
                                                    {{ 'credits.payments'|trans({}, 'text') }}
                                                    <div class="value">
                                                        {{ ('credit.payment_' ~ credit.paymentSchedule)|trans([], 'text') }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xl-3">
                                    <a class="btn btn-outline-secondary btn-sm d-block w-100" href="{{ path('credits.show', {'slug': credit.slug}) }}">
                                        {{ 'learn_more'|trans({}, 'text') }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
