{% extends 'base.html.twig' %}

{% block SEO %}
    {% include 'seo_partial.html.twig' with {seo: credit} %}
{% endblock %}

{% block headline %}
    {{ 'public.title.online_application'|trans({}, 'text') }}
{% endblock %}

{% block subHeadline %}
    {{ credit.title|default }}
{% endblock %}

{% block content %}
    {% set amount = app.request.query.get('amount') is not null ? app.request.query.get('amount') : credit.defaultAmount %}
    {% set payment = app.request.query.get('payment') %}

    <section class="credit-apply pt-3 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 my-2 d-md-none">
                    <a href="#scroll_target" class="text-dark font-weight-bolder text-uppercase"
                       style="text-decoration: none; font-size: 1.5em;">
                        {{ 'go_to_form'|trans({}, 'text') }}
                        <i class="fa fa-arrow-down"></i>
                    </a>
                </div>
                <div class="col-md-6 col-xl-4 calc p-0">
                    <credit-calculator credit="{{ credit.slug }}" credit-amount="{{ amount }}"
                                       credit-payment="{{ payment }}" :standalone="true"></credit-calculator>
                    <div id="scroll_target" class="d-md-none position-relative" style="top: -100px"></div>
                </div>
                <div class="col-md-6 col-xl-8">
                    <div class="apply-form p-2">
                        {{ form_start(form, {attr: {class: 'py-3 px-2 p-xl-3', 'data-controller': 'online-application-form'}}) }}
                        <h3 class="heading text-center mb-2">
                            {{ 'online_application.credit_application_details'|trans({}, 'text') }}
                        </h3>
                        {% if not formIsValid %}
                            <div class="bg-danger text-white text-center p-5 my-2">
                                <i class="fa fa-exclamation-triangle"></i>
                                {{ 'online_application.error_text'|trans({}, 'text') }}
                            </div>
                        {% endif %}
                        {{ form_errors(form.captcha) }}

                        {% if false %}
                            {{ form_row(form.howShouldMoneyBeReceived) }}
                            {{ form_row(form.iban) }}
                            <div data-controller="bank-card-number" class="d-none" data-property-name="receiveCreditMethod">
                                {{ form_label(form.bankCardExpirationDateMonth) }}
                                <div class="d-flex justify-content-start w-100 w-md-50">
                                    {{ form_widget(form.bankCardExpirationDateMonth, {attr: {class: 'mr-2'}}) }}
                                    {{ form_widget(form.bankCardExpirationDateYear) }}
                                </div>
                            </div>
                            <hr class="my-4">
                        {% endif %}

                        <h3 class="heading text-center mb-2">
                            {{ 'online_application.personal_information'|trans({}, 'text') }}
                        </h3>
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.middleName) }}
                        {{ form_row(form.lastName) }}
                        {{ form_row(form.personalIdentificationNumber) }}
                        {{ form_row(form.idCardNumber) }}
                        {{ form_row(form.idCardIssuedAt) }}
                        {{ form_row(form.idCardIssuedBy) }}

                        {{ form_row(form.passportType) }}
                        <div data-controller="passport-type" class="d-none" data-property-name="passportType" data-property-value="old_style">
                            {{ form_row(form.oldStylePassportFirstPageUploaded) }}
                            {{ form_row(form.oldStylePassportSecondPageUploaded) }}

                            <div class="d-none" data-controller="age-field" data-age-limit="25">
                                {{ form_row(form.oldStylePassportPhotoAt25Uploaded) }}
                                {{ form_row(form.oldStylePassportPastedPhotoAt25Uploaded) }}
                            </div>

                            <div class="d-none" data-controller="age-field" data-age-limit="45">
                                {{ form_row(form.oldStylePassportPhotoAt45Uploaded) }}
                                {{ form_row(form.oldStylePassportPastedPhotoAt45Uploaded) }}
                            </div>

                            {{ form_row(form.oldStylePassportProofOfResidenceUploaded) }}
                            {{ form_row(form.oldStylePassportSelfieWithPassportUploaded) }}
                        </div>

                        <div data-controller="passport-type" class="d-none" data-property-name="passportType" data-property-value="new_style">
                            {{ form_row(form.newStylePassportPhotoPageUploaded) }}
                            {{ form_row(form.newStylePassportValidityPageUploaded) }}
                            {{ form_row(form.newStylePassportRegistrationAppendixUploaded) }}
                            {{ form_row(form.newStylePassportSelfieWithIdCardUploaded) }}
                        </div>

                        {{ form_row(form.pensionCertificateType) }}

                        <div class="d-none" data-controller="passport-type" data-property-name="pensionCertificateType" data-property-value="old_style">
                            {{ form_row(form.oldStylePensionCertificateFirstSpreadUploaded) }}
                            {{ form_row(form.oldStylePensionCertificateValidityRecordUploaded) }}
                        </div>

                        <div class="d-none" data-controller="passport-type" data-property-name="pensionCertificateType" data-property-value="new_style">
                            {{ form_row(form.newStylePensionCertificatePhotoAndValiditySpreadUploaded) }}
                        </div>

{#                        {{ 'online_application.documents_explanation'|trans({}, 'text')|nl2br }}#}
                        <hr class="my-4">

                        <h3 class="heading text-center mb-2">
                            {{ 'online_application.contacts'|trans({}, 'text') }}
                        </h3>
                        <div class="form-group">
                            {{ form_label(form.mobileTelephone) }}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">+380</span>
                                </div>
                                {{ form_widget(form.mobileTelephone) }}
                            </div>
                            {{ form_help(form.mobileTelephone) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.companyTelephone) }}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">+380</span>
                                </div>
                                {{ form_widget(form.companyTelephone) }}
                            </div>
                            {{ form_help(form.companyTelephone) }}
                        </div>
                        {{ form_row(form.email) }}
                        <hr class="my-4">

                        <h3 class="heading text-center mb-2">
                            {{ 'online_application.permanent_address'|trans({}, 'text') }}
                        </h3>
                        {{ form_row(form.permanentAddressArea) }}
                        {{ form_row(form.permanentAddressMunicipality) }}
                        {{ form_row(form.permanentAddressCity) }}
                        {{ form_row(form.permanentAddressPostCode) }}
                        {{ form_row(form.permanentAddressNeighbourhood) }}
                        {{ form_row(form.permanentAddressStreet) }}
                        {{ form_row(form.permanentAddressBlockNumber) }}
                        {{ form_row(form.permanentAddressEntrance) }}
                        {{ form_row(form.permanentAddressFloor) }}
                        {{ form_row(form.permanentAddressApartment) }}
                        <hr class="my-4">

                        <h3 class="heading text-center mb-2">
                            {{ 'online_application.current_address'|trans({}, 'text') }}
                        </h3>
                        {{ form_row(form.currentAddressSameAsPermanentAddress) }}
                        <div class="d-none" data-controller="current-address-section"
                             data-is-same="{{ form.vars.data.currentAddressSameAsPermanentAddress == true ? '1' : '0' }}">
                            {{ form_row(form.currentAddressArea) }}
                            {{ form_row(form.currentAddressMunicipality) }}
                            {{ form_row(form.currentAddressCity) }}
                            {{ form_row(form.currentAddressPostCode) }}
                            {{ form_row(form.currentAddressNeighbourhood) }}
                            {{ form_row(form.currentAddressStreet) }}
                            {{ form_row(form.currentAddressBlockNumber) }}
                            {{ form_row(form.currentAddressEntrance) }}
                            {{ form_row(form.currentAddressFloor) }}
                            {{ form_row(form.currentAddressApartment) }}
                        </div>
                        {{ form_row(form.livingOnAddressFromDate) }}
                        <hr class="my-4">

                        <h3 class="heading text-center mb-2">
                            {{ 'online_application.work_details'|trans({}, 'text') }}
                        </h3>
                        {{ form_row(form.companyName) }}
                        {{ form_row(form.companyPosition) }}
                        {{ form_row(form.workAddressArea) }}
                        {{ form_row(form.workAddressMunicipality) }}
                        {{ form_row(form.workAddressCity) }}
                        {{ form_row(form.workAddressPostCode) }}
                        {{ form_row(form.workAddressNeighbourhood) }}
                        {{ form_row(form.workAddressStreet) }}
                        {{ form_row(form.workAddressBlockNumber) }}
                        {{ form_row(form.workAddressEntrance) }}
                        {{ form_row(form.workAddressFloor) }}
                        {{ form_row(form.workAddressApartment) }}

                        {{ form_row(form.companyPosition) }}
                        {{ form_row(form.workExperienceTotal) }}
                        {{ form_row(form.workExperienceCurrentEmployer) }}
                        {{ form_row(form.howSalaryIsReceived) }}
                        <div data-controller="salary" class="d-none" data-property-name="howSalaryIsReceived">
                            {{ form_row(form.frequencyOfReceivingSalary) }}
                            {{ form_row(form.dayForReceivingSalary) }}
                        </div>
                        <hr class="my-4">

                        <h3 class="heading text-center mb-2">
                            {{ 'online_application.income'|trans({}, 'text') }}
                        </h3>
                        {{ form_row(form.monthlyIncome) }}
                        {{ form_row(form.otherIncome) }}
                        <hr class="my-4">

                        <h3 class="heading text-center mb-2">
                            {{ 'online_application.expenses'|trans({}, 'text') }}
                        </h3>
                        {{ form_row(form.householdExpensesFoodAndClothes) }}
                        {{ form_row(form.householdExpensesKids) }}
                        {{ form_row(form.householdExpensesElectricityAndWater) }}
                        {{ form_row(form.householdExpensesHeating) }}
                        {{ form_row(form.householdExpensesInternetAndTv) }}
                        {{ form_row(form.householdExpensesTelephone) }}
                        {{ form_row(form.householdExpensesRent) }}
                        {{ form_row(form.householdExpensesTransport) }}
                        {{ form_row(form.householdExpensesDrinksCigarettes) }}
                        {{ form_row(form.householdExpensesOtherCredits) }}
                        {{ form_row(form.householdExpensesOtherCreditsInstalmentAmount) }}
                        {{ form_row(form.householdExpensesOther) }}
                        <hr class="my-4">

                        <h3 class="heading text-center mb-2">
                            {{ 'online_application.property_info'|trans({}, 'text') }}
                        </h3>
                        {{ form_row(form.hasProperty) }}
                        {{ form_row(form.hasCar) }}

                        <div data-controller="car" class="d-none" data-property-name="hasCar">
                            {{ form_row(form.numberOfCars) }}
                            {{ form_row(form.carYearOfManufacture) }}
                        </div>
                        <hr class="my-4">

                        <h3 class="heading text-center mb-2">
                            {{ 'online_application.additional_information'|trans({}, 'text') }}
                        </h3>
                        {{ form_row(form.industry) }}
                        {{ form_row(form.employmentType) }}
                        <div class="d-none" data-controller="expiration-date" data-property-name="employmentType">
                            {{ form_row(form.expirationDateOfEmploymentContract) }}
                        </div>
                        {{ form_row(form.typeOfWork) }}
                        {{ form_row(form.education) }}
                        {{ form_row(form.purposeOfCredit) }}
                        {{ form_row(form.typeOfHome) }}
                        {{ form_row(form.householdSize) }}
                        {{ form_row(form.familyStatus) }}
                        {{ form_row(form.foundOutAboutTheCompanyFrom) }}

                        <hr class="my-4">

                        <h3 class="heading text-center mb-2">
                            {{ 'online_application.contact_person_information'|trans({}, 'text') }}
                        </h3>
                        {{ form_row(form.contactPersonFirstName) }}
                        {{ form_row(form.contactPersonMiddleName) }}
                        {{ form_row(form.contactPersonLastName) }}
                        {{ form_row(form.contactPersonDateOfBirth) }}

                        <div class="form-group">
                            {{ form_label(form.contactPersonMobileTelephone) }}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">+380</span>
                                </div>
                                {{ form_widget(form.contactPersonMobileTelephone) }}
                            </div>
                            {{ form_help(form.contactPersonMobileTelephone) }}
                        </div>

                        {{ form_row(form.contactPersonRelationship) }}

                        {{ form_row(form.captcha) }}

                        <hr class="my-4">

                        <div class="form-check form-group terms d-flex">
                            <input class="form-check-input" type="checkbox" value="" id="consent" required>
                            <label class="form-check-label py-0" for="consent">
                                {{ 'label.consent'|trans({}, 'form_long')|raw }}
                            </label>
                        </div>

                        <button type="submit" class="btn btn-danger">
                            {{ 'button.apply'|trans({}, 'form') }}
                        </button>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!--Google Recaptcha Script-->
    <script src="https://www.google.com/recaptcha/api.js?render={{ get_setting('google_recaptcha_api_key') }}"></script>
{% endblock %}
