{% extends 'base.html.twig' %}

{% block SEO %}
    {% include 'seo_partial.html.twig' with {seo: credit} %}
{% endblock %}

{% block headline %}
    {{ 'public.title.apply_for_credit'|trans({}, 'text') }}
{% endblock %}

{% block subHeadline %}
    {{ credit.title|default }}
{% endblock %}

{% block content %}
    <section class="credit-apply  py-3 py-md-5">
        <div class="container">
            <telephone-application-not-allowed
                    :show="{{ telephoneApplicationIsDenied == true ? 'true' : 'false' }}"
            >
            </telephone-application-not-allowed>
            <div
                class="row"
                data-controller="scroll-to-element"
                data-mobile-only="true"

            >
                <div class="col-md-6">
                    <div class="p-5 h-100 d-flex flex-column justify-content-center" style="background-color: #5b6770;">
                        <h3 class="heading text-white text-center mb-4 mb-md-5">
                            {{ 'public.title.apply_for_credit'|trans({}, 'text') }}
                        </h3>
                        <div class="d-flex justify-content-between align-items-center w-100 mb-4 mb-md-5">
                            <a
                               class="btn btn-danger flex-grow-1 mr-1 text-white"
                               data-action="scroll-to-element#scroll"
                            >
                                {{ 'button.apply_by_telephone'|trans({}, 'form') }}
                            </a>
                            <i class="fa fa-question-circle-o text-white" data-toggle="tooltip" title="{{ 'tooltip.apply_by_telephone'|trans({}, 'text') }}" data-placement="right"></i>
                        </div>
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <a href="{{ path('online_application.credit_details', {'slug': credit.slug, 'amount': app.request.query.get('amount'), 'payment': app.request.query.get('payment'), 'period': app.request.query.get('period')}) }}" class="btn btn-danger flex-grow-1 mr-1">
                                {{ 'button.apply_online'|trans({}, 'form') }}
                            </a>
                            <i class="fa fa-question-circle-o text-white" data-toggle="tooltip" title="{{ 'tooltip.apply_online'|trans({}, 'text') }}" data-placement="right"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" data-target="scroll-to-element.element">
                    <div
                        class="apply-form px-md-0 py-3"
                    >
                        {{ form_start(form) }}
                        <p class="heading text-center mb-1">
                            {{ 'apply_by_telephone_form.title'|trans({}, 'text') }}
                        </p>
                        {{ form_errors(form) }}

                        {{ form_row(form.name) }}

                        {{ form_row(form.telephone) }}

                        {{ form_row(form.city) }}

                        {{ form_row(form.amount) }}
                        <div class="row">
                            <div class="col-12">
                                <hr />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="hint">
                                    <i class="fa fa-asterisk fa-required"></i>
                                    {{ 'hint.field_is_required'|trans({}, 'form') }}
                                </div>
                            </div>
                        </div>

                        <div class="form-check form-group terms custom-checkbox custom-control">
                            <input class="form-check-input custom-control-input" type="checkbox" value="" id="gdprCheckbox" required>
                            <label class="form-check-label custom-control-label pt-0" for="gdprCheckbox">
                                {{ 'label.gdpr_policy_checkbox'|trans({}, 'text')|raw }}
                            </label>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-danger">{{ 'button.send'|trans({}, 'form') }}</button>
                        </div>

                        {{ form_row(form.captcha) }}
                        {{ form_end(form) }}
                        
                    </div>
                </div>
            </div>
        </div>

        {{ render_named_module('Content [Credit application page]') }}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!--Google Recaptcha Script-->
    <script src="https://www.google.com/recaptcha/api.js?render={{ get_setting('google_recaptcha_api_key') }}"></script>
{% endblock %}
