{% extends 'base.html.twig' %}

{% block title %}
    {{ credit.title }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}
{% endblock %}

{% block SEO %}
    {% include 'seo_partial.html.twig' with {seo: credit} %}
{% endblock %}

{% block headline %}
    {{ credit.title }}
{% endblock %}


{% block content %}
    <section class="credits space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="credit">
                        <div class="row align-items-center">
                            <div class="col-md-5 col-xl-5">
                                <div class="title">
                                    {{ credit.title }}
                                </div>
                                <div class="desc">
                                    <p class="ck-content">{{ credit.shortDescription | raw }}</p>
                                </div>
                            </div>
                            <div class="col-md-7 col-xl-4">
                                <div class="conditions">
                                    <div class="row align-items-center">
                                        <div class="col-md-6 px-md-0">
                                            <div class="icon">
                                                <img src="{{ asset('build/images/icons/money.svg') }}">
                                            </div>
                                            <div class="label">
                                                {{ 'credits.max_amount'|trans({}, 'text') }}
                                                <div class="value">
                                                    {{ credit.maxAmount|number_format(0, '.', ' ') }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 px-md-0">
                                            <div class="icon">
                                                <img src="{{ asset('build/images/icons/calendar.svg') }}">
                                            </div>
                                            <div class="label">
                                                {{ 'credits.payments'|trans({}, 'text') }}
                                                <div class="value">
                                                    {{ ('credit.payment_' ~ credit.paymentSchedule)|trans([], 'text') }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="credit-info"
                             data-target="credit.fullInfo">
                            <div class="row">
                                <div class="col-md-12 ck-content">
                                    {{ credit.fullDescription | raw }}
                                </div>

                                <div class="col-md-12 ck-content">
                                    {{ credit.requirements | raw }}
                                </div>

                                {% if credit.allowOnlineApplication %}
                                    <div class="col-md-12">
                                        <a class="btn btn-danger"
                                           href="{{ path('credits.credit_apply', {'slug': credit.slug}) }}"
                                        >
                                            {{ 'credits.index.apply_button'|trans({}, 'text') }}
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
