{% extends 'base.html.twig' %}

{% block content %}
    <section class="space">
        <div class="container mb-3">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Quis enim lobortis scelerisque fermentum dui faucibus in ornare. Senectus et
                        netus et malesuada. Egestas sed tempus urna et pharetra pharetra massa massa. Mauris vitae ultricies
                        leo integer malesuada. Enim sed faucibus turpis in eu mi bibendum neque. Amet consectetur adipiscing
                        elit duis tristique sollicitudin. Suspendisse in est ante in. Nunc sed blandit libero volutpat.
                        Aliquam etiam erat velit scelerisque in.
                    </p>

                    <p>
                        Nibh tellus molestie nunc non blandit massa enim. Imperdiet proin fermentum leo vel orci porta non
                        pulvinar. Gravida cum sociis natoque penatibus et magnis dis parturient. Est placerat in egestas
                        erat imperdiet sed euismod. Lectus vestibulum mattis ullamcorper velit sed ullamcorper. Malesuada
                        pellentesque elit eget gravida. Sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula.
                        Donec pretium vulputate sapien nec sagittis aliquam. Id volutpat lacus laoreet non. Tellus in hac
                        habitasse platea dictumst vestibulum. Iaculis at erat pellentesque adipiscing commodo elit at.
                        Senectus et netus et malesuada. Lorem ipsum dolor sit amet. Tempus imperdiet nulla malesuada
                        pellentesque elit eget gravida cum. Maecenas pharetra convallis posuere morbi leo urna. Donec enim
                        diam vulputate ut pharetra sit.
                    </p>
                </div>
                <div class="col-md-6">
                    {% if code is not null  %}
                        {% set url = path('credits.application_form', {code: code}) %}
                    {% else %}
                        {% set url = path('credits.application_form') %}
                    {% endif %}
                    <iframe src="{{ url }}" class="font-fix" scrolling="no" class="h-100" style="width: 100%; border: none; min-height: 700px; font-size: 100% !important;"></iframe>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
