{% extends 'base.html.twig' %}

{% block customSeoTags %}
    <meta name="title" content="【Акції швидких кредитів】 Типи • Інтернет - iCredit"/>
    <meta name="description" content="Діючі акції для отримання різних видів кредитів 【iCredit】 Дізнайтеся більше на сайті ➤ або за телефоном ☎0800601810">
    <meta name="keywords" content="акція, промоція, подарунок, знижка, вигідно, умови, промоакція, ваучер, розіграш, промокод, iCredit">

    <meta property="og:title" content="【Акції швидких кредитів】 Типи • Інтернет - iCredit"/>
    <meta property="og:description" content="Діючі акції для отримання різних видів кредитів 【iCredit】 Дізнайтеся більше на сайті ➤ або за телефоном ☎0800601810">
{% endblock %}

{% block title %}
    【Акції швидких кредитів】 Типи • Інтернет | {{ 'page_title.symfony_starter'|trans({}, 'text') }}
{% endblock %}

{% block headline %}
    {{ 'public.headline.promotions'|trans({}, 'text') }}
{% endblock %}

{% block content %}
    <section class="promotions space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="filter">
                        <div class="row justify-content-end">
                            <div class="col-auto">
                                <form class="">
                                    <label for="limit">{{ 'label.show'|trans({}, 'form') }}</label>
                                    <select name="limit" id="limit" class="custom-select" data-controller="query"
                                            data-query-parameter="limit">
                                        <option value="9"
                                                {% if app.request.query.get('limit') == 9 %}selected{% endif %}>9
                                        </option>
                                        <option value="18"
                                                {% if app.request.query.get('limit') == 18 %}selected{% endif %}>18
                                        </option>
                                        <option value="36"
                                                {% if app.request.query.get('limit') == 36 %}selected{% endif %}>36
                                        </option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                {% if featuredPromo is not null %}
                    <div class="col-md-12">
                        <div class="promo-news">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="d-block d-sm-none">
                                        <a href="{% if featuredPromo.landingPage %}{{ user_defined_page_path(featuredPromo.landingPage) }}{% else %}{{ path('promotions.show', {'slug': featuredPromo.slug}) }}{% endif %}"
                                           class="title text-decoration-none">{{ featuredPromo.title }}</a>
                                        <div class="meta">{{ featuredPromo.createdAt|formatted_date }}</div>
                                    </div>
                                    <a href="{{ path('promotions.show', {'slug': featuredPromo.slug}) }}"><img class="img-fluid"
                                            src="{% if featuredPromo.image %}{{ featuredPromo.image|relative_image_path|imagine_filter('index_thumbnail') }}{% else %}{{ asset('build/images/icredit-default-img.jpg') }}{% endif %}"/></a>
                                </div>
                                <div class="col-md-8">
                                    <div class="d-none d-sm-block">
                                        <a href="{% if featuredPromo.landingPage %}{{ user_defined_page_path(featuredPromo.landingPage) }}{% else %}{{ path('promotions.show', {'slug': featuredPromo.slug}) }}{% endif %}" class="title text-decoration-none">{{ featuredPromo.title }}</a>
                                        <div class="meta">{{ featuredPromo.createdAt|formatted_date }}</div>
                                    </div>
                                    <div class="desc ck-content">{{ featuredPromo.description|limit_chars(100)|raw }}</div>
                                    <a href="{% if featuredPromo.landingPage %}{{ user_defined_page_path(featuredPromo.landingPage) }}{% else %}{{ path('promotions.show', {'slug': featuredPromo.slug}) }}{% endif %}" class="btn btn-outline-danger">{{ 'learn_more'|trans({}, 'text') }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% for promotion in promotions %}
                    <div class="col-xs-4 col-md-6">
                        <div class="promotion">
                            <a href="{{ path('promotions.show', {'slug': promotion.slug}) }}">
                                <figure style="min-height: 170px; overflow: hidden; text-align: center;">
                                    <img src="{% if promotion.image %}{{ promotion.image|relative_image_path|imagine_filter('index_thumbnail') }}{% else %}{{ asset('build/images/icredit-default-img.jpg') }}{% endif %}"
                                         class="img-fluid w-100">
                                </figure>
                            </a>

                            <a href="{{ path('promotions.show', {'slug': promotion.slug}) }}" class="text-decoration-none"><h5 class="text-truncate-two-lines">{{ promotion.title|limit_chars(120) }}</h5></a>
                            <a href="{% if promotion.landingPage %}{{ user_defined_page_path(promotion.landingPage) }}{% else %}{{ path('promotions.show', {'slug': promotion.slug}) }}{% endif %}"
                               class="btn btn-outline-danger">{{ 'promotions.index.details_button'|trans({}, 'text') }}</a>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-12">
                        <p class="text-muted">{{ 'no_promotions_found'|trans({}, 'text') }}</p>
                    </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-lg-12">
                    {{ knp_pagination_render(promotions) }}
                </div>
            </div>

        </div>
    </section>
{% endblock %}
