{% extends 'base.html.twig' %}

{% block title %}
    {{ promotion.title }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}
{% endblock %}

{% block SEO %}
    {% include 'seo_partial.html.twig' with {seo: promotion} %}
{% endblock %}

{% block headline %}
    {{ promotion.title }}
{% endblock %}

{% block content %}
    <section class="promotion-article space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="go-back">
                        <a href="{{ path('promotions.index') }}"><i class="fa fa-reply"
                                                                    aria-hidden="true"></i>{{ 'promotions.back_to_promotions'|trans({}, 'text') }}
                        </a>
                    </div>
                    <article>
                        <div class="row">
                            {% if promotion.showImage %}
                                <div class="col-md-4">
                                    <img src="{% if promotion.image %}{{ promotion.image|relative_image_path|imagine_filter('index_thumbnail') }}{% else %}{{ asset('build/images/icredit-default-img.jpg') }}{% endif %}"
                                         class="img-fluid">
                                </div>
                            {% endif %}

                            <div class="{% if promotion.showImage %}col-md-8{% else %}col-md-12{% endif %}">
                                <h1>{{ promotion.title }}</h1>
                                <div class="meta">
                                    {{ promotion.createdAt|formatted_date }}
                                </div>
                                <div class="desc ck-content">
                                    <div class="ck-content">
                                        {{ promotion.description|raw }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </article>
                </div>
            </div>
        </div>

        <div class="similar-promotions space">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <h5 class="heading">{{ 'promotions.index.more_promotions.heading'|trans({}, 'text') }}</h5>
                    </div>
                    {% if previousPromotion|default %}
                        <div class="col-md-6">
                            <div class="similar-promotion">
                                <span class="definition">{{ 'promotions.previous'|trans({}, 'text') }}</span>
                                <a href="{{ path('promotions.show', {'slug': previousPromotion.slug}) }}" class="title">
                                    <span class="text-truncate-two-lines">{{ previousPromotion.title|limit_chars(120) }}</span>
                                </a>
                                <div class="meta">
                                    {{ previousPromotion.createdAt|formatted_date }}
                                </div>
                                <div class="desc ck-content text-truncate-two-lines">
                                    {{ previousPromotion.description|limit_chars(140)|raw }}
                                </div>
                                <a href="{{ path('promotions.show', {'slug': previousPromotion.slug}) }}"
                                   class="btn btn-sm btn-outline-danger">{{ 'promotions.index.details_button'|trans({}, 'text') }}</a>
                            </div>
                        </div>
                    {% endif %}

                    {% if nextPromotion|default %}
                        <div class="col-md-6">
                            <div class="similar-promotion">
                                <span class="definition">{{ 'promotions.next'|trans({}, 'text') }}</span>
                                <a href="{{ path('promotions.show', {'slug': nextPromotion.slug}) }}" class="title">
                                    <span class="text-truncate-two-lines">{{ nextPromotion.title|limit_chars(120) }}</span>
                                </a>
                                <div class="meta">
                                    {{ nextPromotion.createdAt|formatted_date }}
                                </div>
                                <div class="desc ck-content text-truncate-two-lines">
                                    {{ nextPromotion.description|limit_chars(140)|raw }}
                                </div>
                                <a href="{{ path('promotions.show', {'slug': nextPromotion.slug}) }}"
                                   class="btn btn-sm btn-outline-danger">{{ 'promotions.index.details_button'|trans({}, 'text') }}</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
