<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>
        {% block title %}
            {{ 'title.administration'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}
        {% endblock %}
    </title>

    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token('authenticate') }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap&subset=cyrillic-ext" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-dark navbar-expand fixed-top bg-dark flex-md-nowrap p-0 shadow justify-content-between">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('static_pages.home_page') }}">
        <em class="text-danger">i</em><span>Credit</span>
    </a>
    <div class="d-flex">
        <ul class="navbar-nav px-3">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">{{ app.user.email }}</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item"
                       href="{{ path('profile.update') }}">{{ 'my_profile'|trans({}, 'text') }}</a>
                    <a class="dropdown-item" href="{{ path('app.logout') }}">{{ 'link.logout'|trans({}, 'text') }}</a>
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <a class="dropdown-item" href="{{ path('admin.dashboard', {'_switch_user': '_exit'}) }}">
                            {{ 'exit_impersonation'|trans({}, 'text') }}</a>
                    {% endif %}
                </div>
            </li>
        </ul>
        <ul class="navbar-nav px-3">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">{{ app.request.locale }}</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
                    {% for locale in app_locales() %}
                        <a class="dropdown-item {% if locale == app.request.locale %}active{% endif %}" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({_locale: locale})) }}">{{ locale }}</a>
                    {% endfor %}
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">

    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>{{ 'application'|trans({}, 'admin_sidebar') }}</span>
                </h6>

                <ul class="nav flex-column">
                    {% if is_granted('ROLE_DASHBOARD') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.dashboard') }}">
                                <span class="fa fa-pie-chart"></span>
                                {{ 'dashboard'|trans({}, 'admin_sidebar') }} <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_PAGES') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.pages.index') }}">
                                <span class="fa fa-globe"></span>
                                {{ 'pages'|trans({}, 'admin_sidebar') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_MODULES') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.modules.index') }}">
                                <span class="fa fa-sort-amount-desc"></span>
                                {{ 'modules'|trans({}, 'admin_sidebar') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_MANAGED_MODULES') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('module_item.managed_module_items') }}">
                                <span class="fa fa-puzzle-piece"></span>
                                {{ 'managed_modules'|trans({}, 'admin_sidebar') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_CREDITS') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.credits.index') }}">
                                <span class="fa fa-credit-card-alt"></span>
                                {{ 'credits'|trans({}, 'admin_sidebar') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_NEWS') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.news.index') }}">
                                <span class="fa fa-newspaper-o"></span>
                                {{ 'news'|trans({}, 'admin_sidebar') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_PROMOTIONS') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.promotions.index') }}">
                                <span class="fa fa-tag"></span>
                                {{ 'promotions'|trans({}, 'admin_sidebar') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if false %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.job_openings.index') }}">
                                <span class="fa fa-briefcase"></span>
                                {{ 'job_openings'|trans({}, 'admin_sidebar') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_DEPARTMENTS') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.departments.index') }}">
                                <span class="fa fa-building"></span>
                                {{ 'departments'|trans({}, 'admin_sidebar') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_OFFICES') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.offices.index') }}">
                                <span class="fa fa-home"></span>
                                {{ 'offices'|trans({}, 'admin_sidebar') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_POLLS') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.poll.index') }}">
                                <span class="fa fa-question"></span>
                                {{ 'polls'|trans({}, 'admin_sidebar') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_FAQS') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.faqs.index') }}">
                                <span class="fa fa-question-circle"></span>
                                {{ 'faq'|trans({}, 'admin_sidebar') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_GIFTS') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.gifts.index') }}">
                                <span class="fa fa-gift"></span>
                                {{ 'gifts'|trans({}, 'admin_sidebar') }}
                            </a>
                        </li>
                    {% endif %}
{# Pages will not be available at launch of the site#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="{{ path('admin.loyalty_partners.index') }}">#}
{#                                <span class="fa fa-percent"></span>#}
{#                                {{ 'loyalty_partners_and_discounts'|trans({}, 'admin_sidebar') }}#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="{{ path('admin.careers_partners.index') }}">#}
{#                                <span class="fa fa-percent"></span>#}
{#                                {{ 'careers_partners_and_discounts'|trans({}, 'admin_sidebar') }}#}
{#                            </a>#}
{#                        </li>#}
                    {% if is_granted('ROLE_BULLETIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.bulletins.index') }}">
                                <span class="fa fa-rss"></span>
                                {{ 'bulletins_list'|trans({}, 'admin_sidebar') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_AFFILIATES') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.affiliates.index') }}">
                                <span class="fa fa-users"></span>
                                {{ 'affiliates'|trans({}, 'admin_sidebar') }}
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_MESSAGES_OPERATOR') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.messages.index') }}">
                                <span class="fa fa-comments"></span>
                                {{ 'messages'|trans({}, 'admin_sidebar') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_TELEPHONE_APPLICATIONS') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.credit_applications.index') }}">
                                <span class="fa fa-credit-card-alt"></span>
                                {{ 'credit_applications'|trans({}, 'admin_sidebar') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ONLINE_APPLICATIONS') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.online_credit_applications.index') }}">
                                <span class="fa fa-credit-card-alt"></span>
                                {{ 'online_credit_applications'|trans({}, 'admin_sidebar') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_NOMENCLATURES') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.nomenclatures.index') }}">
                                <span class="fa fa-list-alt"></span>
                                {{ 'nomenclatures'|trans({}, 'admin_sidebar') }}
                            </a>
                        </li>
                    {% endif %}
                </ul>

                {% if is_granted('ROLE_EMAILS') or is_granted('ROLE_FILES') or is_granted('ROLE_ENTITY_TRANSLATIONS') or is_granted('ROLE_UI_TRANSLATIONS') or is_granted('ROLE_SETTINGS') or is_granted('ROLE_REDIRECT_RULES') %}
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>{{ 'system'|trans({}, 'admin_sidebar') }}</span>
                    </h6>
                {% endif %}
                <ul class="nav flex-column mb-2">
                    {% if is_granted("ROLE_ADMIN") %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.users.index') }}">
                                <span class="fa fa-user-circle"></span>
                                {{ 'users'|trans({}, 'admin_sidebar') }}
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ path('admin.permission_groups.index') }}">
                                <span class="fa fa-legal"></span>
                                {{ 'permission_groups'|trans({}, 'admin_sidebar') }}
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ path('admin.permissions.index') }}">
                                <span class="fa fa-shield"></span>
                                {{ 'permissions'|trans({}, 'admin_sidebar') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_EMAILS') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.mails.index') }}">
                                <span class="fa fa-envelope"></span>
                                {{ 'emails'|trans({}, 'admin_sidebar') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_FILES') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.files.index') }}">
                                <span class="fa fa-file"></span>
                                {{ 'files'|trans({}, 'admin_sidebar') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ENTITY_TRANSLATIONS') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.entity_translation.index') }}">
                                <span class="fa fa-globe"></span>
                                {{ 'entity_translations'|trans({}, 'admin_sidebar') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_UI_TRANSLATIONS') %}
                        <li>
                            <a class="nav-link" href="{{ path('admin.translations.index') }}">
                                <span class="fa fa-language"></span>
                                {{ 'ui_translations'|trans({}, 'admin_sidebar') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_SETTINGS') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.settings.index') }}">
                                <span class="fa fa-gear"></span>
                                {{ 'settings'|trans({}, 'admin_sidebar') }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_REDIRECT_RULES') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.redirect_rules.index') }}">
                                <span class="fa fa-angle-right"></span>
                                {{ 'redirect_rules'|trans({}, 'admin_sidebar') }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10">
            <div class="container-fluid">
                {% include 'components/_templates.html.twig' %}

                <div id="app">
                    {% block breadcrumbs %}
                        <div class="d-flex justify-content-between bg-light align-content-center pr-3 py-1 mb-3">
                            <div class="flex-grow-1">{{ wo_render_breadcrumbs() }}</div>
                        </div>
                    {% endblock %}

                    {% block content %}{% endblock %}

                    <flashes flashes="{{ app.flashes|json_encode }}"></flashes>

                    {% verbatim %}
                        <component v-for="component in dynamicComponents" v-bind:is="component.type" :key="component.id" :component-id="component.id"></component>
                    {% endverbatim %}
                </div>

                {% block javascripts %}
                    {{ encore_entry_script_tags('app') }}
                {% endblock %}

                {% block _translation_bundle_js %}
                {% endblock %}
            </div>
        </main>
    </div>

</div>

</body>

</html>
