<!doctype html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSRF Token -->
        <meta name="csrf-token" content="{{ csrf_token('authenticate') }}">

        <title>{% block title %}{{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}</title>

        {% block SEO %}
            {% block customSeoTags %}
                <meta name="title" content="{{ 'page_title.symfony_starter'|trans({}, 'text') }}"/>
                <meta name="description" content="">
                <meta name="keywords" content="">
                <meta property="og:title" content="{{ 'page_title.symfony_starter'|trans({}, 'text') }}"/>
                <meta property="og:description" content="">
            {% endblock %}

            <meta property="og:type" content="website">
            <meta property="og:locale" content="uk_UA">
            <meta property="og:site_name" content="iCredit Ukraine">
            <meta property="og:url" content="{{ app.request.uri }}">
            <meta property="og:image" content="{{ asset('build/images/icredit-default-img.jpg') }}"/>
        {% endblock %}

        {% block GTM %}
            {% if google_tag_manager_id|default %}
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','{{ google_tag_manager_id }}');</script>
            <!-- End Google Tag Manager -->
            {% endif %}
        {% endblock %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap&subset=cyrillic-ext" rel="stylesheet">

        {% if app.request.attributes.get('_route') is not null %}
            <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
        {% endif %}
    </head>
    <body class="main-body">
        {% block GTMBody %}
            {% if google_tag_manager_id|default %}
                <!-- Google Tag Manager (noscript) -->
                <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ google_tag_manager_id }}"
                                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
                <!-- End Google Tag Manager (noscript) -->
            {% endif %}
        {% endblock %}

        {{ render_named_module('Header') }}

        <main class="page">
            <div class="page-content">

                {% include 'components/_templates.html.twig' %}

                <div id="app">
                    {% block breadcrumbs %}
                        <div class="breadcrumbs">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-8">
                                        <h1>{% block headline %}{% endblock %}</h1>
                                        {{ wo_render_breadcrumbs() }}
                                    </div>
                                    <div class="col-lg-4">
                                        {% block pageSelector %}
                                        {% endblock %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                    {% block stickyRightMenu %}
                        <div class="sticky-right-menu bg-danger d-none d-md-block" data-location>
                            <a href="{{ path('contact.show') }}" class="text-decoration-none d-flex justify-content-start align-items-center">
                                <span class="inline-block">
                                    <img src="{{ asset('build/images/markers/sticky-menu-marker-icon.svg') }}">
                                </span>
                                <div class="content inline-block text-white">{{ 'sticky_right_menu.find_us'|trans({}, 'text') }}</div>
                            </a>
                        </div>

                        <div class="sticky-right-menu bg-danger d-none d-md-block" data-location>
                            {% if app.user %}
                                <a href="{{ path('customer_profile.my_credits') }}" class="text-decoration-none d-flex justify-content-start align-items-center">
                                <span class="inline-block">
                                    <img src="{{ asset('build/images/markers/sticky-menu-member-icon.svg') }}">
                                </span>
                                    <div class="content inline-block text-white">{{ 'sticky_right_menu.my_profile'|trans({}, 'text') }}</div>
                                </a>
                            {% else %}
                                <a href="{{ path('customer_login.login') }}" class="text-decoration-none d-flex justify-content-start align-items-center">
                                <span class="inline-block">
                                    <img src="{{ asset('build/images/markers/sticky-menu-member-icon.svg') }}">
                                </span>
                                    <div class="content inline-block text-white">{{ 'sticky_right_menu.login'|trans({}, 'text') }}</div>
                                </a>
                            {% endif %}
                        </div>

                        <div class="sticky-right-menu bg-danger d-none d-md-block" data-apply-for-credit>
                            {% set creditData = credit_defaults() %}
                            <a href="{{ path('credits.credit_apply', {'slug': creditData.credit.slug}) }}" class="text-decoration-none d-flex justify-content-start align-items-center">
                                <span class="inline-block">
                                    <img src="{{ asset('build/images/markers/sticky-menu-dollar-icon.svg') }}">
                                </span>
                                <div class="content inline-block text-white">{{ 'sticky_right_menu.apply_for_credit'|trans({}, 'text') }}</div>
                            </a>
                        </div>
                    {% endblock %}
                    {% block content %}
                    {% endblock %}
                    <flashes flashes="{{ app.flashes|json_encode }}"></flashes>
                    <poll-participation locale="{{ app.request.locale }}"></poll-participation>
                    <zopim-chat></zopim-chat>
                </div>

            </div>
        </main>

        {{ render_named_module('Footer') }}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <!-- Start of icredit Zendesk Widget script -->
            <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key={{ get_setting('zendesk_api_key') }}"> </script>
            <!-- End of icredit Zendesk Widget script -->

        {% endblock %}
    </body>
</html>
