<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token('authenticate') }}">

    <title>{% block title %}{{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}</title>

    {% block SEO %}
        <meta name="title" content="{{ 'page_title.symfony_starter'|trans({}, 'text') }}"/>
        <meta name="description" content=""/>

        <meta property="og:type" content="website">
        <meta property="og:locale" content="uk_UA">
        <meta property="og:site_name" content="iCredit Ukraine">

        <meta property="og:url" content="{{ app.request.uri }}">

        <meta property="og:title" content="{{ 'page_title.symfony_starter'|trans({}, 'text') }}"/>
        <meta property="og:description" content=""/>
    {% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap&subset=cyrillic-ext" rel="stylesheet">
</head>
<body class="p-0">
<div id="app">
    {% block content %}{% endblock %}
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <!--Google Recaptcha Script-->
    <script src="https://www.google.com/recaptcha/api.js?render={{ get_setting('google_recaptcha_api_key') }}"></script>
{% endblock %}
</body>
</html>
