<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token('authenticate') }}">

    <title>{% block title %}{{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}</title>

    {% block SEO %}
        <meta name="title" content="{{ 'page_title.symfony_starter'|trans({}, 'text') }}"/>
        <meta name="description" content=""/>

        <meta property="og:type" content="website">
        <meta property="og:locale" content="uk_UA">
        <meta property="og:site_name" content="iCredit Ukraine">

        <meta property="og:url" content="{{ app.request.uri }}">

        <meta property="og:title" content="{{ 'page_title.symfony_starter'|trans({}, 'text') }}"/>
        <meta property="og:description" content=""/>
    {% endblock %}

    {% block GTM %}
        {% if google_tag_manager_id|default %}
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','{{ google_tag_manager_id }}');</script>
            <!-- End Google Tag Manager -->
        {% endif %}
    {% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap&subset=cyrillic-ext" rel="stylesheet">
</head>

<body>
{% block GTMBody %}
    {% if google_tag_manager_id|default %}
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ google_tag_manager_id }}"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    {% endif %}
{% endblock %}

{% block header %}{% endblock %}

<main class="page landing">
    <div class="page-content">
        {% include 'components/_templates.html.twig' %}
        <div id="app">
            {% block breadcrumbs %}
                <div class="breadcrumbs">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <h1>{% block headline %}{% endblock %}</h1>
                                <h4>{% block subHeadline %}{% endblock %}</h4>
                                {{ wo_render_breadcrumbs() }}
                            </div>
                            <div class="col-lg-4">
                                {% block pageSelector %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block content %}{% endblock %}
            <flashes flashes="{{ app.flashes|json_encode }}"></flashes>
        </div>
    </div>
</main>

{% block footer %}{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
