<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token('authenticate') }}">

    <title>
        {{ 'page_title.symfony_starter'|trans({}, 'text') }}
    </title>

    <meta name="title" content="{{ 'page_title.symfony_starter'|trans({}, 'text') }}"/>
    <meta name="description" content=""/>

    <meta property="og:type" content="website">
    <meta property="og:locale" content="uk_UA">
    <meta property="og:site_name" content="iCredit Ukraine">

    <meta property="og:url" content="{{ app.request.uri }}">

    <meta property="og:title" content="{{ 'page_title.symfony_starter'|trans({}, 'text') }}"/>
    <meta property="og:description" content=""/>

    {{ encore_entry_link_tags('app') }}

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap&subset=cyrillic-ext" rel="stylesheet">

    {% if app.request.attributes.get('_route') is not null %}
        <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
    {% endif %}
</head>
<body class="main-body">
<main class="page">
    <div class="page-content">
        <div>
            <section class="page-not-found">
                <div class="container">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="error-code">
                                {{ 'maintenance'|trans({}, 'text') }}
                            </div>
                            <h1>{{ 'maintenance.title'|trans({}, 'text') }}</h1>
                            <p>
                                {{ 'maintenance.description'|trans({}, 'text') }}
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
{{ encore_entry_script_tags('app') }}
</body>
</html>