{% if seo|default%}
    <meta name="title" content="{{ seo.metaTitle }}"/>
    <meta name="description" content="{{ seo.metaDescription }}"/>
    <meta name="keywords" content="{{ seo.metaKeywords }}"/>

    <meta property="og:type" content="website">
    <meta property="og:locale" content="uk_UA">
    <meta property="og:site_name" content="iCredit Ukraine">

    <meta property="og:url" content="{{ app.request.uri }}">

    <meta property="og:title" content="{{ seo.ogTitle }}"/>
    <meta property="og:description" content="{{ seo.ogDescription }}"/>
    {% if seo.ogImage is not null %}
        <meta property="og:image" content="{{ uploaded_image_asset(seo.ogImage) }}"/>
    {% endif %}
{% endif %}