{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.dashboard'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="mb-3">
            <h5 class="d-flex">{{ 'dashboard.heading.statistics'|trans({}, 'text') }}</h5>
            <div class="d-flex flex-wrap">
                {% for key, creditApplication in creditApplications %}
                    <div class="card-item col-md-4">
                        <div class="box bg-info text-white p-3 d-flex">
                            <span class="h2">{{ creditApplication.count }}</span>
                            <span class="title">{{ ('dashboard.credit_applications.title.' ~ key)|trans({}, 'text') }}</span>

                            <i class="fa fa-calendar fa-5x" aria-hidden="true"></i>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="mb-3">
            <h5 class="d-flex">{{ 'dashboard.heading.general'|trans({}, 'text') }}</h5>
            <div class="d-flex flex-wrap">
                {% for key, card in general %}
                    <div class="card-item col-md-4">
                        <div class="box bg-info text-white p-3 d-flex">
                            <span class="h2">
                                {{ card.count }}
                                {% if card.subCount|default %}
                                    <span>({{ card.subCount }})</span>
                                {% endif %}
                            </span>
                            <span class="title">{{ ('dashboard.card.title.' ~ key)|trans({}, 'text') }}</span>
                            <i class="fa {{ card.icon|default('fa-address-book') }} fa-5x" aria-hidden="true"></i>
                        </div>
                        <div class="footer">
                            {% if card.list|default %}
                                <a href="{{ card.list }}">
                                    <i class="fa fa-bars"></i> {{ 'dashboard.card.list_button'|trans({}, 'text') }}
                                </a>
                            {% endif %}

                            {% if card.add|default %}
                                <a href="{{ card.add }}">
                                    <i class="fa fa-plus"></i> {{ 'dashboard.card.add_new_button'|trans({}, 'text') }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="mb-3">
            <h5 class="d-flex">{{ 'dashboard.heading.products_and_services'|trans({}, 'text') }}</h5>
            <div class="d-flex flex-wrap">
                {% for key, card in productAndServices %}
                    <div class="card-item col-md-4">
                        <div class="box bg-info text-white p-3 d-flex">
                            <span class="h2">
                                {{ card.count }}
                                {% if card.subCount|default %}
                                    <span>({{ card.subCount }})</span>
                                {% endif %}
                            </span>
                            <span class="title">{{ ('dashboard.card.title.' ~ key)|trans({}, 'text') }}</span>
                            <i class="fa {{ card.icon|default('fa-address-book') }} fa-5x" aria-hidden="true"></i>
                        </div>
                        <div class="footer">
                            {% if card.list|default %}
                                <a href="{{ card.list }}">
                                    <i class="fa fa-bars"></i> {{ 'dashboard.card.list_button'|trans({}, 'text') }}
                                </a>
                            {% endif %}

                            {% if card.add|default %}
                                <a href="{{ card.add }}">
                                    <i class="fa fa-plus"></i> {{ 'dashboard.card.add_new_button'|trans({}, 'text') }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
