{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.administration'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}

{% endblock %}
