{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.redirect_rules'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">
                {{ 'headline.redirect_rules'|trans({}, 'text') }}
                <a href="{{ path('admin.redirect_rules.create') }}" class="btn btn-info btn-xs"><i
                            class="fa fa-plus-circle"></i> Add</a>

                <form action="{{ path('admin.redirect_rules.apply') }}" method="post" class="d-inline-block">
                    <button type="submit" class="btn btn-outline-danger">{{ 'button.apply_rules'|trans({}, 'form') }}</button>
                </form>
            </h2>

            <form class="form-inline justify-content-between" method="get">
                <label class="sr-only" for="url">{{ 'label.url'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="url" name="url"
                       placeholder="{{ 'placeholder.url'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('url') }}">

                <a href="{{ path('admin.redirect_rules.index') }}" class="btn btn-secondary mb-2 mr-2"><i
                            class="fa fa-remove"></i> {{ 'button.clear'|trans({}, 'form') }}</a>
                <button type="submit" class="btn btn-primary mb-2"><i
                            class="fa fa-filter"></i> {{ 'button.filter'|trans({}, 'form') }}</button>
            </form>

            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>{{ 'column.old_url'|trans({}, 'table') }}</th>
                    <th>{{ 'column.new_url'|trans({}, 'text') }}</th>
                    <th>{{ 'column.actions'|trans({}, 'table') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for rule in rules %}
                    {# @var rule \App\Entity\RedirectRule #}
                    <tr>
                        <td>{{ rule.oldUrl }}</td>
                        <td>{{ rule.newUrl }}</td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                   id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    {{ 'button.select'|trans({}, 'table') }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="{{ path('admin.redirect_rules.update', {'id': rule.id}) }}"><i
                                                class="fa fa-pencil-square-o"></i> {{ 'button.edit'|trans({}, 'table') }}
                                    </a>
                                    <delete-link icon-class="fa fa-trash-o"
                                                 target-url="{{ path('admin.redirect_rules.delete', {id: rule.id}) }}"
                                                 redirect-url="{{ path('admin.redirect_rules.index') }}"
                                                 confirmation-message="{{ 'confirmation_message.delete.redirect_rule'|trans({},'messages') }}">
                                        {{ 'button.delete'|trans({}, 'table') }}</delete-link>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{{ 'no_redirect_rules_found'|trans({}, 'table') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
