<section class="social-activity space">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h4 class="heading">{{ 'social_activity.index.family_finances.heading'|trans({}, 'text') }}</h4>
                <p class="desc">{{ 'social_activity.index.family_finances.description'|trans({}, 'text') }}</p>
                <a href="{{ familyFinancesPage.path }}" class="btn btn-danger">{{ 'learn_more'|trans({}, 'text') }}</a>
            </div>
            <div class="col-md-6">
                <img src="{{ asset('build/images/icredit-default-img.jpg') }}"
                     class="img-fluid">
            </div>
        </div>
    </div>
</section>