{% extends 'base.html.twig' %}

{% block customSeoTags %}
    <meta name="title" content="Соціальна активність - iCredit"/>
    <meta name="description" content="Ми переконані, що люди повинні бути здоровими, фінансово незалежними та щасливими. Докладніше на сайті або за номером ☎0800601810">
    <meta name="keywords" content="соціальна активність, порада, фінансова культура, фінансова грамота, бюджет, витрати, кредит, швидкий кредит, правила, фінансовий словник, iCredit">

    <meta property="og:title" content="Соціальна активність - iCredit"/>
    <meta property="og:description" content="Ми переконані, що люди повинні бути здоровими, фінансово незалежними та щасливими. Докладніше на сайті або за номером ☎0800601810">
{% endblock %}

{% block title %}
    Соціальна активність | {{ 'page_title.symfony_starter'|trans({}, 'text') }}
{% endblock %}

{% block headline %}
    {{ 'public.title.social_activity'|trans({}, 'text') }}
{% endblock %}

{% block content %}
    <section class="social-activity-intro" style="background-image: url('{{ asset('build/images/finance-culture.jpg') }}');">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>{{ 'social_activity.index.heading'|trans({}, 'text') }}</h3>
                    <p>{{ 'social_activity.index.description'|trans({}, 'text') }}</p>
                </div>
                <div class="col-md-12">
                    <a href="{{ financialCulturePage.path }}"
                       class="btn btn-outline-light">{{ 'social_activity.learn_more_button'|trans({}, 'text') }}</a>
                    <a href="{{ financialDictionaryPage.path }}"
                       class="btn btn-secondary">{{ 'social_activity.index.financial_dictionary_button'|trans({}, 'text') }}</a>
                </div>
            </div>
        </div>
    </section>

    {% include 'social_activity/_family_finances.html.twig' %}
{% endblock %}
