{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.credits'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">
                {{ 'headline.credits'|trans({}, 'text') }}
                <a href="{{ path('admin.credits.create') }}" class="btn btn-info btn-xs"><i class="fa fa-plus-circle"></i> Add</a>
            </h2>

            <form class="form-inline justify-content-between" method="get">
                <label class="sr-only" for="title">{{ 'label.title'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="title" name="title" placeholder="{{ 'placeholder.title'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('title') }}">

                <a href="{{ path('admin.credits.index') }}" class="btn btn-secondary mb-2 mr-2"><i
                            class="fa fa-remove"></i> {{ 'button.clear'|trans({}, 'form') }}</a>
                <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-filter"></i> {{ 'button.filter'|trans({}, 'form') }}</button>
            </form>

            <form action="{{ path('admin.credits.order') }}" method="post">
                <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>{{ 'column.title'|trans({}, 'table') }}</th>
                    <th>{{ 'column.actions'|trans({}, 'table') }}</th>
                </tr>
                </thead>
                <tbody data-controller="sortable">
                {% for credit in credits %}
                    {# @var credit \App\Entity\Credit #}
                    <tr>
                        <td>
                            {{ credit.title }} <input type="hidden" name="sortedCredits[]" value="{{ credit.id }}">
                        </td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                   id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    {{ 'button.select'|trans({}, 'table') }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="{{ path('admin.credits.update', {'id': credit.id}) }}"><i class="fa fa-pencil-square-o"></i> {{ 'button.edit'|trans({}, 'table') }}</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{{ 'no_credits_found'|trans({}, 'table') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
                <button type="submit" class="btn btn-primary mt-2" {% if filtered %}disabled{% endif %}><i class="fa fa-sort-amount-desc"></i> {{ 'button.save_order'|trans({}, 'form') }}</button>
            </form>

            <div class="navigation">
                {{ knp_pagination_render(credits) }}
            </div>
        </div>
    </div>
{% endblock %}
