{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.update_credit'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2>{{ 'headline.update_credit'|trans({}, 'text') }}</h2>
                <tabs>
                    <tab name="{{ 'tab.content'|trans({}, 'text') }}" :selected="true">
                        <tabs>
                            <tab name="ua" :selected="true" parent="{{ 'tab.content'|trans({}, 'text') }}">
                                {{ form_start(contentForms.ua) }}
                                {{ form_row(contentForms.ua.type) }}
                                {{ form_row(contentForms.ua.title) }}
                                {{ form_row(contentForms.ua.slug) }}
                                {{ form_row(contentForms.ua.shortDescription) }}
                                {{ form_row(contentForms.ua.fullDescription) }}
                                {{ form_row(contentForms.ua.requirements) }}
                                {{ form_row(contentForms.ua.paymentSchedule) }}
                                {{ form_row(contentForms.ua.maxAmount) }}
                                {{ form_row(contentForms.ua.parametersDescription) }}
                                {{ form_row(contentForms.ua.allowOnlineApplication) }}

                                <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                                <a href="{{ path('admin.credits.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                                {{ form_end(contentForms.ua) }}
                            </tab>
                            <tab name="ru" parent="{{ 'tab.content'|trans({}, 'text') }}">
                                {{ form_start(contentForms.ru) }}
                                {{ form_row(contentForms.ru.type) }}
                                {{ form_row(contentForms.ru.title) }}
                                {{ form_row(contentForms.ru.slug) }}
                                {{ form_row(contentForms.ru.shortDescription) }}
                                {{ form_row(contentForms.ru.fullDescription) }}
                                {{ form_row(contentForms.ru.requirements) }}
                                {{ form_row(contentForms.ru.paymentSchedule) }}
                                {{ form_row(contentForms.ru.maxAmount) }}
                                {{ form_row(contentForms.ru.parametersDescription) }}
                                {{ form_row(contentForms.ru.allowOnlineApplication) }}

                                <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                                <a href="{{ path('admin.credits.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                                {{ form_end(contentForms.ru) }}
                            </tab>
                            <tab name="en" parent="{{ 'tab.content'|trans({}, 'text') }}">
                                {{ form_start(contentForms.en) }}
                                {{ form_row(contentForms.en.type) }}
                                {{ form_row(contentForms.en.title) }}
                                {{ form_row(contentForms.en.slug) }}
                                {{ form_row(contentForms.en.shortDescription) }}
                                {{ form_row(contentForms.en.fullDescription) }}
                                {{ form_row(contentForms.en.requirements) }}
                                {{ form_row(contentForms.en.paymentSchedule) }}
                                {{ form_row(contentForms.en.maxAmount) }}
                                {{ form_row(contentForms.en.parametersDescription) }}
                                {{ form_row(contentForms.en.allowOnlineApplication) }}

                                <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                                <a href="{{ path('admin.credits.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                                {{ form_end(contentForms.en) }}
                            </tab>
                        </tabs>
                    </tab>
                    {% if contentForms.ua.vars.data.id is not null %}
                        <tab name="{{ 'tab.seo'|trans({}, 'text') }}">
                            {{ form_start(seoForm) }}
                            {{ form_row(seoForm.metaTitle) }}
                            {{ form_row(seoForm.metaDescription) }}
                            {{ form_row(seoForm.metaKeywords) }}
                            {{ form_row(seoForm.ogTitle) }}
                            {{ form_row(seoForm.ogDescription) }}
                            {{ form_row(seoForm.ogImage) }}

                            <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                            <a href="{{ path('admin.credits.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                            {{ form_end(seoForm) }}
                        </tab>
                    {% endif %}
                </tabs>
            </div>
        </div>
    </div>
{% endblock %}
