<script type="text/x-template" id="credit-calculator">
    <div class="col-12 calculator" :class="containerClass" style="position: sticky; top: 120px; left: 0;">
        <p v-if="false" class="bg-dark text-white text-lowercase m-0 p-1">
            <span>Debug:</span>
            <span v-text="amount"></span> |
            <span v-text="payment"></span> |
            <span v-text="periods"></span> |
            <span v-text="creditTitle"></span>
        </p>
        <ul v-if="false" class="d-flex justify-content-end align-items-center text-white m-0 p-0" style="height: 60px; background-color: #303945;">
            <li class="px-3 text-center w-50 h-100 font-weight-bold d-flex align-items-center justify-content-center position-relative"
                @click="changeType('personal')" style="font-size: 12px;">
                {{ 'calculator.personal'|trans({}, 'text') | upper }}
                <span v-if="type == 'personal'" class="w-100" style="position: absolute; bottom: 0; left: 0; border-bottom: 5px solid white;"></span>
            </li>
            <li class="px-3 text-center w-50 h-100 font-weight-bold d-flex align-items-center justify-content-center position-relative"
                @click="changeType('business')" style="font-size: 12px;">
                {{ 'calculator.business'|trans({}, 'text') | upper }}
                <span v-if="type == 'business'" class="w-100" style="position: absolute; bottom: 0; left: 0; border-bottom: 5px solid white;"></span>
            </li>
        </ul>
        <div class="calc-top">
            <h3 class="calc-heading">{{ 'calculator.headline'|trans({}, 'text') }}</h3>

            <div class="position-absolute d-flex justify-content-center align-items-center"
                 style="opacity: 1;top: 0; left: 0; width: 100%; height: 100%; pointer-events: all; z-index: 5; background-color: #303945;"
                 v-if="isRefreshing">
                <img class="w-25" src="{{ asset('build/images/preloader.svg') }}" alt="">
            </div>

            <div class="hr-slider mb-4">
                <label for="amount">{{ 'calculator.amount'|trans({}, 'text')|upper }}</label>
                <input type="text" name="amount" id="amount" ref="amount">
            </div>

            <div class="hr-slider mb-3 mb-md-2">
                <label for="payment">
                    {{ 'calculator.payment'|trans({}, 'text')|upper }}
                </label>
                <input type="text" name="payment" id="payment" ref="payment">
            </div>

            <div class="payment-schedule d-flex flex-wrap">
                <div v-show="type != 'business'" class="custom-control custom-radio custom-control-inline mr-1">
                    <input type="radio" id="weekly-payment" class="custom-control-input" v-model="paymentSchedule"
                           value="weekly" @change="paymentScheduleChanged" :disabled="pensioner == 'yes'">
                    <label class="custom-control-label"  style="text-transform: unset"
                           for="weekly-payment">{{ 'calculator.weekly_payment'|trans({}, 'text') }}</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline mr-1" v-show="type !== 'business'">
                    <input type="radio" id="biweekly-payment" class="custom-control-input" v-model="paymentSchedule"
                           value="biweekly" @change="paymentScheduleChanged" :disabled="pensioner == 'yes'">
                    <label class="custom-control-label" style="text-transform: unset"
                           for="biweekly-payment">{{ 'calculator.bi_weekly_payment'|trans({}, 'text') }}</label>
                </div>
                <div v-show="type != 'business'" class="custom-control custom-radio custom-control-inline mx-0">
                    <input type="radio" id="monthly-payment" class="custom-control-input" v-model="paymentSchedule"
                           value="monthly" @change="paymentScheduleChanged">
                    <label class="custom-control-label"  style="text-transform: unset"
                           for="monthly-payment">{{ 'calculator.monthly_payment'|trans({}, 'text') }}</label>
                </div>
            </div>
            <div class="pensioner d-flex flex-wrap mt-2 align-items-center" v-show="type == 'personal'">
                <span class="mr-3">
                    {{ 'calculator.pensioner'|trans({}, 'text') }} <i class="fa fa-info-circle" title="{{ 'calculator.pensioner_hint'|trans({}, 'text') }}" data-toggle="tooltip" data-placement="top"></i>
                </span>
                <div class="custom-control custom-radio custom-control-inline ml-3 mr-1 mt-1">
                    <input type="radio" id="pensioner-no" name="pensioner" class="custom-control-input" value="no"
                           v-model="pensioner" @change="pensionerChanged">
                    <label class="custom-control-label"  style="text-transform: unset"
                           for="pensioner-no">{{ 'calculator.no'|trans({}, 'text') }}</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline ml-3 mt-1">
                    <input type="radio" id="pensioner-yes" name="pensioner" class="custom-control-input" value="yes"
                           v-model="pensioner" @change="pensionerChanged">
                    <label class="custom-control-label"  style="text-transform: unset"
                           for="pensioner-yes">{{ 'calculator.yes'|trans({}, 'text') }}</label>
                </div>
            </div>
        </div>

        <div class="calc-bot d-flex flex-column justify-content-between pb-3" :class="bottomClass">
            <div>
                <p class="text-dark font-weight-bold mb-1 d-flex justify-content-between">
                    <span v-if="paymentSchedule == 'weekly'">{{ 'calculator.payment_weekly'|trans({}, 'text') }}</span>
                    <span v-if="paymentSchedule == 'biweekly'">{{ 'calculator.payment_biweekly'|trans({}, 'text') }}</span>
                    <span v-if="paymentSchedule == 'monthly'">{{ 'calculator.payment_monthly'|trans({}, 'text') }}</span>
                    <span class="text-right"><span v-text="paymentWithPenalty"></span> <span v-text="currency"></span></span>
                </p>
                <p v-if="false" class="text-muted d-flex justify-content-between" style="font-size: 0.8em;">
                    <span>{{ 'calculator.payment_without_active_guaranty'|trans({}, 'text') }}</span>
                    <span><span v-text="paymentWithPenalty"></span> <span v-text="currency"></span></span>
                </p>

                <hr>

                <div>
                    <p class="text-dark font-weight-bold mb-1 d-flex justify-content-between">
                        <span>{{ 'calculator.number_of_payments'|trans({}, 'text') }}</span>
                        <span v-text="periods"></span>
                    </p>
                    <p class="text-muted d-flex justify-content-between m-0" style="font-size: 0.8em;">
                        <span>{{ 'calculator.credit_duration'|trans({}, 'text') }}</span>
                        <span><span v-text="duration"></span> {{ 'calculator.months'|trans({}, 'text') }}</span>
                    </p>
                </div>

                <hr>

                <div>
                    <p class="text-danger text-uppercase font-weight-bold mb-1 d-flex justify-content-between">
                        <span>{{ 'calculator.total_to_pay'|trans({}, 'text') }}</span>
                        <span class="text-right"><span v-text="totalWithPenalty"></span> <span v-text="currency"></span></span>
                    </p>
                    <p v-if="false" class="text-muted d-flex justify-content-between" style="font-size: 0.8em;">
                        <span>{{ 'calculator.total_to_pay_without_active_guaranty'|trans({}, 'text') }}</span>
                        <span class="text-right"><span v-text="totalWithPenalty"></span> <span
                                    v-text="currency"></span></span>
                    </p>
                </div>
                {# This part of the credit calculator will not be availabl at launch of the site#}
                {#            <hr class="my-2">#}
                {#            <div class="text-muted text-uppercase" style="font-size: 0.6em;">#}
                {#                {{ 'calculator.interest_rate_first_period'|trans({}, 'text') }}: <span#}
                {#                        v-text="interestFirstPeriod"></span>#}
                {#                | {{ 'calculator.interest_rate_second_period'|trans({}, 'text') }}: <span#}
                {#                        v-text="interestSecondPeriod"></span>#}
                {#                | {{ 'calculator.annual_percentage_rate_of_charge'|trans({}, 'text') }}:#}
                {#                <span v-text="interestAPRC"></span>#}
                {#            </div>#}
                <hr>
                <div class="text-muted text-uppercase" style="font-size: 0.7em;">
                    {{ 'calculator.expenses'|trans({}, 'text') }}:
                    <span class="text-right"><span v-text="expenses"></span> <span
                                v-text="currency"></span></span>
                </div>
            </div>

            <div>
                <div v-if="standalone == false" class="mt-3 d-flex justify-content-center">
                    <button type="button" @click="apply"
                            class="btn btn-danger w-100">{{ 'calculator.apply_now'|trans({}, 'text') }}</button>
                </div>
                <div v-if="standalone == false" class="d-flex justify-content-center mt-2">
                    <button type="button"
                            class="btn btn-outline-secondary w-100"
                            @click="createOffer">{{ 'calculator.save_and_compare'|trans({}, 'text') }}</button>
                </div>
            </div>
        </div>
    </div>
</script>