<script type="text/x-template" id="credit-repayment-amount-form">
    <div class="row">
        <div class="col-md-12">
            <form action="" method="post">
                <div class="form-group">
                    <label for="amount" class="required">
                        <i class="fa fa-asterisk fa-required"></i>
                        {{ 'label.amount'|trans({}, 'form') }}
                        <span class="invalid-feedback d-block" v-for="error in errors" v-if="errors.length > 0">
                            <span class="d-block">
                                <span class="form-error-icon badge badge-danger text-uppercase">
                                    {{ 'form.error'|trans({}, 'form') }}
                                </span>
                                <span class="form-error-message" v-text="error"></span>
                            </span>
                        </span>
                    </label>
                    <input type="number" step="any" min="0" name="amount" id="amount" required class="form-control" :class="{'is-invalid': hasError}" v-model="amount">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-danger" @click.prevent="submit">
                        {{ 'button.pay'|trans({}, 'form') }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</script>