<script type="text/x-template" id="credit-comparison">
    <div class="row">
        <div class="col-md-12">
            <div class="calc">
                <div class="row">
                    <credit-calculator locale="{{ app.request.locale }}"></credit-calculator>
                    <credit-offer locale="{{ app.request.locale }}" v-for="offer, index in offers" :key="index" :index="index" v-bind="offer"></credit-offer>
                </div>
            </div>
        </div>
    </div>
</script>