<script type="text/x-template" id="credit-refinance">
    <tr class="bg-secondary text-white">
        <td colspan="4" class="text-right h6">
            <span class="mr-2">{{ 'active_credit.refinance_sum'|trans({}, 'text') }}</span>
            <span class="text-white" v-if="state === 'refinance'" v-text="formattedRefinanceSum"></span>
            <span class="text-white" v-if="state === 'refinance_not_possible'">{{ 'credit_repayment.refinance_not_possible'|trans({}, 'text') }}</span>
            <span class="text-white" v-if="state === 'error'">{{ 'credit_repayment.error_calculating_refinance'|trans({}, 'text') }}</span>
        </td>
        <td colspan="2">
            <a href="" class="btn btn-danger w-100" v-if="state != 'refinance'" v-on:click.prevent="getRefinanceSum">{{ 'button.calculate'|trans({}, 'form') }}</a>
            <a href="{{ path('credits.credit_apply', {isRefinance: true}) }}" class="btn btn-danger w-100" v-if="state == 'refinance'">{{ 'button.refinance'|trans({}, 'form') }}</a>
        </td>
    </tr>
</script>