<script type="text/x-template" id="credit-offer">
    <div class="col-12 col-md-6 col-xl-4 calculator px-mobile-0">
        <button type="button" class="remove-offer" @click="close">
            <img src="{{ asset('build/images/icons/close-button.png') }}" alt="Icon Close">
        </button>
        <div class="gray-side d-flex flex-column justify-content-start align-items-center">
            <div class="pt-3">
                <h3 class="calc-heading">
                    {{ 'credit_offer.headline'|trans({}, 'text')|upper }} <span v-text="index + 1"></span>
                </h3>

                <h1 class="credit-title" v-text="title"></h1>

                <img src="{{ asset('build/images/icons/offers-curve.png') }}" alt="Icon Offer" class="credit-title-sep">
            </div>

            <div class="d-flex flex-column flex-grow-1 justify-content-center">
                <div class="credit-desc">
                    <h4 class="credit-req">
                        {{ 'credit_offer.requirement'|trans({}, 'text') }}:
                    </h4>

                    <p class="ck-content" v-html="requirements"></p>
                </div>
            </div>
        </div>

        <div class="white-side d-flex flex-column justify-content-between pb-3">
            <div>
                <p class="text-danger text-uppercase font-weight-bold mb-1 d-flex justify-content-between">
                    <span>{{ 'calculator.amount'|trans({}, 'text') }}</span>
                    <span class="text-right"><span v-text="amount"></span> <span v-text="currency"></span></span>
                </p>
                <hr>
                <p class="text-dark font-weight-bold mb-1 d-flex justify-content-between">
                    <span>{{ 'calculator.payment'|trans({}, 'text') }}</span>
                    <span><span v-text="payment"></span> <span v-text="currency"></span></span>
                </p>
                <p v-if="false" class="text-muted d-flex justify-content-between" style="font-size: 0.8em;">
                    <span>{{ 'calculator.payment_without_active_guaranty'|trans({}, 'text') }}</span>
                    <span><span v-text="paymentWithPenalty"></span> <span v-text="currency"></span></span>
                </p>

                <hr>

                <div>
                    <p class="text-dark font-weight-bold mb-1 d-flex justify-content-between">
                        <span>{{ 'calculator.number_of_payments'|trans({}, 'text') }}</span>
                        <span v-text="periods"></span>
                    </p>
                    <p class="text-muted d-flex justify-content-between" style="font-size: 0.8em;">
                        <span>{{ 'calculator.credit_duration'|trans({}, 'text') }}</span>
                        <span><span v-text="duration"></span> {{ 'calculator.months'|trans({}, 'text') }}</span>
                    </p>
                </div>

                <hr>

                <div>
                    <p class="text-danger text-uppercase font-weight-bold mb-1 d-flex justify-content-between">
                        <span>{{ 'calculator.total_to_pay'|trans({}, 'text') }}</span>
                        <span class="text-right"><span v-text="total"></span> <span v-text="currency"></span></span>
                    </p>
                    <p v-if="false" class="text-muted d-flex justify-content-between" style="font-size: 0.8em;">
                        <span>{{ 'calculator.total_to_pay_without_active_guaranty'|trans({}, 'text') }}</span>
                        <span class="text-right"><span v-text="totalWithPenalty"></span> <span
                                    v-text="currency"></span></span>
                    </p>
                </div>

                {#     This part of the credit calculator will not be availabl at launch of the site#}

                {#            <hr class="my-2">#}

                {#            <div class="text-muted text-uppercase" style="font-size: 0.6em;">#}
                {#                {{ 'calculator.interest_rate_first_period'|trans({}, 'text') }}: <span#}
                {#                        v-text="interestRateFirstPeriod"></span>#}
                {#                | {{ 'calculator.interest_rate_second_period'|trans({}, 'text') }}: <span#}
                {#                        v-text="interestRateSecondPeriod"></span>#}
                {#                | {{ 'calculator.annual_percentage_rate_of_charge'|trans({}, 'text') }}:#}
                {#                <span v-text="aprc"></span>#}
                {#            </div>#}
                <hr>
                <div class="text-muted text-uppercase" style="font-size: 0.7em;">
                    {{ 'calculator.expenses'|trans({}, 'text') }}:
                    <span class="text-right"><span v-text="expenses"></span> <span
                                v-text="currency"></span></span>
                </div>
            </div>

            <div class="d-flex justify-content-center align-items-end">
                <button type="button" @click="apply"
                        class="btn btn-danger w-100">{{ 'calculator.apply_now'|trans({}, 'text') }}</button>
            </div>
        </div>
    </div>
</script>