<script type="text/x-template" id="credit-repayment">
    <tr class="bg-light">
        <td colspan="4" class="text-right h6">
            <span class="mr-2">{{ 'active_credit.early_repayment_sum'|trans({}, 'text') }}</span>
            <span class="text-danger" v-if="state === 'pay'" v-text="formattedRepaymentSum"></span>
            <span class="text-danger" v-if="state === 'repayment_not_possible'">{{ 'credit_repayment.repayment_not_possible'|trans({}, 'text') }}</span>
            <span class="text-danger" v-if="state === 'error'">{{ 'credit_repayment.error_calculating_repayment'|trans({}, 'text') }}</span>
        </td>
        <td colspan="2">
            <a href="" class="btn btn-danger w-100" v-if="state != 'pay'" v-on:click.prevent="getRepaymentSum">{{ 'button.calculate'|trans({}, 'form') }}</a>
            <a href="" class="btn btn-danger w-100" v-if="state == 'pay'" v-on:click.prevent="redirectForPayment">{{ 'button.pay'|trans({}, 'form') }}</a>
        </td>
    </tr>
</script>