<script type="text/x-template" id="gmaps">
    <div class="row">
        <div class="col-md-12" v-if="!isMapVisible">
            <div class="text-center py-5">
                <div class="heading">
                    {{ 'gmap.find_us_headline'|trans({}, 'text') }}
                </div>
                <a href="#" class="btn btn-danger" @click.prevent="showMap">
                    {{ 'gmap.button.show_offices'|trans({}, 'form') }}
                </a>
            </div>
        </div>
        <div class="col-md-12 px-0" v-if="isMapVisible">
            <div class="map">
                <div class="filter">
                    <div class="filter-head">
                        <h3 class="heading text-center">
                            {{ 'gmap.filter.heading'|trans({}, 'form') }}
                        </h3>
                    </div>
                    <div class="filter-body">
                        <div class="input-group">
                            <select class="form-control" @change="filter" v-model="selectedCity">
                                <option :value="address">{{ 'gmap.filter.all_offices'|trans({}, 'form') }}</option>
                                <option v-for="city in cities" :value="city.name" v-text="city.name"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="gmaps" ref="gmap"></div>

                <div class="office-panel" :class="{'d-none': !isOfficeSelected}">
                    <button type="button" class="rounded-circle bg-white text-secondary position-absolute"
                            style="right: 10px; top: 10px;" @click="deselectOffice"><span class="fa fa-close"></span>
                    </button>
                    <div>
                        <h5 class="" v-text="selectedOffice.name"></h5>
                        <div class="office-panel-body">
                            <div class="office-info">
                                <div class="title">
                                    {{ 'gmap.title.city'|trans({}, 'form') }}
                                </div>
                                <div v-text="selectedOffice.city"></div>
                            </div>

                            <div class="office-info">
                                <div class="title">
                                    {{ 'gmap.title.address'|trans({}, 'form') }}
                                </div>
                                <div v-html="selectedOffice.address"></div>
                            </div>

                            <div class="office-info">
                                <div class="title">
                                    {{ 'gmap.title.telephone'|trans({}, 'form') }}
                                </div>
                                <div v-html="selectedOffice.telephone"></div>
                            </div>

                            <div class="office-info">
                                <div class="title">
                                    {{ 'gmap.title.working_time'|trans({}, 'form') }}
                                </div>
                                <div v-text="selectedOffice.workingTime"></div>
                            </div>

                            <div class="go-to-google-map">
                                <a :href=selectedOffice.googleMapLink target="_blank"><img
                                            src="{{ asset('build/images/icons/go-to-google-map.png') }}"
                                            alt="Icon Map"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>