<script type="text/x-template" id="image-gallery">
    <div>
        <modal title="{{ 'image_gallery.title'|trans({}, 'text') }}" identifier="image-gallery-modal"
               :has-footer="false" :vertically-centered="true" size="xl">
            <div class="row" v-if="isLoading">
                <div class="col-md-12">
                    <div class="d-flex justify-content-center align-items-center py-3">
                        <img class="w-25" src="{{ asset('build/images/preloader.svg') }}" alt="">
                    </div>
                </div>
            </div>

            <div v-if="!isLoading" class="row">
                <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                    <div class="card h-100">
                        <div class="h-100 w-100 d-flex justify-content-center align-items-center">
                            <i v-show="isUploading" class="fa fa-spinner fa-pulse fa-5x"></i>

                            <i v-show="!isUploading" class="fa fa-plus-circle fa-5x text-muted" style="cursor:pointer;" @click="selectFile"></i>

                            <input type="file" hidden name="file" ref="fileInput" @change="uploadFile">
                        </div>
                    </div>
                </div>
                <div v-for="image in images" class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                    <div class="card h-100">
                        <figure style="height: 170px; overflow: hidden; text-align: center;">
                            <img class="img-fluid w-100"
                                 :src="image.cachedPath">
                        </figure>

                        <div class="card-body">
                            <p class="card-text text-muted" v-text="image.fullName"></p>

                            <button class="btn btn-danger btn-block btn-sm" @click="selectImage(image.publicPath)">
                                <i class="fa fa-check-circle"></i>
                                {{ 'image.gallery.select_image'|trans({}, 'text') }}
                            </button>
                        </div>
                    </div>
                </div>
                <div v-if="!isLoading && images.length == 0" class="h5 text-muted py-5 px-1">
                    {{ 'no_images_found'|trans({}, 'text') }}
                </div>
            </div>
        </modal>
    </div>
</script>