<script type="text/x-template" id="poll-participation">
    <div>
        <modal title="{{ 'poll_participation.title'|trans({}, 'text') }}" identifier="poll_participation" :has-footer="false" :vertically-centered="true">
            <div class="text-center p-3 mb-3">
                {{ 'poll_participation.do_you_want_to_participate'|trans({}, 'text') }}
            </div>
            <div>
                <button @click="showPoll" type="button" class="btn btn-block btn-primary">{{ 'button.i_agree'|trans({}, 'form') }}</button>
                <button @click="close" type="button" class="btn btn-block btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</button>
                <button @click="declinePoll" type="button" class="btn btn-block btn-warning">{{ 'button.i_dont_want_to_take_participate_in_this_poll'|trans({}, 'form') }}</button>
            </div>
        </modal>
    </div>
</script>