<script type="text/x-template" id="flash">
    <div class="flash-message alert"
         :class="'alert-' + messageClass"
         role="alert"
         v-show="show"
         v-text="message">
    </div>
</script>

<script type="text/x-template" id="flashes">
    <div class="flashes-container" style="z-index: 1051;">
        <flash v-for="message, index in messages" :key="index" :message="message.message"
               :level="message.level"></flash>
    </div>
</script>

<script type="text/x-template" id="tab">
    <div class="tab-pane fade mt-2" v-show="isActive" :class="{ 'active': isActive, 'show': isActive }" @childTabActive="activate">
        <slot></slot>
    </div>
</script>

<script type="text/x-template" id="tabs">
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item" v-for="tab in tabs">
                <a class="nav-link" :href="tab.href" @click="selectTab(tab)" :class="{ 'active': tab.isActive }">[[tab.name]]</a>
            </li>
        </ul>

        <div class="tab-content">
            <slot></slot>
        </div>
    </div>
</script>

<script type="text/x-template" id="carousel">
    <div>
        <slot></slot>
    </div>
</script>

<script type="text/x-template" id="modal">
    <div v-cloak class="modal fade" :id="identifier" tabindex="-1" role="dialog" aria-labelledby="identifier + '-label'"
         aria-hidden="true">
        <div class="modal-dialog" :class="[sizeClass, verticallyCenteredClass]" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" :id="identifier + '-label'">[[title]]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <slot></slot>
                </div>
                <div v-if="hasFooter" class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">{{ 'button.close'|trans({}, 'form') }}</button>
                    <button type="button" class="btn btn-primary">[[primaryButton]]</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-template" id="file-upload-button">
    <div class="d-inline">
        <input type="file" hidden name="file" ref="fileInput" @change="uploadFile">

        <button @click="selectFile" v-bind:disabled="isUploading" class="btn btn-danger text-white" :class="fullWidth == true ? 'w-100' : ''">
            <i v-show="isUploading" class="fa fa-spinner fa-pulse mr5"></i>
            <i v-show="!isUploading" class="fa fa-upload"></i>
            <span v-show="isUploading">Uploading</span>
            <span v-show="!isUploading">[[buttonText]]</span>
        </button>
    </div>
</script>

<script type="text/x-template" id="apply-online-button">
    <div class="text-dark">
        <button @click.prevent="checkCustomerIsDenied" v-bind:disabled="isChecking" class="btn btn-danger text-white w-sm-100 w-50 px-1">
            <i v-show="isChecking" class="fa fa-spinner fa-pulse mr-1"></i>
            <span>{{ 'button.apply_online'|trans({}, 'form') }}</span>
        </button>

        <modal
                size="sm"
                identifier="application-not-allowed-modal"
                :vertically-centered="true"
                :has-footer="false"
                title="{{ 'attention'|trans({}, 'text') }}"
                ref="modal"
        >
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <p>
                            {{ 'customer.online_application_is_not_allowed_at_the_moment'|trans({}, 'text') }}
                        </p>
                    </div>
                </div>
            </div>
        </modal>
    </div>

</script>

<script type="text/x-template" id="poll-answer">
    <div class="bg-light p-2 mb-2 poll-answer" :data-id="answer.id">
        <div v-if="!isEditing">
            <i class="fa fa-bars mr-3 sort-handle"></i>
            <span class="mr-2" v-text="answer.text"></span>
            <span @click.prevent="isEditing = true" style="cursor: pointer"
                  title="{{ 'poll_answer.edit_answer'|trans({}, 'text') }}"><i class="fa fa-pencil mr-2"></i></span>
            <span @click.prevent="changeDeleteState('confirming')" style="cursor: pointer"
                  title="{{ 'poll_answer.delete_answer'|trans({}, 'text') }}"><i
                        class="fa fa-trash text-danger mr-2"></i></span>
            <span v-if="deleteState == 'confirming'" class="bg-secondary text-light p-1 rounded d-inline-block">
                <span class="d-flex justify-content-start align-items-center">
                    <span class="mr-2" style="font-size: 0.8em;">Are you sure?</span>
                    <span @click="deleteAnswer" class="bg-danger mr-1 rounded p-1"
                          style="font-size: 0.7em; cursor: pointer;">Yes</span>
                    <span @click="changeDeleteState('initial')" class="bg-light text-dark rounded p-1"
                          style="font-size: 0.7em; cursor: pointer;">No</span>
                </span>
            </span>
        </div>

        <div v-if="isEditing">
            <div class="form-group">
                <label for="text" class="sr-only"></label>
                <input class="form-control" type="text" id="text" name="text" v-model="answer.text">

                <div class="custom-control custom-checkbox custom-control-inline mt-2 mb-2">
                    <input type="checkbox" id="hasComment" class="custom-control-input" v-model="answer.hasComment">
                    <label class="custom-control-label"
                           for="hasComment">{{ 'poll_answer.has_comment'|trans({}, 'text') }}</label>
                </div>

                <label for="commentHelpText" class="sr-only" v-if="answer.hasComment"></label>
                <textarea id="commentHelpText" name="commentHelpText" class="form-control" rows="3"
                          v-model="answer.commentHelpText" v-if="answer.hasComment"
                          placeholder="{{ 'poll_answer.comment_placeholder'|trans({}, 'text') }}"></textarea>
            </div>

            <button type="button" class="btn btn-primary btn-sm" @click="save"><i class="fa fa-save"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" @click="isEditing = false"><i
                        class="fa fa-times-circle"></i></button>
        </div>
    </div>
</script>

<script type="text/x-template" id="poll-question">
    <div class="mb-2 poll-question" :data-id="question.id">
        <div v-if="!isEditing" class="bg-light p-2 mb-2">
            <i class="fa fa-bars mr-3 sort-handle"></i>
            <span @click.prevent="toggleOpen" style="cursor: pointer;">
                <i class="fa" :class="isOpen ? 'fa-minus' : 'fa-plus'"></i>
            </span>
            <span class="mr-2" v-text="question.text"></span>
            <span @click.prevent="isEditing = true" title="{{ 'poll_question.edit_question'|trans({}, 'text') }}"><i
                        class="fa fa-pencil text-primary mr-2"
                        style="cursor: pointer"></i></span>
            <span @click.prevent="isAdding = true" title="{{ 'poll_question.add_answer'|trans({}, 'text') }}"><i
                        class="fa fa-plus-circle text-primary mr-2"
                        style="cursor: pointer"></i></span>
            <span @click.prevent="changeDeleteState('confirming')"
                  title="{{ 'poll_question.delete_question'|trans({}, 'text') }}"><i class="fa fa-trash text-danger"
                                                                                     style="cursor: pointer"></i></span>
            <span v-if="deleteState == 'confirming'" class="bg-secondary text-light p-1 rounded d-inline-block">
                <span class="d-flex justify-content-start align-items-center">
                    <span class="mr-2" style="font-size: 0.8em;">Are you sure?</span>
                    <span @click="deleteQuestion" class="bg-danger mr-1 rounded p-1"
                          style="font-size: 0.7em; cursor: pointer;">Yes</span>
                    <span @click="changeDeleteState('initial')" class="bg-light text-dark rounded p-1"
                          style="font-size: 0.7em; cursor: pointer;">No</span>
                </span>
            </span>
        </div>

        <div v-if="isAdding">
            <div class="form-group">
                <label for="newAnswer_text" class="sr-only"></label>
                <input class="form-control" type="text" id="newAnswer_text" name="newAnswer_text"
                       v-model="newAnswer.text">

                <div class="custom-control custom-checkbox custom-control-inline mt-2 mb-2">
                    <input type="checkbox" id="newAnswer_hasComment" class="custom-control-input"
                           v-model="newAnswer.hasComment">
                    <label class="custom-control-label"
                           for="newAnswer_hasComment">{{ 'poll_answer.has_comment'|trans({}, 'text') }}</label>
                </div>

                <label for="newAnswer_commentHelpText" class="sr-only" v-if="newAnswer.hasComment"></label>
                <textarea id="newAnswer_commentHelpText" name="newAnswer_commentHelpText" class="form-control" rows="3"
                          v-model="newAnswer.commentHelpText" v-if="newAnswer.hasComment"
                          placeholder="{{ 'poll_answer.comment_placeholder'|trans({}, 'text') }}"></textarea>
            </div>

            <button type="button" class="btn btn-primary btn-sm" @click="createAnswer"><i class="fa fa-save"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-sm" @click="isAdding = false"><i
                        class="fa fa-times-circle"></i></button>
        </div>

        <div v-show="showAnswers" class="pl-3 mb-2" ref="answers">
            <poll-answer v-for="answer in question.answers" :key="answer.id" :answer="answer" :locale="locale"
                         @answerWasDeleted="onAnswerDeleted"></poll-answer>
        </div>

        <div v-if="isEditing" class="bg-light p-2">
            <div class="form-group">
                <label for="text" class="sr-only"></label>
                <input class="form-control" type="text" id="text" name="text" v-model="question.text">

                <div class="custom-control custom-radio custom-control-inline mt-2 mb-2">
                    <input type="radio" id="single_answer_type" class="custom-control-input" v-model="question.type"
                           value="single_answer" name="type">
                    <label class="custom-control-label"
                           for="single_answer_type">{{ 'poll_question.single_answer'|trans({}, 'text') }}</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline mt-2 mb-2">
                    <input type="radio" id="multiple_answers_type" class="custom-control-input" v-model="question.type"
                           value="multiple_answers" name="type">
                    <label class="custom-control-label"
                           for="multiple_answers_type">{{ 'poll_question.multiple_answers'|trans({}, 'text') }}</label>
                </div>
            </div>

            <button type="button" class="btn btn-primary btn-sm" @click="save"><i class="fa fa-save"></i></button>
            <button type="button" class="btn btn-secondary btn-sm" @click="isEditing = false"><i
                        class="fa fa-times-circle"></i></button>
        </div>
    </div>
</script>

<script type="text/x-template" id="poll">
    <div class="mb-2 poll">
        <div class="mb-2" v-if="poll.questions.length == 0">
            {{ 'poll.there_are_no_questions'|trans({}, 'text') }}
        </div>
        <div class="mb-2" ref="questions">
            <poll-question v-for="question in poll.questions" :key="question.id" :question="question" :locale="locale"
                           @questionWasDeleted="onQuestionDeleted"></poll-question>
        </div>

        <div v-if="isAdding" class="bg-light p-2">
            <div class="form-group">
                <label for="text" class="sr-only"></label>
                <input class="form-control" type="text" id="text" name="text" v-model="newQuestion.text">

                <div class="custom-control custom-radio custom-control-inline mt-2 mb-2">
                    <input type="radio" id="newQuestion_single_answer_type" class="custom-control-input"
                           v-model="newQuestion.type"
                           value="single_answer" name="type">
                    <label class="custom-control-label"
                           for="newQuestion_single_answer_type">{{ 'poll_question.single_answer'|trans({}, 'text') }}</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline mt-2 mb-2">
                    <input type="radio" id="newQuestion_multiple_answers_type" class="custom-control-input"
                           v-model="newQuestion.type"
                           value="multiple_answers" name="type">
                    <label class="custom-control-label"
                           for="newQuestion_multiple_answers_type">{{ 'poll_question.multiple_answers'|trans({}, 'text') }}</label>
                </div>
            </div>

            <button type="button" class="btn btn-primary btn-sm" @click="createQuestion"><i class="fa fa-save"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-sm" @click="isAdding = false"><i
                        class="fa fa-times-circle"></i></button>
        </div>

        <div>
            <button type="button" class="btn btn-primary btn-sm" @click.prevent="isAdding = true">
                <i class="fa fa-plus"></i>
                {{ 'button.add_question'|trans({}, 'form') }}
            </button>
        </div>
    </div>
</script>

<script type="text/x-template" id="telephone-application-not-allowed">
    <div class="text-dark">
        <modal
                size="sm"
                identifier="telephone-application-not-allowed-modal"
                :vertically-centered="true"
                :has-footer="false"
                title="{{ 'attention'|trans({}, 'text') }}"
                ref="modal"
        >
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <p>
                            {{ 'customer.telephone_application_is_not_allowed_at_the_moment'|trans({}, 'text') }}
                        </p>
                    </div>
                </div>
            </div>
        </modal>
    </div>
</script>

<script type="text/x-template" id="redirect-timer">
    <div class="text-center">
        {{ 'redirect_timer.text'|trans({}, 'text') }}:
        <span class="badge badge-secondary text-white">
            <span v-text="remainingTime"></span>
        <span>{{ 'redirect_timer.seconds'|trans({}, 'text') }}</span>
        </span>
    </div>
</script>

{% include 'components/_credit_calculator.html.twig' %}
{% include 'components/_credit_offer.html.twig' %}
{% include 'components/_gmaps.html.twig' %}
{% include 'components/_poll_participation.html.twig' %}
{% include 'components/_image_gallery.html.twig' %}
{% include 'components/_credit_comparison.html.twig' %}
{% include 'components/_zopim_chat.html.twig' %}
{% include 'components/_credit_repayment.html.twig' %}
{% include 'components/_credit_repayment_amount_form.html.twig' %}
{% include 'components/_credit_refinance.html.twig' %}
{% include 'components/_translation_item.html.twig' %}
{% include 'components/_translations_list.html.twig' %}