<script type="text/x-template" id="translations-list">
    <div>
        <div class="row">
            <div  class="col-12">
                <form class="form-inline justify-content-between" method="get">
                    <label class="sr-only" for="locale">{{ 'label.locale'|trans({}, 'form') }}</label>
                    <select
                            v-model="selectedLocale"
                            @change="getTranslations"
                            class="form-control mb-2 mr-sm-2 flex-grow-1"
                            name="locale"
                            id="locale"
                    >
                        <option v-for="(locale, index) in locales" v-text="locale" :value="locale"></option>
                    </select>

                    <label class="sr-only" for="domain">{{ 'label.domain'|trans({}, 'form') }}</label>
                    <select
                            v-model="selectedDomain"
                            @change="getTranslations"
                            class="form-control mb-2 mr-sm-2 flex-grow-1"
                            name="domain"
                            id="domain"
                    >
                        <option v-for="(domain, index) in domains" v-text="domain" :value="domain"></option>
                    </select>

                    <label class="sr-only" for="key">{{ 'label.key'|trans({}, 'form') }}</label>
                    <input
                            v-model="selectedKey"
                            @keyup="debouncedGetTranslations"
                            type="text"
                            class="form-control mb-2 mr-sm-2 flex-grow-1"
                            id="key" name="key"
                            placeholder="{{ 'placeholder.key'|trans({}, 'form') }}"
                    >

                    <label class="sr-only" for="key">{{ 'label.value'|trans({}, 'form') }}</label>
                    <input
                            v-model="selectedValue"
                            @keyup="debouncedGetTranslations"
                            type="text"
                            class="form-control mb-2 mr-sm-2 flex-grow-1"
                            id="value"
                            name="value"
                            placeholder="{{ 'placeholder.value'|trans({}, 'form') }}"
                    >
                    <button
                            @click.prevent="clear"
                            class="btn btn-danger mb-2 flex-grow-1"
                    >
                        {{ 'button.clear'|trans({}, 'form') }}
                    </button>
                </form>
            </div>
        </div>

        <div class="row">
            <div v-if="isLoading == true" class="col-12">
                <div class="text-center p-5">
                    <i class="fa fa-spinner fa-pulse fa-5x text-info"></i>
                </div>
            </div>
            <div v-if="isLoading == false" class="col-12">
                <translation-item
                        v-for="item in translationItems"
                        :key="item.id"
                        :locale="item.locale"
                        :domain="item.domain"
                        :id="item.id"
                        :translation-key="item.key"
                        :translation-value="item.value"
                        :default-locale="defaultLocale"
                        :default-translation-value="item.defaultTranslation"
                        :base-url="baseUrl"
                        :auth-token="authToken"
                >
                </translation-item>
            </div>
            <div v-if="translationItems.length == 0 && isLoading == false" class="col-12">
                {{ 'no_translations_were_found'|trans({}, 'text') }}
            </div>
        </div>
    </div>
</script>
