<script type="text/x-template" id="zopim-chat">
    <div @click.prevent="enableZopim">
        <figure class="sticky-mobile-chat-icon"><img src="{{ asset('build/images/icons/talkbubble.svg') }}" alt="Ask a question" /></figure>
        <a href="#" class="white-red-btn sticky-chat-icon">
            <img src="{{ asset('build/images/icons/cloud.svg') }}" alt="Ask a question" /> {{ 'zopim.chat_button'|trans({}, 'text') }}
        </a>
    </div>
</script>