{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.careers_partners'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">
                {{ 'headline.careers_partners'|trans({}, 'text') }}
                <a href="{{ path('admin.careers_partners.create') }}" class="btn btn-info btn-xs"><i class="fa fa-plus-circle"></i> Add</a>
            </h2>

            <form class="form-inline justify-content-between" method="get">
                <label class="sr-only" for="name">{{ 'label.name'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="name" name="name" placeholder="{{ 'placeholder.name'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('name') }}">

                <label class="sr-only" for="description">{{ 'label.description'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="description" name="description" placeholder="{{ 'placeholder.description'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('description') }}">

                <label class="sr-only" for="discount">{{ 'label.discount'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="discount" name="discount" placeholder="{{ 'placeholder.discount'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('discount') }}">

                <a href="{{ path('admin.careers_partners.index') }}" class="btn btn-secondary mb-2 mr-2"><i
                            class="fa fa-remove"></i> {{ 'button.clear'|trans({}, 'form') }}</a>
                <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-filter"></i> {{ 'button.filter'|trans({}, 'form') }}</button>
            </form>

            <form method="post" action="{{ path('admin.careers_partners.order') }}">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>{{ 'column.name'|trans({}, 'table') }}</th>
                        <th width="60%">{{ 'column.description'|trans({}, 'table') }}</th>
                        <th>{{ 'column.discount'|trans({}, 'table') }}</th>
                        <th>{{ 'column.actions'|trans({}, 'table') }}</th>
                    </tr>
                    </thead>
                    <tbody data-controller="sortable">
                    {% for partner in partners %}
                        {# @var partner \App\Entity\CareersPartner #}
                        <tr>
                            <td>{{ partner.name }} <input type="hidden" name="sortedPartners[]" value="{{ partner.id }}">
                            </td>
                            <td>{{ partner.description|limit_chars(100)|raw }}</td>
                            <td>{{ partner.discount}}</td>
                            <td>
                                <div class="dropdown">
                                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                       id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        {{ 'button.select'|trans({}, 'table') }}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="{{ path('admin.careers_partners.update', {'id': partner.id}) }}"><i
                                                    class="fa fa-pencil-square-o"></i> {{ 'button.edit'|trans({}, 'table') }}
                                        </a>
                                        <delete-link icon-class="fa fa-trash-o"
                                                     target-url="{{ path('admin.careers_partners.delete', {id: partner.id}) }}"
                                                     redirect-url="{{ path('admin.careers_partners.index') }}"
                                                     confirmation-message="{{ 'confirmation_message.delete.partners'|trans({},'messages') }}">
                                            {{ 'button.delete'|trans({}, 'table') }}</delete-link>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">{{ 'no_careers_partners_found'|trans({}, 'table') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button type="submit"
                        class="btn btn-primary mt-2" {% if app.request.query.count > 0 %} disabled {% endif %}><i
                            class="fa fa-sort-amount-desc"></i> {{ 'button.save_order'|trans({}, 'form') }}</button>
            </form>
        </div>
    </div>
{% endblock %}
