{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.create_careers_partners'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2>{{ 'headline.create_careers_partners'|trans({}, 'text') }}</h2>
                <tabs>
                    <tab name="{{ 'tab.content'|trans({}, 'text') }}" :selected="true">
                        {{ form_start(form) }}
                        {{ form_row(form.name) }}
                        {{ form_row(form.discount) }}
                        {{ form_row(form.description, {'attr': {'rows': 6}}) }}

                        <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                        <a href="{{ path('admin.careers_partners.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                        {{ form_end(form) }}
                    </tab>
                    {% if form.vars.data.id is not null %}
                        <tab name="{{ 'tab.visibility'|trans({}, 'text') }}">
                            {{ form_start(visibilityForm) }}
                            {{ form_row(visibilityForm.startDate) }}
                            {{ form_row(visibilityForm.endDate) }}

                            <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                            <a href="{{ path('admin.careers_partners.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                            {{ form_end(visibilityForm) }}
                        </tab>
                        <tab name="{{ 'tab.cover_image'|trans({}, 'text') }}">
                            <div class="mt-3">
                                <file-upload-button
                                        upload-url="{{ path('admin.careers_partners.upload_cover_image', {id: form.vars.data.id}) }}"
                                        redirect-url="{{ path('admin.careers_partners.update', {id: form.vars.data.id}) }}"></file-upload-button>
                            </div>
                            {% if form.vars.data.image is not null %}
                                <img class="mt-3" src="{{ form.vars.data.image.filePath|imagine_filter('carousel') }}" alt="{{ form.vars.data.image.originalName }}" class="img-thumbnail">
                            {% else %}
                                <p>{{ 'no_cover_image_has_been_uploaded'|trans({}, 'text') }}</p>
                            {% endif %}
                        </tab>
                    {% endif %}
                </tabs>
            </div>
        </div>
    </div>
{% endblock %}
