{% extends 'admin_base.html.twig' %}

{% block title %}{{ moduleItem.name }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2>{{ 'headline.configure_module'|trans({}, 'text') }}</h2>
                <p class="form-text text-muted">{{ moduleItem.description|default(moduleItem.name)|upper }}</p>
                {% if form is defined %}
                    {% include formTemplate with {form: form, cancelUrl: cancelUrl} %}
                {% else %}
                    <tabs>
                        <tab name="ua" :selected="true">
                            {% include formTemplate with {form: uaForm, cancelUrl: cancelUrl} %}
                        </tab>
                        <tab name="ru">
                            {% include formTemplate with {form: ruForm, cancelUrl: cancelUrl} %}
                        </tab>
                        <tab name="en">
                            {% include formTemplate with {form: enForm, cancelUrl: cancelUrl} %}
                        </tab>
                    </tabs>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
