{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.managed_modules'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">{{ 'headline.managed_modules'|trans({}, 'text') }}</h2>
            <p class="text-sm-left text-muted">{{ 'managed_modules.sub_headline'|trans({}, 'text') }}</p>
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>{{ 'column.name'|trans({}, 'table') }}</th>
                    <th>{{ 'column.actions'|trans({}, 'table') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in moduleItems %}
                    {# @var item \App\Entity\\App\Entity\ModuleItem #}
                    <tr>
                        <td>{{ item.description|default(item.name) }}</td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                   id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    {{ 'button.select'|trans({}, 'table') }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item"
                                       href="{{ path('module_item.configure', {'slug': item.slug}) }}"><i
                                                class="fa fa-pencil-square-o"></i> {{ 'button.edit'|trans({}, 'table') }}
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">{{ 'no_modules_found'|trans({}, 'table') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
