{% extends 'base.html.twig' %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <section class="page-not-found">
        <div class="container">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="error-code">
                        {{ 'error_404.error_code'|trans({}, 'error_pages') }}
                    </div>
                    <h1>{{ 'error_404.heading'|trans({}, 'error_pages') }}</h1>
                    <p>
                        {{ 'error_404.description'|trans({}, 'error_pages') }}
                        <a href="{{ path('static_pages.home_page') }}">{{ 'error_404.redirect_label'|trans({}, 'error_pages') }}</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
