{% extends 'base.html.twig' %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <section class="page-not-found">
        <div class="container">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="error-code">
                        401
                    </div>
                    <h1>Not authorized</h1>
                    <p>
                        Looks like you are not authorized to perform this action / visit this page.
                        <br />
                        Please, <a href="{{ path('static_pages.home_page') }}">return to the homepage</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}