{% extends 'base.html.twig' %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <section class="page-not-found">
        <div class="container">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="error-code">
                        403
                    </div>
                    <h1>Access Denied</h1>
                    <p>
                        Looks like you don't have permissions to perform this action / visit this page. Please, behave and <a href="{{ path('static_pages.home_page') }}">return to the homepage</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}