{% extends 'base.html.twig' %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <section class="page-not-found">
        <div class="container">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="error-code">
                        500
                    </div>
                    <h1>Something unexpected happened.</h1>
                    <p>If the problem persists, please contact our support.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
