{% extends 'admin_base.html.twig' %}

{% block title %}UI Translations | Symfony Starter{% endblock %}

{% block breadcrumbs %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/translation/css/webui.css") }}">
{% endblock %}

{% block content %}
    <div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <p>
                    Configs:
                    {% for c in configNames %}
                        <a href="{{ path('translation_index', {configName: c}) }}">
                            <span class="badge {% if configName == c %} badge-primary{% else %}badge-secondary{% endif %}">{{ c }}</span>
                        </a>
                    {% endfor %}
                </p>
                <form action="{{ path('admin.translations.clear_cache') }}" class="d-inline-block" method="post">
                    <button type="submit" class="btn btn-secondary">{{ 'button.clear_cache'|trans({}, 'form') }}</button>
                </form>
                <form action="{{ path('admin.translations.upload_to_remote') }}" class="d-inline-block" method="post">
                    <button type="submit" class="btn btn-info">
                        <i class="fa fa-upload"></i>
                        {{ 'button.upload_to_remote'|trans({}, 'form') }}
                    </button>
                </form>
                <form action="{{ path('admin.translations.download_from_remote') }}" class="d-inline-block" method="post">
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-download"></i>
                        {{ 'button.download_from_remote'|trans({}, 'form') }}
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% block _translation_bundle_body %}{% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block _translation_bundle_js %}
    <script type="text/javascript" src="{{ asset("bundles/translation/js/webui.js") }}"></script>
{% endblock %}

