{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.permissions'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>
                {{ 'headline.permissions'|trans({}, 'text') }}
                <a href="{{ path('admin.permissions.create') }}" class="btn btn-info"><i class="fa fa-plus"></i> {{ 'link.add'|trans({}, 'text') }}</a>
            </h2>

            <form class="form-inline justify-content-between" method="get">
                <label class="sr-only" for="domain">{{ 'label.domain'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="domain" name="domain" placeholder="{{ 'placeholder.domain'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('domain') }}">

                <label class="sr-only" for="action">{{ 'label.action'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="action" name="action" placeholder="{{ 'placeholder.action'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('action') }}">

                <a href="{{ path('admin.permissions.index') }}" class="btn btn-secondary mb-2 mr-2"><i
                            class="fa fa-remove"></i> {{ 'button.clear'|trans({}, 'form') }}</a>
                <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-filter"></i> {{ 'button.filter'|trans({}, 'form') }}</button>
            </form>

            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>{{ 'column.domain'|trans({}, 'table') }}</th>
                    <th>{{ 'column.action'|trans({}, 'table') }}</th>
                    <th>{{ 'column.updated_at'|trans({}, 'table') }}</th>
                    <th>{{ 'column.actions'|trans({}, 'table') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for permission in permissions %}
                    {# @var setting \App\Entity\Permission\Permission #}
                    <tr>
                        <td>{{ permission.domain }}</td>
                        <td>{{ permission.action }}</td>
                        <td>{{ permission.updatedAt|formatted_date_time }}</td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                   id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    {{ 'button.select'|trans({}, 'table') }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="{{ path('admin.permissions.update', {'id': permission.id}) }}"><i class="fa fa-pencil"></i> {{ 'button.edit'|trans({}, 'table') }}</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{{ 'no_permissions_found'|trans({}, 'table') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation">
                {{ knp_pagination_render(permissions) }}
            </div>
        </div>
    </div>
{% endblock %}
