{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.update_permission'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2>{{ 'headline.update_permission'|trans({}, 'text') }}</h2>
                {{ form_start(form) }}
                {{ form_row(form.domain) }}
                {{ form_row(form.action) }}

                <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                <a href="{{ path('admin.permissions.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
