<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <title></title>

    </head>

    <body>

        {% apply inline_css(source('@css/email.css')) %}

        <div class="mail-header">
            <img src="https://i.ibb.co/GFhJHsC/logo-mail-template.png" width="" height="" class="logo" border="0" alt="" /> 
        </div>

        <div class="mail-body">
            {% block content %}
                Here is the email body
            {% endblock %}
        </div>

        <div class="mail-footer">
            <div>
                {{ 'mail.best_regards'|trans({}, 'text') }},<br />
                {{ 'mail.icredit_team'|trans({}, 'text') }}
            </div>
        </div>

        {% endapply %}

    </body>
</html>