{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.mails'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>{{ 'headline.mails'|trans({}, 'text') }}</h2>

            <form class="form-inline justify-content-between" method="get">
                <label class="sr-only" for="type">{{ 'label.type'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="type" name="type" placeholder="{{ 'placeholder.type'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('type') }}">

                <label class="sr-only" for="subject">{{ 'label.subject'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="subject" name="subject" placeholder="{{ 'placeholder.subject'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('subject') }}">

                <label class="sr-only" for="content">{{ 'label.content'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="content" name="content" placeholder="{{ 'placeholder.content'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('content') }}">

                <label class="sr-only" for="locale">{{ 'label.locale'|trans({}, 'form') }}</label>
                <select name="locale" id="locale" class="custom-select mb-2 mr-sm-2 flex-grow-1">
                    <option value="">{{ 'option.any_locale'|trans({}, 'form') }}</option>
                    {% for locale in locales %}
                        <option value="{{ locale }}" {% if app.request.query.get('locale') == locale %}selected{% endif %}>{{ locale|upper }}</option>
                    {% endfor %}
                </select>

                <a href="{{ path('admin.mails.index') }}" class="btn btn-secondary mb-2 mr-2"><i
                            class="fa fa-remove"></i> {{ 'button.clear'|trans({}, 'form') }}</a>
                <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-filter"></i> {{ 'button.filter'|trans({}, 'form') }}</button>
            </form>

            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>{{ 'column.type'|trans({}, 'table') }}</th>
                    <th>{{ 'column.subject'|trans({}, 'table') }}</th>
                    <th>{{ 'column.locale'|trans({}, 'table') }}</th>
                    <th>{{ 'column.actions'|trans({}, 'table') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for mail in mails %}
                    {# @var mail \App\Entity\Mail #}
                    <tr>
                        <td>{{ mail.type }}</td>
                        <td>{{ mail.subject }}</td>
                        <td>{{ mail.locale }}</td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                   id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    {{ 'button.select'|trans({}, 'table') }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="{{ path('admin.mails.update', {'id': mail.id}) }}"><i class="fa fa-pencil-square-o"></i> {{ 'button.edit'|trans({}, 'table') }}</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{{ 'no_mails_found'|trans({}, 'table') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation">
                {{ knp_pagination_render(mails) }}
            </div>
        </div>
    </div>
{% endblock %}
