{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.update_mail'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h2>{{ 'headline.update_mail'|trans({}, 'text') }}: {{ mail.type }} ({{ mail.locale }})</h2>
                {{ form_start(form) }}
                {{ form_row(form.subject) }}
                {{ form_row(form.content) }}
                {% if mail.placeholders|length > 0 %}
                    <div class="alert alert-secondary">
                        {{ 'available_variables'|trans({}, 'text') }}:
                        {% for placeholder in mail.placeholders %}
                            <span class="badge badge-info">{{ placeholder }}</span>
                        {% endfor %}
                    </div>
                {% endif %}

                <button class="btn btn-primary">{{ 'button.save'|trans({}, 'form') }}</button>
                <a href="{{ path('admin.mails.index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans({}, 'form') }}</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
