{% if documents|length > 0 %}
    <table class="table repayment-plan text-left">
        <thead>
        <tr class="h6">
            <th class="column-1"></th>
            <th>{{ 'credit.credit_documents'|trans({}, 'table') }}</th>
        </tr>
        </thead>
        <tbody class="table-active">
        {% for document in documents %}
            <tr class="h6 font-weight-lighter">
                <td></td>
                <td>
                    <a href="{{ path('credit_documents.stored_document', {'documentId': document.id}) }}" target="_blank" class="text-dark">{{ document.name }}</a>
                    {# This button is added just to make the height of the row the same as the rows with rejected files #}
                    <button class="btn btn-primary" style="visibility: hidden;">t</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}