<table class="table repayment-plan text-left">
    <thead>
    <tr class="h6">
        <th class="column-1"></th>
        <th>{{ 'credit_application.credit_documents.document_name'|trans({}, 'table') }}</th>
    </tr>
    </thead>
    <tbody class="table-active">
    {% for document in documents %}
        <tr class="h6 font-weight-lighter">
            <td></td>
            <td>
                <a href="{{ uploaded_credit_document_asset(document) }}" target="_blank" class="text-dark">{{ document.fullName }}</a>
                {# This button is added just to make the height of the row the same as the rows with rejected files #}
                <button class="btn btn-primary" style="visibility: hidden;">t</button>
            </td>
        </tr>
    {% else %}
        <tr>
            <td></td>
            <td>{{ 'credit_application.credit_documents.no_documents_were_found'|trans({}, 'text') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>