{% extends 'customer_profile/profile_base.html.twig' %}

{% block title %}{{ 'title.credit_documents.accept_offer'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block headline %}
    {{ 'headline.credit_documents.accept_offer'|trans({}, 'text') }}
{% endblock %}

{% block section %}
    <div class="col-xs-12 col-sm-8 col-md-9 no-gutter-xs">
        <div class="section profile-content p-3">
            <div>
                <p>{{ 'credit_documents.step_one.read_credit_offer_and_press_button_to_accpet_it'|trans({}, 'text') }}</p>

                {{ form_start(form) }}

                <p>
                    <a
                            href="{{ path('credit_documents_download.download', {'erpId': erpId, 'key': type.key, 'name': type.name}) }}"
                            target="_blank"
                            class="text-danger"
                    >
                        {{ ('creditdocumentkeys.' ~ type.fileNameLowercase)|trans({}, 'text') }}
                    </a>
                </p>

                <input type="submit" class="btn btn-danger" value="{{ 'button.confirm'|trans({}, 'form') }}">

                {{ form_end(form) }}
            </div>

        </div>
    </div>
{% endblock %}