{% extends 'admin_base.html.twig' %}

{% block title %}{{ 'title.settings'|trans({}, 'text') }} | {{ 'page_title.symfony_starter'|trans({}, 'text') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form action="{{ path('admin.settings.clear_cache') }}">
                <button type="submit"
                        class="btn btn-secondary">{{ 'button.clear_cache'|trans({}, 'form') }}</button>
            </form>

            <h2>{{ 'headline.settings'|trans({}, 'text') }}</h2>

            <form class="form-inline justify-content-between" method="get">
                <label class="sr-only" for="name">{{ 'label.name'|trans({}, 'form') }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2 flex-grow-1" id="name" name="name" placeholder="{{ 'placeholder.name'|trans({}, 'form') }}"
                       value="{{ app.request.query.get('name') }}">

                <a href="{{ path('admin.settings.index') }}" class="btn btn-secondary mb-2 mr-2"><i
                            class="fa fa-remove"></i> {{ 'button.clear'|trans({}, 'form') }}</a>
                <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-filter"></i> {{ 'button.filter'|trans({}, 'form') }}</button>
            </form>

            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>{{ 'column.name'|trans({}, 'table') }}</th>
                    <th>{{ 'column.value'|trans({}, 'table') }}</th>
                    <th>{{ 'column.updated_at'|trans({}, 'table') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for setting in settings %}
                    {# @var setting \App\Entity\Setting #}
                    <tr>
                        <td>{{ setting.uiLabel }}</td>
                        <td>
                            <inline-value-edit setting-value={{ setting.value }} url="{{ path('admin.settings.update', {setting: setting.name}) }}"></inline-value-edit>
                        </td>
                        <td>{{ setting.updatedAt|formatted_date_time }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{{ 'no_settings_found'|trans({}, 'table') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation">
                {{ knp_pagination_render(settings) }}
            </div>
        </div>
    </div>
{% endblock %}
